USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblAudit_ServiceTicket] DROP CONSTRAINT [DF_tblAudit_ServiceTicket_CreatedDateStamp]
GO
/****** Object:  Table [tblAudit_ServiceTicket]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblAudit_ServiceTicket]') AND type in (N'U'))
DROP TABLE [tblAudit_ServiceTicket]
GO
/****** Object:  Table [tblAudit_ServiceTicket]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblAudit_ServiceTicket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTicketID] [int] NOT NULL,
	[FieldName] [varchar](50) NOT NULL,
	[ValueFrom] [varchar](255) NULL,
	[ValueTo] [varchar](255) NULL,
	[UpdatedBy] [varchar](10) NOT NULL,
	[CreatedDateStamp] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblAudit_ServiceTicket] ADD  CONSTRAINT [DF_tblAudit_ServiceTicket_CreatedDateStamp]  DEFAULT (getdate()) FOR [CreatedDateStamp]
GO
