USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblAudit_Task] DROP CONSTRAINT [DF_tblAudit_Task_CTS]
GO
/****** Object:  Table [tblAudit_Task]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblAudit_Task]') AND type in (N'U'))
DROP TABLE [tblAudit_Task]
GO
/****** Object:  Table [tblAudit_Task]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblAudit_Task](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[RecordEventType] [nvarchar](255) NULL,
	[TaskID] [int] NULL,
	[ProjectID] [int] NULL,
	[StatusID] [int] NULL,
	[TaskName] [nvarchar](255) NULL,
	[TicketNumber] [nvarchar](255) NULL,
	[DrawingNumber] [nvarchar](255) NULL,
	[DueDate] [datetime] NULL,
	[ScheduledDueDate] [datetime] NULL,
	[EstimatedHours] [int] NULL,
	[TaskTypeID] [int] NULL,
	[AssignedToID] [int] NULL,
	[DateStarted] [datetime] NULL,
	[DateCompleted] [datetime] NULL,
	[ManualDueDate] [smallint] NULL,
	[CreatedDateStamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblAudit_Task] ADD  CONSTRAINT [DF_tblAudit_Task_CTS]  DEFAULT (getdate()) FOR [CreatedDateStamp]
GO
