USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblAudit_Project] DROP CONSTRAINT [DF_tblAudit_Project_CTS]
GO
/****** Object:  Table [tblAudit_Project]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblAudit_Project]') AND type in (N'U'))
DROP TABLE [tblAudit_Project]
GO
/****** Object:  Table [tblAudit_Project]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblAudit_Project](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[RecordEventType] [nvarchar](255) NULL,
	[ProjectID] [int] NULL,
	[ProjectName] [nvarchar](255) NULL,
	[DepartmentID] [int] NULL,
	[PrimaryProjectOwnerID] [int] NULL,
	[SecondaryProjectOwnerID] [int] NULL,
	[TertiaryProjectOwnerID] [int] NULL,
	[CountOfActiveProjects] [int] NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL,
	[TicketNumber] [varchar](50) NULL,
	[Submittor_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblAudit_Project] ADD  CONSTRAINT [DF_tblAudit_Project_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
