USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblApplicationProperties]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblApplicationProperties]') AND type in (N'U'))
DROP TABLE [tblApplicationProperties]
GO
/****** Object:  Table [tblApplicationProperties]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblApplicationProperties](
	[PropertyName] [varchar](255) NULL,
	[PropertyValue] [varchar](255) NULL,
	[Notes] [varchar](1000) NULL
) ON [PRIMARY]
GO
