USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblCMMProbes] DROP CONSTRAINT [DF_tblCMMProbes_ReorderQuantity]
GO
ALTER TABLE [tblCMMProbes] DROP CONSTRAINT [DF_tblCMMProbes_CurrentQuantity]
GO
ALTER TABLE [tblCMMProbes] DROP CONSTRAINT [DF_tblCMMProbes_IsBnS]
GO
ALTER TABLE [tblCMMProbes] DROP CONSTRAINT [DF_tblCMMProbes_IsActive]
GO
/****** Object:  Table [tblCMMProbes]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblCMMProbes]') AND type in (N'U'))
DROP TABLE [tblCMMProbes]
GO
/****** Object:  Table [tblCMMProbes]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblCMMProbes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[ProbeName] [varchar](50) NOT NULL,
	[IsActive] [int] NOT NULL,
	[IsBnS] [smallint] NOT NULL,
	[CurrentQuantity] [int] NOT NULL,
	[ReorderQuantity] [int] NOT NULL,
	[IsActiveDisplay]  AS (case when [IsActive]=(1) then 'Yes' else 'No' end),
	[IsBnSDisplay]  AS (case when [IsBnS]=(1) then 'Yes' else 'No' end)
) ON [PRIMARY]
GO
ALTER TABLE [tblCMMProbes] ADD  CONSTRAINT [DF_tblCMMProbes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [tblCMMProbes] ADD  CONSTRAINT [DF_tblCMMProbes_IsBnS]  DEFAULT ((1)) FOR [IsBnS]
GO
ALTER TABLE [tblCMMProbes] ADD  CONSTRAINT [DF_tblCMMProbes_CurrentQuantity]  DEFAULT ((0)) FOR [CurrentQuantity]
GO
ALTER TABLE [tblCMMProbes] ADD  CONSTRAINT [DF_tblCMMProbes_ReorderQuantity]  DEFAULT ((1)) FOR [ReorderQuantity]
GO
