USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblCMMMachines] DROP CONSTRAINT [DF_tblCMMMachines_IsBnS]
GO
/****** Object:  Table [tblCMMMachines]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblCMMMachines]') AND type in (N'U'))
DROP TABLE [tblCMMMachines]
GO
/****** Object:  Table [tblCMMMachines]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblCMMMachines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[CMMName] [varchar](50) NOT NULL,
	[ISActive] [smallint] NOT NULL,
	[IsBnS] [smallint] NOT NULL,
	[IsActiveDisplay]  AS (case when [IsActive]=(1) then 'Yes' else 'No' end),
	[IsBnSDisplay]  AS (case when [IsBnS]=(1) then 'Yes' else 'No' end)
) ON [PRIMARY]
GO
ALTER TABLE [tblCMMMachines] ADD  CONSTRAINT [DF_tblCMMMachines_IsBnS]  DEFAULT ((1)) FOR [IsBnS]
GO
