USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblDepartment] DROP CONSTRAINT [DF_tblDepartment_UTS]
GO
ALTER TABLE [tblDepartment] DROP CONSTRAINT [DF_tblDepartment_CTS]
GO
/****** Object:  Table [tblDepartment]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblDepartment]') AND type in (N'U'))
DROP TABLE [tblDepartment]
GO
/****** Object:  Table [tblDepartment]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblDepartment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[DepartmentName] [nvarchar](255) NULL,
	[ParentID] [int] NULL,
	[QualityCCList] [varchar](500) NULL,
	[ManufacturingCCList] [varchar](500) NULL,
	[CellLeadCCList] [varchar](500) NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL,
	[CMMFilePath] [varchar](1000) NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblDepartment] ADD  CONSTRAINT [DF_tblDepartment_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblDepartment] ADD  CONSTRAINT [DF_tblDepartment_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
