USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblEMailMessageTemplate]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblEMailMessageTemplate]') AND type in (N'U'))
DROP TABLE [tblEMailMessageTemplate]
GO
/****** Object:  Table [tblEMailMessageTemplate]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblEMailMessageTemplate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](255) NULL,
	[EMailMessageTemplate] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
