USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblImport]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblImport]') AND type in (N'U'))
DROP TABLE [tblImport]
GO
/****** Object:  Table [tblImport]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblImport](
	[TaskName] [nvarchar](255) NULL,
	[DueDate] [datetime] NULL,
	[SiteID] [int] NULL
) ON [PRIMARY]
GO
