USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblImportCurrentlyRunningTasks]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblImportCurrentlyRunningTasks]') AND type in (N'U'))
DROP TABLE [tblImportCurrentlyRunningTasks]
GO
/****** Object:  Table [tblImportCurrentlyRunningTasks]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblImportCurrentlyRunningTasks](
	[TaskID] [int] NULL,
	[SiteID] [int] NULL
) ON [PRIMARY]
GO
