USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblImportMachineName]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblImportMachineName]') AND type in (N'U'))
DROP TABLE [tblImportMachineName]
GO
/****** Object:  Table [tblImportMachineName]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblImportMachineName](
	[TaskName] [nvarchar](255) NULL,
	[LinkedTableNameID] [int] NULL,
	[MachineName] [nvarchar](255) NULL,
	[SiteID] [int] NULL
) ON [PRIMARY]
GO
