USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblIgnoreScheduleByTask]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblIgnoreScheduleByTask]') AND type in (N'U'))
DROP TABLE [tblIgnoreScheduleByTask]
GO
/****** Object:  Table [tblIgnoreScheduleByTask]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblIgnoreScheduleByTask](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NULL,
	[TaskName] [nvarchar](255) NULL,
	[ScheduleIDToIgnore] [int] NULL
) ON [PRIMARY]
GO
