USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblJobNumbersFrom1Factory]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblJobNumbersFrom1Factory]') AND type in (N'U'))
DROP TABLE [tblJobNumbersFrom1Factory]
GO
/****** Object:  Table [tblJobNumbersFrom1Factory]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblJobNumbersFrom1Factory](
	[JobNumber] [nvarchar](255) NULL
) ON [PRIMARY]
GO
