USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblJobNumber]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblJobNumber]') AND type in (N'U'))
DROP TABLE [tblJobNumber]
GO
/****** Object:  Table [tblJobNumber]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblJobNumber](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NULL,
	[TaskName] [nvarchar](255) NULL,
	[JobNumber] [nvarchar](255) NULL
) ON [PRIMARY]
GO
