USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblLinkedTableNames]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblLinkedTableNames]') AND type in (N'U'))
DROP TABLE [tblLinkedTableNames]
GO
/****** Object:  Table [tblLinkedTableNames]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblLinkedTableNames](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[IsActive] [smallint] NULL,
	[ImportName] [varchar](255) NULL,
	[FilePath] [varchar](1000) NULL,
	[SheetName] [varchar](255) NULL,
	[PartNumberCellName] [varchar](255) NULL,
	[CompletionDateOffset] [int] NULL,
	[MachineNameOffsetLeft] [int] NULL,
	[MachineNameOffsetUp] [int] NULL,
	[TaskNameDelimiter] [varchar](255) NULL,
	[CompletionDateDelimeter] [varchar](255) NULL,
	[DoPartNameTrimming] [smallint] NULL,
	[IsActiveDisplay]  AS (case when [IsActive]=(1) then 'Yes' else 'No' end),
	[DoPartNameTrimmingDisplay]  AS (case when [DoPartNameTrimming]=(1) then 'Yes' else 'No' end),
	[ScheduleOwnerID] [int] NULL,
	[DepartmentID] [int] NULL
) ON [PRIMARY]
GO
