USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblProjectOwnerType] DROP CONSTRAINT [DF_tblProjectOwnerType_UTS]
GO
ALTER TABLE [tblProjectOwnerType] DROP CONSTRAINT [DF_tblProjectOwnerType_CTS]
GO
/****** Object:  Table [tblProjectOwnerType]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblProjectOwnerType]') AND type in (N'U'))
DROP TABLE [tblProjectOwnerType]
GO
/****** Object:  Table [tblProjectOwnerType]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblProjectOwnerType](
	[ID] [int] NULL,
	[OwnerTypeName] [nvarchar](255) NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblProjectOwnerType] ADD  CONSTRAINT [DF_tblProjectOwnerType_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblProjectOwnerType] ADD  CONSTRAINT [DF_tblProjectOwnerType_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
