USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblPurchaseOrderStatus]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblPurchaseOrderStatus]') AND type in (N'U'))
DROP TABLE [tblPurchaseOrderStatus]
GO
/****** Object:  Table [tblPurchaseOrderStatus]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblPurchaseOrderStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderStatus] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
