USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblPurchaseOrderNotes] DROP CONSTRAINT [DF_tblPurchaseOrderNotes_CreatedTimestamp]
GO
/****** Object:  Table [tblPurchaseOrderNotes]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblPurchaseOrderNotes]') AND type in (N'U'))
DROP TABLE [tblPurchaseOrderNotes]
GO
/****** Object:  Table [tblPurchaseOrderNotes]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblPurchaseOrderNotes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[poID] [int] NOT NULL,
	[poNote] [varchar](max) NOT NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](255) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [tblPurchaseOrderNotes] ADD  CONSTRAINT [DF_tblPurchaseOrderNotes_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
