USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Trigger [tblProject_AfterUpdate]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP TRIGGER [tblProject_AfterUpdate]
GO
/****** Object:  Trigger [tblProject_AfterInsert]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP TRIGGER [tblProject_AfterInsert]
GO
ALTER TABLE [tblProject] DROP CONSTRAINT [DF_tblProject_UTS]
GO
ALTER TABLE [tblProject] DROP CONSTRAINT [DF_tblProject_CTS]
GO
ALTER TABLE [tblProject] DROP CONSTRAINT [DF_tblProject_SiteID]
GO
/****** Object:  Table [tblProject]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblProject]') AND type in (N'U'))
DROP TABLE [tblProject]
GO
/****** Object:  Table [tblProject]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblProject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[ProjectName] [nvarchar](255) NULL,
	[ProjectDescription] [ntext] NULL,
	[DepartmentID] [int] NULL,
	[PrimaryProjectOwnerID] [int] NULL,
	[SecondaryProjectOwnerID] [int] NULL,
	[TertiaryProjectOwnerID] [int] NULL,
	[InitiatorEmployeeID] [int] NULL,
	[CountOfActiveTasks] [int] NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL,
	[TicketNumber] [varchar](50) NULL,
	[CreatedTimestampDisplay]  AS (format([CreatedTimestamp],'MM/dd/yy')),
	[CreatedTimestampSort]  AS (format([CreatedTimestamp],'yy-MM-dd')),
	[UpdatedTimestampDisplay]  AS (format([UpdatedTimestamp],'MM/dd/yy')),
	[UpdatedTimestampSort]  AS (format([UpdatedTimestamp],'yy-MM-dd')),
	[CarbonCopyEmailList] [varchar](2000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [tblProject] ADD  CONSTRAINT [DF_tblProject_SiteID]  DEFAULT ((1)) FOR [SiteID]
GO
ALTER TABLE [tblProject] ADD  CONSTRAINT [DF_tblProject_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblProject] ADD  CONSTRAINT [DF_tblProject_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
/****** Object:  Trigger [tblProject_AfterInsert]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [tblProject_AfterInsert]
   ON  [tblProject]
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	/*
	Trigger: [tblProject_AfterInsert]
	Scope: AFTER INSERT ON [dbo].[tblProject]
	Purpose:
	- Generate and set a formatted project TicketNumber on insert.
	- Insert a 'Created' audit record into [dbo].[tblAudit_Project] for the new project row(s).

	Details:
	- Computes TicketNumber as 'P-' + (ID + 10000).
	- Uses scalar reads from [inserted], which only handle single-row inserts correctly.
	- Updates the same base table [dbo].[tblProject] to set TicketNumber for the inserted ID.

	Inputs:
	- inserted: [ID], [SiteID], [ProjectName], [DepartmentID], [PrimaryProjectOwnerID], [SecondaryProjectOwnerID], [TertiaryProjectOwnerID], [CountOfActiveTasks], [UpdateUserID]

	Side effects:
	- UPDATE [dbo].[tblProject] to set [TicketNumber].
	- INSERT INTO [dbo].[tblAudit_Project] with RecordEventType = 'Created'.

	Error handling:
	- None. Any error will fail the originating DML.

	Performance considerations:
	- Not set-based for TicketNumber generation. For batch inserts, consider an UPDATE joining [tblProject] to [inserted] computing TicketNumber per row, and auditing via INSERT...SELECT from [inserted].

	Change history:
	- 2025-09-20: Documentation block added; no functional changes. (Author: GitHub Copilot)
	*/
	
	Declare @ticket_number varchar(50)
	Declare @id int = (select ID from Inserted)
	Declare @display_id int

	Set @display_id = @id + 10000
  SET @ticket_number = 'P-' + Cast(@display_id as varchar)
	Update tblProject Set TicketNumber = @ticket_number WHERE ID = @id




INSERT INTO [dbo].[tblAudit_Project]
           ([RecordEventType]
           ,[ProjectID]
		   ,[SiteID]
			 ,TicketNumber
           ,[ProjectName]
           ,[DepartmentID]
           ,[PrimaryProjectOwnerID]
           ,[SecondaryProjectOwnerID]
           ,[TertiaryProjectOwnerID]
           ,[CountOfActiveProjects]
           ,[UpdateUserID])
		SELECT 'Created' as RecordEventType
			,[ID]
			,[SiteID]
			,TicketNumber
			,[ProjectName]
			,[DepartmentID]
			,[PrimaryProjectOwnerID]
			,[SecondaryProjectOwnerID]
			,[TertiaryProjectOwnerID]
			,[CountOfActiveTasks]
			,[UpdateUserID]
		FROM INSERTED


END

GO
ALTER TABLE [dbo].[tblProject] ENABLE TRIGGER [tblProject_AfterInsert]
GO
/****** Object:  Trigger [tblProject_AfterUpdate]    Script Date: 9/12/2025 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   TRIGGER [tblProject_AfterUpdate]
   ON  [tblProject]
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	/*
	Trigger: [tblProject_AfterUpdate]
	Scope: AFTER UPDATE ON [dbo].[tblProject]
	Purpose:
	- Audit updates to projects by inserting into [dbo].[tblAudit_Project].
	- Skips audit entries when TicketNumber is updated (to avoid noise from internal TicketNumber generation and updates).

	Details:
	- Uses NOT UPDATE(TicketNumber) to gate the audit insert.
	- Writes current values from [inserted] into the audit table with RecordEventType = 'Updated'.

	Inputs:
	- inserted: [ID], [SiteID], TicketNumber, [ProjectName], [DepartmentID], [PrimaryProjectOwnerID], [SecondaryProjectOwnerID], [TertiaryProjectOwnerID], [CountOfActiveTasks], [UpdateUserID]

	Side effects:
	- INSERT INTO [dbo].[tblAudit_Project].

	Error handling:
	- None. Any error will fail the originating DML.

	Performance considerations:
	- Set-based friendly; inserts one audit row per updated row when the condition is met.

	Change history:
	- 2025-09-20: Documentation block added; no functional changes. (Author: GitHub Copilot)
	*/
	if (NOT UPDATE(TicketNumber)) 
	 BEGIN
			INSERT INTO [dbo].[tblAudit_Project]
							 ([RecordEventType]
						 ,[ProjectID]
						 ,[SiteID]
						 ,TicketNumber
							 ,[ProjectName]
							 ,[DepartmentID]
							 ,[PrimaryProjectOwnerID]
							 ,[SecondaryProjectOwnerID]
							 ,[TertiaryProjectOwnerID]
							 ,[CountOfActiveProjects]
							 ,[UpdateUserID])
				SELECT 'Updated' as RecordEventType
					,[ID]
					,[SiteID]
					,TicketNumber
					,[ProjectName]
					,[DepartmentID]
					,[PrimaryProjectOwnerID]
					,[SecondaryProjectOwnerID]
					,[TertiaryProjectOwnerID]
					,[CountOfActiveTasks]
					,[UpdateUserID]
				FROM INSERTED
		END

END

GO
ALTER TABLE [dbo].[tblProject] ENABLE TRIGGER [tblProject_AfterUpdate]
GO
