USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblProjectOwner] DROP CONSTRAINT [DF_tblProjectOwner_UTS]
GO
ALTER TABLE [tblProjectOwner] DROP CONSTRAINT [DF_tblProjectOwner_CTS]
GO
/****** Object:  Table [tblProjectOwner]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblProjectOwner]') AND type in (N'U'))
DROP TABLE [tblProjectOwner]
GO
/****** Object:  Table [tblProjectOwner]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblProjectOwner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[IsActive] [bit] NULL,
	[ProjectOwnerTypeID] [int] NULL,
	[FName] [nvarchar](255) NULL,
	[LName] [nvarchar](255) NULL,
	[DepartmentID] [int] NULL,
	[EMailAddress] [nvarchar](255) NULL,
	[NetworkUserName] [nvarchar](255) NULL,
	[EmployeeNumber] [nvarchar](255) NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblProjectOwner] ADD  CONSTRAINT [DF_tblProjectOwner_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblProjectOwner] ADD  CONSTRAINT [DF_tblProjectOwner_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
