USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblPurchaseOrder] DROP CONSTRAINT [DF_tblPurchaseOrder_UpdatedTimestamp]
GO
ALTER TABLE [tblPurchaseOrder] DROP CONSTRAINT [DF_tblPurchaseOrder_CreatedTimestamp]
GO
/****** Object:  Table [tblPurchaseOrder]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblPurchaseOrder]') AND type in (N'U'))
DROP TABLE [tblPurchaseOrder]
GO
/****** Object:  Table [tblPurchaseOrder]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblPurchaseOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderNumber] [varchar](50) NULL,
	[Vendor] [varchar](255) NOT NULL,
	[Quantity] [int] NULL,
	[Description] [varchar](max) NULL,
	[DueDate] [date] NOT NULL,
	[PurchaseOrderStatusID] [int] NOT NULL,
	[ReceivedDate] [date] NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](255) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [tblPurchaseOrder] ADD  CONSTRAINT [DF_tblPurchaseOrder_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblPurchaseOrder] ADD  CONSTRAINT [DF_tblPurchaseOrder_UpdatedTimestamp]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
