USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblRefreshLog] DROP CONSTRAINT [DF_tblRefreshLog_CreatedTimestamp]
GO
/****** Object:  Table [tblRefreshLog]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblRefreshLog]') AND type in (N'U'))
DROP TABLE [tblRefreshLog]
GO
/****** Object:  Table [tblRefreshLog]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblRefreshLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL,
	[SiteID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblRefreshLog] ADD  CONSTRAINT [DF_tblRefreshLog_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
