USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblScheduleRunLog] DROP CONSTRAINT [DF_tblScheduleRunLog_CreateTimestamp]
GO
ALTER TABLE [tblScheduleRunLog] DROP CONSTRAINT [DF_tblScheduleRunLog_IsError]
GO
/****** Object:  Table [tblScheduleRunLog]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblScheduleRunLog]') AND type in (N'U'))
DROP TABLE [tblScheduleRunLog]
GO
/****** Object:  Table [tblScheduleRunLog]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblScheduleRunLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleRunEntryID] [int] NOT NULL,
	[LogMessage] [varchar](1000) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[IsError] [smallint] NOT NULL,
	[CreateTimestamp] [datetime] NOT NULL,
	[IsErrorDisplay]  AS (case when [IsError]=(0) then 'No' else 'Yes' end)
) ON [PRIMARY]
GO
ALTER TABLE [tblScheduleRunLog] ADD  CONSTRAINT [DF_tblScheduleRunLog_IsError]  DEFAULT ((0)) FOR [IsError]
GO
ALTER TABLE [tblScheduleRunLog] ADD  CONSTRAINT [DF_tblScheduleRunLog_CreateTimestamp]  DEFAULT (getdate()) FOR [CreateTimestamp]
GO
