USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblScheduleRunTimes]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblScheduleRunTimes]') AND type in (N'U'))
DROP TABLE [tblScheduleRunTimes]
GO
/****** Object:  Table [tblScheduleRunTimes]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblScheduleRunTimes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[RunTime] [time](7) NOT NULL
) ON [PRIMARY]
GO
