USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Trigger [tblServiceTicket_AfterUpdate]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP TRIGGER [tblServiceTicket_AfterUpdate]
GO
/****** Object:  Trigger [tblServiceTicket_AfterInsert]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP TRIGGER [tblServiceTicket_AfterInsert]
GO
ALTER TABLE [tblServiceTicket] DROP CONSTRAINT [DF_tblServiceTicket_UpdateTimestamp]
GO
ALTER TABLE [tblServiceTicket] DROP CONSTRAINT [DF_tblServiceTicket_CreateTimestamp]
GO
/****** Object:  Table [tblServiceTicket]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblServiceTicket]') AND type in (N'U'))
DROP TABLE [tblServiceTicket]
GO
/****** Object:  Table [tblServiceTicket]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblServiceTicket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[TicketNumber] [varchar](50) NULL,
	[TicketName] [varchar](500) NOT NULL,
	[TicketDetails] [varchar](2000) NULL,
	[InitiatorID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[TicketTypeID] [int] NOT NULL,
	[CMMDownID] [int] NULL,
	[CMMDownPartNumber] [varchar](255) NULL,
	[CMMDownOperatorID] [varchar](10) NULL,
	[CMMDownOperatorName] [varchar](255) NULL,
	[CMMDownBrokenProbeID] [int] NULL,
	[AssignedToID] [int] NULL,
	[StatusID] [int] NOT NULL,
	[DueDate] [date] NOT NULL,
	[CreateTimestamp] [datetime] NOT NULL,
	[UpdateTimestamp] [datetime] NOT NULL,
	[UpdatedBy] [varchar](10) NULL,
	[CreateTimestampDisplay]  AS (format([CreateTimestamp],'MM/dd/yy')),
	[CreateTimestampSort]  AS (format([CreateTimestamp],'yy-MM-dd')),
	[UpdateTimestampDisplay]  AS (format([UpdateTimestamp],'MM/dd/yy')),
	[UpdateTimestampSort]  AS (format([UpdateTimestamp],'yy-MM-dd')),
	[DueDateDisplay]  AS (format([DueDate],'MM/dd/yy')),
	[DueDateSort]  AS (format([DueDate],'yy-MM-dd')),
	[CarbonCopyEmailList] [varchar](2000) NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblServiceTicket] ADD  CONSTRAINT [DF_tblServiceTicket_CreateTimestamp]  DEFAULT (getdate()) FOR [CreateTimestamp]
GO
ALTER TABLE [tblServiceTicket] ADD  CONSTRAINT [DF_tblServiceTicket_UpdateTimestamp]  DEFAULT (getdate()) FOR [UpdateTimestamp]
GO
/****** Object:  Trigger [tblServiceTicket_AfterInsert]    Script Date: 9/12/2025 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create TRIGGER [tblServiceTicket_AfterInsert]
   ON  [tblServiceTicket]
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	
	Declare @ticket_number varchar(50)
	Declare @id int = (select ID from Inserted)
	Declare @display_id int
	Declare @updatedBy varchar(10) = (Select UpdatedBy from Inserted)

	Set @display_id = @id + 10000
  SET @ticket_number = 'S-' + Cast(@display_id as varchar)
	Update tblServiceTicket Set TicketNumber = @ticket_number WHERE ID = @id

	Insert into tblAudit_ServiceTicket (ServiceTicketID, FieldName, UpdatedBy)
	Values (@id, 'Ticket Created', @updatedBy)


END
GO
ALTER TABLE [dbo].[tblServiceTicket] ENABLE TRIGGER [tblServiceTicket_AfterInsert]
GO
/****** Object:  Trigger [tblServiceTicket_AfterUpdate]    Script Date: 9/12/2025 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [tblServiceTicket_AfterUpdate]
   ON  [tblServiceTicket] 
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	DECLARE @updatedBy varchar(10)
	DECLARE @ticketID int

	DECLARE @assigneeID int
	DECLARE @assigneeName varchar(255)
	DECLARE @oldAssigneeID int
	DECLARE @oldAssigneeName varchar(255)

	DECLARE @statusID int
	DECLARE @statusName varchar(255)
	DECLARE @oldStatusID int
	DECLARE @oldStatusName varchar(255)


	if (NOT UPDATE(TicketNumber))
		BEGIN
			SET @ticketID = (Select ID from INSERTED)
			SET @updatedBy = (Select UpdatedBy from INSERTED)


			if (UPDATE(AssignedToID))
				BEGIN
					SET @assigneeID = (Select AssignedToID from INSERTED)
					if @assigneeID IS NULL
						BEGIN
							Set @assigneeName = 'Unassigned'
						END
					ELSE
						BEGIN
							Set @assigneeName = (Select ShortName from tblUser where ID = @assigneeID)
						END
					SET @oldAssigneeID = (Select AssignedToID from DELETED)
					IF @oldAssigneeID IS NULL
						BEGIN
							Set @oldAssigneeName = 'Unassigned'
						END
					ELSE
						BEGIN
							Set @oldAssigneeName = (Select ShortName from tblUser where ID = @oldAssigneeID)
						END

					if @oldAssigneeName <> @assigneeName
						BEGIN
							INSERT INTO tblAudit_ServiceTicket (ServiceTicketID, FieldName, ValueFrom, ValueTo, UpdatedBy)
							Values (@ticketID, 'Assignment', @oldAssigneeName, @assigneeName, @updatedBy)
						END
				END

			if (UPDATE(StatusID))
				BEGIN
					SET @statusID = (Select StatusID from INSERTED)
						BEGIN
							Set @statusName = (Select ServiceStatus from tblServiceStatus where ID = @statusID)
						END
					SET @oldStatusID = (Select StatusID from DELETED)
						BEGIN
							Set @oldStatusName = (Select ServiceStatus from tblServiceStatus where ID = @oldStatusID)
						END
					IF @statusName <> @oldStatusName
						BEGIN
							INSERT INTO tblAudit_ServiceTicket (ServiceTicketID, FieldName, ValueFrom, ValueTo, UpdatedBy)
							Values (@ticketID, 'Status', @oldStatusName, @statusName, @updatedBy)
						END
				END
			
		END
END
GO
ALTER TABLE [dbo].[tblServiceTicket] ENABLE TRIGGER [tblServiceTicket_AfterUpdate]
GO
