USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblServiceType] DROP CONSTRAINT [DF_tblServiceType_IsActive]
GO
/****** Object:  Table [tblServiceType]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblServiceType]') AND type in (N'U'))
DROP TABLE [tblServiceType]
GO
/****** Object:  Table [tblServiceType]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblServiceType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceType] [varchar](50) NOT NULL,
	[IsActive] [smallint] NOT NULL,
	[IsActiveDisplay]  AS (case when [IsActive]=(1) then 'Yes' else 'No' end)
) ON [PRIMARY]
GO
ALTER TABLE [tblServiceType] ADD  CONSTRAINT [DF_tblServiceType_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
