USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblSite]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblSite]') AND type in (N'U'))
DROP TABLE [tblSite]
GO
/****** Object:  Table [tblSite]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblSite](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](255) NULL,
	[EmailAddressCCList] [varchar](1000) NULL,
	[MetrologyEmailAddress] [varchar](320) NULL
) ON [PRIMARY]
GO
