USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblServiceStatus] DROP CONSTRAINT [DF_tblServiceStatus_IsActive]
GO
/****** Object:  Table [tblServiceStatus]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblServiceStatus]') AND type in (N'U'))
DROP TABLE [tblServiceStatus]
GO
/****** Object:  Table [tblServiceStatus]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblServiceStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceStatus] [varchar](50) NOT NULL,
	[IsActive] [smallint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblServiceStatus] ADD  CONSTRAINT [DF_tblServiceStatus_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
