USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblServiceNotes] DROP CONSTRAINT [DF_tblServiceNotes_CTS]
GO
/****** Object:  Table [tblServiceNotes]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblServiceNotes]') AND type in (N'U'))
DROP TABLE [tblServiceNotes]
GO
/****** Object:  Table [tblServiceNotes]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblServiceNotes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTicketID] [int] NULL,
	[TaskNote] [varchar](max) NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [tblServiceNotes] ADD  CONSTRAINT [DF_tblServiceNotes_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
