USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Trigger [tblScheduleRunEntry_AfterUpdate]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP TRIGGER [tblScheduleRunEntry_AfterUpdate]
GO
ALTER TABLE [tblScheduleRunEntry] DROP CONSTRAINT [DF_tblScheduleRunEntry_TasksUpdated]
GO
ALTER TABLE [tblScheduleRunEntry] DROP CONSTRAINT [DF_tblScheduleRunEntry_UpdateTimestamp]
GO
ALTER TABLE [tblScheduleRunEntry] DROP CONSTRAINT [DF_tblScheduleRunEntry_CreateTimestamp]
GO
ALTER TABLE [tblScheduleRunEntry] DROP CONSTRAINT [DF_tblScheduleRunEntry_IsAutomated]
GO
ALTER TABLE [tblScheduleRunEntry] DROP CONSTRAINT [DF_tblScheduleRunEntry_MessageSent]
GO
ALTER TABLE [tblScheduleRunEntry] DROP CONSTRAINT [DF_tblScheduleRunEntry_HasErrors]
GO
ALTER TABLE [tblScheduleRunEntry] DROP CONSTRAINT [DF_tblScheduleRunEntry_IsComplete]
GO
/****** Object:  Table [tblScheduleRunEntry]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblScheduleRunEntry]') AND type in (N'U'))
DROP TABLE [tblScheduleRunEntry]
GO
/****** Object:  Table [tblScheduleRunEntry]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblScheduleRunEntry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[RunDateTime] [datetime] NOT NULL,
	[IsComplete] [smallint] NOT NULL,
	[HasErrors] [smallint] NOT NULL,
	[MessageSent] [smallint] NOT NULL,
	[IsAutomated] [smallint] NOT NULL,
	[RequestUserEmployeeNumber] [varchar](10) NULL,
	[CreateTimestamp] [datetime] NOT NULL,
	[UpdateTimestamp] [datetime] NOT NULL,
	[StartTimestamp] [datetime] NULL,
	[CompletionTimestamp] [datetime] NULL,
	[IsCompleteDisplay]  AS (case when [IsComplete]=(1) then 'Yes' else 'No' end),
	[IsAutomatedDisplay]  AS (case when [IsAutomated]=(1) then 'Yes' else 'No' end),
	[TasksUpdated] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblScheduleRunEntry] ADD  CONSTRAINT [DF_tblScheduleRunEntry_IsComplete]  DEFAULT ((0)) FOR [IsComplete]
GO
ALTER TABLE [tblScheduleRunEntry] ADD  CONSTRAINT [DF_tblScheduleRunEntry_HasErrors]  DEFAULT ((0)) FOR [HasErrors]
GO
ALTER TABLE [tblScheduleRunEntry] ADD  CONSTRAINT [DF_tblScheduleRunEntry_MessageSent]  DEFAULT ((0)) FOR [MessageSent]
GO
ALTER TABLE [tblScheduleRunEntry] ADD  CONSTRAINT [DF_tblScheduleRunEntry_IsAutomated]  DEFAULT ((0)) FOR [IsAutomated]
GO
ALTER TABLE [tblScheduleRunEntry] ADD  CONSTRAINT [DF_tblScheduleRunEntry_CreateTimestamp]  DEFAULT (getdate()) FOR [CreateTimestamp]
GO
ALTER TABLE [tblScheduleRunEntry] ADD  CONSTRAINT [DF_tblScheduleRunEntry_UpdateTimestamp]  DEFAULT (getdate()) FOR [UpdateTimestamp]
GO
ALTER TABLE [tblScheduleRunEntry] ADD  CONSTRAINT [DF_tblScheduleRunEntry_TasksUpdated]  DEFAULT ((0)) FOR [TasksUpdated]
GO
/****** Object:  Trigger [tblScheduleRunEntry_AfterUpdate]    Script Date: 9/12/2025 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TRIGGER [tblScheduleRunEntry_AfterUpdate]
   ON  [tblScheduleRunEntry]
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	DECLARE @ID INT = (Select ID from INSERTED)


	update tblScheduleRunEntry
	SET UpdateTimestamp = GetDate()
	Where ID = @ID

END
GO
ALTER TABLE [dbo].[tblScheduleRunEntry] ENABLE TRIGGER [tblScheduleRunEntry_AfterUpdate]
GO
