USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblStatus] DROP CONSTRAINT [DF_tblStatus_UTS]
GO
ALTER TABLE [tblStatus] DROP CONSTRAINT [DF_tblStatus_CTS]
GO
/****** Object:  Table [tblStatus]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblStatus]') AND type in (N'U'))
DROP TABLE [tblStatus]
GO
/****** Object:  Table [tblStatus]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](255) NULL,
	[DefaultToTrue] [smallint] NULL,
	[IsCompleteOrCancelled] [smallint] NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblStatus] ADD  CONSTRAINT [DF_tblStatus_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblStatus] ADD  CONSTRAINT [DF_tblStatus_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
