USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblTipAngle_ImportRun]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTipAngle_ImportRun]') AND type in (N'U'))
DROP TABLE [tblTipAngle_ImportRun]
GO
/****** Object:  Table [tblTipAngle_ImportRun]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTipAngle_ImportRun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL
) ON [PRIMARY]
GO
