USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblTaskTimeEntry] DROP CONSTRAINT [DF_tblTaskTimeEntry_UTS]
GO
ALTER TABLE [tblTaskTimeEntry] DROP CONSTRAINT [DF_tblTaskTimeEntry_CTS]
GO
/****** Object:  Table [tblTaskTimeEntry]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTaskTimeEntry]') AND type in (N'U'))
DROP TABLE [tblTaskTimeEntry]
GO
/****** Object:  Table [tblTaskTimeEntry]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTaskTimeEntry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AssignedToID] [int] NULL,
	[EntryDate] [datetime] NULL,
	[TaskID] [int] NULL,
	[Hours] [decimal](6, 2) NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblTaskTimeEntry] ADD  CONSTRAINT [DF_tblTaskTimeEntry_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblTaskTimeEntry] ADD  CONSTRAINT [DF_tblTaskTimeEntry_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
