USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Trigger [tblTask_AfterUpdate]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP TRIGGER [tblTask_AfterUpdate]
GO
/****** Object:  Trigger [tblTask_AfterInsert]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP TRIGGER [tblTask_AfterInsert]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_CurrentlyRunning]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_UpdateUserID]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_UTS]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_CTS]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_IUNumber]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_HavePart]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_ManualDueDate]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_TaskTypeID]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_EstimatedHours]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_Operation]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_DrawingNumber]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_TicketNumber]
GO
ALTER TABLE [tblTask] DROP CONSTRAINT [DF_tblTask_TaskName]
GO
/****** Object:  Index [Idx_tblTask_TaskName]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP INDEX [Idx_tblTask_TaskName] ON [tblTask]
GO
/****** Object:  Index [IDX_tblTask_Assignee]    Script Date: 9/12/2025 9:37:33 AM ******/
DROP INDEX [IDX_tblTask_Assignee] ON [tblTask]
GO
/****** Object:  Table [tblTask]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTask]') AND type in (N'U'))
DROP TABLE [tblTask]
GO
/****** Object:  Table [tblTask]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTask](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NULL,
	[StatusID] [int] NULL,
	[TaskName] [nvarchar](255) NULL,
	[TicketNumber] [nvarchar](255) NULL,
	[DrawingNumber] [nvarchar](255) NULL,
	[DueDate] [datetime] NULL,
	[CustomerRev] [nvarchar](15) NULL,
	[ManufacturingRev] [nvarchar](15) NULL,
	[Operation] [nvarchar](15) NULL,
	[ScheduledDueDate] [datetime] NULL,
	[EstimatedHours] [int] NULL,
	[TaskTypeID] [int] NULL,
	[AssignedToID] [int] NULL,
	[DateStarted] [datetime] NULL,
	[DateCompleted] [datetime] NULL,
	[ManualDueDate] [smallint] NULL,
	[HavePart] [smallint] NULL,
	[IUNumber] [nvarchar](255) NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL,
	[DateCompletedDisplay]  AS (format([DateCompleted],'MM/dd/yy')),
	[DateCompletedSort]  AS (format([DateCompleted],'yy-MM-dd')),
	[CreatedTimestampDisplay]  AS (format([CreatedTimestamp],'MM/dd/yy')),
	[CreatedTimestampSort]  AS (format([CreatedTimestamp],'yy-MM-dd')),
	[UpdatedTimestampDisplay]  AS (format([UpdatedTimestamp],'MM/dd/yy')),
	[UpdatedTimestampSort]  AS (format([UpdatedTimestamp],'yy-MM-dd')),
	[DateStartedDisplay]  AS (format([DateStarted],'MM/dd/yy')),
	[DateStartedSortSort]  AS (format([DateStarted],'yy-MM-dd')),
	[DueDateDisplay]  AS (format([DueDate],'MM/dd/yy')),
	[DueDateSort]  AS (format([DueDate],'yy-MM-dd')),
	[ScheduledDueDateDisplay]  AS (format([ScheduledDueDate],'MM/dd/yy')),
	[ScheduledDueDateSort]  AS (format([ScheduledDueDate],'yy-MM-dd')),
	[CurrentlyRunning] [smallint] NOT NULL,
	[CurrentlyRunningDisplay]  AS (case when [CurrentlyRunning]=(1) then 'Yes' else 'No' end)
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_tblTask_Assignee]    Script Date: 9/12/2025 9:37:33 AM ******/
CREATE NONCLUSTERED INDEX [IDX_tblTask_Assignee] ON [tblTask]
(
	[AssignedToID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Idx_tblTask_TaskName]    Script Date: 9/12/2025 9:37:33 AM ******/
CREATE NONCLUSTERED INDEX [Idx_tblTask_TaskName] ON [tblTask]
(
	[TaskName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_TaskName]  DEFAULT ('') FOR [TaskName]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_TicketNumber]  DEFAULT ('') FOR [TicketNumber]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_DrawingNumber]  DEFAULT ('') FOR [DrawingNumber]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_Operation]  DEFAULT ('10') FOR [Operation]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_EstimatedHours]  DEFAULT ((1)) FOR [EstimatedHours]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_TaskTypeID]  DEFAULT ((1)) FOR [TaskTypeID]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_ManualDueDate]  DEFAULT ((0)) FOR [ManualDueDate]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_HavePart]  DEFAULT ((0)) FOR [HavePart]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_IUNumber]  DEFAULT ('') FOR [IUNumber]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_UpdateUserID]  DEFAULT ('') FOR [UpdateUserID]
GO
ALTER TABLE [tblTask] ADD  CONSTRAINT [DF_tblTask_CurrentlyRunning]  DEFAULT ((0)) FOR [CurrentlyRunning]
GO
/****** Object:  Trigger [tblTask_AfterInsert]    Script Date: 9/12/2025 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [tblTask_AfterInsert]
   ON  [tblTask]
   AFTER Insert
AS 
BEGIN
	SET NOCOUNT ON;
	/*
	Trigger: [tblTask_AfterInsert]
	Scope: AFTER INSERT ON [dbo].[tblTask]
	Purpose:
	- Write a 'Created' audit record to [dbo].[tblAudit_Task] for each newly inserted task.
	- Resolve and persist the related [SiteID] based on the task's [ProjectID].

	Details:
	- Reads a single [ProjectID] from the inserted pseudo table and derives [SiteID] from [dbo].[tblProject].
	- Assumes single-row inserts. With multi-row inserts, scalar SELECT from [inserted] will arbitrarily pick one row; documentation only, no functional changes were made.
	- No direct modifications to [dbo].[tblTask] are performed by this trigger.

	Inputs:
	- inserted: [ID], [ProjectID], [StatusID], [TaskName], [TicketNumber], [DrawingNumber], [DueDate], [ScheduledDueDate], [EstimatedHours], [TaskTypeID], [AssignedToID], [DateStarted], [DateCompleted], [ManualDueDate], [UpdateUserID]
	- [dbo].[tblProject] for resolving [SiteID] via [ProjectID].

	Side effects:
	- INSERT INTO [dbo].[tblAudit_Task] with RecordEventType = 'Created'.

	Error handling:
	- None. Any error will fail the originating DML.

	Performance considerations:
	- Designed for single-row operations. For batched inserts, consider refactoring to a set-based INSERT...SELECT from [inserted] joined to [dbo].[tblProject].

	Change history:
	- 2025-09-20: Documentation block added; no functional changes. (Author: GitHub Copilot)
	*/
	DECLARE @projectID INT = (Select ProjectID from Inserted)
	DECLARE @siteID INT = (Select SiteID from tblProject where ID = @projectID)
	
	INSERT INTO [dbo].[tblAudit_Task]
           ([RecordEventType]
           ,[TaskID]
					 ,[SiteID]
           ,[ProjectID]
           ,[StatusID]
           ,[TaskName]
           ,[TicketNumber]
           ,[DrawingNumber]
           ,[DueDate]
           ,[ScheduledDueDate]
           ,[EstimatedHours]
           ,[TaskTypeID]
           ,[AssignedToID]
           ,[DateStarted]
           ,[DateCompleted]
           ,[ManualDueDate]
           ,[UpdateUserID])
		SELECT 'Created' as RecordEventType
			,[ID]
			,@siteID
			,[ProjectID]
			,[StatusID]
			,[TaskName]
			,[TicketNumber]
			,[DrawingNumber]
			,[DueDate]
			,[ScheduledDueDate]
			,[EstimatedHours]
			,[TaskTypeID]
			,[AssignedToID]
			,[DateStarted]
			,[DateCompleted]
			,[ManualDueDate]
			,[UpdateUserID]
		From INSERTED


END

GO
ALTER TABLE [dbo].[tblTask] ENABLE TRIGGER [tblTask_AfterInsert]
GO
/****** Object:  Trigger [tblTask_AfterUpdate]    Script Date: 9/12/2025 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [tblTask_AfterUpdate]
   ON  [tblTask]
   AFTER UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	/*
	Trigger: [tblTask_AfterUpdate]
	Scope: AFTER UPDATE ON [dbo].[tblTask]
	Purpose:
	- Audit updates to tasks by inserting a row into [dbo].[tblAudit_Task] for each updated row.
	- Skips auditing when only [CurrentlyRunning] is updated.

	Details:
	- Uses the UPDATE() function to detect changes to [CurrentlyRunning]. If that column is part of the UPDATE set, no audit rows are created.
	- Inserts the new values from the [inserted] pseudo table into the audit table with RecordEventType = 'Updated'.

	Inputs:
	- inserted: [ID], [ProjectID], [StatusID], [TaskName], [TicketNumber], [DrawingNumber], [DueDate], [ScheduledDueDate], [EstimatedHours], [TaskTypeID], [AssignedToID], [DateStarted], [DateCompleted], [ManualDueDate], [UpdateUserID]

	Side effects:
	- INSERT INTO [dbo].[tblAudit_Task].

	Error handling:
	- None. Any error will fail the originating DML.

	Performance considerations:
	- Set-based friendly. Audits one row per updated row when condition is met.

	Change history:
	- 2025-09-20: Documentation block added; no functional changes. (Author: GitHub Copilot)
	*/


	if (NOT UPDATE(CurrentlyRunning))
		BEGIN
			INSERT INTO [dbo].[tblAudit_Task]
						 ([RecordEventType]
						 ,[TaskID]
						 ,[ProjectID]
						 ,[StatusID]
						 ,[TaskName]
						 ,[TicketNumber]
						 ,[DrawingNumber]
						 ,[DueDate]
						 ,[ScheduledDueDate]
						 ,[EstimatedHours]
						 ,[TaskTypeID]
						 ,[AssignedToID]
						 ,[DateStarted]
						 ,[DateCompleted]
						 ,[ManualDueDate]
						 ,[UpdateUserID])
				SELECT 'Updated' as RecordEventType
					,[ID]
					,[ProjectID]
					,[StatusID]
					,[TaskName]
					,[TicketNumber]
					,[DrawingNumber]
					,[DueDate]
					,[ScheduledDueDate]
					,[EstimatedHours]
					,[TaskTypeID]
					,[AssignedToID]
					,[DateStarted]
					,[DateCompleted]
					,[ManualDueDate]
					,[UpdateUserID]
				From INSERTED
		END


END

GO
ALTER TABLE [dbo].[tblTask] ENABLE TRIGGER [tblTask_AfterUpdate]
GO
