USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblTaskNotes] DROP CONSTRAINT [DF__tblTaskNo__IsNot__4959E263]
GO
ALTER TABLE [tblTaskNotes] DROP CONSTRAINT [DF_tblTaskNotes_UTS]
GO
ALTER TABLE [tblTaskNotes] DROP CONSTRAINT [DF_tblTaskNotes_CTS]
GO
/****** Object:  Table [tblTaskNotes]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTaskNotes]') AND type in (N'U'))
DROP TABLE [tblTaskNotes]
GO
/****** Object:  Table [tblTaskNotes]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTaskNotes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NULL,
	[TaskNote] [varchar](max) NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL,
	[IsNoteAutomated] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [tblTaskNotes] ADD  CONSTRAINT [DF_tblTaskNotes_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblTaskNotes] ADD  CONSTRAINT [DF_tblTaskNotes_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
ALTER TABLE [tblTaskNotes] ADD  DEFAULT ((1)) FOR [IsNoteAutomated]
GO
