USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblTaskType] DROP CONSTRAINT [DF_tblTaskType_UTS]
GO
ALTER TABLE [tblTaskType] DROP CONSTRAINT [DF_tblTaskType_CTS]
GO
/****** Object:  Table [tblTaskType]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTaskType]') AND type in (N'U'))
DROP TABLE [tblTaskType]
GO
/****** Object:  Table [tblTaskType]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTaskType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [smallint] NULL,
	[TaskType] [varchar](255) NULL,
	[TaskTypeGroupID] [int] NULL,
	[AverageCompletionHours] [int] NULL,
	[RequiresJobNumber] [smallint] NOT NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [varchar](255) NULL,
	[IsActiveDisplay]  AS (case when [IsActive]=(1) then 'Yes' else 'No' end),
	[RequiresJobNumberDisplay]  AS (case when [RequiresJobNumber]=(1) then 'Yes' else 'No' end)
) ON [PRIMARY]
GO
ALTER TABLE [tblTaskType] ADD  CONSTRAINT [DF_tblTaskType_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblTaskType] ADD  CONSTRAINT [DF_tblTaskType_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
