USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblTaskTypeGroup]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTaskTypeGroup]') AND type in (N'U'))
DROP TABLE [tblTaskTypeGroup]
GO
/****** Object:  Table [tblTaskTypeGroup]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTaskTypeGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeGroupName] [nvarchar](255) NULL
) ON [PRIMARY]
GO
