USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblTipAngles] DROP CONSTRAINT [DF_tblTipAngles_IsStillThere]
GO
/****** Object:  Table [tblTipAngles]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTipAngles]') AND type in (N'U'))
DROP TABLE [tblTipAngles]
GO
/****** Object:  Table [tblTipAngles]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTipAngles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[ProgramName] [varchar](2000) NOT NULL,
	[ProbeName] [varchar](255) NOT NULL,
	[TipName] [varchar](255) NOT NULL,
	[IsStillThere] [smallint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblTipAngles] ADD  CONSTRAINT [DF_tblTipAngles_IsStillThere]  DEFAULT ((0)) FOR [IsStillThere]
GO
