USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  Table [tblTaskScheduleData]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTaskScheduleData]') AND type in (N'U'))
DROP TABLE [tblTaskScheduleData]
GO
/****** Object:  Table [tblTaskScheduleData]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTaskScheduleData](
	[TaskID] [int] NULL,
	[LinkedTableNameID] [int] NULL,
	[MachineName] [nvarchar](255) NULL,
	[SiteID] [int] NULL
) ON [PRIMARY]
GO
