USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [tblUser] DROP CONSTRAINT [DF_tblUser_UTS]
GO
ALTER TABLE [tblUser] DROP CONSTRAINT [DF_tblUser_CTS]
GO
/****** Object:  Table [tblUser]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblUser]') AND type in (N'U'))
DROP TABLE [tblUser]
GO
/****** Object:  Table [tblUser]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[DepartmentID] [int] NULL,
	[UserTypeID] [int] NULL,
	[IsActive] [smallint] NULL,
	[FName] [nvarchar](255) NULL,
	[LName] [nvarchar](255) NULL,
	[EmployeeNumber] [nvarchar](255) NULL,
	[EMailAddress] [nvarchar](255) NULL,
	[NetworkUserName] [nvarchar](255) NULL,
	[IsAdmin] [smallint] NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdatedTimestamp] [datetime] NULL,
	[UpdateUserID] [nvarchar](255) NULL,
	[FullName]  AS (([FName]+' ')+[LName]),
	[ShortName]  AS ((left([FName],(1))+'. ')+[LName]),
	[DisplayName]  AS (([LName]+', ')+[FName]),
	[IsActiveDisplay]  AS (case when [IsActive]=(1) then 'Yes' else 'No' end),
	[IsAdminDisplay]  AS (case when [IsAdmin]=(1) then 'Yes' else 'No' end)
) ON [PRIMARY]
GO
ALTER TABLE [tblUser] ADD  CONSTRAINT [DF_tblUser_CTS]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblUser] ADD  CONSTRAINT [DF_tblUser_UTS]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
