USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [xtblMicroVuFiles] DROP CONSTRAINT [DF_xtblMicroVuFiles_IsOneFactory]
GO
/****** Object:  Table [xtblMicroVuFiles]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[xtblMicroVuFiles]') AND type in (N'U'))
DROP TABLE [xtblMicroVuFiles]
GO
/****** Object:  Table [xtblMicroVuFiles]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xtblMicroVuFiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PartNumber] [varchar](500) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[MachineType] [varchar](10) NOT NULL,
	[PartDirectory] [varchar](1000) NOT NULL,
	[PartFilePath] [varchar](1000) NOT NULL,
	[IsOneFactory] [smallint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [xtblMicroVuFiles] ADD  CONSTRAINT [DF_xtblMicroVuFiles_IsOneFactory]  DEFAULT ((0)) FOR [IsOneFactory]
GO
