USE [LF_RMS_COMMS_MPM]
GO
ALTER TABLE [xtblCurlLog] DROP CONSTRAINT [DF_tblCurlLog_CreateDate]
GO
/****** Object:  Table [xtblCurlLog]    Script Date: 9/12/2025 9:37:33 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[xtblCurlLog]') AND type in (N'U'))
DROP TABLE [xtblCurlLog]
GO
/****** Object:  Table [xtblCurlLog]    Script Date: 9/12/2025 9:37:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xtblCurlLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](255) NOT NULL,
	[Program] [varchar](255) NOT NULL,
	[JobNumber] [varchar](255) NULL,
	[SequenceNumber] [int] NOT NULL,
	[ErrorMessage] [varchar](2000) NULL,
	[StatusCode] [smallint] NOT NULL,
	[MachineName] [varchar](20) NOT NULL,
	[CreateDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [xtblCurlLog] ADD  CONSTRAINT [DF_tblCurlLog_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
