USE [GageCheckout]
GO
/****** Object:  UserDefinedFunction [fnWeekday]    Script Date: 9/22/2025 7:46:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [fnWeekday] 
(
	@weekdayIntegerValue int
)
RETURNS varchar(9)
AS
BEGIN
    DECLARE @iDayofWeekStringValue varchar(9)
    SELECT @iDayofWeekStringValue = 
		CASE @weekdayIntegerValue
        WHEN 1 THEN 'Monday' 
				WHEN 2 THEN 'Tuesday'
				WHEN 3 THEN 'Wednesday'
				WHEN 4 THEN 'Thursday'
				WHEN 5 THEN 'Friday'
		END

	RETURN @iDayofWeekStringValue

END
GO
