USE [GageCheckout]
GO
/****** Object:  UserDefinedFunction [fnSplitStringAsRows]    Script Date: 9/22/2025 7:46:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [fnSplitStringAsRows]
(
    @Input NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS TABLE
AS
RETURN
(
    SELECT value FROM STRING_SPLIT(@Input, @Delimiter)
    WHERE RTRIM(value) <> '' -- Optional: exclude empty entries
);
GO
