USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAutoPesterAssigneeTasks'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAutoPesterAssigneeTasks'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAutoPesterAssigneeTasks'
GO
/****** Object:  View [qryAutoPesterAssigneeTasks]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryAutoPesterAssigneeTasks]
GO
/****** Object:  View [qryAutoPesterAssigneeTasks]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryAutoPesterAssigneeTasks]
AS
SELECT        TOP (100) PERCENT dbo.tblTask.ID, dbo.tblTask.ProjectID, dbo.tblTask.TaskName, dbo.tblProject.TicketNumber, dbo.tblStatus.Status, dbo.tblUser.FullName AS AssigneeName, tblUser_1.FullName AS QEName, 
                         dbo.tblTaskType.TaskType, dbo.tblTask.DueDate, DATEDIFF(DAY, dbo.tblTask.DueDate, GETDATE()) AS DaysPastDue, dbo.tblTask.AssignedToID
FROM            dbo.tblTaskType RIGHT OUTER JOIN
                         dbo.tblTask LEFT OUTER JOIN
                         dbo.tblStatus ON dbo.tblTask.StatusID = dbo.tblStatus.ID ON dbo.tblTaskType.ID = dbo.tblTask.TaskTypeID LEFT OUTER JOIN
                         dbo.tblUser ON dbo.tblTask.AssignedToID = dbo.tblUser.ID LEFT OUTER JOIN
                         dbo.tblUser AS tblUser_1 RIGHT OUTER JOIN
                         dbo.tblProject ON tblUser_1.ID = dbo.tblProject.SecondaryProjectOwnerID ON dbo.tblTask.ProjectID = dbo.tblProject.ID
WHERE        (dbo.tblTask.DueDate < DATEADD(dd, - 1, GETDATE())) AND (dbo.tblTask.StatusID IN (1, 2, 3)) AND (dbo.tblTask.AssignedToID IS NOT NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[33] 4[3] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblTaskType"
            Begin Extent = 
               Top = 6
               Left = 1238
               Bottom = 312
               Right = 1465
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblTask"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 579
               Right = 269
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tblStatus"
            Begin Extent = 
               Top = 6
               Left = 764
               Bottom = 136
               Right = 978
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblUser"
            Begin Extent = 
               Top = 152
               Left = 292
               Bottom = 543
               Right = 485
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblUser_1"
            Begin Extent = 
               Top = 45
               Left = 1007
               Bottom = 402
               Right = 1200
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblProject"
            Begin Extent = 
               Top = 109
               Left = 504
               Bottom = 474
               Right = 735
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 1500
         Width' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAutoPesterAssigneeTasks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2565
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1590
         SortOrder = 2310
         GroupBy = 1350
         Filter = 4170
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAutoPesterAssigneeTasks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAutoPesterAssigneeTasks'
GO
