USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllUsers'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllUsers'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllUsers'
GO
/****** Object:  View [qryAllUsers]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryAllUsers]
GO
/****** Object:  View [qryAllUsers]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryAllUsers]
AS
SELECT        TOP (100) PERCENT dbo.tblUser.ID, dbo.tblUser.UserTypeID AS UserType, dbo.tblUser.SiteID, dbo.tblUser.DepartmentID, dbo.tblUser.EmployeeNumber, dbo.tblUser.EMailAddress, dbo.tblUser.NetworkUserName, 
                         dbo.tblUser.IsAdmin, dbo.tblUser.IsActive, dbo.tblUser.FName, dbo.tblUser.LName, dbo.tblUser.FullName AS EmployeeName, dbo.tblDepartment.DepartmentName, dbo.tblUser.DisplayName AS EmployeeDisplayName, 
                         dbo.tblUser.CreatedTimestamp, dbo.tblUser.UpdatedTimestamp, dbo.tblUser.IsActiveDisplay, dbo.tblUser.IsAdminDisplay, tblUser_1.FullName AS UpdatedBy, dbo.tblUserType.UserType AS UserTypeName
FROM            dbo.tblUser LEFT OUTER JOIN
                         dbo.tblUser AS tblUser_1 ON dbo.tblUser.UpdateUserID = tblUser_1.EmployeeNumber LEFT OUTER JOIN
                         dbo.tblUserType ON dbo.tblUser.UserTypeID = dbo.tblUserType.ID LEFT OUTER JOIN
                         dbo.tblDepartment ON dbo.tblUser.DepartmentID = dbo.tblDepartment.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[26] 4[3] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblUser"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 327
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "tblUserType"
            Begin Extent = 
               Top = 206
               Left = 560
               Bottom = 302
               Right = 730
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblUser_1"
            Begin Extent = 
               Top = 37
               Left = 926
               Bottom = 335
               Right = 1119
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tblDepartment"
            Begin Extent = 
               Top = 0
               Left = 475
               Bottom = 130
               Right = 677
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4320
         Alias = 3315
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllUsers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllUsers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllUsers'
GO
