USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  View [qryCountOfUnassignedTasksByTaskTypeGroup]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryCountOfUnassignedTasksByTaskTypeGroup]
GO
/****** Object:  View [qryCountOfUnassignedTasksByTaskTypeGroup]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryCountOfUnassignedTasksByTaskTypeGroup]
	AS SELECT        COUNT(qryTaskList.ID) AS CountOfTaskGroup, tblTaskTypeGroup.TaskTypeGroupName
FROM            qryTaskList INNER JOIN
                         tblTaskType ON qryTaskList.TaskTypeID = tblTaskType.ID INNER JOIN
                         tblTaskTypeGroup ON tblTaskType.TaskTypeGroupID = tblTaskTypeGroup.ID
WHERE qryTaskList.AssignedToID IS NULL
GROUP BY tblTaskTypeGroup.TaskTypeGroupName
GO
