USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  View [qryGetTaskSummary]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryGetTaskSummary]
GO
/****** Object:  View [qryGetTaskSummary]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryGetTaskSummary]
	AS SELECT * FROM dbo.fnTASK_GetTaskSummary()
GO
