USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectHistory'
GO
/****** Object:  View [qryProjectHistory]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryProjectHistory]
GO
/****** Object:  View [qryProjectHistory]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryProjectHistory]
AS
SELECT        TOP (100) PERCENT dbo.tblAudit_Project.ID, dbo.tblAudit_Project.ProjectID, dbo.tblAudit_Project.RecordEventType, dbo.tblAudit_Project.ProjectName, dbo.tblDepartment.DepartmentName, O1.FullName AS PrimaryOwnerName, 
                         dbo.tblAudit_Project.CountOfActiveProjects, O2.FullName AS SecondaryOwnerName, O3.FullName AS TertiaryOwnerName, dbo.tblAudit_Project.CreatedTimestamp, dbo.tblUser.FullName AS LastUpdatedBy, 
                         O4.FullName AS Submittor
FROM            dbo.tblUser INNER JOIN
                         dbo.tblUser AS O1 RIGHT OUTER JOIN
                         dbo.tblAudit_Project LEFT OUTER JOIN
                         dbo.tblUser AS O2 ON dbo.tblAudit_Project.SecondaryProjectOwnerID = O2.ID LEFT OUTER JOIN
                         dbo.tblUser AS O3 ON dbo.tblAudit_Project.TertiaryProjectOwnerID = O3.ID INNER JOIN
                         dbo.tblDepartment ON dbo.tblAudit_Project.DepartmentID = dbo.tblDepartment.ID ON O1.ID = dbo.tblAudit_Project.PrimaryProjectOwnerID ON dbo.tblUser.EmployeeNumber = dbo.tblAudit_Project.UpdateUserID LEFT OUTER JOIN
                         dbo.tblUser AS O4 ON dbo.tblAudit_Project.Submittor_ID = O4.ID
ORDER BY dbo.tblAudit_Project.ProjectName, dbo.tblAudit_Project.CreatedTimestamp
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[40] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblUser"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O1"
            Begin Extent = 
               Top = 6
               Left = 269
               Bottom = 136
               Right = 462
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblAudit_Project"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 265
            End
            DisplayFlags = 280
            TopColumn = 10
         End
         Begin Table = "O2"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 400
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O3"
            Begin Extent = 
               Top = 270
               Left = 269
               Bottom = 400
               Right = 462
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblDepartment"
            Begin Extent = 
               Top = 402
               Left = 38
               Bottom = 532
               Right = 240
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O4"
            Begin Extent = 
               Top = 6
               Left = 500
               Bottom = 391
               Right = 693
            End
            DisplayFlags = 280
      ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'      TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5235
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectHistory'
GO
