USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectList'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectList'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectList'
GO
/****** Object:  View [qryProjectList]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryProjectList]
GO
/****** Object:  View [qryProjectList]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryProjectList]
AS
SELECT        dbo.tblProject.ID, dbo.tblProject.SiteID, dbo.tblProject.ProjectName, dbo.tblProject.ProjectDescription, dbo.tblDepartment.DepartmentName, dbo.tblProject.DepartmentID, dbo.tblProject.PrimaryProjectOwnerID, 
                         dbo.tblProject.TertiaryProjectOwnerID, dbo.tblProject.SecondaryProjectOwnerID, dbo.tblProject.CountOfActiveTasks, O2.LName + ', ' + O2.FName AS PrimaryOwnerName, O3.LName + ', ' + O3.FName AS SecondaryOwnerName, 
                         O4.LName + ', ' + O4.FName AS TertiaryOwnerName, O5.LName + ', ' + O5.FName AS InitiatorName, dbo.tblProject.InitiatorEmployeeID,
                             (SELECT        MIN(DueDate) AS MinDueDate
                               FROM            dbo.tblTask
                               WHERE        (ProjectID = dbo.tblProject.ID)) AS MinDueDate,
                             (SELECT        MIN(ScheduledDueDate) AS MinScheduledDueDate
                               FROM            dbo.tblTask AS tblTask_1
                               WHERE        (ProjectID = dbo.tblProject.ID)) AS MinScheduledDueDate, dbo.tblProject.TicketNumber, O5.UserTypeID AS InitiatorUserTypeID, O3.EMailAddress AS QualityEngineerEmailAddress, 
                         dbo.tblProject.UpdatedTimestampDisplay, dbo.tblProject.CreatedTimestampDisplay AS CreatedTimestamp, dbo.tblProject.CreatedTimestampSort, dbo.tblProject.UpdatedTimestampSort, dbo.tblProject.CarbonCopyEmailList
FROM            dbo.tblProject LEFT OUTER JOIN
                         dbo.tblDepartment ON dbo.tblDepartment.ID = dbo.tblProject.DepartmentID LEFT OUTER JOIN
                         dbo.tblUser AS O2 ON dbo.tblProject.PrimaryProjectOwnerID = O2.ID LEFT OUTER JOIN
                         dbo.tblUser AS O3 ON dbo.tblProject.SecondaryProjectOwnerID = O3.ID LEFT OUTER JOIN
                         dbo.tblUser AS O4 ON dbo.tblProject.TertiaryProjectOwnerID = O4.ID LEFT OUTER JOIN
                         dbo.tblUser AS O5 ON dbo.tblProject.InitiatorEmployeeID = O5.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[60] 4[3] 2[24] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblProject"
            Begin Extent = 
               Top = 0
               Left = 700
               Bottom = 403
               Right = 927
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblDepartment"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 240
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O2"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 400
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O3"
            Begin Extent = 
               Top = 33
               Left = 269
               Bottom = 400
               Right = 462
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "O4"
            Begin Extent = 
               Top = 402
               Left = 38
               Bottom = 532
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O5"
            Begin Extent = 
               Top = 87
               Left = 1166
               Bottom = 486
               Right = 1359
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5160
         Alias = 5445
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'       Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryProjectList'
GO
