USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryServiceTicketList'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryServiceTicketList'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryServiceTicketList'
GO
/****** Object:  View [qryServiceTicketList]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryServiceTicketList]
GO
/****** Object:  View [qryServiceTicketList]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryServiceTicketList]
AS
SELECT DISTINCT 
                         dbo.tblServiceTicket.ID, dbo.tblServiceTicket.SiteID, dbo.tblServiceTicket.TicketNumber, dbo.tblServiceTicket.TicketName, dbo.tblServiceTicket.TicketDetails, dbo.tblServiceTicket.InitiatorID, dbo.tblServiceTicket.DepartmentID, 
                         dbo.tblServiceTicket.TicketTypeID, dbo.tblServiceTicket.CMMDownID, dbo.tblServiceTicket.CMMDownPartNumber, dbo.tblServiceTicket.CMMDownOperatorID, dbo.tblServiceTicket.CMMDownOperatorName, 
                         dbo.tblServiceTicket.CMMDownBrokenProbeID, dbo.tblServiceTicket.AssignedToID, dbo.tblServiceTicket.StatusID, dbo.tblServiceTicket.DueDateDisplay AS DueDate, 
                         dbo.tblServiceTicket.CreateTimestampDisplay AS CreateTimestamp, dbo.tblServiceTicket.UpdateTimestampDisplay AS UpdateTimestamp, dbo.tblServiceTicket.UpdatedBy, dbo.tblServiceType.ServiceType, 
                         dbo.tblServiceStatus.ServiceStatus, dbo.tblCMMMachines.CMMName, qryActiveUsers_2.EmployeeDisplayName AS InitiatorDisplayName, qryActiveUsers_2.EmployeeName AS InitiatorFullName, 
                         qryActiveUsers_1.EmployeeName AS LastUpdatedByFullName, qryActiveUsers_1.EmployeeDisplayName AS LastUpdatedByDisplayName, dbo.qryActiveUsers.EmployeeName AS AssignedToName, 
                         dbo.tblDepartment.DepartmentName, dbo.tblCMMProbes.ProbeName, dbo.tblServiceTicket.CreateTimestampSort, dbo.tblServiceTicket.UpdateTimestampSort, dbo.tblServiceTicket.DueDateSort, 
                         dbo.tblServiceTicket.CarbonCopyEmailList, dbo.tblCMMMachines.IsBnS
FROM            dbo.tblServiceTicket LEFT OUTER JOIN
                         dbo.qryActiveUsers AS qryActiveUsers_2 ON dbo.tblServiceTicket.InitiatorID = qryActiveUsers_2.ID LEFT OUTER JOIN
                         dbo.qryActiveUsers AS qryActiveUsers_1 ON dbo.tblServiceTicket.UpdatedBy = qryActiveUsers_1.EmployeeNumber LEFT OUTER JOIN
                         dbo.qryActiveUsers ON dbo.tblServiceTicket.AssignedToID = dbo.qryActiveUsers.ID LEFT OUTER JOIN
                         dbo.tblServiceType ON dbo.tblServiceTicket.TicketTypeID = dbo.tblServiceType.ID LEFT OUTER JOIN
                         dbo.tblCMMProbes ON dbo.tblServiceTicket.CMMDownBrokenProbeID = dbo.tblCMMProbes.ID LEFT OUTER JOIN
                         dbo.tblDepartment ON dbo.tblServiceTicket.DepartmentID = dbo.tblDepartment.ID LEFT OUTER JOIN
                         dbo.tblCMMMachines ON dbo.tblServiceTicket.CMMDownID = dbo.tblCMMMachines.ID LEFT OUTER JOIN
                         dbo.tblServiceStatus ON dbo.tblServiceTicket.StatusID = dbo.tblServiceStatus.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[70] 4[21] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -542
      End
      Begin Tables = 
         Begin Table = "tblServiceTicket"
            Begin Extent = 
               Top = 11
               Left = 504
               Bottom = 523
               Right = 742
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "qryActiveUsers_2"
            Begin Extent = 
               Top = 0
               Left = 55
               Bottom = 90
               Right = 261
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryActiveUsers_1"
            Begin Extent = 
               Top = 382
               Left = 55
               Bottom = 555
               Right = 266
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "qryActiveUsers"
            Begin Extent = 
               Top = 293
               Left = 941
               Bottom = 541
               Right = 1152
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblServiceType"
            Begin Extent = 
               Top = 99
               Left = 84
               Bottom = 161
               Right = 254
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblCMMProbes"
            Begin Extent = 
               Top = 221
               Left = 1225
               Bottom = 456
               Right = 1395
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblDepartment"
            Begin Extent = 
               Top = 33
               Left = 815
               Bottom = 95
               Right =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryServiceTicketList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1017
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblCMMMachines"
            Begin Extent = 
               Top = 49
               Left = 1218
               Bottom = 240
               Right = 1388
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblServiceStatus"
            Begin Extent = 
               Top = 181
               Left = 81
               Bottom = 243
               Right = 251
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 30
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 6480
         Alias = 3720
         Table = 3165
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryServiceTicketList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryServiceTicketList'
GO
