USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryScheduleUpdateRuns'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryScheduleUpdateRuns'
GO
/****** Object:  View [qryScheduleUpdateRuns]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryScheduleUpdateRuns]
GO
/****** Object:  View [qryScheduleUpdateRuns]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryScheduleUpdateRuns]
AS
SELECT        TOP (100) PERCENT dbo.tblScheduleRunEntry.SiteID, dbo.tblScheduleRunEntry.CompletionTimestamp, dbo.tblScheduleRunEntry.StartTimestamp, dbo.tblScheduleRunEntry.UpdateTimestamp, 
                         dbo.tblScheduleRunEntry.CreateTimestamp, dbo.tblScheduleRunEntry.RequestUserEmployeeNumber, dbo.tblScheduleRunEntry.IsAutomated, dbo.tblScheduleRunEntry.MessageSent, 
                         dbo.tblScheduleRunEntry.HasErrors AS ErrorCount, dbo.tblScheduleRunEntry.IsComplete, dbo.tblScheduleRunEntry.RunDateTime, dbo.tblUser.FullName AS RequestedBy, dbo.tblScheduleRunEntry.IsCompleteDisplay, 
                         dbo.tblScheduleRunEntry.IsAutomatedDisplay, dbo.tblScheduleRunEntry.ID, dbo.tblScheduleRunEntry.TasksUpdated, dbo.tblSite.SiteName, dbo.tblSite.MetrologyEmailAddress, 
                         dbo.tblUser.EMailAddress AS RequestorEmailAddress
FROM            dbo.tblScheduleRunEntry LEFT OUTER JOIN
                         dbo.tblSite ON dbo.tblScheduleRunEntry.SiteID = dbo.tblSite.ID LEFT OUTER JOIN
                         dbo.tblUser ON dbo.tblScheduleRunEntry.RequestUserEmployeeNumber = dbo.tblUser.EmployeeNumber
ORDER BY dbo.tblScheduleRunEntry.CreateTimestamp
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[26] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblScheduleRunEntry"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 335
               Right = 288
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblSite"
            Begin Extent = 
               Top = 6
               Left = 629
               Bottom = 136
               Right = 844
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblUser"
            Begin Extent = 
               Top = 21
               Left = 980
               Bottom = 351
               Right = 1173
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 15
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4050
         Alias = 2100
         Table = 2640
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryScheduleUpdateRuns'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryScheduleUpdateRuns'
GO
