USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qrySchedules'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qrySchedules'
GO
/****** Object:  View [qrySchedules]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qrySchedules]
GO
/****** Object:  View [qrySchedules]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qrySchedules]
AS
SELECT        TOP (100) PERCENT dbo.tblLinkedTableNames.ID, dbo.tblLinkedTableNames.SiteID, dbo.tblLinkedTableNames.IsActive, dbo.tblLinkedTableNames.ImportName, dbo.tblLinkedTableNames.FilePath, 
                         dbo.tblLinkedTableNames.SheetName, dbo.tblLinkedTableNames.PartNumberCellName, dbo.tblLinkedTableNames.CompletionDateOffset, dbo.tblLinkedTableNames.MachineNameOffsetLeft, 
                         dbo.tblLinkedTableNames.MachineNameOffsetUp, dbo.tblLinkedTableNames.TaskNameDelimiter, dbo.tblLinkedTableNames.CompletionDateDelimeter, dbo.tblLinkedTableNames.DoPartNameTrimming, 
                         dbo.tblLinkedTableNames.IsActiveDisplay, dbo.tblLinkedTableNames.DoPartNameTrimmingDisplay, dbo.tblLinkedTableNames.ScheduleOwnerID, dbo.tblUser.FullName AS ScheduleOwnerName, 
                         dbo.tblLinkedTableNames.DepartmentID, dbo.tblDepartment.DepartmentName
FROM            dbo.tblLinkedTableNames LEFT OUTER JOIN
                         dbo.tblDepartment ON dbo.tblLinkedTableNames.DepartmentID = dbo.tblDepartment.ID LEFT OUTER JOIN
                         dbo.tblUser ON dbo.tblLinkedTableNames.ScheduleOwnerID = dbo.tblUser.ID
ORDER BY dbo.tblLinkedTableNames.ImportName
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[60] 4[3] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblLinkedTableNames"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 493
               Right = 285
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "tblUser"
            Begin Extent = 
               Top = 134
               Left = 922
               Bottom = 456
               Right = 1115
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "tblDepartment"
            Begin Extent = 
               Top = 6
               Left = 694
               Bottom = 136
               Right = 896
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2115
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qrySchedules'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qrySchedules'
GO
