USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  View [qryTaskSummary]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryTaskSummary]
GO
/****** Object:  View [qryTaskSummary]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryTaskSummary]
	AS SELECT * FROM fnTASK_GetTaskSummary()
GO
