USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  View [qryTaskAssignments]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryTaskAssignments]
GO
/****** Object:  View [qryTaskAssignments]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [qryTaskAssignments]
AS
SELECT	top 100 percent tblTask.ID, 
		tblTask.AssignedToID, 
		tblTask.ProjectID, 
		tblUser.[LName]+', '+tblUser.[FName] AS Assignee, 
		tblTask.TaskTypeID, 
		tblTask.TaskName, 
		tblTask.StatusID, 
		tblTask.DueDate, 
		tblTask.ScheduledDueDate, 
		tblTask.EstimatedHours, 
		tblTaskType.TaskType, 
		tblStatus.Status, 
		IIf(IsNull([qrySumOfTrackedHours].[SumOfTrackedHours], 0)=0,0,[qrySumOfTrackedHours].[SumOfTrackedHours]/[tblTask].[EstimatedHours]) AS PctComplete, 
		IIf(IsNull([qrySumOfTrackedHours].[SumOfTrackedHours], 0)=0,0,[qrySumOfTrackedHours].[SumOfTrackedHours]) AS SumOfHours
FROM tblStatus RIGHT JOIN qrySumOfTrackedHours 
RIGHT JOIN tblUser 
RIGHT JOIN tblTaskType 
RIGHT JOIN tblTask ON tblTaskType.ID = tblTask.TaskTypeID ON 
tblUser.ID = tblTask.AssignedToID ON qrySumOfTrackedHours.TaskID = tblTask.ID ON tblStatus.ID = tblTask.StatusID
WHERE tblStatus.IsCompleteOrCancelled=0
ORDER BY tblTask.AssignedToID
GO
