USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskList'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskList'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskList'
GO
/****** Object:  View [qryTaskList]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryTaskList]
GO
/****** Object:  View [qryTaskList]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryTaskList]
AS
SELECT        dbo.tblTask.ID, dbo.tblTask.ProjectID, dbo.tblProject.InitiatorEmployeeID, LEFT(UPPER(dbo.tblTask.TaskName), 25) AS TaskName, dbo.tblProject.SiteID, dbo.tblProject.ProjectDescription, 
                         dbo.tblTask.DueDateDisplay AS DueDate, dbo.tblTask.HavePart, dbo.tblTask.IUNumber, dbo.tblDepartment.DepartmentName, dbo.tblTask.DrawingNumber, dbo.tblTask.TicketNumber, 
                         dbo.tblTask.DateStartedDisplay AS DateStarted, dbo.tblTask.ScheduledDueDateDisplay AS ScheduledDueDate, dbo.tblTask.EstimatedHours, dbo.tblTask.DateCompletedDisplay AS DateCompleted, dbo.tblProject.DepartmentID, 
                         dbo.tblTask.ManualDueDate, dbo.tblStatus.Status, dbo.tblTaskType.TaskType, LEFT(dbo.tblProject.ProjectName, 25) AS ProjectName, dbo.tblUser.ID AS UserID, dbo.tblStatus.ID AS StatusID, dbo.tblTask.TaskTypeID, 
                         dbo.tblTask.AssignedToID, dbo.tblProject.PrimaryProjectOwnerID, dbo.tblProject.SecondaryProjectOwnerID, dbo.tblProject.TertiaryProjectOwnerID, dbo.tblUser.DisplayName AS AssignedToName, 
                         O1.DisplayName AS PrimaryOwnerName, O2.DisplayName AS SecondaryOwnerName, O3.DisplayName AS TertiaryOwnerName, O4.DisplayName AS InitiatorName, 1 AS PercentComplete, 
                         ISNULL(dbo.qrySumOfTrackedHours.SumOfTrackedHours, 0) AS SumOfHours, dbo.tblStatus.IsCompleteOrCancelled, dbo.tblJobNumber.JobNumber, dbo.tblJobNumber.JobNumber AS JobNumberSort, 
                         dbo.tblTask.ManufacturingRev, dbo.tblTask.CustomerRev, ISNULL(dbo.tblTask.Operation, 10) AS Operation, dbo.tblProject.TicketNumber AS ProjectTicketNumber, dbo.tblDepartment.QualityCCList AS QEEMailAddress, 
                         dbo.tblUser.EMailAddress AS AssigneeEmailAddress, dbo.tblTask.CreatedTimestampDisplay AS CreatedTimestamp, dbo.tblTask.ScheduledDueDateSort, dbo.tblTask.DueDateSort, dbo.tblTask.DateStartedSortSort, 
                         dbo.tblTask.UpdatedTimestampSort, dbo.tblTask.CreatedTimestampSort, dbo.tblTask.DateCompletedSort, dbo.tblProject.CarbonCopyEmailList, dbo.tblProject.ProjectName AS ProjectNameSearch, UPPER(dbo.tblTask.TaskName) 
                         AS TaskNameSearch, dbo.tblTask.CurrentlyRunning, dbo.tblTask.CurrentlyRunningDisplay
FROM            dbo.tblStatus RIGHT OUTER JOIN
                         dbo.tblJobNumber RIGHT OUTER JOIN
                         dbo.qrySumOfTrackedHours RIGHT OUTER JOIN
                         dbo.tblTaskType RIGHT OUTER JOIN
                         dbo.tblUser AS O1 RIGHT OUTER JOIN
                         dbo.tblProject LEFT OUTER JOIN
                         dbo.tblUser AS O2 ON dbo.tblProject.SecondaryProjectOwnerID = O2.ID LEFT OUTER JOIN
                         dbo.tblUser AS O3 ON dbo.tblProject.TertiaryProjectOwnerID = O3.ID LEFT OUTER JOIN
                         dbo.tblUser AS O4 ON dbo.tblProject.InitiatorEmployeeID = O4.ID LEFT OUTER JOIN
                         dbo.tblDepartment ON dbo.tblProject.DepartmentID = dbo.tblDepartment.ID ON O1.ID = dbo.tblProject.PrimaryProjectOwnerID RIGHT OUTER JOIN
                         dbo.tblTask ON dbo.tblProject.ID = dbo.tblTask.ProjectID ON dbo.tblTaskType.ID = dbo.tblTask.TaskTypeID ON dbo.qrySumOfTrackedHours.TaskID = dbo.tblTask.ID LEFT OUTER JOIN
                         dbo.tblUser ON dbo.tblTask.AssignedToID = dbo.tblUser.ID ON dbo.tblJobNumber.TaskName = dbo.tblTask.TaskName AND dbo.tblJobNumber.ProjectID = dbo.tblTask.ProjectID ON dbo.tblStatus.ID = dbo.tblTask.StatusID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[55] 4[34] 2[1] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblStatus"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 252
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblJobNumber"
            Begin Extent = 
               Top = 141
               Left = 49
               Bottom = 271
               Right = 219
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qrySumOfTrackedHours"
            Begin Extent = 
               Top = 19
               Left = 609
               Bottom = 115
               Right = 808
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblTaskType"
            Begin Extent = 
               Top = 306
               Left = 77
               Bottom = 436
               Right = 348
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O1"
            Begin Extent = 
               Top = 100
               Left = 1547
               Bottom = 236
               Right = 1801
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblProject"
            Begin Extent = 
               Top = 119
               Left = 1182
               Bottom = 519
               Right = 1394
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O2"
            Begin Extent = 
               Top = 240
               Left = 1547
               Bottom = 370
               Right = 1799
            End
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'    DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "O3"
            Begin Extent = 
               Top = 374
               Left = 1545
               Bottom = 504
               Right = 1797
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "O4"
            Begin Extent = 
               Top = 508
               Left = 1545
               Bottom = 638
               Right = 1798
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblDepartment"
            Begin Extent = 
               Top = 0
               Left = 1547
               Bottom = 96
               Right = 1801
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "tblTask"
            Begin Extent = 
               Top = 0
               Left = 922
               Bottom = 457
               Right = 1146
            End
            DisplayFlags = 280
            TopColumn = 13
         End
         Begin Table = "tblUser"
            Begin Extent = 
               Top = 458
               Left = 75
               Bottom = 661
               Right = 338
            End
            DisplayFlags = 280
            TopColumn = 7
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 47
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 6090
         Alias = 5715
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskList'
GO
