USE [LF_RMS_COMMS_MPM]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskHistory'
GO
/****** Object:  View [qryTaskHistory]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qryTaskHistory]
GO
/****** Object:  View [qryTaskHistory]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryTaskHistory]
AS
SELECT        dbo.tblAudit_Task.CreatedDateStamp, dbo.tblAudit_Task.ID, dbo.tblAudit_Task.SiteID, dbo.tblAudit_Task.RecordEventType, dbo.tblAudit_Task.TaskID, dbo.tblAudit_Task.ProjectID, dbo.tblAudit_Task.StatusID, 
                         dbo.tblAudit_Task.TaskName, dbo.tblAudit_Task.TicketNumber, dbo.tblAudit_Task.DrawingNumber, format(dbo.tblAudit_Task.DueDate, 'MM/dd/yy') AS DueDate, format(dbo.tblAudit_Task.ScheduledDueDate, 'MM/dd/yy') 
                         AS ScheduledDueDate, dbo.tblAudit_Task.EstimatedHours, dbo.tblAudit_Task.TaskTypeID, format(dbo.tblAudit_Task.DateStarted, 'MM/dd/yy') AS DateStarted, dbo.tblAudit_Task.AssignedToID, 
                         format(dbo.tblAudit_Task.DateCompleted, 'MM/dd/yy') AS DateCompleted, dbo.tblAudit_Task.ManualDueDate, dbo.tblAudit_Task.UpdateUserID, dbo.tblUser.FullName AS AssignedToName, tblUser_1.FullName AS UpdatedBy, 
                         dbo.tblTaskType.TaskType, dbo.tblStatus.Status
FROM            dbo.tblAudit_Task LEFT OUTER JOIN
                         dbo.tblTaskType ON dbo.tblAudit_Task.TaskTypeID = dbo.tblTaskType.ID LEFT OUTER JOIN
                         dbo.tblStatus ON dbo.tblAudit_Task.StatusID = dbo.tblStatus.ID LEFT OUTER JOIN
                         dbo.tblUser AS tblUser_1 ON dbo.tblAudit_Task.UpdateUserID = tblUser_1.EmployeeNumber LEFT OUTER JOIN
                         dbo.tblUser ON dbo.tblAudit_Task.AssignedToID = dbo.tblUser.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[17] 4[28] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblAudit_Task"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 416
               Right = 414
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblTaskType"
            Begin Extent = 
               Top = 122
               Left = 548
               Bottom = 252
               Right = 775
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblStatus"
            Begin Extent = 
               Top = 6
               Left = 717
               Bottom = 231
               Right = 931
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblUser_1"
            Begin Extent = 
               Top = 6
               Left = 1200
               Bottom = 478
               Right = 1393
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblUser"
            Begin Extent = 
               Top = 404
               Left = 611
               Bottom = 580
               Right = 804
            End
            DisplayFlags = 280
            TopColumn = 11
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 25
         Width = 284
         Width = 2460
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 9075
         Alias = 2025
         Table = 5430
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTaskHistory'
GO
