USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  View [qsubTaskSummary]    Script Date: 9/12/2025 9:40:30 AM ******/
DROP VIEW [qsubTaskSummary]
GO
/****** Object:  View [qsubTaskSummary]    Script Date: 9/12/2025 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qsubTaskSummary]
	AS SELECT     COUNT(qryTaskList.ID) AS CountOfTaskGroup, qryTaskList.SiteID, tblTaskTypeGroup.TaskTypeGroupName, qryTaskList.StatusID
FROM            qryTaskList INNER JOIN
                         tblTaskType ON qryTaskList.TaskTypeID = tblTaskType.ID INNER JOIN
                         tblTaskTypeGroup ON tblTaskType.TaskTypeGroupID = tblTaskTypeGroup.ID
GROUP BY qryTaskList.SiteID, tblTaskTypeGroup.TaskTypeGroupName, qryTaskList.StatusID


GO
