USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spEditUser]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spEditUser]
GO
/****** Object:  StoredProcedure [spEditUser]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spEditUser]
	 @UserID					int
	,@FirstName					varchar(50)
    ,@LastName					varchar(50)
    ,@NetworkUserName			varchar(50)
    ,@EmployeeNumber			varchar(10)
    ,@IsAdmin					bit
    ,@IsActive					bit
    ,@EmployeeEmailAddress		varchar(320)
    ,@UpdateUserID				varchar(10)
AS
BEGIN

	SET NOCOUNT ON;

UPDATE [dbo].[tlkpUser]
   SET [FirstName] = @FirstName
      ,[LastName] = @LastName
      ,[NetworkUserName] = @NetworkUserName
      ,[EmployeeNumber] = @EmployeeNumber
      ,[IsAdmin] = @IsAdmin
      ,[IsActive] = @IsActive
      ,[EmployeeEmailAddress] = @EmployeeEmailAddress
      ,[UpdatedTimestampe] = CURRENT_TIMESTAMP
      ,[UpdateUserID] = @UpdateUserID
 WHERE ID = @UserID
END
GO
