USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddPinType]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddPinType]
GO
/****** Object:  StoredProcedure [spAddPinType]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spAddPinType]
	@pin_type varchar(50)
AS
BEGIN
	/*
		Procedure: spAddPinType
		Purpose:
			Add a new pin type lookup value.
		Parameters:
			@pin_type (VARCHAR(50)) - The pin type description.
		Returns:
			None (no result set).
		Behavior:
			- Inserts a row into [tlkpPinType].
		Side Effects:
			- Writes to [tlkpPinType].
	*/
	SET NOCOUNT ON;

INSERT INTO [tlkpPinType]
           ([PinType])
     VALUES
           (@pin_type)

END
GO
