USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetFilteredTicketList]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetFilteredTicketList]
GO
/****** Object:  StoredProcedure [spGetFilteredTicketList]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spGetFilteredTicketList]
	@site_id smallint = 0,
	@ticket_number varchar(255) = '',
	@status_id INT = 0,
	@ticket_type_id int = 0,
	@operator_name varchar(255) = '',
	@cell_leader_id int = 0,
	@department_id int = 0,
	@machine_group_id int = 0,
	@sort_field_ordinal int = 0,
	@sort_direction int = 0,
	@page_number int = 1

AS
	BEGIN
		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
		DECLARE @sort_field varchar(255);

		if @sort_field_ordinal IS NULL
			BEGIN
				SET @sort_field_ordinal = 0
			END

		if @sort_direction IS NULL
			BEGIN
				SET @sort_direction = 0
			END


		set @sql = 'SELECT * from qryActiveTickets WHERE SiteID = ' + cast(@site_id as varchar);
	
		if @ticket_number <> ''
			BEGIN
				SET @sql = @sql + ' AND TicketNumber LIKE ''%' + @ticket_number + '%''';
			END

		if @ticket_type_id in (1,2)	
			BEGIN
				SET @sql = @sql + ' AND TicketTypeID = ' + cast(@ticket_type_id as varchar);
			END

		if @operator_name <> ''
			BEGIN
				SET @sql = @sql + ' AND OperatorName = ''' + @operator_name + '''';
			END

		if @status_id in (Select ID from tlkpTicketStatus)
			BEGIN
				SET @sql = @sql + ' AND TicketStatusID = ' + cast(@status_id as varchar);
			END

		if @cell_leader_id in (Select ID from tlkpCellLeaders)
			BEGIN
				SET @sql = @sql + ' AND CellLeaderID = ' + cast(@cell_leader_id as varchar);
			END

		if @department_id in (select id from tlkpDepartment where SiteID = @site_id)
			BEGIN
				SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END

		if @machine_group_id in (Select ID from tlkpMachineGroup)
			BEGIN
				SET @sql = @sql + ' AND MachineGroupID = ' + cast(@machine_group_id as varchar);
			END

		
	  
		set @sort_field = CASE 
        WHEN @sort_field_ordinal = 0 THEN ' ORDER BY TicketNumber'
        WHEN @sort_field_ordinal = 1 THEN ' ORDER BY TicketType'
				WHEN @sort_field_ordinal = 2 THEN ' ORDER BY Department'
				WHEN @sort_field_ordinal = 3 THEN ' ORDER BY MachineName'
				WHEN @sort_field_ordinal = 4 THEN ' ORDER BY MachineGroupName'
				WHEN @sort_field_ordinal = 5 THEN ' ORDER BY OperatorName'
				WHEN @sort_field_ordinal = 6 THEN ' ORDER BY CellLeaderName'
				WHEN @sort_field_ordinal = 7 THEN ' ORDER BY PartNumber'
				WHEN @sort_field_ordinal = 8 THEN ' ORDER BY JobLotNumber'
				WHEN @sort_field_ordinal = 9 THEN ' ORDER BY CreatedTimestamp'
				WHEN @sort_field_ordinal = 10 THEN ' ORDER BY LastCalibrationDate'
				WHEN @sort_field_ordinal = 11 THEN ' ORDER BY CalibrationDueDate'
        ELSE ' ORDER BY TicketNumber'
    END

		SET @sql = @sql + @sort_field
		
		if @sort_direction = 1
			BEGIN
				SET @sql = @sql + ' DESC'
			END
		
		SET @sql = @sql + ' OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';
		
		PRINT @sql;
		EXEC(@sql);

	END
GO
