USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetBinCalibrationListForPrinting]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetBinCalibrationListForPrinting]
GO
/****** Object:  StoredProcedure [spGetBinCalibrationListForPrinting]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [spGetBinCalibrationListForPrinting]
	@bin_id int = 0,
	@start_date varchar(15) = '',
	@end_date varchar(15) = ''

AS
	/*
	Procedure: [spGetBinCalibrationListForPrinting]
	Purpose: Returns a print-friendly list of pin gage calibration history rows for a specific bin with optional date filtering.
	Parameters:
	  @bin_id int         - Bin identifier to filter on (required).
	  @start_date varchar - Optional inclusive lower bound on UpdatedTimestamp (expects a castable DATE string, e.g. 'YYYY-MM-DD').
	  @end_date varchar   - Optional inclusive upper bound on UpdatedTimestamp (appended with '11:59:59 PM').
	Returns:
	  - Result set from view [qryPinCalibrationHistory], filtered by BinID and dates, ordered by UpdatedTimestamp.
	Behavior:
	  - Validates @start_date and @end_date with TRY_CAST; raises error if invalid.
	  - Uses dynamic SQL (non-parameterized) to build the query; @start_date/@end_date are concatenated into the SQL.
	Example:
	  EXEC [spGetBinCalibrationListForPrinting] @bin_id = 1, @start_date = '2025-08-01', @end_date = '2025-08-31';
	Notes:
	  - Consider ISO 8601 date strings (YYYY-MM-DD) for reliability.
	  - Dynamic SQL concatenation of dates can be risky; parameterization is recommended if inputs can be user-provided.
	Change Log:
	  2025-09-22 - Added documentation block. No functional changes.
	*/
	BEGIN
		SET NOCOUNT ON;

		DECLARE @sql varchar(max) = '';
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);
		DECLARE @error_message nvarchar(max) = ''
	


		If (@start_date Is Not Null) AND (@start_date <> '') 
			BEGIN
				IF TRY_CAST(@start_date AS DATE) IS NULL
					SET @error_message = @start_date + 'Invalid start date.'+ @CRLF
			END

		If (@end_date Is Not Null) AND (@end_date <> '') 
			BEGIN
				IF TRY_CAST(@end_date AS DATE) IS NULL
					SET @error_message = @end_date + 'Invalid end date.'+ @CRLF
			END

		IF @error_message <> ''
			BEGIN
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			END


		set @sql = 'SELECT * from qryPinCalibrationHistory WHERE BinID = ' + cast(@bin_id as varchar);


		IF TRY_CAST(@start_date AS DATE) IS NOT NULL
			SET @sql = @sql + ' AND UpdatedTimestamp >= ''' + @start_date + ''''

		IF TRY_CAST(@end_date AS DATE) IS NOT NULL
			SET @sql = @sql + ' AND UpdatedTimestamp <= ''' + @end_date + ' 11:59:59 PM' + ''''


		SET @sql = @sql + ' ORDER BY UpdatedTimestamp';
	  PRINT @sql;
		EXEC(@sql);

	END
GO
