USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddSite]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddSite]
GO
/****** Object:  StoredProcedure [spAddSite]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spAddSite]
	@site_name varchar(50),
	@site_owner_email	varchar(320)
AS
BEGIN
	SET NOCOUNT ON;

INSERT INTO [tblSite]
           ([SiteName]
           ,[SiteOwnerEmail])
     VALUES
           (@site_name
           ,@site_owner_email)


END
GO
