USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddTicket]
GO
/****** Object:  StoredProcedure [spAddTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spAddTicket] 
	@site_id								int,
	@ticket_guid						varchar(255),
	@ticket_type_id					INT,
	@is_staged							SMALLINT,
	@machine_name					  VARCHAR(50),
	@maching_group					INT,
	@department_id					INT,
	@operator_employee_number		VARCHAR(10),
	@operator_name					VARCHAR(150),
	@cell_leader_id				  INT,
	@joblot_number					VARCHAR(50),
	@part_number					  VARCHAR(50),
	@new_identity					  INT OUTPUT,
	@new_ticket_number			VARCHAR(20) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
		set @joblot_number = ISNULL(@joblot_number, '')
		IF @is_staged = 1
			BEGIN
			    INSERT INTO tblTicket (	SiteID, TicketGUID, TicketTypeID, 
							MachineName, 
							DepartmentID, 
							OperatorEmployeeNumber, 
							OperatorName, 
							TicketStatusID, 
							CellLeaderID,
							PartNumber,
							UpdateUserID ) 
					VALUES (@site_id, @ticket_guid, @ticket_type_id,
							Upper(@machine_name),
							@department_id,
							@operator_employee_number,
							@operator_name,
							1,
							@cell_leader_id,
							Upper(@part_number),
							@operator_employee_number)
				SELECT @new_identity = SCOPE_IDENTITY()
			END

		ELSE
			BEGIN
				 INSERT INTO tblTicket (	SiteID, TicketGUID, TicketTypeID, 
							MachineName, 
							MachineGroupID, 
							DepartmentID, 
							OperatorEmployeeNumber, 
							OperatorName, 
							TicketStatusID, 
							CellLeaderID,
							JobLotNumber,
							PartNumber,
							UpdateUserID ) 
					VALUES (@site_id, @ticket_guid, @ticket_type_id,
							Upper(@machine_name),
							@maching_group,
							@department_id,
							@operator_employee_number,
							@operator_name,
							2,
							@cell_leader_id,
							Upper(@joblot_number),
							Upper(@part_number),
							@operator_employee_number)
				SELECT @new_identity = SCOPE_IDENTITY()
			END


	
	SELECT @new_ticket_number = (SELECT TicketNumber from tblTicket WHERE tblTicket.ID = @new_identity) 

	SELECT @new_identity AS Id, @new_ticket_number as TicketNumber
	RETURN
END
GO
