USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateThreadGage]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateThreadGage]
GO
/****** Object:  StoredProcedure [spUpdateThreadGage]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spUpdateThreadGage] 
	@threadgage_id					INT,
	@threadgage_type_id int,
	@is_active			smallint,
	@thread_description varchar(50),
	@go_diameter decimal(9,5),
	@nogo_diameter decimal(9,5),
	@major_diameter decimal(9,5)
AS
BEGIN
	/*
		Procedure: spUpdateThreadGage
		Purpose:
			Updates thread gage master data.
		Parameters:
			@threadgage_id        INT          - tlkpThreadGages.ID to update.
			@threadgage_type_id   INT          - ThreadGageTypeID.
			@is_active            SMALLINT     - Active flag.
			@thread_description   VARCHAR(50)  - Description.
			@go_diameter          DECIMAL(9,5) - GoPitchDiameter.
			@nogo_diameter        DECIMAL(9,5) - NoGoPitchDiameter.
			@major_diameter       DECIMAL(9,5) - MajorDiameter.
		Behavior:
			- Updates the corresponding fields on tlkpThreadGages.
		Side Effects:
			Updates tlkpThreadGages.
		Returns: None.
	*/
	SET NOCOUNT ON;
	UPDATE [tlkpThreadGages]
		 SET [ThreadGageTypeID] = @threadgage_type_id
				,[IsActive] = @is_active
				,[GoPitchDiameter] = @go_diameter
				,[NoGoPitchDiameter] = @nogo_diameter
				,[MajorDiameter] = @major_diameter
				,[ThreadDescription] = @thread_description

	 WHERE ID = @threadgage_id
END
GO
