USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddThreadGageToTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddThreadGageToTicket]
GO
/****** Object:  StoredProcedure [spAddThreadGageToTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [spAddThreadGageToTicket] 
	@ticket_id								INT,
	@thread_gage_id						INT,
	@daily_cal								Smallint,
	@operator_employee_id			VARCHAR(10)
AS
BEGIN
	/*
		Procedure: spAddThreadGageToTicket
		Summary: Adds a thread gage to an existing ticket as an active checkout detail.
		Parameters:
		 - @ticket_id INT: Target ticket ID.
		 - @thread_gage_id INT: Thread gage ID to add to the ticket.
		 - @daily_cal SMALLINT: Daily calibration flag (1=yes, 0=no).
		 - @operator_employee_id VARCHAR(10): Employee ID recorded as UpdateUserID.
		Returns: None.
		Result sets: None.
		Side effects:
		 - Inserts a row into dbo.tblThreadCheckoutDetail with GageStatusID = 1.
		Reads: None.
		Writes: dbo.tblThreadCheckoutDetail.
		Permissions: EXECUTE on procedure and INSERT on dbo.tblThreadCheckoutDetail.
		Change history:
		 - 2025-09-22 (GitHub Copilot): Added inline documentation.
	*/

	SET NOCOUNT ON;

	
	INSERT INTO [dbo].[tblThreadCheckoutDetail]
        ([TicketID]
        ,[GageStatusID]
        ,ThreadGageID
				,DailyCalibration
        ,[UpdateUserID])
	VALUES
        (@ticket_id
        ,1
        ,@thread_gage_id
				,@daily_cal
        ,@operator_employee_id)
END
GO
