USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetThreadCalibrationList]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetThreadCalibrationList]
GO
/****** Object:  StoredProcedure [spGetThreadCalibrationList]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spGetThreadCalibrationList]
	@thread_gage_id int = 0,
	@page_number int = 1,
	@start_date varchar(15) = '',
	@end_date varchar(15) = ''

AS
	/*
	Procedure: [spGetThreadCalibrationList]
	Purpose: Retrieves a paginated calibration history list for a thread gage with optional date filters.
	Parameters:
	  @thread_gage_id int - Thread gage identifier.
	  @page_number int    - 1-based page index (25 rows per page).
	  @start_date varchar - Optional inclusive lower bound on CreatedTimestamp.
	  @end_date varchar   - Optional inclusive upper bound on CreatedTimestamp (appended with '11:59:59 PM').
	Returns:
	  - Result set from [qryThreadCalibrationHistory], ordered by CreatedTimestamp with pagination.
	Behavior:
	  - Validates date strings via TRY_CAST and raises error on invalid input.
	  - Uses dynamic SQL with concatenated dates.
	Example:
	  EXEC [spGetThreadCalibrationList] @thread_gage_id=42, @page_number=1, @start_date='2025-01-01', @end_date='2025-12-31';
	Change Log:
	  2025-09-22 - Added documentation block. No functional changes.
	*/
	BEGIN
		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);
		DECLARE @error_message nvarchar(max) = ''
	  


		If (@start_date Is Not Null) AND (@start_date <> '') 
			BEGIN
				IF TRY_CAST(@start_date AS DATE) IS NULL
					SET @error_message = @start_date + 'Invalid start date.'+ @CRLF
			END

		If (@end_date Is Not Null) AND (@end_date <> '') 
			BEGIN
				IF TRY_CAST(@end_date AS DATE) IS NULL
					SET @error_message = @end_date + 'Invalid end date.'+ @CRLF
			END

		IF @error_message <> ''
			BEGIN
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			END

		set @sql = 'SELECT * from qryThreadCalibrationHistory WHERE ThreadGageID = ' + cast(@thread_gage_id as varchar);

		IF TRY_CAST(@start_date AS DATE) IS NOT NULL
			SET @sql = @sql + ' AND CreatedTimestamp >= ''' + @start_date + ''''

		IF TRY_CAST(@end_date AS DATE) IS NOT NULL
			SET @sql = @sql + ' AND CreatedTimestamp <= ''' + @end_date + ' 11:59:59 PM' + ''''





		SET @sql = @sql + ' ORDER BY CreatedTimestamp OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';
	  PRINT @sql;
		EXEC(@sql);

	END
GO
