USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddThreadType]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddThreadType]
GO
/****** Object:  StoredProcedure [spAddThreadType]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spAddThreadType]
	@thread_type varchar(50)
AS
BEGIN
	SET NOCOUNT ON;

INSERT INTO [tlkpThreadType]
           ([ThreadType])
     VALUES
           (@thread_type)


END
GO
