USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spReturnThreadGage]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spReturnThreadGage]
GO
/****** Object:  StoredProcedure [spReturnThreadGage]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   PROCEDURE [spReturnThreadGage]  
	@ticket_id								INT,
	@thread_gage_id						INT,
	@operator_employee_id			VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;
	DECLARE @count_of_active_threadgages as INT


	UPDATE	tblThreadCheckoutDetail
	SET		GageStatusID		= 3,
			UpdatedTimestamp	= CURRENT_TIMESTAMP,
			UpdateUserID			= @operator_employee_id
	WHERE	TicketID				= @ticket_id
	AND		ThreadGageID		= @thread_gage_id
	AND		GageStatusID		<> 3
	
		

	SET	@count_of_active_threadgages = (	SELECT COUNT(ID) 
											FROM tblThreadCheckoutDetail
											WHERE	TicketID		= @ticket_id 
											AND		GageStatusID	= 1)

	IF @count_of_active_threadgages = 0
		BEGIN
			UPDATE tblTicket
			SET	TicketStatusID		= 3, 
			UpdatedTimestamp		= CURRENT_TIMESTAMP,
			UpdateUserID			= @operator_employee_id
			WHERE ID				= @ticket_id			
		END

END
GO
