USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGenerateTicketGUID]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGenerateTicketGUID]
GO
/****** Object:  StoredProcedure [spGenerateTicketGUID]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spGenerateTicketGUID] 
AS
BEGIN
	/*
		Procedure: spGenerateTicketGUID
		Summary: Generates a new GUID string for ticket creation workflows.
		Parameters: None.
		Returns: None.
		Result sets: One-row, one-column result set with alias 'GUID' containing a varchar(255) GUID.
		Side effects: None.
		Reads/Writes: None.
		Permissions: EXECUTE on procedure.
		Change history:
		 - 2025-09-22 (GitHub Copilot): Added inline documentation.
	*/

	SET NOCOUNT ON;
	DECLARE @myid uniqueidentifier = NEWID();  
	SELECT CONVERT(varchar(255), @myid) AS 'GUID';  
  
END
GO
