USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spCheckInTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spCheckInTicket]
GO
/****** Object:  StoredProcedure [spCheckInTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [spCheckInTicket]
	@ticket_id						INT,
	@user_employee_id				VARCHAR(10)
AS
BEGIN
	/*
		Procedure: spCheckInTicket
		Summary: Checks in all active gages on a ticket and advances the ticket status.
		Parameters:
		 - @ticket_id INT: Ticket to check in.
		 - @user_employee_id VARCHAR(10): Employee ID performing the check-in.
		Returns: None.
		Result sets: None.
		Side effects:
		 - Updates tblPinCheckoutDetail or tblThreadCheckoutDetail GageStatusID to 3.
		 - Updates tblTicket TicketStatusID (may transition through statuses 3 to 4).
		Reads: tblTicket.
		Writes: tblPinCheckoutDetail, tblThreadCheckoutDetail, tblTicket.
		Permissions: EXECUTE on procedure and UPDATE on affected tables.
		Change history:
		 - 2025-09-22 (GitHub Copilot): Added inline documentation.
	*/

	SET NOCOUNT ON;
	DECLARE @ticket_type_id INT
	DECLARE @current_ticket_status_id INT
	
	SET @ticket_type_id = ( SELECT TicketTypeID FROM tblTicket
							WHERE ID = @ticket_id)

	SET @current_ticket_status_id = (Select TicketStatusID from tblTicket where ID = @ticket_id)



	IF @ticket_type_id = 1 
		BEGIN
			UPDATE	tblPinCheckoutDetail
			SET		GageStatusID			= 3,
					UpdateUserID			= @user_employee_id,
					UpdatedTimestamp		= CURRENT_TIMESTAMP
			WHERE	TicketID				= @ticket_id
			AND		GageStatusID			= 1
		END

	IF @ticket_type_id = 2 
		BEGIN
			UPDATE	tblThreadCheckoutDetail
			SET		GageStatusID			= 3,
					UpdateUserID			= @user_employee_id,
					UpdatedTimestamp		= CURRENT_TIMESTAMP
			WHERE	TicketID				= @ticket_id
			AND		GageStatusID			= 1
		END

	if @current_ticket_status_id = 2
		BEGIN
			UPDATE	tblTicket
			SET		TicketStatusID			= 3,
			UpdateUserID			= @user_employee_id,
			UpdatedTimestamp				= CURRENT_TIMESTAMP
			WHERE	ID						= @ticket_id
		END

	UPDATE	tblTicket
	SET		TicketStatusID			= 4,
	UpdateUserID			= @user_employee_id,
	UpdatedTimestamp				= CURRENT_TIMESTAMP
	WHERE	ID						= @ticket_id
    
END
GO
