USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddCellLeader]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddCellLeader]
GO
/****** Object:  StoredProcedure [spAddCellLeader]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spAddCellLeader] 
		@first_name										varchar(255), 
		@last_name										varchar(255), 
		@cell_leader_email_address		varchar(320),
		@department_id								INT,
		@update_user_id								varchar(10)

AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO [tlkpCellLeaders]
           ([FirstName]
           ,[LastName]
           ,[IsActive]
           ,[CellLeadEmailAddress]
           ,[DepartmentID]
           ,[UpdateUserID])
     VALUES
           (	@first_name
						 ,@last_name
						 ,1
						 ,@cell_leader_email_address
						 ,@department_id
						 ,@update_user_id)

END
GO
