USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateCellLeader]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateCellLeader]
GO
/****** Object:  StoredProcedure [spUpdateCellLeader]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spUpdateCellLeader] 
		@id														INT,
		@first_name										varchar(255), 
		@last_name										varchar(255), 
		@is_active										smallint, 
		@cell_leader_email_address		varchar(320),
		@department_id								INT,
		@update_user_id								varchar(10)

AS
	BEGIN
		/*
			Procedure: spUpdateCellLeader
			Purpose:
				Updates cell leader details and ownership.
			Parameters:
				@id                          INT          - tlkpCellLeaders.ID to update.
				@first_name                  VARCHAR(255) - First name.
				@last_name                   VARCHAR(255) - Last name.
				@is_active                   SMALLINT     - Active flag.
				@cell_leader_email_address   VARCHAR(320) - Email address.
				@department_id               INT          - DepartmentID.
				@update_user_id              VARCHAR(10)  - Recorded in UpdateUserID.
			Behavior:
				- Updates corresponding tlkpCellLeaders columns (including UpdateUserID).
			Side Effects:
				Updates tlkpCellLeaders.
			Returns: None.
		*/
		UPDATE [tlkpCellLeaders]
			 SET [FirstName] = @first_name
					,[LastName] = @last_name
					,[IsActive] = @is_active
					,[CellLeadEmailAddress] = @cell_leader_email_address
					,[DepartmentID] = @department_id
					,[UpdateUserID] = @update_user_id
		 WHERE ID = @id
	END
GO
