USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spReturnTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spReturnTicket]
GO
/****** Object:  StoredProcedure [spReturnTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spReturnTicket]
	@ticket_id						INT,
	@user_employee_id				VARCHAR(10)
AS
BEGIN
	/*
		Procedure: spReturnTicket
		Purpose:
			Bulk returns all active items on a ticket and closes the ticket.
		Parameters:
			@ticket_id         INT         - Ticket identifier.
			@user_employee_id  VARCHAR(10) - User recorded in UpdateUserID for detail rows.
		Behavior:
			- Reads TicketTypeID from tblTicket.
			- If 1 (Pin): sets tblPinCheckoutDetail rows with GageStatusID=1 to 3 (Returned).
			- If 2 (Thread): sets tblThreadCheckoutDetail rows with GageStatusID=1 to 3 (Returned).
			- Sets tblTicket.TicketStatusID = 3 and updates UpdatedTimestamp.
		Side Effects:
			Updates tblPinCheckoutDetail or tblThreadCheckoutDetail and tblTicket.
		Returns: None.
		Notes:
			- CURRENT_TIMESTAMP used for audit fields.
			- Final ticket update does not set UpdateUserID.
	*/
	SET NOCOUNT ON;
	DECLARE @ticket_type_id INT
	
	SET @ticket_type_id = ( SELECT TicketTypeID FROM tblTicket
							WHERE ID = @ticket_id)



	IF @ticket_type_id = 1 
		BEGIN
			UPDATE	tblPinCheckoutDetail
			SET		GageStatusID			= 3,
					UpdateUserID			= @user_employee_id,
					UpdatedTimestamp		= CURRENT_TIMESTAMP
			WHERE	TicketID				= @ticket_id
			AND		GageStatusID			= 1
		END

	IF @ticket_type_id = 2 
		BEGIN
			UPDATE	tblThreadCheckoutDetail
			SET		GageStatusID			= 3,
					UpdateUserID			= @user_employee_id,
					UpdatedTimestamp		= CURRENT_TIMESTAMP
			WHERE	TicketID				= @ticket_id
			AND		GageStatusID			= 1
		END

	UPDATE	tblTicket
	SET		TicketStatusID			= 3,
	UpdatedTimestamp				= CURRENT_TIMESTAMP
	WHERE	ID						= @ticket_id
    
END
GO
