USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateTicketReassignCellLeader]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateTicketReassignCellLeader]
GO
/****** Object:  StoredProcedure [spUpdateTicketReassignCellLeader]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spUpdateTicketReassignCellLeader] 
		@ticket_id										INT,
		@cellLeaderID									INT,
		@update_user_id								VARCHAR(10)

AS
	BEGIN
		/*
			Procedure: spUpdateTicketReassignCellLeader
			Purpose:
				Reassigns the CellLeader for a ticket and updates audit fields.
			Parameters:
				@ticket_id       INT         - Ticket identifier.
				@cellLeaderID    INT         - New CellLeaderID.
				@update_user_id  VARCHAR(10) - User recorded in UpdateUserID.
			Behavior:
				- Updates tblTicket.CellLeaderID, UpdatedTimestamp, UpdateUserID.
			Side Effects:
				Updates tblTicket; uses CURRENT_TIMESTAMP.
			Returns: None.
		*/
		UPDATE tblTicket
			 SET	CellLeaderID = @cellLeaderID,
  					UpdatedTimestamp = CURRENT_TIMESTAMP,
						UpdateUserID = @update_user_id
		 WHERE ID = @ticket_id
	END
GO
