USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddOverdueEmailRun]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddOverdueEmailRun]
GO
/****** Object:  StoredProcedure [spAddOverdueEmailRun]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spAddOverdueEmailRun]
	@employee_number varchar(10)

AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @site_id INT = (Select SiteID from tlkpUser where EmployeeNumber = @employee_number)

	Insert into tblOverDueEmailRunLog (SiteID, UpdatedUserID) Values(@site_id, @employee_number)


END
GO
