USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddBin]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddBin]
GO
/****** Object:  StoredProcedure [spAddBin]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spAddBin]
	@bin_name varchar(50),
	@site_id	int,
	@part_numbers varchar(500),
	@notes varchar(2000)
AS
BEGIN
	/*
		Procedure: spAddBin
		Purpose:
			Add a new bin to a site.
		Parameters:
			@bin_name (VARCHAR(50)) - Bin name; stored uppercase.
			@site_id (INT) - Site owning the bin.
			@part_numbers (VARCHAR(500)) - Optional associated part numbers.
			@notes (VARCHAR(2000)) - Optional notes.
		Returns:
			None (no result set).
		Behavior:
			- Inserts a row into [tlkpBins] with [IsActive] = 1 and [BinName] = UPPER(@bin_name).
		Side Effects:
			- Writes to [tlkpBins].
	*/
	SET NOCOUNT ON;

	Insert into tlkpBins (BinName, SiteID,IsActive, PartNumbers, Notes)
	Values(upper(@bin_name), @site_id, 1, @part_numbers, @notes)

END
GO
