USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddMachineGroup]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddMachineGroup]
GO
/****** Object:  StoredProcedure [spAddMachineGroup]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spAddMachineGroup] 
	@machine_group_name				varchar(50),
	@department_id						INT,
	@weekday									INT				
AS
BEGIN

	SET NOCOUNT ON;
	INSERT into tlkpMachineGroup (MachineGroupNumber, IsActive, DepartmentID, WeekDay)
	Values (@machine_group_name, 1, @department_id, @weekday)

END
GO
