USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spActivateTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spActivateTicket]
GO
/****** Object:  StoredProcedure [spActivateTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [spActivateTicket]
	@ticket_id									INT,
	@operator_employee_number		VARCHAR(10),
	@operator_name							VARCHAR(150),
	@machine_group_id						INT,
	@cell_leader_id							INT,
	@job_number									VARCHAR(50),
	@machine_list								VARCHAR(500),
	@update_employee_number			VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ticket_status INT = (Select TicketStatusID from tblTicket where ID = @ticket_id)
	DECLARE @ticket_type_id INT = (Select TicketTypeID from tblTicket where ID = @ticket_id) 
	DECLARE @pin_checkout_id INT
	DECLARE @thread_checkout_id INT
	DECLARE @calibration_due_date as DATE

	If @ticket_status = 1
		BEGIN
			UPDATE	tblTicket
			SET			TicketStatusID					= 2,
							CellLeaderID						= @cell_leader_id,
							MachineGroupID					= @machine_group_id,
							JobLotNumber						= @job_number,
							OperatorEmployeeNumber	= @operator_employee_number,
							OperatorName						= @operator_name,
							MachineName							= @machine_list,
							UpdateUserID						= @update_employee_number,
							UpdatedTimestamp				= CURRENT_TIMESTAMP
			WHERE		ID											= @ticket_id

			IF @ticket_type_id = 1
				BEGIN
					DECLARE pin_cursor CURSOR FOR SELECT ID FROM tblPinCheckoutDetail WHERE TicketID = @ticket_id and GageStatusID = 1
					OPEN pin_cursor;
		
					FETCH NEXT FROM pin_cursor INTO @pin_checkout_id
					WHILE @@FETCH_STATUS = 0  
						BEGIN
							EXEC spGetPinCalibrationDueDate @pin_checkout_id, @calibration_due_date OUTPUT
							
							Update tblPinCheckoutDetail SET CalibrationDueDate = @calibration_due_date,
							UpdatedTimestamp = CURRENT_TIMESTAMP,
							UpdateUserID = @update_employee_number

							WHERE ID = @pin_checkout_id

							FETCH NEXT FROM pin_cursor INTO @pin_checkout_id
						END
					
					CLOSE pin_cursor;
					DEALLOCATE pin_cursor;
				END

			IF @ticket_type_id = 2
				BEGIN
					DECLARE thread_cursor CURSOR FOR SELECT ID FROM tblThreadCheckoutDetail WHERE TicketID = @ticket_id and GageStatusID = 1
					OPEN thread_cursor;
					FETCH NEXT FROM thread_cursor INTO @thread_checkout_id
					
					WHILE @@FETCH_STATUS = 0  
						BEGIN
							EXEC spGetThreadCalibrationDueDate @thread_checkout_id, @calibration_due_date OUTPUT
					
							Update tblThreadCheckoutDetail SET CalibrationDueDate = @calibration_due_date,
							UpdatedTimestamp = CURRENT_TIMESTAMP,
							UpdateUserID = @update_employee_number
							WHERE ID = @thread_checkout_id

							FETCH NEXT FROM thread_cursor INTO @thread_checkout_id
						END

					CLOSE thread_cursor;
					DEALLOCATE thread_cursor;
				END

			
			



		END
    
END
GO
