USE [GageCheckout]
GO
/****** Object:  StoredProcedure [GetEmployeeIDFromNetworkUserName]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [GetEmployeeIDFromNetworkUserName]
GO
/****** Object:  StoredProcedure [GetEmployeeIDFromNetworkUserName]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GetEmployeeIDFromNetworkUserName]
	@network_user_name				VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;
	DECLARE @operator_employee_id as varchar(10)

	SET @operator_employee_id = ISNULL((Select EmployeeNumber from tlkpUser where NetworkUserName = @network_user_name), '')

	if @operator_employee_id = ''
		Begin
			SET @operator_employee_id = '9999'
		end

	SELECT @operator_employee_id AS EmployeeId


END
GO
