USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateBin]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateBin]
GO
/****** Object:  StoredProcedure [spUpdateBin]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spUpdateBin] 
	@bin_id					INT,
	@is_active			smallint,
	@part_numbers		varchar(500),
	@notes					varchar(2000)				
AS
BEGIN

	SET NOCOUNT ON;
	UPDATE tlkpBins
	SET IsActive = @is_active, 
			PartNumbers = @part_numbers, 
			Notes = @notes
	WHERE ID = @bin_id
END
GO
