USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdatePinType]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdatePinType]
GO
/****** Object:  StoredProcedure [spUpdatePinType]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spUpdatePinType]
	@pintype_id								INT,
	@pintype							VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;
UPDATE [tlkpPinType]
   SET [PinType] = @pintype
	WHERE ID = @pintype_id

END
GO
