USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateSite]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateSite]
GO
/****** Object:  StoredProcedure [spUpdateSite]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spUpdateSite] 
	@site_id						INT,
	@site_name					varchar(50),
	@site_owner_email		varchar(320)				
AS
BEGIN
	/*
		Procedure: spUpdateSite
		Purpose:
			Updates site name and owner email.
		Parameters:
			@site_id          INT          - tblSite.ID to update.
			@site_name        VARCHAR(50)  - New site name.
			@site_owner_email VARCHAR(320) - New owner email.
		Behavior:
			- Updates tblSite.SiteName and SiteOwnerEmail.
		Side Effects:
			Updates tblSite.
		Returns: None.
	*/
	SET NOCOUNT ON;
UPDATE [tblSite]
   SET [SiteName] = @site_name
      ,[SiteOwnerEmail] = @site_owner_email
 WHERE ID = @site_id
END
GO
