USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetBinCalibrationList]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetBinCalibrationList]
GO
/****** Object:  StoredProcedure [spGetBinCalibrationList]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spGetBinCalibrationList]
	@bin_id int = 0,
	@page_number int = 1,
	@start_date varchar(15) = '',
	@end_date varchar(15) = ''

AS
	BEGIN
		/*
			Procedure: spGetBinCalibrationList
			Summary: Returns a paged list of pin calibration history for a bin with optional date filtering.
			Parameters:
			 - @bin_id INT: Bin identifier to filter the history.
			 - @page_number INT: 1-based page index; page size is 25.
			 - @start_date VARCHAR(15): Optional inclusive start date (MM/DD/YYYY).
			 - @end_date VARCHAR(15): Optional inclusive end date (MM/DD/YYYY).
			Returns: None.
			Result sets: A page of rows from qryPinCalibrationHistory filtered by BinID and date range.
			Side effects: None (prints and executes dynamic SQL).
			Reads: dbo.qryPinCalibrationHistory (view).
			Writes: None.
			Notes: Inputs are concatenated into dynamic SQL; ensure caller validates inputs.
			Permissions: EXECUTE on procedure and SELECT on underlying view.
			Change history:
			 - 2025-09-22 (GitHub Copilot): Added inline documentation.
		*/

		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);
		DECLARE @error_message nvarchar(max) = ''
	


		If (@start_date Is Not Null) AND (@start_date <> '') 
			BEGIN
				IF TRY_CAST(@start_date AS DATE) IS NULL
					SET @error_message = @start_date + 'Invalid start date.'+ @CRLF
			END

		If (@end_date Is Not Null) AND (@end_date <> '') 
			BEGIN
				IF TRY_CAST(@end_date AS DATE) IS NULL
					SET @error_message = @end_date + 'Invalid end date.'+ @CRLF
			END

		IF @error_message <> ''
			BEGIN
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			END


		set @sql = 'SELECT * from qryPinCalibrationHistory WHERE BinID = ' + cast(@bin_id as varchar);


		IF TRY_CAST(@start_date AS DATE) IS NOT NULL
			SET @sql = @sql + ' AND UpdatedTimestamp >= ''' + @start_date + ''''

		IF TRY_CAST(@end_date AS DATE) IS NOT NULL
			SET @sql = @sql + ' AND UpdatedTimestamp <= ''' + @end_date + ' 11:59:59 PM' + ''''




		SET @sql = @sql + ' ORDER BY UpdatedTimestamp OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';
	  PRINT @sql;
		EXEC(@sql);

	END
GO
