USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spMarkThreadGageAsMissing]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spMarkThreadGageAsMissing]
GO
/****** Object:  StoredProcedure [spMarkThreadGageAsMissing]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spMarkThreadGageAsMissing]
	
	@ticket_id								INT, 
	@threadgage_checkout_detail_id			INT,
	@user_employee_id						VARCHAR(10)
AS
/*
Procedure: [spMarkThreadGageAsMissing]
Purpose: Marks a specific thread gage checkout detail as Missing (GageStatusID=2). If no remaining gages on the ticket are Active (GageStatusID=1), sets the parent ticket status to 2.
Parameters:
  @ticket_id INT                       - Parent ticket ID.
  @threadgage_checkout_detail_id INT   - Checkout detail record to update.
  @user_employee_id VARCHAR(10)        - User performing the update (for audit fields).
Returns:
  - No result set; updates rows in [tblThreadCheckoutDetail] and possibly [tblTicket].
Behavior:
  - Only updates the detail row when current GageStatusID=1.
  - If all remaining detail rows for the ticket are not Active, updates ticket TicketStatusID=2.
Change Log:
  2025-09-22 - Added documentation block. No functional changes.
*/
BEGIN
	SET NOCOUNT ON;
	DECLARE @count_of_thread_gages as INT

	UPDATE	tblThreadCheckoutDetail
	SET		GageStatusID			= 2,
			UpdateUserID			= @user_employee_id,
			UpdatedTimestamp		= CURRENT_TIMESTAMP
	WHERE	ID						= @threadgage_checkout_detail_id
	AND		GageStatusID			= 1


	SET	@count_of_thread_gages = (	SELECT	COUNT(ID) 
									FROM	tblThreadCheckoutDetail
									WHERE	TicketID		= @ticket_id 
									AND		GageStatusID	= 1)


	IF @count_of_thread_gages = 0
		BEGIN
			UPDATE	tblTicket
			SET		TicketStatusID			= 2,
					UpdatedTimestamp		= CURRENT_TIMESTAMP,
					UpdateUserID			= @user_employee_id
			WHERE	ID						= @ticket_id
		END
    
END
GO
