USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spChangeTicketJobNumber]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spChangeTicketJobNumber]
GO
/****** Object:  StoredProcedure [spChangeTicketJobNumber]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spChangeTicketJobNumber] 
	@ticket_id						INT,
	@job_number						VARCHAR(50),
	@operator_employee_id			VARCHAR(10)
AS
BEGIN
	/*
		Procedure: spChangeTicketJobNumber
		Summary: Updates the JobLotNumber for a ticket.
		Parameters:
		 - @ticket_id INT: Target ticket ID.
		 - @job_number VARCHAR(50): New job/lot number (converted to upper-case).
		 - @operator_employee_id VARCHAR(10): Employee ID recorded as UpdateUserID.
		Returns: None.
		Result sets: None.
		Side effects: Updates dbo.tblTicket.JobLotNumber and audit fields.
		Reads: None.
		Writes: dbo.tblTicket.
		Permissions: EXECUTE on procedure and UPDATE on dbo.tblTicket.
		Change history:
		 - 2025-09-22 (GitHub Copilot): Added inline documentation.
	*/

	SET NOCOUNT ON;

	UPDATE tblTicket
	SET JobLotNumber		= Upper(@job_number),
	UpdateUserID			= @operator_employee_id,
	UpdatedTimestamp		= CURRENT_TIMESTAMP
	WHERE	ID				= @ticket_id

END
GO
