USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spModifyTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spModifyTicket]
GO
/****** Object:  StoredProcedure [spModifyTicket]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spModifyTicket] 
	@ticket_id								INT,
	@new_job_number						VARCHAR(50),
	@machine_name							VARCHAR(500),
	@operator_employee_id			VARCHAR(10)
AS
/*
Procedure: [spModifyTicket]
Purpose: Updates an existing ticket. If @new_job_number is provided (non-empty), updates JobLotNumber (upper-cased) and MachineName; otherwise only updates MachineName.
Parameters:
  @ticket_id INT             - Ticket primary key to update.
  @new_job_number VARCHAR(50)- Optional new job/lot number; empty string skips updating JobLotNumber.
  @machine_name VARCHAR(500) - Machine name(s), possibly comma-separated.
  @operator_employee_id VARCHAR(10) - User performing the update (stored in UpdateUserID).
Returns:
  - No explicit result set. Updates the row in [tblTicket]; sets UpdatedTimestamp = CURRENT_TIMESTAMP.
Notes:
  - @new_job_number is normalized to Upper() when applied.
  - Machine names are stored as a single string; see [spGetTicketMachineNames] to split.
Change Log:
  2025-09-22 - Added documentation block. No functional changes.
*/
BEGIN

	SET NOCOUNT ON;

	SET @new_job_number = ISNULL(@new_job_number, '')


	if @new_job_number = ''
		BEGIN
			UPDATE tblTicket
			SET MachineName			= @machine_name,
			UpdateUserID				= @operator_employee_id,
			UpdatedTimestamp		= CURRENT_TIMESTAMP
			WHERE	ID						= @ticket_id
		END

	ELSE
		BEGIN
			UPDATE tblTicket
			SET JobLotNumber		= Upper(@new_job_number),
			MachineName					= @machine_name,
			UpdateUserID				= @operator_employee_id,
			UpdatedTimestamp		= CURRENT_TIMESTAMP
			WHERE	ID						= @ticket_id
		END




END
GO
