USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetTicketDateRanges]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetTicketDateRanges]
GO
/****** Object:  StoredProcedure [spGetTicketDateRanges]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spGetTicketDateRanges]

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @dateRange TABLE 
	(	RangeDescription	nvarchar(50),
		BeginDate			Date,
		EndDate				Date
	)
	Declare @currentYear int
	

	Insert into @dateRange (RangeDescription, BeginDate, EndDate) Values ('Last 3 Months', DateAdd(day, -90, GetDate()), GetDate())
	Insert into @dateRange (RangeDescription, BeginDate, EndDate) Values ('Last 6 Months', DateAdd(day, -180, GetDate()), GetDate())
	Insert into @dateRange (RangeDescription, BeginDate, EndDate) Values ('6 to 12 Months Ago', DateAdd(day, -365, GetDate()), GetDate())


	SELECT distinct DATEPART(year, CreatedTimestamp) AS TicketYear 
	INTO #TicketYears
	FROM tblTicket

	While exists (Select * from #TicketYears)
	BEGIN
		SELECT @currentYear = (Select Min(TicketYear) from #TicketYears)
		
		IF @currentYear <  DATEPART(year, CURRENT_TIMESTAMP)
		BEGIN
			Declare @firstHalfBeginDate		Date
			Declare @firstHalfEndDate		Date
			Declare @secondHalfBeginDate	Date
			Declare @secondHalfEndDate		Date
			Declare @rangeDescription		Varchar(50)
			

			SELECT @firstHalfBeginDate = DATEFROMPARTS(@currentYear, 1, 1)
			SELECT @firstHalfEndDate = DATEFROMPARTS(@currentYear, 6, 30)
			SELECT @secondHalfBeginDate = DATEFROMPARTS(@currentYear, 7, 1)
			SELECT @secondHalfEndDate = DATEFROMPARTS(@currentYear, 12, 31)
			SELECT @rangeDescription = 'January-June ' +  Cast(@currentYear as varchar)
			Insert into @dateRange (RangeDescription, BeginDate, EndDate) Values (@rangeDescription, @firstHalfBeginDate, @firstHalfEndDate)
			SELECT @rangeDescription = 'July-December ' +  Cast(@currentYear as varchar)
			Insert into @dateRange (RangeDescription, BeginDate, EndDate) Values (@rangeDescription, @secondHalfBeginDate, @secondHalfEndDate)
		END
		delete #TicketYears where TicketYear = @currentYear

	END

	Select * from @dateRange
	Drop table #TicketYears


END
GO
