USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetThreadCalibrationListForPrinting]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetThreadCalibrationListForPrinting]
GO
/****** Object:  StoredProcedure [spGetThreadCalibrationListForPrinting]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [spGetThreadCalibrationListForPrinting]
	@thread_gage_id int = 0,
	@start_date varchar(15) = '',
	@end_date varchar(15) = ''

AS
	BEGIN
		SET NOCOUNT ON;

		DECLARE @sql varchar(max) = '';
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);
		DECLARE @error_message nvarchar(max) = ''
	


		If (@start_date Is Not Null) AND (@start_date <> '') 
			BEGIN
				IF TRY_CAST(@start_date AS DATE) IS NULL
					SET @error_message = @start_date + 'Invalid start date.'+ @CRLF
			END

		If (@end_date Is Not Null) AND (@end_date <> '') 
			BEGIN
				IF TRY_CAST(@end_date AS DATE) IS NULL
					SET @error_message = @end_date + 'Invalid end date.'+ @CRLF
			END

		IF @error_message <> ''
			BEGIN
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			END

		set @sql = 'SELECT * from qryThreadCalibrationHistory WHERE ThreadGageID = ' + cast(@thread_gage_id as varchar);

		IF TRY_CAST(@start_date AS DATE) IS NOT NULL
			SET @sql = @sql + ' AND CreatedTimestamp >= ''' + @start_date + ''''

		IF TRY_CAST(@end_date AS DATE) IS NOT NULL
			SET @sql = @sql + ' AND CreatedTimestamp <= ''' + @end_date + ' 11:59:59 PM' + ''''





		SET @sql = @sql + ' ORDER BY CreatedTimestamp';
	  PRINT @sql;
		EXEC(@sql);

	END
GO
