USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddDepartment]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddDepartment]
GO
/****** Object:  StoredProcedure [spAddDepartment]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spAddDepartment]
	@site_id	int,
	@department_name varchar(50),
	@departmentEmailAddress varchar(320),
	@calibrationMonthOddEven int,
	@calibrationWeekOddEven int
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [tlkpDepartment]
						 ([SiteID]
						 ,[IsActive]
						 ,[Department]
						 ,[DepartmentEmailAddress]
						 ,[CalibrationMonthOddEven]
						 ,[CalibrationWeekOddEven])
			 VALUES
						 (@site_id
						 ,1
						 ,@department_name
						 ,@departmentEmailAddress
						 ,@calibrationMonthOddEven
						 ,@calibrationWeekOddEven)


END
GO
