USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetTicketMachineNames]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetTicketMachineNames]
GO
/****** Object:  StoredProcedure [spGetTicketMachineNames]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spGetTicketMachineNames]
    @ticket_id INT
AS
/*
Procedure: [spGetTicketMachineNames]
Purpose: Splits a ticket's MachineName field into rows using comma separation.
Parameters:
  @ticket_id INT - Ticket to read from [tblTicket].
Returns:
  - Result set with a single column [MachineName], one row per comma-separated value.
Dependencies:
  - Uses scalar-splitting function [dbo].[fnSplitStringAsRows] to split MachineName.
Example:
  EXEC [spGetTicketMachineNames] @ticket_id = 123;
Change Log:
  2025-09-22 - Added documentation block. No functional changes.
*/
BEGIN
    SET NOCOUNT ON;
		DECLARE @machine_list varchar(1000) = (Select MachineName from tblTicket where ID = @ticket_id)


    SELECT value AS MachineName
    FROM dbo.fnSplitStringAsRows(@machine_list, ',');
END;
GO
