USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddThreadGage]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spAddThreadGage]
GO
/****** Object:  StoredProcedure [spAddThreadGage]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spAddThreadGage]
	@site_id	int,
	@threadgage_type_id int,
	@threadgage_name varchar(50),
	@thread_description varchar(50),
	@go_diameter decimal(9,5),
	@nogo_diameter decimal(9,5),
	@major_diameter decimal(9,5)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [tlkpThreadGages]
           ([SiteID]
           ,[ThreadGageTypeID]
           ,[ThreadGageName]
           ,[IsActive]
           ,[GoPitchDiameter]
           ,[NoGoPitchDiameter]
           ,[MajorDiameter]
           ,[ThreadDescription])
    VALUES
           (@site_id
           ,@threadgage_type_id
           ,@threadgage_name
           ,1
           ,@go_diameter
           ,@nogo_diameter
           ,@major_diameter
           ,@thread_description)


END
GO
