USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetThreadTicketList]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetThreadTicketList]
GO
/****** Object:  StoredProcedure [spGetThreadTicketList]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spGetThreadTicketList]
	@thread_gage_id int = 0,
	@page_number int = 1

AS
	BEGIN
		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
	
		set @sql = 'SELECT * from qryTicketsByThreadGage WHERE ThreadGageID = ' + cast(@thread_gage_id as varchar);

		SET @sql = @sql + ' ORDER BY ID OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';
	  PRINT @sql;
		EXEC(@sql);

	END
GO
