USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateMachineGroup]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateMachineGroup]
GO
/****** Object:  StoredProcedure [spUpdateMachineGroup]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spUpdateMachineGroup] 
	@machine_group_id					INT,
	@machine_group_name				varchar(50),
	@is_active								smallint,
	@department_id						INT,
	@weekday									INT				
AS
BEGIN
	/*
		Procedure: spUpdateMachineGroup
		Purpose:
			Updates machine group metadata.
		Parameters:
			@machine_group_id   INT         - tlkpMachineGroup.ID to update.
			@machine_group_name VARCHAR(50) - New MachineGroupNumber.
			@is_active          SMALLINT    - Active flag.
			@department_id      INT         - DepartmentID.
			@weekday            INT         - WeekDay.
		Behavior:
			- Updates tlkpMachineGroup fields accordingly.
		Side Effects:
			Updates tlkpMachineGroup.
		Returns: None.
	*/
	SET NOCOUNT ON;
	UPDATE tlkpMachineGroup 
	Set		MachineGroupNumber = @machine_group_name, 
				IsActive = @is_active, 
				DepartmentID =@department_id, 
				WeekDay = @weekday
	WHERE ID = @machine_group_id

END
GO
