USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spRecallMissingThreadGage]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spRecallMissingThreadGage]
GO
/****** Object:  StoredProcedure [spRecallMissingThreadGage]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spRecallMissingThreadGage]
	
	@threadgage_checkout_detail_id			INT,
	@user_employee_id						VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE	tblThreadCheckoutDetail
	SET		GageStatusID			= 3,
			UpdateUserID			= @user_employee_id,
			UpdatedTimestamp		= CURRENT_TIMESTAMP
	WHERE	ID						= @threadgage_checkout_detail_id
	

    
END
GO
