USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetFilteredOperatorList]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetFilteredOperatorList]
GO
/****** Object:  StoredProcedure [spGetFilteredOperatorList]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spGetFilteredOperatorList]
	@site_id smallint = 0,
	@ticket_number varchar(255) = '',
	@ticket_type_id int = 0,
	@cell_leader_id int = 0,
	@department_id int = 0,
	@machine_group_id int = 0,
	@page_number int = 1
AS
	/*
	Procedure: [spGetFilteredOperatorList]
	Purpose: Returns a distinct list of operator names for active tickets with optional filters.
	Parameters:
	  @site_id smallint      - Site filter (required).
	  @ticket_number varchar - Optional like-filter on TicketNumber.
	  @ticket_type_id int    - Optional type filter (1 or 2).
	  @cell_leader_id int    - Optional filter; must exist in tlkpCellLeaders.
	  @department_id int     - Optional filter; must belong to site in tlkpDepartment.
	  @machine_group_id int  - Optional filter; must exist in tlkpMachineGroup.
	  @page_number int       - Present but not used.
	Returns:
  - Result set with [OperatorName] distinct and ordered.
Notes:
  - Uses view [qryActiveTickets] and dynamic SQL.
  - Consider removing/using @page_number for consistency.
Change Log:
  2025-09-22 - Added documentation block. No functional changes.
*/
	BEGIN
		SET NOCOUNT ON;

		DECLARE @sql varchar(max) = '';
	
		set @sql = 'SELECT Distinct OperatorName from qryActiveTickets WHERE SiteID = ' + cast(@site_id as varchar);
	
		if @ticket_number <> ''
			BEGIN
				SET @sql = @sql + ' AND TicketNumber LIKE ''%' + @ticket_number + '%''';
			END

		if @ticket_type_id in (1,2)	
			BEGIN
				SET @sql = @sql + ' AND TicketTypeID = ' + cast(@ticket_type_id as varchar);
			END

		if @cell_leader_id in (Select ID from tlkpCellLeaders)
			BEGIN
				SET @sql = @sql + ' AND CellLeaderID = ' + cast(@cell_leader_id as varchar);
			END

		if @department_id in (select id from tlkpDepartment where SiteID = @site_id)
			BEGIN
				SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END

		if @machine_group_id in (Select ID from tlkpMachineGroup)
			BEGIN
				SET @sql = @sql + ' AND MachineGroupID = ' + cast(@machine_group_id as varchar);
			END

		SET @sql = @sql + ' ORDER BY OperatorName';
	  EXEC(@sql);

	END
GO
