USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateThreadType]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateThreadType]
GO
/****** Object:  StoredProcedure [spUpdateThreadType]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spUpdateThreadType]
	@threadType_id								INT,
	@threadType							VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;
	UPDATE [tlkpThreadType]
   SET [ThreadType] = @threadType
	 WHERE ID = @threadType_id

END
GO
