USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateTicketThread]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateTicketThread]
GO
/****** Object:  StoredProcedure [spUpdateTicketThread]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [spUpdateTicketThread] 
	@thread_checkout_detail_id	INT,
	@daily_cal									Smallint,
	@operator_employee_id				VARCHAR(10)
AS
BEGIN
	/*
		Procedure: spUpdateTicketThread
		Purpose:
			Updates DailyCalibration for a thread checkout detail and recalculates CalibrationDueDate
			when the DailyCalibration value changes.
		Parameters:
			@thread_checkout_detail_id INT        - tblThreadCheckoutDetail.ID to update.
			@daily_cal                  SMALLINT   - New DailyCalibration value.
			@operator_employee_id       VARCHAR(10)- User recorded in UpdateUserID.
		Behavior:
			- If value changes, update DailyCalibration and audit fields.
			- Calls spGetThreadCalibrationDueDate to compute @calibration_due_date.
			- Updates CalibrationDueDate and audit fields.
		Side Effects:
			Updates tblThreadCheckoutDetail; uses CURRENT_TIMESTAMP.
		Returns: None.
	*/

	SET NOCOUNT ON;
	Declare @existing_daily_cal_value smallint
	DECLARE @calibration_due_date as DATE

	SET @existing_daily_cal_value = (select DailyCalibration from tblThreadCheckoutDetail where ID = @thread_checkout_detail_id)
	
	IF @daily_cal <> @existing_daily_cal_value
		BEGIN
			UPDATE tblThreadCheckoutDetail
			SET DailyCalibration	= @daily_cal,
			UpdatedTimestamp	= CURRENT_TIMESTAMP, 
			UpdateUserID			= @operator_employee_id
			WHERE				ID = @thread_checkout_detail_id

			EXEC spGetThreadCalibrationDueDate @thread_checkout_detail_id, @calibration_due_date OUTPUT
			
			UPDATE tblThreadCheckoutDetail
			Set CalibrationDueDate = @calibration_due_date, 
			UpdatedTimestamp	= CURRENT_TIMESTAMP, 
			UpdateUserID			= @operator_employee_id
			WHERE				ID = @thread_checkout_detail_id
		END

END
GO
