USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateDepartment]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spUpdateDepartment]
GO
/****** Object:  StoredProcedure [spUpdateDepartment]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spUpdateDepartment]
	@department_id								INT,
	@department_name							VARCHAR(50),
	@is_active										smallint,
	@departmentEmailAddress				varchar(320),
	@calibration_month_odd_even		INT,
	@calibration_week_odd_even	  INT
AS
BEGIN
	/*
		Procedure: spUpdateDepartment
		Purpose:
			Updates department metadata and calibration scheduling flags.
		Parameters:
			@department_id               INT          - tlkpDepartment.ID to update.
			@department_name             VARCHAR(50)  - Department name.
			@is_active                   SMALLINT     - Active flag.
			@departmentEmailAddress      VARCHAR(320) - Notification email.
			@calibration_month_odd_even  INT          - Month odd/even flag.
			@calibration_week_odd_even   INT          - Week odd/even flag.
		Behavior:
			- Updates corresponding tlkpDepartment columns.
		Side Effects:
			Updates tlkpDepartment.
		Returns: None.
	*/
	SET NOCOUNT ON;
	Update tlkpDepartment 
	SET		Department									= @department_name,
				IsActive										= @is_active,
				DepartmentEmailAddress			= @departmentEmailAddress,
				CalibrationMonthOddEven			= @calibration_month_odd_even,
				CalibrationWeekOddEven			= @calibration_week_odd_even
	WHERE ID = @department_id

END
GO
