USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetThreadCalibrationDueDate]    Script Date: 9/22/2025 7:45:44 AM ******/
DROP PROCEDURE [spGetThreadCalibrationDueDate]
GO
/****** Object:  StoredProcedure [spGetThreadCalibrationDueDate]    Script Date: 9/22/2025 7:45:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [spGetThreadCalibrationDueDate]
	@thread_checkout_detail_id						INT,
	@cal_due_date								Date OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
	Declare @ticket_id					INT
	Declare @gage_status_id				INT
	Declare @ticket_type_id				INT
	Declare @department_id				INT
	Declare @department_oddeven			INT
	Declare @current_week_oddeven		INT
	DECLARE @adddays					int
	declare @daily_cal					SMALLINT

	set @cal_due_date = '19800101'
	set @ticket_id = (Select TicketID from tblThreadCheckoutDetail WHERE ID = @thread_checkout_detail_id)
	set @gage_status_id= (Select GageStatusID from tblThreadCheckoutDetail WHERE ID = @thread_checkout_detail_id)
	Set @daily_cal = (Select DailyCalibration from tblThreadCheckoutDetail WHERE ID = @thread_checkout_detail_id)
	set @ticket_type_id = (Select TicketTypeID from tblTicket WHERE ID = @ticket_id)
	set @department_id = (Select DepartmentID from tblTicket WHERE ID = @ticket_id)
	set @department_oddeven = (Select tlkpDepartment.CalibrationWeekOddEven from tlkpDepartment where ID = @department_id)
	set @current_week_oddeven = (datepart(week, GetDate()) % 2)
	set @adddays = 6-DATEPART(dw,GETDATE())

	if (@gage_status_id = 1 AND @ticket_type_id = 2)
		BEGIN
			
			if @daily_cal = 1
				BEGIN
					set @cal_due_date = (SELECT dbo.fnAddWeekdays ( GetDate(), 1))
				END
			else if @daily_cal = 7
				BEGIN
					set @cal_due_date = DateAdd(d, @adddays, DATEADD(wk, 1, GETDATE()))
				END
			else
				BEGIN
					if @department_oddeven = @current_week_oddeven
						begin
							set @cal_due_date = DateAdd(d, @adddays, DATEADD(wk, 2, GETDATE()))
						end
					else
						begin
							set @cal_due_date = DateAdd(d, @adddays, DATEADD(wk, 1, GETDATE()))
						end
				END
		END

	select @cal_due_date

END
GO
