USE [GageCheckout]
GO
/****** Object:  View [qryLatestOverdueEmailRun]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryLatestOverdueEmailRun]
GO
/****** Object:  View [qryLatestOverdueEmailRun]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [qryLatestOverdueEmailRun]
AS
SELECT        dbo.tlkpUser.FullName, A.SiteID, CONVERT(varchar, A.RunDate, 22) AS MaxRunDate
FROM            dbo.tblOverDueEmailRunLog A LEFT OUTER JOIN
                         dbo.tlkpUser ON A.UpdatedUserID = dbo.tlkpUser.EmployeeNumber
WHERE A.RunDate = (Select Max(B.RunDate) from dbo.tblOverDueEmailRunLog B WHERE A.SiteID = B.SiteID)
GO
