USE [GageCheckout]
GO
/****** Object:  View [quniLastCalibrationDate]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [quniLastCalibrationDate]
GO
/****** Object:  View [quniLastCalibrationDate]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [quniLastCalibrationDate]
AS
SELECT        MAX(ID) AS ID, TicketID, MAX(LastCalibratedBy) AS LastCalibratedBy, MAX(LastCalibrationDate) AS LastCalibrationDate, MIN(CalibrationDueDate) AS CalibrationDueDate
FROM            dbo.qsubPinCalibrationDueDate
GROUP BY TicketID
UNION
SELECT        MAX(ID) AS ID, TicketID, MAX(LastCalibratedBy) AS LastCalibratedBy, MAX(LastCalibrationDate) AS LastCalibrationDate, MIN(CalibrationDueDate) AS CalibrationDueDate
FROM            dbo.qsubThreadCalibrationDueDate
GROUP BY TicketID
GO
