USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByThreadGage'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByThreadGage'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByThreadGage'
GO
/****** Object:  View [qryTicketsByThreadGage]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryTicketsByThreadGage]
GO
/****** Object:  View [qryTicketsByThreadGage]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryTicketsByThreadGage]
AS
SELECT        dbo.tblTicket.TicketNumber, dbo.tblTicket.MachineName, dbo.tblTicket.OperatorEmployeeNumber, dbo.tblTicket.OperatorName, dbo.tblTicket.JobLotNumber, dbo.tblTicket.PartNumber, dbo.tblTicket.UpdatedTimestamp, 
                         dbo.tlkpDepartment.Department, dbo.qryMachineGroups.MachineGroupName, dbo.tblTicket.ID, dbo.tblTicket.CreatedTimestamp, dbo.tlkpCellLeaders.FullName AS CellLeaderName, dbo.tblTicket.SiteID, 
                         dbo.tlkpTicketStatus.TicketStatus, dbo.tblThreadCheckoutDetail.ThreadGageID, dbo.tlkpThreadGages.ThreadGageName, dbo.tlkpGageStatus.GageStatus, dbo.tblThreadCheckoutDetail.LastCalibrationDate, 
                         dbo.tlkpUser.FullName AS LastCalibratedBy
FROM            dbo.tblTicket INNER JOIN
                         dbo.tblThreadCheckoutDetail ON dbo.tblTicket.ID = dbo.tblThreadCheckoutDetail.TicketID INNER JOIN
                         dbo.tlkpThreadGages ON dbo.tblThreadCheckoutDetail.ThreadGageID = dbo.tlkpThreadGages.ID LEFT OUTER JOIN
                         dbo.tlkpUser ON dbo.tblThreadCheckoutDetail.LastCalibratedBy = dbo.tlkpUser.EmployeeNumber LEFT OUTER JOIN
                         dbo.tlkpGageStatus ON dbo.tblThreadCheckoutDetail.GageStatusID = dbo.tlkpGageStatus.ID LEFT OUTER JOIN
                         dbo.tlkpTicketStatus ON dbo.tblTicket.TicketStatusID = dbo.tlkpTicketStatus.ID LEFT OUTER JOIN
                         dbo.tlkpCellLeaders ON dbo.tblTicket.CellLeaderID = dbo.tlkpCellLeaders.ID LEFT OUTER JOIN
                         dbo.tlkpDepartment ON dbo.tblTicket.DepartmentID = dbo.tlkpDepartment.ID LEFT OUTER JOIN
                         dbo.qryMachineGroups ON dbo.tblTicket.MachineGroupID = dbo.qryMachineGroups.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[55] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblTicket"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 201
               Right = 270
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblThreadCheckoutDetail"
            Begin Extent = 
               Top = 230
               Left = 497
               Bottom = 432
               Right = 690
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadGages"
            Begin Extent = 
               Top = 42
               Left = 1148
               Bottom = 295
               Right = 1353
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpGageStatus"
            Begin Extent = 
               Top = 535
               Left = 1028
               Bottom = 631
               Right = 1198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpTicketStatus"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 366
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpCellLeaders"
            Begin Extent = 
               Top = 39
               Left = 880
               Bottom = 169
               Right = 1085
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpDepartment"
            Begin Extent = 
               Top = 402
               Left = 38
               Bottom = 532
               ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByThreadGage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Right = 269
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryMachineGroups"
            Begin Extent = 
               Top = 534
               Left = 38
               Bottom = 664
               Right = 250
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpUser"
            Begin Extent = 
               Top = 229
               Left = 1267
               Bottom = 567
               Right = 1479
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByThreadGage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByThreadGage'
GO
