USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActiveThreadGages'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActiveThreadGages'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActiveThreadGages'
GO
/****** Object:  View [qryActiveThreadGages]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryActiveThreadGages]
GO
/****** Object:  View [qryActiveThreadGages]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryActiveThreadGages]
AS
SELECT        dbo.tblTicket.ID, dbo.tlkpDepartment.Department, dbo.tblTicket.TicketNumber, dbo.tlkpThreadGages.ThreadGageName, dbo.tlkpThreadGages.ThreadDescription, dbo.tlkpThreadGages.ThreadUnitOfMeasure, 
                         dbo.tblThreadCheckoutDetail.ID AS ThreadGageDetailID, dbo.tlkpThreadGages.ID AS ThreadGageID, dbo.qryMachineGroups.MachineGroupName, dbo.tblThreadCheckoutDetail.DailyCalibration, dbo.tblTicket.MachineName, 
                         dbo.tblTicket.OperatorName, dbo.tblTicket.SiteID, dbo.tlkpThreadGages.ThreadGageTypeID, dbo.tlkpThreadType.ThreadType, dbo.tlkpTicketType.TicketType, dbo.tblTicket.PartNumber, dbo.tblTicket.TicketTypeID
FROM            dbo.tlkpDepartment RIGHT OUTER JOIN
                         dbo.tblTicket LEFT OUTER JOIN
                         dbo.tlkpTicketType ON dbo.tblTicket.TicketTypeID = dbo.tlkpTicketType.ID LEFT OUTER JOIN
                         dbo.qryMachineGroups ON dbo.tblTicket.MachineGroupID = dbo.qryMachineGroups.ID LEFT OUTER JOIN
                         dbo.tblThreadCheckoutDetail ON dbo.tblTicket.ID = dbo.tblThreadCheckoutDetail.TicketID ON dbo.tlkpDepartment.ID = dbo.tblTicket.DepartmentID LEFT OUTER JOIN
                         dbo.tlkpThreadType RIGHT OUTER JOIN
                         dbo.tlkpThreadGages ON dbo.tlkpThreadType.ID = dbo.tlkpThreadGages.ThreadGageTypeID ON dbo.tblThreadCheckoutDetail.ThreadGageID = dbo.tlkpThreadGages.ID
WHERE        (dbo.tblTicket.TicketTypeID = 2) AND (dbo.tblTicket.TicketStatusID IN (1, 2)) AND (dbo.tblThreadCheckoutDetail.GageStatusID = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[58] 4[30] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tlkpDepartment"
            Begin Extent = 
               Top = 272
               Left = 383
               Bottom = 439
               Right = 614
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblTicket"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 335
               Right = 270
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tlkpTicketType"
            Begin Extent = 
               Top = 178
               Left = 1527
               Bottom = 314
               Right = 1697
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryMachineGroups"
            Begin Extent = 
               Top = 240
               Left = 968
               Bottom = 409
               Right = 1168
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblThreadCheckoutDetail"
            Begin Extent = 
               Top = 0
               Left = 375
               Bottom = 260
               Right = 568
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadType"
            Begin Extent = 
               Top = 72
               Left = 1208
               Bottom = 168
               Right = 1378
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadGages"
            Begin Extent = 
               Top = 120
               Left = 741
               Bottom = 310
               ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActiveThreadGages'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Right = 946
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3825
         Alias = 2565
         Table = 3210
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActiveThreadGages'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActiveThreadGages'
GO
