USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActivePins'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActivePins'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActivePins'
GO
/****** Object:  View [qryActivePins]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryActivePins]
GO
/****** Object:  View [qryActivePins]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryActivePins]
AS
SELECT        dbo.tblTicket.TicketNumber, dbo.tblTicket.MachineName, dbo.tblTicket.OperatorEmployeeNumber, dbo.tblTicket.OperatorName, dbo.tblTicket.JobLotNumber, dbo.tblTicket.PartNumber, dbo.tblTicket.UpdatedTimestamp, 
                         dbo.qryCountOfPins.PinDiameter, dbo.qryCountOfPins.PinType, dbo.qryCountOfPins.NumberOfPins, dbo.tlkpDepartment.Department, dbo.qryMachineGroups.MachineGroupName, dbo.qryCountOfPins.BinName, 
                         dbo.qryCountOfPins.BinID, dbo.tblTicket.ID, dbo.tblTicket.CreatedTimestamp, dbo.qryCountOfPins.PinTypeID, dbo.tlkpCellLeaders.FullName AS CellLeaderName, dbo.tblTicket.SiteID
FROM            dbo.tblTicket LEFT OUTER JOIN
                         dbo.tlkpCellLeaders ON dbo.tblTicket.CellLeaderID = dbo.tlkpCellLeaders.ID LEFT OUTER JOIN
                         dbo.tlkpDepartment ON dbo.tblTicket.DepartmentID = dbo.tlkpDepartment.ID LEFT OUTER JOIN
                         dbo.qryMachineGroups ON dbo.tblTicket.MachineGroupID = dbo.qryMachineGroups.ID LEFT OUTER JOIN
                         dbo.qryCountOfPins ON dbo.tblTicket.ID = dbo.qryCountOfPins.TicketID
WHERE        (dbo.tblTicket.TicketTypeID = 1) AND (dbo.tblTicket.TicketStatusID IN (1, 2))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[55] 4[35] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblTicket"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 401
               Right = 269
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpCellLeaders"
            Begin Extent = 
               Top = 59
               Left = 1244
               Bottom = 368
               Right = 1449
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tlkpDepartment"
            Begin Extent = 
               Top = 6
               Left = 619
               Bottom = 102
               Right = 789
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryMachineGroups"
            Begin Extent = 
               Top = 131
               Left = 794
               Bottom = 304
               Right = 994
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryCountOfPins"
            Begin Extent = 
               Top = 288
               Left = 469
               Bottom = 493
               Right = 639
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActivePins'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'   End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4500
         Alias = 3720
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActivePins'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryActivePins'
GO
