USE [GageCheckout]
GO
/****** Object:  View [qryCountOfPins]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryCountOfPins]
GO
/****** Object:  View [qryCountOfPins]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [qryCountOfPins]
AS
SELECT DISTINCT 
                         dbo.tblPinCheckoutDetail.TicketID, 
												 dbo.tblPinCheckoutDetail.PinDiameter, 
												 dbo.tlkpPinType.PinType, COUNT(dbo.tblPinCheckoutDetail.ID) AS NumberOfPins, 
												 dbo.tlkpPinType.ID AS PinTypeID, 
												 dbo.tblPinCheckoutDetail.BinID, 
                         dbo.tlkpBins.BinName
FROM            dbo.tblPinCheckoutDetail LEFT OUTER JOIN
                         dbo.tlkpBins ON dbo.tblPinCheckoutDetail.BinID = dbo.tlkpBins.ID LEFT OUTER JOIN
                         dbo.tlkpPinType ON dbo.tblPinCheckoutDetail.PinTypeID = dbo.tlkpPinType.ID
												 WHERE tblPinCheckoutDetail.GageStatusID = 1
GROUP BY dbo.tblPinCheckoutDetail.TicketID, 
dbo.tblPinCheckoutDetail.PinDiameter, 
dbo.tlkpPinType.PinType, 
dbo.tblPinCheckoutDetail.GageStatusID, 
dbo.tlkpPinType.ID, 
dbo.tblPinCheckoutDetail.BinID, 
dbo.tlkpBins.BinName

GO
