USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketHistory'
GO
/****** Object:  View [qryTicketHistory]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryTicketHistory]
GO
/****** Object:  View [qryTicketHistory]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryTicketHistory]
AS
SELECT        dbo.tblTicketHistory.TicketNumber, dbo.tlkpRecordEventType.RecordEventType, dbo.tblTicketHistory.TicketID, dbo.tblTicketHistory.TicketTypeID, dbo.tblTicketHistory.MachineName, dbo.tblTicketHistory.MachineGroupID, 
                         dbo.tblTicketHistory.DepartmentID, dbo.tblTicketHistory.OperatorEmployeeNumber, dbo.tblTicketHistory.OperatorName, dbo.tblTicketHistory.TicketStatusID, dbo.tblTicketHistory.JobLotNumber, dbo.tblTicketHistory.PartNumber, 
                         dbo.tblTicketHistory.CreatedTimestamp, dbo.tblTicketHistory.UpdateUserID, dbo.tlkpDepartment.Department, dbo.tlkpTicketStatus.TicketStatus, dbo.tlkpTicketType.TicketType, 
                         dbo.qryMachineGroups.MachineGroupName AS MachineGroupNumber, CASE WHEN dbo.tblTicketHistory.OperatorEmployeeNumber = dbo.tblTicketHistory.UpdateUserID THEN dbo.tblTicketHistory.OperatorName ELSE
                             (SELECT        FullName
                               FROM            tlkpUser
                               WHERE        tlkpUser.EmployeeNumber = dbo.tblTicketHistory.UpdateUserID) END AS UpdatedBy, dbo.qryAllCellLeaders.FullName AS CellLeaderName
FROM            dbo.tblTicketHistory INNER JOIN
                         dbo.tlkpDepartment ON dbo.tblTicketHistory.DepartmentID = dbo.tlkpDepartment.ID INNER JOIN
                         dbo.tlkpTicketStatus ON dbo.tblTicketHistory.TicketStatusID = dbo.tlkpTicketStatus.ID INNER JOIN
                         dbo.tlkpTicketType ON dbo.tblTicketHistory.TicketTypeID = dbo.tlkpTicketType.ID INNER JOIN
                         dbo.qryMachineGroups ON dbo.tblTicketHistory.MachineGroupID = dbo.qryMachineGroups.ID INNER JOIN
                         dbo.tlkpRecordEventType ON dbo.tblTicketHistory.RecordEventTypeID = dbo.tlkpRecordEventType.ID INNER JOIN
                         dbo.qryAllCellLeaders ON dbo.tblTicketHistory.CellLeaderID = dbo.qryAllCellLeaders.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[20] 4[53] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblTicketHistory"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 342
               Right = 270
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpDepartment"
            Begin Extent = 
               Top = 282
               Left = 32
               Bottom = 412
               Right = 263
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpTicketStatus"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 366
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpTicketType"
            Begin Extent = 
               Top = 270
               Left = 246
               Bottom = 366
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryMachineGroups"
            Begin Extent = 
               Top = 366
               Left = 38
               Bottom = 496
               Right = 238
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpRecordEventType"
            Begin Extent = 
               Top = 366
               Left = 276
               Bottom = 462
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryAllCellLeaders"
            Begin Extent = 
               Top = 27
               Left = 1411
               Bottom = 349
             ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'  Right = 1616
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketHistory'
GO
