USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByBin'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByBin'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByBin'
GO
/****** Object:  View [qryTicketsByBin]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryTicketsByBin]
GO
/****** Object:  View [qryTicketsByBin]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryTicketsByBin]
AS
SELECT        dbo.tblTicket.TicketNumber, dbo.tblTicket.MachineName, dbo.tblTicket.OperatorEmployeeNumber, dbo.tblTicket.OperatorName, dbo.tblTicket.JobLotNumber, dbo.tblTicket.PartNumber, dbo.tblTicket.UpdatedTimestamp, 
                         dbo.tlkpDepartment.Department, dbo.qryMachineGroups.MachineGroupName, dbo.tblTicket.ID, dbo.tblTicket.CreatedTimestamp, dbo.tlkpCellLeaders.FullName AS CellLeaderName, dbo.tblTicket.SiteID, 
                         dbo.tlkpTicketStatus.TicketStatus, dbo.tblPinCheckoutDetail.BinID, dbo.tlkpBins.BinName, dbo.tblPinCheckoutDetail.LastCalibrationDate, dbo.tlkpUser.ShortName AS LastCalibratedBy, dbo.tlkpGageStatus.GageStatus
FROM            dbo.tlkpUser RIGHT OUTER JOIN
                         dbo.tlkpGageStatus RIGHT OUTER JOIN
                         dbo.tlkpDepartment RIGHT OUTER JOIN
                         dbo.tlkpBins INNER JOIN
                         dbo.tblPinCheckoutDetail ON dbo.tlkpBins.ID = dbo.tblPinCheckoutDetail.BinID LEFT OUTER JOIN
                         dbo.tblTicket ON dbo.tblPinCheckoutDetail.TicketID = dbo.tblTicket.ID LEFT OUTER JOIN
                         dbo.tlkpTicketStatus ON dbo.tblTicket.TicketStatusID = dbo.tlkpTicketStatus.ID LEFT OUTER JOIN
                         dbo.tlkpCellLeaders ON dbo.tblTicket.CellLeaderID = dbo.tlkpCellLeaders.ID ON dbo.tlkpDepartment.ID = dbo.tblTicket.DepartmentID LEFT OUTER JOIN
                         dbo.qryMachineGroups ON dbo.tblTicket.MachineGroupID = dbo.qryMachineGroups.ID ON dbo.tlkpGageStatus.ID = dbo.tblPinCheckoutDetail.GageStatusID ON 
                         dbo.tlkpUser.EmployeeNumber = dbo.tblPinCheckoutDetail.LastCalibratedBy
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[50] 4[3] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblTicket"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 426
               Right = 270
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblPinCheckoutDetail"
            Begin Extent = 
               Top = 43
               Left = 510
               Bottom = 388
               Right = 703
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpBins"
            Begin Extent = 
               Top = 198
               Left = 1208
               Bottom = 328
               Right = 1378
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpUser"
            Begin Extent = 
               Top = 28
               Left = 987
               Bottom = 421
               Right = 1199
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpTicketStatus"
            Begin Extent = 
               Top = 308
               Left = 339
               Bottom = 404
               Right = 509
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpCellLeaders"
            Begin Extent = 
               Top = 490
               Left = 1255
               Bottom = 620
               Right = 1460
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpDepartment"
            Begin Extent = 
               Top = 478
               Left = 485
               Bottom = 608
               Right = 716
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByBin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'          End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryMachineGroups"
            Begin Extent = 
               Top = 357
               Left = 1270
               Bottom = 487
               Right = 1482
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpGageStatus"
            Begin Extent = 
               Top = 500
               Left = 942
               Bottom = 596
               Right = 1112
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 19
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2550
         Alias = 1935
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByBin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryTicketsByBin'
GO
