USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCountOfAllPins'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCountOfAllPins'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCountOfAllPins'
GO
/****** Object:  View [qryCountOfAllPins]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryCountOfAllPins]
GO
/****** Object:  View [qryCountOfAllPins]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryCountOfAllPins]
AS
SELECT DISTINCT 
                         dbo.tblPinCheckoutDetail.TicketID, dbo.tblPinCheckoutDetail.PinDiameter, dbo.tlkpPinType.PinType, COUNT(dbo.tblPinCheckoutDetail.ID) AS NumberOfPins, dbo.tlkpPinType.ID AS PinTypeID, dbo.tblPinCheckoutDetail.BinID, 
                         dbo.tlkpBins.BinName, dbo.tblPinCheckoutDetail.GageStatusID, dbo.tlkpGageStatus.GageStatus
FROM            dbo.tblPinCheckoutDetail LEFT OUTER JOIN
                         dbo.tlkpGageStatus ON dbo.tblPinCheckoutDetail.GageStatusID = dbo.tlkpGageStatus.ID LEFT OUTER JOIN
                         dbo.tlkpBins ON dbo.tblPinCheckoutDetail.BinID = dbo.tlkpBins.ID LEFT OUTER JOIN
                         dbo.tlkpPinType ON dbo.tblPinCheckoutDetail.PinTypeID = dbo.tlkpPinType.ID
GROUP BY dbo.tblPinCheckoutDetail.TicketID, dbo.tblPinCheckoutDetail.PinDiameter, dbo.tlkpPinType.PinType, dbo.tblPinCheckoutDetail.GageStatusID, dbo.tlkpPinType.ID, dbo.tblPinCheckoutDetail.BinID, dbo.tlkpBins.BinName, 
                         dbo.tlkpGageStatus.GageStatus
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblPinCheckoutDetail"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 285
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpBins"
            Begin Extent = 
               Top = 193
               Left = 325
               Bottom = 323
               Right = 511
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpPinType"
            Begin Extent = 
               Top = 133
               Left = 590
               Bottom = 229
               Right = 776
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpGageStatus"
            Begin Extent = 
               Top = 45
               Left = 991
               Bottom = 141
               Right = 1177
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
     ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCountOfAllPins'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'    Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCountOfAllPins'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCountOfAllPins'
GO
