USE [GageCheckout]
GO
/****** Object:  View [qryPinHistory]    Script Date: 9/22/2025 7:44:37 AM ******/
DROP VIEW [qryPinHistory]
GO
/****** Object:  View [qryPinHistory]    Script Date: 9/22/2025 7:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [qryPinHistory]
AS
SELECT        dbo.tblPinCheckoutDetail.ID, dbo.tblPinCheckoutDetail.TicketID, dbo.tblPinCheckoutHistory.RecordEventTypeID, dbo.tblPinCheckoutHistory.PinCalibrationID, dbo.tblPinCheckoutHistory.GageStatusID, dbo.tblPinCheckoutHistory.LastCalibratedBy, 
                         dbo.tblPinCheckoutHistory.LastCalibrationDate, dbo.tblPinCheckoutHistory.CreatedTimestamp, dbo.tblPinCheckoutHistory.UpdateUserID, dbo.tblPinCheckoutDetail.PinDiameter, dbo.tlkpPinType.PinType, 
                         dbo.tlkpRecordEventType.RecordEventType, dbo.tlkpUser.FirstName + ' ' + dbo.tlkpUser.LastName AS LastCalibratedUserName, dbo.tblTicket.TicketNumber, dbo.tlkpGageStatus.GageStatus, 
                         dbo.tblTicket.OperatorEmployeeNumber, dbo.tblTicket.OperatorName, dbo.tlkpBins.BinName, Case 
								When dbo.tblTicket.OperatorEmployeeNumber = dbo.tblPinCheckoutHistory.UpdateUserID THEN dbo.tblTicket.OperatorName
								Else (Select FullName from tlkpUser where tlkpUser.EmployeeNumber = dbo.tblPinCheckoutHistory.UpdateUserID)
								END AS UpdatedBy
FROM            dbo.tlkpGageStatus RIGHT OUTER JOIN
                         dbo.tlkpPinType RIGHT OUTER JOIN
                         dbo.tblTicket RIGHT OUTER JOIN
                         dbo.tblPinCheckoutHistory LEFT OUTER JOIN
                         dbo.tblPinCheckoutDetail LEFT OUTER JOIN
                         dbo.tlkpBins ON dbo.tblPinCheckoutDetail.BinID = dbo.tlkpBins.ID ON dbo.tblPinCheckoutHistory.PinCheckoutDetailID = dbo.tblPinCheckoutDetail.ID ON dbo.tblTicket.ID = dbo.tblPinCheckoutDetail.TicketID ON 
                         dbo.tlkpPinType.ID = dbo.tblPinCheckoutDetail.PinTypeID LEFT OUTER JOIN
                         dbo.tlkpUser ON dbo.tblPinCheckoutHistory.LastCalibratedBy = dbo.tlkpUser.EmployeeNumber ON dbo.tlkpGageStatus.ID = dbo.tblPinCheckoutHistory.GageStatusID LEFT OUTER JOIN
                         dbo.tlkpRecordEventType ON dbo.tblPinCheckoutHistory.RecordEventTypeID = dbo.tlkpRecordEventType.ID
GO
