USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetPinCalibrationDueDate]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spGetPinCalibrationDueDate]
GO
/****** Object:  StoredProcedure [spGetPinCalibrationDueDate]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spGetPinCalibrationDueDate]
	@pin_checkout_detail_id						INT,
	@cal_due_date								Date OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
	Declare @ticket_id				INT
	Declare @gage_status_id			INT
	Declare @ticket_type_id			INT
	Declare @department_id			INT
	Declare @department_oddeven		INT
	Declare @current_month			INT
	Declare @current_month_oddeven	INT
	set @cal_due_date = '19800101'

	set @ticket_id = (Select TicketID from tblPinCheckoutDetail WHERE ID = @pin_checkout_detail_id)
	set @gage_status_id= (Select tblPinCheckoutDetail.GageStatusID from tblPinCheckoutDetail WHERE ID = @pin_checkout_detail_id)
	set @ticket_type_id = (Select TicketTypeID from tblTicket WHERE ID = @ticket_id)
	set @department_id = (Select DepartmentID from tblTicket WHERE ID = @ticket_id)
	set @department_oddeven = (Select tlkpDepartment.CalibrationMonthOddEven from tlkpDepartment where ID = @department_id)
	set @current_month_oddeven = (DATEPART(m, GetDate()) % 2)
	

	if (@gage_status_id = 1 AND @ticket_type_id = 1)
		BEGIN
			if @department_oddeven = @current_month_oddeven
				begin
					set @cal_due_date = eomonth(GetDate(), 2)
				end
			else
				begin
					set @cal_due_date = eomonth(GetDate(), 1)
				end
		END

	select @cal_due_date


END
GO
