USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryPinCalibrationHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryPinCalibrationHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryPinCalibrationHistory'
GO
/****** Object:  View [qryPinCalibrationHistory]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP VIEW [qryPinCalibrationHistory]
GO
/****** Object:  View [qryPinCalibrationHistory]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryPinCalibrationHistory]
AS
SELECT        dbo.tlkpPinCalibrationResult.PinCalibrationResult, dbo.tblPinCalibration.UpdatedTimestamp, dbo.tblTicket.TicketNumber, dbo.tblPinCalibration.PinCheckoutDetailID, dbo.tblPinCheckoutDetail.PinDiameter, 
                         dbo.tlkpUser.FullName AS CalibratedBy, dbo.tlkpPinType.PinType, dbo.tlkpBins.BinName, dbo.tblPinCalibration.CalibrationNotes
FROM            dbo.tlkpPinType RIGHT OUTER JOIN
                         dbo.tlkpBins RIGHT OUTER JOIN
                         dbo.tblPinCheckoutDetail ON dbo.tlkpBins.ID = dbo.tblPinCheckoutDetail.BinID ON dbo.tlkpPinType.ID = dbo.tblPinCheckoutDetail.PinTypeID LEFT OUTER JOIN
                         dbo.tblTicket ON dbo.tblPinCheckoutDetail.TicketID = dbo.tblTicket.ID RIGHT OUTER JOIN
                         dbo.tlkpUser RIGHT OUTER JOIN
                         dbo.tblPinCalibration ON dbo.tlkpUser.EmployeeNumber = dbo.tblPinCalibration.UpdateUserID ON dbo.tblPinCheckoutDetail.ID = dbo.tblPinCalibration.PinCheckoutDetailID LEFT OUTER JOIN
                         dbo.tlkpPinCalibrationResult ON dbo.tblPinCalibration.PinCalibrationResultID = dbo.tlkpPinCalibrationResult.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tlkpPinType"
            Begin Extent = 
               Top = 6
               Left = 1034
               Bottom = 102
               Right = 1204
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpBins"
            Begin Extent = 
               Top = 136
               Left = 1041
               Bottom = 328
               Right = 1211
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblPinCheckoutDetail"
            Begin Extent = 
               Top = 261
               Left = 263
               Bottom = 472
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblTicket"
            Begin Extent = 
               Top = 6
               Left = 514
               Bottom = 136
               Right = 746
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpUser"
            Begin Extent = 
               Top = 6
               Left = 784
               Bottom = 288
               Right = 996
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblPinCalibration"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 305
               Right = 245
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpPinCalibrationResult"
            Begin Extent = 
               Top = 181
               Left = 535
               Bottom = 319
               Right = 731' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryPinCalibrationHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryPinCalibrationHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryPinCalibrationHistory'
GO
