USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddMachineGroup]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spAddMachineGroup]
GO
/****** Object:  StoredProcedure [spAddMachineGroup]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spAddMachineGroup] 
	@machine_group_name				varchar(50),
	@is_active								smallint,
	@department_id						INT,
	@weekday									INT				
AS
BEGIN

	SET NOCOUNT ON;
	INSERT into tlkpMachineGroup (MachineGroupNumber, IsActive, DepartmentID, WeekDay)
	Values (@machine_group_name, @is_active, @department_id, @weekday)

END
GO
