USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddThreadGageToTicket]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spAddThreadGageToTicket]
GO
/****** Object:  StoredProcedure [spAddThreadGageToTicket]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [spAddThreadGageToTicket] 
	@ticket_id								INT,
	@thread_gage_id						INT,
	@daily_cal								Smallint,
	@operator_employee_id			VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

	



	INSERT INTO [dbo].[tblThreadCheckoutDetail]
        ([TicketID]
        ,[GageStatusID]
        ,ThreadGageID
				,DailyCalibration
        ,[UpdateUserID])
	VALUES
        (@ticket_id
        ,1
        ,@thread_gage_id
				,@daily_cal
        ,@operator_employee_id)
END
GO
