USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddTicket]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spAddTicket]
GO
/****** Object:  StoredProcedure [spAddTicket]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spAddTicket] 
	@site_id								int,
	@ticket_guid						varchar(255),
	@ticket_type_id					INT,
	@machine_name					VARCHAR(50),
	@maching_group					INT,
	@department_id					INT,
	@operator_employee_number		VARCHAR(10),
	@operator_name					VARCHAR(150),
	@cell_leader_id				INT,
	@joblot_number					VARCHAR(50),
	@part_number					VARCHAR(50),
	@new_identity					INT OUTPUT,
	@new_ticket_number				VARCHAR(20) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    INSERT INTO tblTicket (	SiteID, TicketGUID, TicketTypeID, 
							MachineName, 
							MachineGroupID, 
							DepartmentID, 
							OperatorEmployeeNumber, 
							OperatorName, 
							TicketStatusID, 
							CellLeaderID,
							JobLotNumber,
							PartNumber,
							UpdateUserID ) 
					VALUES (@site_id, @ticket_guid, @ticket_type_id,
							@machine_name,
							@maching_group,
							@department_id,
							@operator_employee_number,
							@operator_name,
							1,
							@cell_leader_id,
							@joblot_number,
							@part_number,
							@operator_employee_number)
							
							
	SELECT @new_identity = SCOPE_IDENTITY()
	
	SELECT @new_ticket_number = (SELECT TicketNumber from tblTicket WHERE tblTicket.ID = @new_identity) 

	SELECT @new_identity AS Id, @new_ticket_number as TicketNumber
	RETURN
END
GO
