USE [GageCheckout]
GO
/****** Object:  Trigger [tblThreadCheckoutDetail_AfterUpdate]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP TRIGGER [tblThreadCheckoutDetail_AfterUpdate]
GO
/****** Object:  Trigger [tblThreadCheckoutDetail_AfterInsert]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP TRIGGER [tblThreadCheckoutDetail_AfterInsert]
GO
ALTER TABLE [tblThreadCheckoutDetail] DROP CONSTRAINT [DF_tblThreadCheckoutDetail_UpdatedTimestamp]
GO
ALTER TABLE [tblThreadCheckoutDetail] DROP CONSTRAINT [DF_tblThreadCheckoutDetail_CreatedTimestamp]
GO
ALTER TABLE [tblThreadCheckoutDetail] DROP CONSTRAINT [DF_tblThreadCheckoutDetail_DailyCalibration]
GO
/****** Object:  Table [tblThreadCheckoutDetail]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblThreadCheckoutDetail]') AND type in (N'U'))
DROP TABLE [tblThreadCheckoutDetail]
GO
/****** Object:  Table [tblThreadCheckoutDetail]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblThreadCheckoutDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[ThreadGageID] [int] NOT NULL,
	[GageStatusID] [int] NOT NULL,
	[LastCalibratedBy] [varchar](10) NULL,
	[LastCalibrationDate] [datetime] NULL,
	[DailyCalibration] [smallint] NOT NULL,
	[CalibrationDueDate] [datetime] NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblThreadCheckoutDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tblThreadCheckoutDetail] ADD  CONSTRAINT [DF_tblThreadCheckoutDetail_DailyCalibration]  DEFAULT ((0)) FOR [DailyCalibration]
GO
ALTER TABLE [tblThreadCheckoutDetail] ADD  CONSTRAINT [DF_tblThreadCheckoutDetail_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblThreadCheckoutDetail] ADD  CONSTRAINT [DF_tblThreadCheckoutDetail_UpdatedTimestamp]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
/****** Object:  Trigger [tblThreadCheckoutDetail_AfterInsert]    Script Date: 2/24/2025 10:15:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE TRIGGER [tblThreadCheckoutDetail_AfterInsert]
   ON  [tblThreadCheckoutDetail]
   AFTER INSERT
AS 
BEGIN

	SET NOCOUNT ON;
	Declare @thread_checkout_detail_id as INT = (Select ID from INSERTED)
	Declare @calibration_due_date as DATE 
	EXEC spGetThreadCalibrationDueDate @thread_checkout_detail_id, @calibration_due_date OUTPUT
    INSERT INTO [dbo].[tblThreadCheckoutHistory]
           ([ThreadGageCheckoutDetailID]
           ,[GageStatusID]
           ,[RecordEventTypeID]
		   ,CalibrationDueDate
           ,[UpdateUserID])
     Select ID, GageStatusID, 1, @calibration_due_date, UpdateUserID From INSERTED

	 Update tblThreadCheckoutDetail SET CalibrationDueDate = @calibration_due_date
	 WHERE ID = @thread_checkout_detail_id
END

GO
ALTER TABLE [dbo].[tblThreadCheckoutDetail] ENABLE TRIGGER [tblThreadCheckoutDetail_AfterInsert]
GO
/****** Object:  Trigger [tblThreadCheckoutDetail_AfterUpdate]    Script Date: 2/24/2025 10:15:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE TRIGGER [tblThreadCheckoutDetail_AfterUpdate]
   ON  [tblThreadCheckoutDetail]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;
	if (NOT UPDATE(LastCalibrationDate) AND NOT UPDATE(CalibrationDueDate))
		BEGIN
			INSERT INTO [dbo].[tblThreadCheckoutHistory]
				   ([ThreadGageCheckoutDetailID]
				   ,[GageStatusID]
				   ,[RecordEventTypeID]
				   ,LastCalibratedBy
				   ,LastCalibrationDate
				   ,CalibrationDueDate
				   ,[UpdateUserID])
			 Select ID, GageStatusID, 2, LastCalibratedBy, LastCalibrationDate, CalibrationDueDate, UpdateUserID From INSERTED
		END
END

GO
ALTER TABLE [dbo].[tblThreadCheckoutDetail] ENABLE TRIGGER [tblThreadCheckoutDetail_AfterUpdate]
GO
