USE [GageCheckout]
GO
/****** Object:  Table [tlkpMachineGroup]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpMachineGroup]') AND type in (N'U'))
DROP TABLE [tlkpMachineGroup]
GO
/****** Object:  Table [tlkpMachineGroup]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpMachineGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MachineGroupNumber] [int] NOT NULL,
	[IsActive] [smallint] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[WeekDay] [int] NOT NULL,
 CONSTRAINT [PK_tlkpMachineGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
