USE [GageCheckout]
GO
ALTER TABLE [tlkpUser] DROP CONSTRAINT [DF_tlkpUser_UpdatedTimestampe]
GO
ALTER TABLE [tlkpUser] DROP CONSTRAINT [DF_tlkpUser_CreatedTimestamp]
GO
ALTER TABLE [tlkpUser] DROP CONSTRAINT [DF_tlkpUser_IsAdmin]
GO
/****** Object:  Table [tlkpUser]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpUser]') AND type in (N'U'))
DROP TABLE [tlkpUser]
GO
/****** Object:  Table [tlkpUser]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[NetworkUserName] [varchar](50) NOT NULL,
	[EmployeeNumber] [varchar](10) NOT NULL,
	[IsAdmin] [int] NOT NULL,
	[IsActive] [int] NOT NULL,
	[EmployeeEmailAddress] [varchar](320) NOT NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdatedTimestampe] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
	[FullName]  AS (([FirstName]+' ')+[LastName]),
	[ShortName]  AS ((left([FirstName],(1))+'. ')+[LastName]),
	[DisplayName]  AS (([LastName]+', ')+[FirstName]),
 CONSTRAINT [PK_tlkpUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tlkpUser] ADD  CONSTRAINT [DF_tlkpUser_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [tlkpUser] ADD  CONSTRAINT [DF_tlkpUser_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tlkpUser] ADD  CONSTRAINT [DF_tlkpUser_UpdatedTimestampe]  DEFAULT (getdate()) FOR [UpdatedTimestampe]
GO
