USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddUser]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spAddUser]
GO
/****** Object:  StoredProcedure [spAddUser]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spAddUser]
	   @site_id									int
	  ,@FirstName								varchar(50)
    ,@LastName								varchar(50)
    ,@NetworkUserName					varchar(50)
    ,@EmployeeNumber					varchar(10)
    ,@IsAdmin									bit
    ,@IsActive								bit
    ,@EmployeeEmailAddress		varchar(320)
    ,@UpdateUserID						varchar(10)
AS
BEGIN

	SET NOCOUNT ON;

    INSERT INTO [dbo].[tlkpUser]
           (SiteID
					 ,[FirstName]
           ,[LastName]
           ,[NetworkUserName]
           ,[EmployeeNumber]
           ,[IsAdmin]
           ,[IsActive]
           ,[EmployeeEmailAddress]
           ,[UpdateUserID])
     VALUES
           (  @site_id
						 ,@FirstName
						 ,@LastName
						 ,@NetworkUserName
						 ,@EmployeeNumber
						 ,@IsAdmin
						 ,@IsActive
						 ,@EmployeeEmailAddress
						 ,@UpdateUserID)
END
GO
