USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateCellLeader]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spUpdateCellLeader]
GO
/****** Object:  StoredProcedure [spUpdateCellLeader]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spUpdateCellLeader] 
		@id														INT,
		@first_name										varchar(255), 
		@last_name										varchar(255), 
		@is_active										smallint, 
		@cell_leader_email_address		varchar(320),
		@department_id								INT,
		@update_user_id								varchar(10)

AS
	BEGIN
		UPDATE [tlkpCellLeaders]
			 SET [FirstName] = @first_name
					,[LastName] = @last_name
					,[IsActive] = @is_active
					,[CellLeadEmailAddress] = @cell_leader_email_address
					,[DepartmentID] = @department_id
					,[UpdateUserID] = @update_user_id
		 WHERE ID = @id
	END
GO
