USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spMarkThreadGageAsMissing]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spMarkThreadGageAsMissing]
GO
/****** Object:  StoredProcedure [spMarkThreadGageAsMissing]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spMarkThreadGageAsMissing]
	
	@ticket_id								INT, 
	@threadgage_checkout_detail_id			INT,
	@user_employee_id						VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @count_of_thread_gages as INT

	UPDATE	tblThreadCheckoutDetail
	SET		GageStatusID			= 2,
			UpdateUserID			= @user_employee_id,
			UpdatedTimestamp		= CURRENT_TIMESTAMP
	WHERE	ID						= @threadgage_checkout_detail_id
	AND		GageStatusID			= 1


	SET	@count_of_thread_gages = (	SELECT	COUNT(ID) 
									FROM	tblThreadCheckoutDetail
									WHERE	TicketID		= @ticket_id 
									AND		GageStatusID	= 1)


	IF @count_of_thread_gages = 0
		BEGIN
			UPDATE	tblTicket
			SET		TicketStatusID			= 2,
					UpdatedTimestamp		= CURRENT_TIMESTAMP,
					UpdateUserID			= @user_employee_id
			WHERE	ID						= @ticket_id
		END
    
END
GO
