USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageLookup'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageLookup'
GO
/****** Object:  View [qryThreadGageLookup]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP VIEW [qryThreadGageLookup]
GO
/****** Object:  View [qryThreadGageLookup]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryThreadGageLookup]
AS
SELECT        dbo.tlkpThreadGages.ID, dbo.tlkpThreadGages.SiteID, dbo.tlkpThreadGages.ThreadGageTypeID, dbo.tlkpThreadGages.ThreadGageName, dbo.tlkpThreadGages.NoGoPitchDiameter, dbo.tlkpThreadGages.GoPitchDiameter, 
                         dbo.tlkpThreadGages.IsActive, dbo.tlkpThreadGages.MajorDiameter, dbo.tlkpThreadGages.ThreadUnitOfMeasure, dbo.tlkpThreadGages.ThreadDescription, dbo.tlkpThreadType.ThreadType, 
                         dbo.qryActiveThreadGages.TicketNumber, dbo.qryActiveThreadGages.ID AS TicketID
FROM            dbo.tlkpThreadGages LEFT OUTER JOIN
                         dbo.qryActiveThreadGages ON dbo.tlkpThreadGages.ID = dbo.qryActiveThreadGages.ThreadGageID LEFT OUTER JOIN
                         dbo.tlkpThreadType ON dbo.tlkpThreadGages.ThreadGageTypeID = dbo.tlkpThreadType.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[33] 4[3] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tlkpThreadGages"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 281
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadType"
            Begin Extent = 
               Top = 55
               Left = 301
               Bottom = 299
               Right = 471
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryActiveThreadGages"
            Begin Extent = 
               Top = 5
               Left = 707
               Bottom = 334
               Right = 1043
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageLookup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageLookup'
GO
