USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadCalibrationHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadCalibrationHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadCalibrationHistory'
GO
/****** Object:  View [qryThreadCalibrationHistory]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP VIEW [qryThreadCalibrationHistory]
GO
/****** Object:  View [qryThreadCalibrationHistory]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryThreadCalibrationHistory]
AS
SELECT        dbo.tblThreadCalibration.ThreadGageCheckoutDetailID, dbo.tblThreadCalibration.ID, dbo.tlkpRecordEventType.RecordEventType, dbo.tlkpUser.FullName AS UpdatedBy, dbo.tlkpThreadGages.ThreadDescription, 
                         dbo.tlkpThreadGages.ThreadGageName, dbo.tlkpThreadCalibrationResult.CalibrationResult, dbo.tblThreadCalibration.CreatedTimestamp, dbo.tblThreadCalibration.RecordedGoThreadDiameter, 
                         dbo.tblThreadCalibration.RecordedNoGoThreadDiameter, dbo.tblThreadCalibration.RecordedMajorDiameter, dbo.tblThreadCalibration.CalibrationNotes, dbo.tlkpThreadType.ThreadType
FROM            dbo.tblThreadCheckoutDetail LEFT OUTER JOIN
                         dbo.tlkpThreadGages LEFT OUTER JOIN
                         dbo.tlkpThreadType ON dbo.tlkpThreadGages.ThreadGageTypeID = dbo.tlkpThreadType.ID ON dbo.tblThreadCheckoutDetail.ThreadGageID = dbo.tlkpThreadGages.ID RIGHT OUTER JOIN
                         dbo.tlkpThreadCalibrationResult RIGHT OUTER JOIN
                         dbo.tblThreadCalibration ON dbo.tlkpThreadCalibrationResult.ID = dbo.tblThreadCalibration.CalibrationResultID ON dbo.tblThreadCheckoutDetail.ID = dbo.tblThreadCalibration.ThreadGageCheckoutDetailID LEFT OUTER JOIN
                         dbo.tlkpUser ON dbo.tblThreadCalibration.UpdateUserID = dbo.tlkpUser.EmployeeNumber LEFT OUTER JOIN
                         dbo.tlkpRecordEventType ON dbo.tblThreadCalibration.CalibrationResultID = dbo.tlkpRecordEventType.ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[63] 4[17] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tlkpThreadCalibrationResult"
            Begin Extent = 
               Top = 155
               Left = 496
               Bottom = 315
               Right = 675
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblThreadCalibration"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 274
               Right = 282
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadGages"
            Begin Extent = 
               Top = 50
               Left = 958
               Bottom = 269
               Right = 1301
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblThreadCheckoutDetail"
            Begin Extent = 
               Top = 6
               Left = 561
               Bottom = 317
               Right = 865
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpUser"
            Begin Extent = 
               Top = 372
               Left = 969
               Bottom = 667
               Right = 1181
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpRecordEventType"
            Begin Extent = 
               Top = 20
               Left = 344
               Bottom = 116
               Right = 524
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadType"
            Begin Extent = 
               Top = 243
               Left = 1572
               Bottom = 33' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadCalibrationHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'9
               Right = 1742
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 2220
         Width = 2250
         Width = 2115
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2745
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadCalibrationHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadCalibrationHistory'
GO
