USE [GageCheckout]
GO
ALTER TABLE [tblOverDueEmailRunLog] DROP CONSTRAINT [DF_tblOverDueEmailRunLog_RunDate]
GO
/****** Object:  Table [tblOverDueEmailRunLog]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblOverDueEmailRunLog]') AND type in (N'U'))
DROP TABLE [tblOverDueEmailRunLog]
GO
/****** Object:  Table [tblOverDueEmailRunLog]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblOverDueEmailRunLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[RunDate] [datetime] NOT NULL,
	[UpdatedUserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblOverDueEmailRunLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tblOverDueEmailRunLog] ADD  CONSTRAINT [DF_tblOverDueEmailRunLog_RunDate]  DEFAULT (getdate()) FOR [RunDate]
GO
