USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spCalibratePin]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spCalibratePin]
GO
/****** Object:  StoredProcedure [spCalibratePin]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [spCalibratePin] 
	@pin_checkout_detail_id			INT,
	@pin_calibration_result_id		INT,
	@calibration_notes	varchar(2000),
	@operator_employee_id			VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;
	DECLARE @ticket_id as INT
	DECLARE @count_of_active_pins as INT
	DECLARE @calibration_due_date as DATE
	Declare @calibration_id as int
	
	IF @pin_calibration_result_id = 1 OR @pin_calibration_result_id = 4
		BEGIN
			INSERT INTO [dbo].[tblPinCalibration]
				(PinCheckoutDetailID
				,PinCalibrationResultID
				,CalibrationNotes
				,UpdateUserID)
			VALUES
				(@pin_checkout_detail_id
				,@pin_calibration_result_id
				,@calibration_notes
				,@operator_employee_id)

			SELECT @calibration_id = SCOPE_IDENTITY()


			EXEC spGetPinCalibrationDueDate @pin_checkout_detail_id, @calibration_due_date OUTPUT
			
			/* Update the Cal info in the pin detail table*/
			UPDATE	tblPinCheckoutDetail
			SET		LastCalibrationDate		= CURRENT_TIMESTAMP,
					LastCalibratedBy		= @operator_employee_id,
					CalibrationDueDate		= @calibration_due_date,
					UpdateUserID			= @operator_employee_id,
					UpdatedTimestamp		= CURRENT_TIMESTAMP
			WHERE	ID						= @pin_checkout_detail_id
			/* The Trigger on tblPinCalibration writes the Pin History Record */
		END
	ELSE
		BEGIN
			IF @pin_calibration_result_id = 2 
				BEGIN
					UPDATE	tblPinCheckoutDetail
					SET		GageStatusID			= 2,
							UpdateUserID			= @operator_employee_id,
							UpdatedTimestamp		= CURRENT_TIMESTAMP
					WHERE	ID						= @pin_checkout_detail_id
				END
		
			IF @pin_calibration_result_id = 3 
				BEGIN
					UPDATE	tblPinCheckoutDetail
					SET		GageStatusID			= 3,
							UpdateUserID			= @operator_employee_id,
							UpdatedTimestamp		= CURRENT_TIMESTAMP
					WHERE	ID						= @pin_checkout_detail_id
				END

			SET @ticket_id = (	SELECT TicketID 
								FROM tblPinCheckoutDetail
								WHERE ID = @pin_checkout_detail_id)

			SET	@count_of_active_pins = (	SELECT COUNT(ID) 
											FROM tblPinCheckoutDetail
											WHERE	TicketID		= @ticket_id 
											AND		GageStatusID	= 1)

			IF @count_of_active_pins = 0
				BEGIN
					UPDATE tblTicket
					SET	TicketStatusID		= 2, 
					UpdatedTimestamp		= CURRENT_TIMESTAMP,
					UpdateUserID			= @operator_employee_id
					WHERE ID				= @ticket_id			
				END
		END

END
GO
