USE [GageCheckout]
GO
/****** Object:  Table [tlkpThreadCalibrationResult]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpThreadCalibrationResult]') AND type in (N'U'))
DROP TABLE [tlkpThreadCalibrationResult]
GO
/****** Object:  Table [tlkpThreadCalibrationResult]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpThreadCalibrationResult](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CalibrationResult] [varchar](50) NULL,
 CONSTRAINT [PK_tlkpThreadCalibrationResult] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
