USE [GageCheckout]
GO
/****** Object:  Table [tlkpThreadType]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpThreadType]') AND type in (N'U'))
DROP TABLE [tlkpThreadType]
GO
/****** Object:  Table [tlkpThreadType]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpThreadType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThreadType] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
