USE [GageCheckout]
GO
/****** Object:  Table [tlkpGageStatus]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpGageStatus]') AND type in (N'U'))
DROP TABLE [tlkpGageStatus]
GO
/****** Object:  Table [tlkpGageStatus]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpGageStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GageStatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tlkpGageStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
