USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetBinList]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spGetBinList]
GO
/****** Object:  StoredProcedure [spGetBinList]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spGetBinList]
	@site_id smallint = 0,
	@include_inactive smallint = 0,
	@bin_name varchar(255) = '',
	@note varchar(255) = '',
	@page_number int = 1

AS
	BEGIN
		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
	
		set @sql = 'SELECT * from qryBinsForDisplay WHERE SiteID = ' + cast(@site_id as varchar);
	
			
		If @include_inactive is null or @include_inactive = 0
			BEGIN
				SET @sql = @sql + ' AND IsActive = 1';
			END	

	 	if @bin_name <> ''
			BEGIN
				SET @sql = @sql + ' AND (BinName LIKE ''%' + @bin_name + '%''';
				SET @sql = @sql + ' OR BinName = ''' + @bin_name + ''')';
			END

		if @note <> ''
			BEGIN
				SET @sql = @sql + ' AND (Notes LIKE ''%' + @note + '%''';
				SET @sql = @sql + ' OR Notes = ''' + @note + ''')';
			END

		SET @sql = @sql + ' ORDER BY BinName OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';
	  PRINT @sql;
		EXEC(@sql);

	END
GO
