USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateMachineGroup]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spUpdateMachineGroup]
GO
/****** Object:  StoredProcedure [spUpdateMachineGroup]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spUpdateMachineGroup] 
	@machine_group_id					INT,
	@machine_group_name				varchar(50),
	@is_active								smallint,
	@department_id						INT,
	@weekday									INT				
AS
BEGIN

	SET NOCOUNT ON;
	UPDATE tlkpMachineGroup 
	Set		MachineGroupNumber = @machine_group_name, 
				IsActive = @is_active, 
				DepartmentID =@department_id, 
				WeekDay = @weekday
	WHERE ID = @machine_group_id

END
GO
