USE [GageCheckout]
GO
ALTER TABLE [tlkpCellLeaders] DROP CONSTRAINT [DF_tlkpCellLeaders_UpdatedTimestamp]
GO
ALTER TABLE [tlkpCellLeaders] DROP CONSTRAINT [DF_tlkpCellLeaders_CreatedTimestamp]
GO
ALTER TABLE [tlkpCellLeaders] DROP CONSTRAINT [DF_tlkpCellLeaders_IsActive]
GO
/****** Object:  Table [tlkpCellLeaders]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpCellLeaders]') AND type in (N'U'))
DROP TABLE [tlkpCellLeaders]
GO
/****** Object:  Table [tlkpCellLeaders]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpCellLeaders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[IsActive] [smallint] NOT NULL,
	[CellLeadEmailAddress] [varchar](320) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
	[FullName]  AS (([FirstName]+' ')+[LastName]),
	[ShortName]  AS ((left([FirstName],(1))+'. ')+[LastName]),
	[DisplayName]  AS (([LastName]+', ')+[FirstName]),
 CONSTRAINT [PK_tlkpCellLeaders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tlkpCellLeaders] ADD  CONSTRAINT [DF_tlkpCellLeaders_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [tlkpCellLeaders] ADD  CONSTRAINT [DF_tlkpCellLeaders_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tlkpCellLeaders] ADD  CONSTRAINT [DF_tlkpCellLeaders_UpdatedTimestamp]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
