USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCalibrateThreads'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCalibrateThreads'
GO
/****** Object:  View [qryCalibrateThreads]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP VIEW [qryCalibrateThreads]
GO
/****** Object:  View [qryCalibrateThreads]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryCalibrateThreads]
AS
SELECT        dbo.tblThreadCheckoutDetail.ID, dbo.tblThreadCheckoutDetail.TicketID, dbo.tlkpThreadGages.ThreadGageName, dbo.tlkpThreadGages.MajorDiameter, dbo.tlkpThreadGages.NoGoPitchDiameter, 
                         dbo.tlkpThreadGages.GoPitchDiameter, dbo.tlkpThreadGages.ThreadGageTypeID, dbo.tlkpThreadType.ThreadType
FROM            dbo.tlkpThreadType RIGHT OUTER JOIN
                         dbo.tlkpThreadGages ON dbo.tlkpThreadType.ID = dbo.tlkpThreadGages.ThreadGageTypeID RIGHT OUTER JOIN
                         dbo.tblThreadCheckoutDetail ON dbo.tlkpThreadGages.ID = dbo.tblThreadCheckoutDetail.ThreadGageID
WHERE        (dbo.tblThreadCheckoutDetail.GageStatusID = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[20] 2[18] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblThreadCheckoutDetail"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 286
               Right = 286
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadGages"
            Begin Extent = 
               Top = 86
               Left = 519
               Bottom = 333
               Right = 724
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadType"
            Begin Extent = 
               Top = 56
               Left = 980
               Bottom = 152
               Right = 1150
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2160
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCalibrateThreads'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryCalibrateThreads'
GO
