USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllThreadGages'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllThreadGages'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllThreadGages'
GO
/****** Object:  View [qryAllThreadGages]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP VIEW [qryAllThreadGages]
GO
/****** Object:  View [qryAllThreadGages]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryAllThreadGages]
AS
SELECT        dbo.tblTicket.ID, dbo.tlkpDepartment.Department, dbo.tblTicket.TicketNumber, dbo.tlkpThreadGages.ThreadGageName, dbo.tlkpThreadGages.ThreadDescription, dbo.tlkpThreadGages.ThreadUnitOfMeasure, 
                         dbo.tblThreadCheckoutDetail.ID AS ThreadGageDetailID, dbo.tlkpThreadGages.ID AS ThreadGageID, dbo.qryMachineGroups.MachineGroupName, dbo.tblThreadCheckoutDetail.GageStatusID, dbo.tlkpGageStatus.GageStatus, 
                         dbo.tblThreadCheckoutDetail.DailyCalibration, dbo.tblTicket.MachineName, dbo.tblTicket.OperatorName, dbo.tblTicket.SiteID, dbo.tlkpThreadType.ThreadType, dbo.tblTicket.PartNumber, dbo.tblTicket.TicketTypeID, 
                         dbo.tlkpTicketType.TicketType, dbo.tblThreadCheckoutDetail.ThreadGageID AS Expr1
FROM            dbo.tlkpDepartment RIGHT OUTER JOIN
                         dbo.tlkpGageStatus RIGHT OUTER JOIN
                         dbo.tblThreadCheckoutDetail INNER JOIN
                         dbo.tblTicket INNER JOIN
                         dbo.tlkpTicketType ON dbo.tblTicket.TicketTypeID = dbo.tlkpTicketType.ID ON dbo.tblThreadCheckoutDetail.TicketID = dbo.tblTicket.ID LEFT OUTER JOIN
                         dbo.qryMachineGroups ON dbo.tblTicket.MachineGroupID = dbo.qryMachineGroups.ID ON dbo.tlkpGageStatus.ID = dbo.tblThreadCheckoutDetail.GageStatusID ON 
                         dbo.tlkpDepartment.ID = dbo.tblTicket.DepartmentID LEFT OUTER JOIN
                         dbo.tlkpThreadType RIGHT OUTER JOIN
                         dbo.tlkpThreadGages ON dbo.tlkpThreadType.ID = dbo.tlkpThreadGages.ThreadGageTypeID ON dbo.tblThreadCheckoutDetail.ThreadGageID = dbo.tlkpThreadGages.ID
WHERE        (dbo.tblTicket.TicketTypeID = 2)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[64] 4[3] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tlkpDepartment"
            Begin Extent = 
               Top = 77
               Left = 1167
               Bottom = 207
               Right = 1398
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpGageStatus"
            Begin Extent = 
               Top = 6
               Left = 654
               Bottom = 102
               Right = 824
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblThreadCheckoutDetail"
            Begin Extent = 
               Top = 135
               Left = 395
               Bottom = 401
               Right = 588
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblTicket"
            Begin Extent = 
               Top = 54
               Left = 60
               Bottom = 460
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpTicketType"
            Begin Extent = 
               Top = 6
               Left = 330
               Bottom = 102
               Right = 500
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "qryMachineGroups"
            Begin Extent = 
               Top = 366
               Left = 1172
               Bottom = 496
               Right = 1372
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadType"
            Begin Extent = 
               Top = 232
               Left = 1434
               Bottom = 328
               Rig' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllThreadGages'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'ht = 1604
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadGages"
            Begin Extent = 
               Top = 201
               Left = 884
               Bottom = 331
               Right = 1089
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 17
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 3465
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllThreadGages'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryAllThreadGages'
GO
