USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGetThreadGageList]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spGetThreadGageList]
GO
/****** Object:  StoredProcedure [spGetThreadGageList]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spGetThreadGageList]
	@site_id smallint = 0,
	@include_inactive smallint = 0,
	@thread_name varchar(255) = '',
	@thread_desc varchar(255) = '',
	@page_number int = 1

AS
	BEGIN
		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
	
		set @sql = 'SELECT * from qryThreadGageLookup WHERE SiteID = ' + cast(@site_id as varchar);
	
			
		If @include_inactive is null or @include_inactive = 0
			BEGIN
				SET @sql = @sql + ' AND IsActive = 1';
			END	

	 	if @thread_name <> ''
			BEGIN
				SET @sql = @sql + ' AND (ThreadGageName LIKE ''%' + @thread_name + '%''';
				SET @sql = @sql + ' OR ThreadGageName = ''' + @thread_name + ''')';
			END

		if @thread_desc <> ''
			BEGIN
				SET @sql = @sql + ' AND (ThreadDescription LIKE ''%' + @thread_desc + '%''';
				SET @sql = @sql + ' OR ThreadDescription = ''' + @thread_desc + ''')';
			END


		SET @sql = @sql + ' ORDER BY ThreadGageName OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';
	  PRINT @sql;
		EXEC(@sql);

	END
GO
