USE [GageCheckout]
GO
/****** Object:  Table [tlkpPinType]    Script Date: 2/24/2025 10:15:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpPinType]') AND type in (N'U'))
DROP TABLE [tlkpPinType]
GO
/****** Object:  Table [tlkpPinType]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpPinType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PinType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tlkpPinType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
