USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddBin]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spAddBin]
GO
/****** Object:  StoredProcedure [spAddBin]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spAddBin]
	@bin_name varchar(50),
	@site_id	int,
	@part_numbers varchar(500),
	@notes varchar(2000)
AS
BEGIN
	SET NOCOUNT ON;

	Insert into tlkpBins (BinName, SiteID,IsActive, PartNumbers, Notes)
	Values(@bin_name, @site_id, 1, @part_numbers, @notes)


END
GO
