USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateThreadGage]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spUpdateThreadGage]
GO
/****** Object:  StoredProcedure [spUpdateThreadGage]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spUpdateThreadGage] 
	@threadgage_id					INT,
	@threadgage_type_id int,
	@is_active			smallint,
	@thread_description varchar(50),
	@go_diameter decimal(9,5),
	@nogo_diameter decimal(9,5),
	@major_diameter decimal(9,5)
AS
BEGIN

	SET NOCOUNT ON;
	UPDATE [tlkpThreadGages]
		 SET [ThreadGageTypeID] = @threadgage_type_id
				,[IsActive] = @is_active
				,[GoPitchDiameter] = @go_diameter
				,[NoGoPitchDiameter] = @nogo_diameter
				,[MajorDiameter] = @major_diameter
				,[ThreadDescription] = @thread_description

	 WHERE ID = @threadgage_id
END
GO
