USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGenerateMissingThreadGageEmailMessage]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spGenerateMissingThreadGageEmailMessage]
GO
/****** Object:  StoredProcedure [spGenerateMissingThreadGageEmailMessage]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spGenerateMissingThreadGageEmailMessage]
	@thread_gage_checkout_detail_id int,
	@email_message	VARCHAR(MAX) OUTPUT
AS
	BEGIN



		/*Working Variables*/
		SET @email_message  = '<p>A thread gage has gone missing in your area!!</p><p>Please have your people locate this gage and bring it in to be calibrated as soon as possible.</p><br /><div><h2>Missing Thread Gage</h2></div><div><style>td, th {border: 1px solid; border-collapse: collapse; text-align: left; border-spacing: 0px; padding: 0px; font-family:Tahoma;}</style><p><table style="width: 800px; border-spacing: 0px; padding-top: 10px;"><thead><tr><th>Ticket Number</th><th>Ticket Type</th><th>Operator</th><th>Part Number</th><th>Machine</th></tr></thead><tbody><tr><td>[TicketNumber]</td><td>[TicketType]</td><td>[TicketOperator]</td><td>[TicketPartNumber]</td><td>[TicketMachine]</td></tr><tr><td colspan="6"><p><table style="padding-left: 20px; padding-top: 10px; text-align: left; width: 550px; border-spacing: 0px;"><thead><tr><th>Thread Type</th><th>Thread Gage Name</th><th>Description</th></tr></thead><tbody><tr><td>[ThreadGageType]</td><td>[ThreadGageName]</td><td>[ThreadGageDescription]</td></tr></tbody></table></p></td></tr></tbody></table></p></div>' ;

		DECLARE @thread_gage_type as varchar(255);
		DECLARE @thread_gage_name as varchar(255);
		DECLARE @thread_gage_description as varchar(255);

		DECLARE @ticket_id as INT;
		DECLARE @ticket_type_id as INT;

		DECLARE @ticket_number as varchar(50);
		DECLARE @ticket_type as varchar(50);
		DECLARE @ticket_operator as varchar (255);
		DECLARE @ticket_part_number as varchar (255);
		DECLARE @ticket_machine as varchar (255);
		
		 
		DECLARE db_thread_cursor CURSOR FOR SELECT ID, TicketTypeID, TicketNumber, TicketType, OperatorName, PartNumber, MachineName, ThreadType, ThreadGageName, ThreadDescription
																	FROM qryAllThreadGages where ThreadGageDetailID = @thread_gage_checkout_detail_id;
		OPEN db_thread_cursor;
		
		FETCH NEXT FROM db_thread_cursor INTO @ticket_id, @ticket_type_id, @ticket_number, @ticket_type, @ticket_operator, @ticket_part_number, @ticket_machine, @thread_gage_type, @thread_gage_name, @thread_gage_description;
		
		SET @email_message = Replace(@email_message, '[TicketNumber]', @ticket_number);
		SET @email_message = Replace(@email_message, '[TicketType]', @ticket_type);
		SET @email_message = Replace(@email_message, '[TicketOperator]', @ticket_operator);
		SET @email_message = Replace(@email_message, '[TicketPartNumber]', @ticket_part_number);
		SET @email_message = Replace(@email_message, '[TicketMachine]', @ticket_machine);
		SET @email_message = Replace(@email_message, '[ThreadGageType]', @thread_gage_type);
		SET @email_message = Replace(@email_message, '[ThreadGageName]', @thread_gage_name);
		SET @email_message = Replace(@email_message, '[ThreadGageDescription]', @thread_gage_description);
				

		CLOSE db_thread_cursor;
		DEALLOCATE db_thread_cursor;

			
		Select @email_message
	END
GO
