USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spRecallMissingThreadGage]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spRecallMissingThreadGage]
GO
/****** Object:  StoredProcedure [spRecallMissingThreadGage]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spRecallMissingThreadGage]
	
	@threadgage_checkout_detail_id			INT,
	@user_employee_id						VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE	tblThreadCheckoutDetail
	SET		GageStatusID			= 3,
			UpdateUserID			= @user_employee_id,
			UpdatedTimestamp		= CURRENT_TIMESTAMP
	WHERE	ID						= @threadgage_checkout_detail_id
	AND		GageStatusID			= 1

    
END
GO
