USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spChangeTicketJobNumber]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spChangeTicketJobNumber]
GO
/****** Object:  StoredProcedure [spChangeTicketJobNumber]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spChangeTicketJobNumber] 
	@ticket_id						INT,
	@job_number						VARCHAR(50),
	@operator_employee_id			VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE tblTicket
	SET JobLotNumber		= @job_number,
	UpdateUserID			= @operator_employee_id,
	UpdatedTimestamp		= CURRENT_TIMESTAMP
	WHERE	ID				= @ticket_id

END
GO
