USE [GageCheckout]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageHistory'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageHistory'
GO
/****** Object:  View [qryThreadGageHistory]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP VIEW [qryThreadGageHistory]
GO
/****** Object:  View [qryThreadGageHistory]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [qryThreadGageHistory]
AS
SELECT        TOP (100) PERCENT dbo.tblThreadCheckoutHistory.ThreadGageCheckoutDetailID AS ID, dbo.tblThreadCheckoutDetail.TicketID, dbo.tblThreadCheckoutHistory.RecordEventTypeID, 
                         dbo.tblThreadCheckoutHistory.ThreadCalibrationID, dbo.tblThreadCheckoutHistory.GageStatusID, dbo.tlkpUser.FullName AS LastCalibratedBy, dbo.tblThreadCheckoutHistory.LastCalibrationDate, 
                         dbo.tblThreadCheckoutHistory.CreatedTimestamp, dbo.tblThreadCheckoutHistory.UpdateUserID, dbo.tlkpRecordEventType.RecordEventType, dbo.tlkpGageStatus.GageStatus, dbo.tblThreadCheckoutDetail.ThreadGageID, 
                         dbo.tlkpThreadGages.ThreadGageName, dbo.tlkpThreadGages.ThreadDescription, dbo.tblTicket.OperatorEmployeeNumber, dbo.tblTicket.OperatorName, 
                         CASE WHEN dbo.tblTicket.OperatorEmployeeNumber = dbo.tblThreadCheckoutHistory.UpdateUserID THEN dbo.tblTicket.OperatorName ELSE
                             (SELECT        FullName
                               FROM            tlkpUser
                               WHERE        tlkpUser.EmployeeNumber = dbo.tblThreadCheckoutHistory.UpdateUserID) END AS UpdatedBy, dbo.tlkpThreadGages.ThreadGageTypeID, dbo.tlkpThreadType.ThreadType
FROM            dbo.tblThreadCheckoutDetail LEFT OUTER JOIN
                         dbo.tlkpThreadGages LEFT OUTER JOIN
                         dbo.tlkpThreadType ON dbo.tlkpThreadGages.ThreadGageTypeID = dbo.tlkpThreadType.ID ON dbo.tblThreadCheckoutDetail.ThreadGageID = dbo.tlkpThreadGages.ID LEFT OUTER JOIN
                         dbo.tblTicket ON dbo.tblThreadCheckoutDetail.TicketID = dbo.tblTicket.ID RIGHT OUTER JOIN
                         dbo.tlkpRecordEventType RIGHT OUTER JOIN
                         dbo.tlkpUser RIGHT OUTER JOIN
                         dbo.tblThreadCheckoutHistory ON dbo.tlkpUser.EmployeeNumber = dbo.tblThreadCheckoutHistory.LastCalibratedBy ON dbo.tlkpRecordEventType.ID = dbo.tblThreadCheckoutHistory.RecordEventTypeID ON 
                         dbo.tblThreadCheckoutDetail.ID = dbo.tblThreadCheckoutHistory.ThreadGageCheckoutDetailID LEFT OUTER JOIN
                         dbo.tlkpGageStatus ON dbo.tblThreadCheckoutHistory.GageStatusID = dbo.tlkpGageStatus.ID
WHERE        (dbo.tblTicket.TicketTypeID = 2)
ORDER BY dbo.tblThreadCheckoutHistory.CreatedTimestamp
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblTicket"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 270
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadGages"
            Begin Extent = 
               Top = 28
               Left = 503
               Bottom = 158
               Right = 708
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblThreadCheckoutDetail"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 400
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpRecordEventType"
            Begin Extent = 
               Top = 138
               Left = 281
               Bottom = 234
               Right = 461
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpUser"
            Begin Extent = 
               Top = 402
               Left = 38
               Bottom = 532
               Right = 250
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblThreadCheckoutHistory"
            Begin Extent = 
               Top = 534
               Left = 38
               Bottom = 664
               Right = 282
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpGageStatus"
            Begin Extent = 
               Top = 234
               Left = 281
               Bottom = 330
             ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'  Right = 451
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tlkpThreadType"
            Begin Extent = 
               Top = 60
               Left = 745
               Bottom = 156
               Right = 915
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 18
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'qryThreadGageHistory'
GO
