USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spUpdateDepartment]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spUpdateDepartment]
GO
/****** Object:  StoredProcedure [spUpdateDepartment]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spUpdateDepartment]
	@department_id								INT,
	@site_id											INT,
	@department										VARCHAR(50),
	@is_active										smallint,
	@calibration_month_odd_even		INT,
	@calibration_week_odd_even	  INT
AS
BEGIN

	SET NOCOUNT ON;
	Update tlkpDepartment 
	SET		SiteID											= @site_id, 
				Department									= @department,
				IsActive										= @is_active,
				CalibrationMonthOddEven			= @calibration_month_odd_even,
				CalibrationWeekOddEven			= @calibration_week_odd_even
	WHERE ID = @department_id

END
GO
