USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spAddDepartment]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spAddDepartment]
GO
/****** Object:  StoredProcedure [spAddDepartment]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spAddDepartment]
	@site_id											INT,
	@department										VARCHAR(50),
	@is_active										smallint,
	@calibration_month_odd_even		INT,
	@calibration_week_odd_even	  INT
AS
BEGIN

	SET NOCOUNT ON;
	Insert into tlkpDepartment (SiteID, Department, IsActive, CalibrationMonthOddEven, CalibrationWeekOddEven)
	Values (@site_id, @department, @is_active, @calibration_month_odd_even, @calibration_week_odd_even)
END
GO
