USE [GageCheckout]
GO
/****** Object:  StoredProcedure [spGenerateTicketGUID]    Script Date: 2/24/2025 10:15:24 AM ******/
DROP PROCEDURE [spGenerateTicketGUID]
GO
/****** Object:  StoredProcedure [spGenerateTicketGUID]    Script Date: 2/24/2025 10:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spGenerateTicketGUID] 
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @myid uniqueidentifier = NEWID();  
	SELECT CONVERT(varchar(255), @myid) AS 'GUID';  
  
END
GO
