USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spDEPARTMENT_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spDEPARTMENT_AddNew]
GO
/****** Object:  StoredProcedure [spDEPARTMENT_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spDEPARTMENT_AddNew]
    @site_id							INT,
    @departmentName       VARCHAR (255),
    @parentID             INT,
    @qeEmail							VARCHAR (500),
    @me_Email							VARCHAR (500),
    @cellLeadEmail				VARCHAR (500),
    @updateEmployeeNumber NVARCHAR (255),
		@ID int OUTPUT
AS
	BEGIN
		SET NOCOUNT ON;
		/*
		Procedure: [spDEPARTMENT_AddNew]
		Purpose:
		  - Validates inputs and inserts a new department row into [tblDepartment].

		Parameters:
		  @site_id INT
			- Required. Must exist in tblSite.ID.
		  @departmentName VARCHAR(255)
			- Required. New department name.
		  @parentID INT
			- Optional. Parent department ID; may be NULL.
		  @qeEmail VARCHAR(500)
			- Required. Email list for Quality Engineering CC.
		  @me_Email VARCHAR(500)
			- Required. Email list for Manufacturing Engineering CC.
		  @cellLeadEmail VARCHAR(500)
			- Required. Email list for Cell Lead CC.
		  @updateEmployeeNumber NVARCHAR(255)
			- Required. Must be an active user (UserTypeID = 1) EmployeeNumber.
		  @ID INT OUTPUT
			- Output newly created department ID (SCOPE_IDENTITY).

		Behavior:
		  - Accumulates validation errors in @error_message; RAISERROR if non-empty and RETURN 0.
		  - Inserts the department, sets @ID to new identity, SELECTs @ID.

		Returns:
		  - On success: SELECT of the new @ID; no explicit return code.
		  - On validation error: RAISERROR and RETURN 0.

		Permissions:
		  - INSERT on [tblDepartment] and SELECT on referenced tables.

		Usage:
		  DECLARE @NewID INT;
		  EXEC [spDEPARTMENT_AddNew]
			   @site_id = 1,
			   @departmentName = 'Machining',
			   @parentID = NULL,
			   @qeEmail = 'qe@example.com',
			   @me_Email = 'me@example.com',
			   @cellLeadEmail = 'celllead@example.com',
			   @updateEmployeeNumber = '12345',
			   @ID = @NewID OUTPUT;
		  SELECT @NewID AS DepartmentID;

		Last updated: 2025-09-19
*/
		DECLARE @error_message nvarchar(max) = ''

		If @site_id IS NULL OR @site_id NOT IN (select ID from tblSite)
			BEGIN
				SET @error_message = @error_message + 'Invalid Site ID.\r\n'
			END

		If @departmentName IS NULL OR @departmentName = ''
			BEGIN
				SET @error_message = @error_message + 'Invalid Department Name.\r\n'
			END

		If @qeEmail IS NULL OR @qeEmail = ''
			BEGIN
				SET @error_message = @error_message + 'Invalid Quality Engineer Email.\r\n'
			END
				
		If @me_Email IS NULL OR @me_Email = ''
			BEGIN
				SET @error_message = @error_message + 'Invalid Manufacturing Engineer Email.\r\n'
			END
			
		If @cellLeadEmail IS NULL OR @cellLeadEmail = ''
			BEGIN
				SET @error_message = @error_message + 'Invalid Cell Lead Email.\r\n'
			END

		If @updateEmployeeNumber NOT IN (Select EmployeeNumber from tblUser where IsActive=1 and UserTypeID = 1)
			BEGIN
				SET @error_message = @error_message + 'Invalid Update Employee Number.\r\n'
			END

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end

		INSERT INTO [tblDepartment]
						 ([SiteID]
						 ,[DepartmentName]
						 ,[ParentID]
						 ,[QualityCCList]
						 ,[ManufacturingCCList]
						 ,[CellLeadCCList]
						 ,[UpdateUserID])
			 VALUES
						 (@site_id
						 ,@departmentName
						 ,@parentID
						 ,@qeEmail
						 ,@me_Email
						 ,@cellLeadEmail
						 ,@updateEmployeeNumber)

		SET @ID =  SCOPE_IDENTITY()
		SELECT @ID
	END

GO
