USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spDEPARTMENT_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spDEPARTMENT_Update]
GO
/****** Object:  StoredProcedure [spDEPARTMENT_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spDEPARTMENT_Update]
    @ID			 							INT,
    @departmentName       VARCHAR (255),
    @parentID             INT,
    @qeEmail							VARCHAR (500),
    @me_Email							VARCHAR (500),
    @cellLeadEmail				VARCHAR (500),
    @updateEmployeeNumber NVARCHAR (255)
		
AS
	BEGIN
		SET NOCOUNT ON;
		/*
		Procedure: [spDEPARTMENT_Update]
		Purpose:
		  - Validates and updates an existing department record in [tblDepartment].

		Parameters:
		  @ID INT
			- Required. Existing department ID.
		  @departmentName VARCHAR(255)
			- Required. New department name.
		  @parentID INT
			- Optional. Parent department ID; 0 coerced to NULL.
		  @qeEmail VARCHAR(500)
			- Required. Quality Engineering CC list.
		  @me_Email VARCHAR(500)
			- Required. Manufacturing Engineering CC list.
		  @cellLeadEmail VARCHAR(500)
			- Required. Cell Lead CC list.
		  @updateEmployeeNumber NVARCHAR(255)
			- Required. Must be active user (UserTypeID = 1) EmployeeNumber.

		Behavior:
		  - Normalizes @parentID of 0 to NULL.
		  - Validates existence/inputs; accumulates errors, RAISERROR if any and RETURN 0.
		  - Updates department fields and audit columns.

		Returns:
		  - No result set. On error: RAISERROR and RETURN 0.

		Permissions:
		  - UPDATE on [tblDepartment]; SELECT on referenced tables.

		Usage:
		  EXEC [spDEPARTMENT_Update]
			   @ID = 42,
			   @departmentName = 'Machining',
			   @parentID = NULL,
			   @qeEmail = 'qe@example.com',
			   @me_Email = 'me@example.com',
			   @cellLeadEmail = 'celllead@example.com',
			   @updateEmployeeNumber = '12345';

		Last updated: 2025-09-19
*/

		DECLARE @error_message nvarchar(max) = ''

		IF @parentID = 0
			BEGIN
				SET @parentID = NULL
			END

		IF @ID not in (Select ID from tblDepartment)
			BEGIN
				SET @error_message = @error_message + 'Invalid Department ID.\r\n'
			END

		If @departmentName IS NULL OR @departmentName = ''
			BEGIN
				SET @error_message = @error_message + 'Invalid Department Name.\r\n'
			END

		If @qeEmail IS NULL OR @qeEmail = ''
			BEGIN
				SET @error_message = @error_message + 'Invalid Quality Engineer Email.\r\n'
			END
				
		If @me_Email IS NULL OR @me_Email = ''
			BEGIN
				SET @error_message = @error_message + 'Invalid Manufacturing Engineer Email.\r\n'
			END
			
		If @cellLeadEmail IS NULL OR @cellLeadEmail = ''
			BEGIN
				SET @error_message = @error_message + 'Invalid Cell Lead Email.\r\n'
			END

		If @updateEmployeeNumber NOT IN (Select EmployeeNumber from tblUser where IsActive=1 and UserTypeID = 1)
			BEGIN
				SET @error_message = @error_message + 'Invalid Update Employee Number.\r\n'
			END
				
		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end

		UPDATE [tblDepartment]
			 SET [DepartmentName] = @departmentName
					,[ParentID] = @parentID
					,[QualityCCList] = @qeEmail
					,[ManufacturingCCList] = @me_Email
					,[CellLeadCCList] = @cellLeadEmail
					,[UpdatedTimestamp] = CURRENT_TIMESTAMP
					,[UpdateUserID] = @updateEmployeeNumber
		 WHERE ID = @ID

	END

GO
