USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spEMAIL_GetNewServiceTicketEmailMessage]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spEMAIL_GetNewServiceTicketEmailMessage]
GO
/****** Object:  StoredProcedure [spEMAIL_GetNewServiceTicketEmailMessage]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spEMAIL_GetNewServiceTicketEmailMessage]
	@ticket_id						int,
	@email_message			VARCHAR(MAX) OUTPUT
	
AS
	
	BEGIN
	/*
		Procedure: [spEMAIL_GetNewServiceTicketEmailMessage]
		Purpose:
		  - Composes the "New Service Ticket" email using header and CMM-Down row templates.

		Parameters:
		  @ticket_id INT
			- Required. Service ticket ID.
		  @email_message VARCHAR(MAX) OUTPUT
			- Output. Final HTML.

		Behavior:
		  - Retrieves templates for 'NEW_SERVICE_TICKET' (header) and 'NEW_SERVICE_TICKET_ROWS' (CMM-Down rows).
		  - Validates ticket existence and template presence; returns empty @email_message on failure.
		  - Fills header tokens (site, number, create date, type, due date, initiator, description, department, id, [SITECODE]).
		  - If TicketTypeID = 1 (CMM Down), fills [CMMDownRows]; otherwise removes it.

		Returns:
		  - SELECT of @email_message (also via OUTPUT). Empty string on failure.

		Permissions:
		  - SELECT on templates and referenced views/tables.

		Usage:
		  DECLARE @html VARCHAR(MAX);
		  EXEC [spEMAIL_GetNewServiceTicketEmailMessage]
			   @ticket_id = 5001,
			   @email_message = @html OUTPUT;
		  SELECT @html;

		Last updated: 2025-09-19
		*/
		SET NOCOUNT ON;
		DECLARE @email_message_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'NEW_SERVICE_TICKET')
		DECLARE @email_row_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'NEW_SERVICE_TICKET_ROWS');
		DECLARE @site_id int = (Select SiteID from tblServiceTicket where ID = @ticket_id)
		if (@email_message_template = '') 
			BEGIN
				set @email_message = ''
				RETURN 
			END

		if (@email_row_template = '') 
			BEGIN
				set @email_message = ''
				RETURN 
			END

		if (@ticket_id IS Null) 
			BEGIN
				set @email_message = ''
				RETURN 
			END
			
		If (@ticket_id NOT IN (Select ID from tblServiceTicket))
			BEGIN
				set @email_message = ''
				RETURN 
			END

		SET @email_message = @email_message_template
		DECLARE @email_cmm_down_rows varchar(max) = @email_row_template
		DECLARE @ticket_number varchar(50);
		DECLARE @ticket_name varchar(255) ;
		DECLARE @ticket_type_id INT;
		DECLARE @ticket_initiator varchar(255);
		DECLARE @ticket_details varchar(max);
		DECLARE @department_name varchar(255);
		DECLARE @due_date varchar(255);
		DECLARE @ticket_type varchar(255);
		DECLARE @cmm_name varchar(255);
		DECLARE @part_number varchar(255);
		DECLARE @probe_name varchar(255);
		DECLARE @operator_id varchar(10);
		DECLARE @operator_name varchar(255);
		DECLARE @creation_datetime varchar(255);
		DECLARE @site_name varchar(255) = dbo.fnGetSiteNameByServiceTicketID(@ticket_id)

		DECLARE db_cursor CURSOR FOR SELECT TicketNumber, TicketName, IsNull(TicketDetails, ''), InitiatorFullName, DepartmentName, 
																				CONVERT(varchar, DueDate, 101), TicketTypeID, ServiceType, IsNull(CMMName, ''), IsNull(CMMDownPartNumber, ''), 
																				IsNull(ProbeName, ''), IsNull(CMMDownOperatorID, ''), IsNull(CMMDownOperatorName, ''), CONVERT(varchar, CreateTimestamp, 0)
																				FROM qryServiceTicketList
																				WHERE ID = @ticket_id
		OPEN db_cursor;
		
		FETCH NEXT FROM db_cursor INTO @ticket_number, @ticket_name, @ticket_details, @ticket_initiator, @department_name, @due_date,
		                               @ticket_type_id, @ticket_type, @cmm_name, @part_number, @probe_name, @operator_id, @operator_name, @creation_datetime

		set @email_message = Replace(@email_message, '[SiteName]',@site_name);
		set @email_message = Replace(@email_message, '[TicketNumber]',@ticket_number);
		set @email_message = Replace(@email_message, '[CreateDate]', @creation_datetime);
		set @email_message = Replace(@email_message, '[TicketName]', @ticket_name);
		set @email_message = Replace(@email_message, '[TicketType]', @ticket_type);
		set @email_message = Replace(@email_message, '[DueDate]', @due_date);
		set @email_message = Replace(@email_message, '[InitiatorName]', @ticket_initiator);
		set @email_message = Replace(@email_message, '[TicketDescription]', @ticket_details);
		set @email_message = Replace(@email_message, '[Department]', @department_name);
		set @email_message = Replace(@email_message, '[TicketID]', cast(@ticket_id as varchar));
		IF @site_id = 1
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'CR');
			END
		IF @site_id = 2
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'ANK');
			END

		if @ticket_type_id <> 1
			BEGIN
				set @email_message = Replace(@email_message, '[CMMDownRows]', '');
			END
		ELSE
			BEGIN
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[PartNumber]', @part_number);		
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[CMM]', @cmm_name);
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[Probe]', @probe_name);
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[OperatorID]', @operator_id);
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[OperatorName]', @operator_name);
				set @email_message = Replace(@email_message, '[CMMDownRows]', @email_cmm_down_rows);
			END

		CLOSE db_cursor;
		DEALLOCATE db_cursor;

		Select @email_message
		RETURN

	END
GO
