USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spEMAIL_GetGroupUpdateEmail]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spEMAIL_GetGroupUpdateEmail]
GO
/****** Object:  StoredProcedure [spEMAIL_GetGroupUpdateEmail]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spEMAIL_GetGroupUpdateEmail]
	@project_id						INT,
	@task_count						INT,
	@task_id_list					varchar(max),
	@include_notes				smallint = 0,
	@email_header_name		varchar(255),
	@email_details_name		varchar(255),
	@user_id			INT,
	@email_message			VARCHAR(MAX) OUTPUT
	
AS
	
	BEGIN
		/*
		Procedure: [spEMAIL_GetGroupUpdateEmail]
		Purpose:
		  - Builds a group update email for a project with multiple tasks, using header and row templates.

		Parameters:
		  @project_id INT
			- Required. Project to summarize.
		  @task_count INT
			- Required. Number of tasks included.
		  @task_id_list VARCHAR(MAX)
			- Required. Comma-separated list of task IDs (consumed by fnSplitIntegers).
		  @include_notes SMALLINT = 0
			- If non-zero, includes latest note for the first fetched task (token [NOTE]).
		  @email_header_name VARCHAR(255)
			- EventName for header template in tblEMailMessageTemplate.
		  @email_details_name VARCHAR(255)
			- EventName for row template in tblEMailMessageTemplate.
		  @user_id INT
			- Required. Acting user ID (tblUser.ID).
		  @email_message VARCHAR(MAX) OUTPUT
			- Output composed HTML.

		Behavior:
		  - Validates presence of templates and inputs; returns immediately (no RAISERROR) if invalid.
		  - Replaces header tokens including [TicketNumber], [TaskCount], [Assigner], [ProjectName], [Department], [ProjectDescription], [SITECODE].
		  - Iterates task IDs (qryTaskDetails) to build [TaskRows].
		  - SELECTs final @email_message.

		Returns:
		  - SELECT of @email_message on success; otherwise returns nothing.

		Permissions:
		  - SELECT on templates and referenced views/tables.

		Usage:
		  DECLARE @html VARCHAR(MAX);
		  EXEC [spEMAIL_GetGroupUpdateEmail]
			   @project_id = 1001,
			   @task_count = 3,
			   @task_id_list = '10,11,12',
			   @include_notes = 1,
			   @email_header_name = 'GROUP_UPDATE_HEADER',
			   @email_details_name = 'GROUP_UPDATE_ROW',
			   @user_id = 7,
			   @email_message = @html OUTPUT;
		  SELECT @html;

		Last updated: 2025-09-19
		*/
		SET NOCOUNT ON;
		DECLARE @email_message_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = @email_header_name);
		DECLARE @email_row_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = @email_details_name);

		if (len(trim(@email_message_template)) = 0 ) RETURN;
		if (len(trim(@email_row_template)) = 0 ) RETURN;
		if (len(trim(@task_id_list)) = 0) RETURN;
		if (@task_count IS NULL) OR (@task_count = 0) RETURN;
		If (@project_id Is Null) OR (@project_id not in (select ID from tblProject)) RETURN;
		IF (@user_id Is Null) or (@user_id not in (select ID from tblUser)) RETURN;

		DECLARE @ticket_number varchar(50) = (Select TicketNumber from tblProject where ID = @project_id);
		DECLARE @project_name varchar(255) = (Select ProjectName from tblProject where ID = @project_id);
		DECLARE @project_description varchar(max) = (Select ProjectDescription from tblProject where ID = @project_id);
		DECLARE @user_name Varchar(512) = dbo.fnGetUserNameByID(@user_id);
		DECLARE @department_name varchar(255) = dbo.fnGetDepartmentNameByProjectID(@project_id);
		DECLARE @task_rows varchar(max) = '';
		DECLARE @task_row varchar(max);
		
		DECLARE @task_name varchar(255);
		DECLARE @task_status varchar(255);
		DECLARE @task_type varchar(255);
		DECLARE @due_date varchar(255);
		DECLARE @scheduled_due_date varchar(255);
		DECLARE @last_note Varchar(max) = '';
		DECLARE @task_id INT;
		DECLARE @site_name varchar(255) = dbo.fnGetSiteNameByProjectID(@project_id)
		DECLARE @site_id int = (Select SiteID from tblProject where ID = @project_id)
		
		SET @email_message = @email_message_template
		set @email_message = Replace(@email_message, '[SiteName]',@site_name);
		set @email_message = Replace(@email_message, '[TicketNumber]', @ticket_number);
		set @email_message = Replace(@email_message, '[TaskCount]', Cast(@task_count as varchar));
		set @email_message = Replace(@email_message, '[Assigner]', @user_name);
		set @email_message = Replace(@email_message, '[Employee]', @user_name);
		set @email_message = Replace(@email_message, '[ProjectName]', @project_name);
		set @email_message = Replace(@email_message, '[Department]', @department_name);
		set @email_message = Replace(@email_message, '[ProjectDescription]', @project_description);
		IF @site_id = 1
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'CR');
			END
		IF @site_id = 2
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'ANK');
			END

		DECLARE db_cursor CURSOR FOR SELECT ID, TaskName, TaskType, Status, CONVERT(varchar, DueDate, 101), CONVERT(varchar, ScheduledDueDate, 101)  
																	FROM qryTaskDetails where ID in (SELECT * FROM [dbo].[fnSplitIntegers](@task_id_list));
		OPEN db_cursor;
		
		FETCH NEXT FROM db_cursor INTO @task_id, @task_name, @task_type, @task_status, @due_date, @scheduled_due_date;
		
		IF @include_notes <> 0
			BEGIN
				set @last_note = (Select ISNULL(TaskNote, '') from tblTaskNotes WHERE ID = (Select Max(ID) from tblTaskNotes where TaskID = @task_id));
				SET @email_message = Replace(@email_message, '[NOTE]', @last_note);
			END
	  else
			BEGIN
				SET @email_message = Replace(@email_message, '[NOTE]', 'No note was given.');
			END

		WHILE @@FETCH_STATUS = 0  
				BEGIN  
					SET @task_row = @email_row_template;
					SET @task_row = Replace(@task_row, '[TaskName]', @task_name);
					SET @task_row = Replace(@task_row, '[Status]', @task_status);
					SET @task_row = Replace(@task_row, '[TaskType]', @task_type);
					SET @task_row = Replace(@task_row, '[DueDate]', @due_date);
					SET @task_row = Replace(@task_row, '[ScheduledDueDate]', @scheduled_due_date);
					SET @task_rows = CONCAT(@task_rows, @task_row)
					FETCH NEXT FROM db_cursor INTO @task_id, @task_name, @task_type, @task_status, @due_date, @scheduled_due_date;
				END;

		CLOSE db_cursor;
		DEALLOCATE db_cursor;

		set @email_message = Replace(@email_message, '[TaskRows]', @task_rows);
		Select @email_message
		RETURN
	END
GO
