USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spEMAIL_GetProbeReOrderEmail]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spEMAIL_GetProbeReOrderEmail]
GO
/****** Object:  StoredProcedure [spEMAIL_GetProbeReOrderEmail]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spEMAIL_GetProbeReOrderEmail]
	@site_id INT,
	@email_message			VARCHAR(MAX) OUTPUT
	
AS
	
	BEGIN
		/*
		Procedure: [spEMAIL_GetProbeReOrderEmail]
		Purpose:
		  - Composes an email listing probes at or below reorder threshold for a site.

		Parameters:
		  @site_id INT
			- Required. Site ID to check.
		  @email_message VARCHAR(MAX) OUTPUT
			- Output. Final HTML.

		Behavior:
		  - Loads templates for 'REORDER_PROBE' (header) and 'REORDER_PROBE_ROW' (row).
		  - Validates template presence; RAISERROR and RETURN '' if missing.
		  - Checks reorder count via qryReorderProbes; returns '' if zero.
		  - Iterates tblCMMProbes for probes needing reorder and builds [ProbeRows].
		  - Replaces [CountOfProbes], [ProbeRows], and [SITECODE]; SELECTs message.

		Returns:
		  - SELECT of @email_message or '' on error/no data.

		Permissions:
		  - SELECT on templates and tblCMMProbes/qryReorderProbes.

		Usage:
		  DECLARE @html VARCHAR(MAX);
		  EXEC [spEMAIL_GetProbeReOrderEmail]
			   @site_id = 1,
			   @email_message = @html OUTPUT;
		  SELECT @html;

		Last updated: 2025-09-19
		*/
		SET NOCOUNT ON;
		DECLARE @email_message_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'REORDER_PROBE');
		DECLARE @email_row_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'REORDER_PROBE_ROW');
		DECLARE @reorder_row varchar(max)= '';
		DECLARE @reorder_rows varchar(max)= '';
		DECLARE @error_message nvarchar(max) = '';
		Declare @probe_name varchar(255);
		Declare @current_quantity int;
		Declare @reorder_quantity int;
		
		if (len(trim(@email_message_template)) = 0) 
			begin
				SET @error_message = @error_message + 'EMail Message Template is Empty.\r\n\';
			end

		if (len(trim(@email_row_template)) = 0) 
			begin
				SET @error_message = @error_message + 'EMail Row Template is Empty.\r\n\';
			end
		
		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1);
				RETURN '';
			end
			
		Declare @reorder_count INT = (Select CountOfReorderProbes from qryReorderProbes where SiteID = @site_id);
		Set @reorder_count = ISNULL(@reorder_count, 0);
		
		if @reorder_count = 0
			BEGIN
				RETURN '';
			END

		set @email_message = @email_message_template;

		set @email_message = Replace(@email_message, '[CountOfProbes]',@reorder_count);

		DECLARE db_cursor CURSOR FOR	SELECT DISTINCT ProbeName, CurrentQuantity, ReorderQuantity
																	FROM		dbo.tblCMMProbes
																	WHERE   (CurrentQuantity <= ReorderQuantity) AND (SiteID = @site_id) AND (ReorderQuantity > 0);
		OPEN db_cursor;
		
		FETCH NEXT FROM db_cursor INTO @probe_name, @current_quantity, @reorder_quantity;
		
		WHILE @@FETCH_STATUS = 0  
		BEGIN  
			SET @reorder_row = @email_row_template;
			SET @reorder_row = Replace(@reorder_row, '[ProbeName]', @probe_name);
			SET @reorder_row = Replace(@reorder_row, '[CurrentStock]', @current_quantity);
			SET @reorder_row = Replace(@reorder_row, '[ReorderThreshold]', @reorder_quantity);
			SET @reorder_rows = CONCAT(@reorder_rows, @reorder_row)
			FETCH NEXT FROM db_cursor INTO @probe_name, @current_quantity, @reorder_quantity;
		END;

		CLOSE db_cursor;
		DEALLOCATE db_cursor;
		
		set @email_message = Replace(@email_message, '[ProbeRows]', @reorder_rows)
		
		IF @site_id = 1
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'CR');
			END
		IF @site_id = 2
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'ANK');
			END

		select @email_message
	END
GO
