USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spEMAIL_ScheduleUpdateEmailMessage]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spEMAIL_ScheduleUpdateEmailMessage]
GO
/****** Object:  StoredProcedure [spEMAIL_ScheduleUpdateEmailMessage]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spEMAIL_ScheduleUpdateEmailMessage]
	@run_id						int,
	@email_message			VARCHAR(MAX) OUTPUT
	
AS
	
	BEGIN
		SET NOCOUNT ON;
		DECLARE @email_message_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'SCHEDULE_UPDATE_MESSAGE')
		DECLARE @email_row_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'SCHEDULE_UPDATE_ROW');
		
		if (@email_message_template = '') 
			BEGIN
				set @email_message = ''
				RETURN 
			END

		if (@email_row_template = '') 
			BEGIN
				set @email_message = ''
				RETURN 
			END
	
		DECLARE @runDatetime as datetime
		DECLARE @isAutomatedDisplay as varchar(12)
		DECLARE @errorCount as smallint
		DECLARE @requestedBy as varchar(255)
		DECLARE @startDatetime as datetime
		DECLARE @completionDatetime as datetime
		DECLARE @taskUpdated as int
		DECLARE @site_name varchar(255)
		DECLARE @site_id int

		SET @email_message = @email_message_template

		DECLARE runs_cursor CURSOR FOR SELECT RunDateTime, IsAutomatedDisplay, ErrorCount, RequestedBy, StartTimestamp, CompletionTimestamp, TasksUpdated, SiteName, SiteID
																	FROM qryScheduleUpdateRuns
																	WHERE ID = @run_id
		OPEN runs_cursor;
		
		FETCH NEXT FROM runs_cursor INTO @runDatetime, @isAutomatedDisplay, @errorCount, @requestedBy, @startDatetime, @completionDatetime, @taskUpdated, @site_name, @site_id
		CLOSE runs_cursor;
		DEALLOCATE runs_cursor;

		

		set @email_message = Replace(@email_message, '[SiteName]',@site_name);
		set @email_message = Replace(@email_message, '[RunDateTime]',CONVERT(varchar, @runDatetime, 22));
		set @email_message = Replace(@email_message, '[IsAutomated]', @isAutomatedDisplay);
		set @email_message = Replace(@email_message, '[RequestedBy]', @requestedBy);
		set @email_message = Replace(@email_message, '[StartDatetime]', CONVERT(varchar, @startDatetime, 22));
		set @email_message = Replace(@email_message, '[CompletionDatetime]', CONVERT(varchar, @completionDatetime, 22));
		set @email_message = Replace(@email_message, '[TasksUpdated]', Cast(@taskUpdated as varchar));
		set @email_message = Replace(@email_message, '[ErrorCount]', Cast(@errorCount as varchar));
		
		IF @site_id = 1
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'CR');
			END
		IF @site_id = 2
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'ANK');
			END


		DECLARE @log_rows varchar(max) = '';
		DECLARE @log_row varchar(max);
		DECLARE @logCreateDatetime datetime
		DECLARE @logIsErrorDisplay varchar(15)
		DECLARE @importName as varchar(255)
		DECLARE @logMessage as varchar(1000)


		DECLARE log_cursor CURSOR FOR SELECT CreateTimestamp, IsErrorDisplay, ImportName, LogMessage
																	FROM qryScheduleUpdateLog 
																	WHERE ScheduleRunEntryID = @run_id;
		OPEN log_cursor;
		
		FETCH NEXT FROM log_cursor INTO @logCreateDatetime, @logIsErrorDisplay, @importName, @logMessage
		WHILE @@FETCH_STATUS = 0  
			BEGIN  
				SET @log_row = @email_row_template;
				SET @log_row = Replace(@log_row, '[CreateDatetime]', CONVERT(varchar, @logCreateDatetime, 22));
				SET @log_row = Replace(@log_row, '[ScheduleName]', @importName);
				SET @log_row = Replace(@log_row, '[Errored]', @logIsErrorDisplay);
				SET @log_row = Replace(@log_row, '[LogMessage]', @logMessage);

				SET @log_rows = CONCAT(@log_rows, @log_row)
				FETCH NEXT FROM log_cursor INTO @logCreateDatetime, @logIsErrorDisplay, @importName, @logMessage
			END;


		CLOSE log_cursor;
		DEALLOCATE log_cursor;

		set @email_message = Replace(@email_message, '[LogRows]', @log_rows);
		Select @email_message
		RETURN

	END
GO
