USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spEMAIL_GetEmailMessageByTaskIDAndEMailType]    Script Date: 9/12/2025 9:28:35 AM ******/


DROP PROCEDURE [spEMAIL_GetEmailMessageByTaskIDAndEMailType]
GO
/****** Object:  StoredProcedure [spEMAIL_GetEmailMessageByTaskIDAndEMailType]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spEMAIL_GetEmailMessageByTaskIDAndEMailType]
	@task_id						int,
	@email_event_type		varchar(255),
	@user_message_text	varchar(2000) = '',
	@include_notes			smallint = 0,
	@user_id						VARCHAR(10),
	@email_message			VARCHAR(MAX) OUTPUT
	
AS
	
	BEGIN
	/***************************************************************************************************
	Procedure:      spEMAIL_GetEmailMessageByTaskIDAndEMailType
	Purpose:        Builds an outbound HTML email message for a task + event (email_event_type).
					Performs token replacement on a stored template and returns final HTML.
									There are a bunch of different emails that have similar fields, so this single sproc
									is used to generate all of them based on the template and event type.
	Primary Output: @email_message (OUTPUT parameter) and also SELECT of same value.
	Return Code:    0 on error (after RAISERROR). Success returns no explicit code (NULL / previous @@ERROR).

	Parameters:
		@task_id            INT             Required. Must exist in tblTask.
		@email_event_type   VARCHAR(255)    Required. Matches tblEMailMessageTemplate.EventName.
		@user_message_text  VARCHAR(2000)   Optional free‑form note (HTML encoded via dbo.fnHTMLizeText).
		@include_notes      SMALLINT        If <> 0, pulls most recent task note (currently only fetched to @last_note, not injected).
		@user_id            VARCHAR(10)     Required. EmployeeNumber of acting user (NOT tblUser.ID).
		@email_message      VARCHAR(MAX) OUTPUT Final composed HTML.

	Template / Property Dependencies:
		tblEMailMessageTemplate (EventName, EMailMessageTemplate)
		tblApplicationProperties: 'TicketHTMLAddress' (expects token [TicketID])
								  'TaskHTMLAddress'   (expects token [TaskID])

	Scalar Functions Used (must exist):
		dbo.fnHTMLizeText
		dbo.fnTaskNameByTaskID
		dbo.fnGetProjectNameByTaskID
		dbo.fnGetProjectIDByTaskID
		dbo.fnGetProjectDescriptionByTaskID
		dbo.fnGetUserNameByEmployeeNumber
		dbo.fnGetDepartmentNameByTaskID
		dbo.fnGetStatusNameByTaskID
		dbo.fnGetTaskTypeNameByTaskID
		dbo.fnGetSiteNameByProjectID

	Tables Referenced:
		tblEMailMessageTemplate, tblApplicationProperties, tblTask, tblProject,
		tblTaskTimeEntry, tblTaskNotes, tblUser

	Tokens Replaced (must appear in template to have effect):
		[SiteName] [SenderName] [TicketURL] [TaskURL]
		[Assigner] [Employee] [TaskUpdateRequest] [NoteText]
		[CompletionNotes] [WaitingNotes]
		[TaskName] [ProjectName] [Department] [Status] [TaskType]
		[TicketNumber] [DueDate] [ScheduledDueDate] [TotalHours] [ProjectDescription]

	Behavior Notes:
		- @user_message_text is HTML-escaped then substituted into several tokens.
		- Completion / Waiting note tokens are conditionally populated (bold wrapped) only if @user_message_text <> ''.
		- If @include_notes <> 0 latest note is loaded into @last_note but NOT currently merged; consider adding a token (e.g. [LastNote]).
		- Hours total aggregated from tblTaskTimeEntry (SUM(Hours)).
		- Dates converted mm/dd/yyyy (style 101).

	Error Handling:
		Accumulates validation failures into @error_message and RAISERROR (severity 16) if any:
			- Missing/empty template
			- Missing URL templates
			- Invalid @task_id
			- Empty @email_event_type
			- Empty @user_id
		  Then RETURNS 0 (caller should trap).

	Security / Safety:
		- Relies on fnHTMLizeText to mitigate injection from @user_message_text.
		- No dynamic SQL.

	Example Invocation:
		DECLARE @msg VARCHAR(MAX);
		EXEC spEMAIL_GetEmailMessageByTaskIDAndEMailType
			 @task_id = 123,
			 @email_event_type = 'TaskAssigned',
			 @user_message_text = 'Please review ASAP',
			 @include_notes = 1,
			 @user_id = '12345',
			 @email_message = @msg OUTPUT;
		SELECT @msg;

	Change Log:
		2025-09-18  Added documentation header.

***************************************************************************************************/

		SET NOCOUNT ON;
		SET @user_message_text = dbo.fnHTMLizeText(@user_message_text)
		DECLARE @email_message_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = @email_event_type)
		DECLARE @last_note Varchar(max) = ''
		DECLARE @error_message nvarchar(max) = ''
		
		if (len(trim(@email_message_template)) = 0) 
			begin
				SET @error_message = @error_message + 'EMail Message Template is Empty.\r\n\'
			end
		

		DECLARE @ticket_url_template varchar(255) = (Select IsNull(PropertyValue, '') from tblApplicationProperties WHERE PropertyName = 'TicketHTMLAddress')
			if (len(trim(@ticket_url_template)) = 0) 
			begin
				SET @error_message = @error_message + 'Ticket URL Template is Empty.\r\n\'
			end

		DECLARE @task_url_template varchar(255) = (Select IsNull(PropertyValue, '') from tblApplicationProperties WHERE PropertyName = 'TaskHTMLAddress')
			if (len(trim(@task_url_template)) = 0) 
			begin
				SET @error_message = @error_message + 'Task URL Template is Empty.\r\n\'
			end

		If (@task_id Is Null) OR (@task_id not in (select ID from tblTask)) 
			begin
				SET @error_message = @error_message + 'Task ID is invalid or empty.\r\n\'
			end		

		If (@email_event_type Is Null) or (@email_event_type = '') 
			begin
				SET @error_message = @error_message + 'Email Event Type is Empty.\r\n\'
			end		

		If (@user_id Is Null) or (@user_id = '') 
			begin
				SET @error_message = @error_message + 'User ID is Empty.\r\n\'
			end
		
		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end	
		
		SET @user_message_text = ISNull(@user_message_text, '')
		

		set @email_message = @email_message_template 
		DECLARE @sender_name varchar(255) = (Select FullName from tblUser where EmployeeNumber = @user_id and ISActive = 1)
		DECLARE @task_name varchar(255) = dbo.fnTaskNameByTaskID(@task_id)
		DECLARE @project_name varchar(255) = dbo.fnGetProjectNameByTaskID(@task_id)
		DECLARE @project_id int = dbo.fnGetProjectIDByTaskID(@task_id)
		DECLARE @project_description varchar(max) = dbo.fnGetProjectDescriptionByTaskID(@task_id)
		DECLARE @user_name Varchar(512) = dbo.fnGetUserNameByEmployeeNumber(@user_id)
		
		DECLARE @department_name varchar(255) = dbo.fnGetDepartmentNameByTaskID(@task_id)
		
		DECLARE @status_name varchar(255) = dbo.fnGetStatusNameByTaskID(@task_id)
		
		DECLARE @task_type_name varchar(255) = dbo.fnGetTaskTypeNameByTaskID(@task_id)

		DECLARE @due_date varchar(10) = (SELECT CONVERT(varchar, DueDate, 101) from tblTask where ID = @task_id)
		DECLARE @scheduled_due_date varchar(10) = (SELECT CONVERT(varchar, ScheduledDueDate, 101) from tblTask where ID = @task_id)
		DECLARE @ticket_number varchar(50) = (Select TicketNumber from tblProject where ID = @project_id)
		DECLARE @total_hours real = (Select ISNULL(Sum(Hours),0) from tblTaskTimeEntry WHERE TaskID = @task_id)
		DECLARE @ticket_url varchar(500) = Replace(@ticket_url_template, '[TicketID]', Cast(@project_id as varchar))
		DECLARE @task_url varchar(500) = Replace(@task_url_template, '[TaskID]', Cast(@task_id as varchar))
		DECLARE @site_name varchar(255) = dbo.fnGetSiteNameByProjectID(@project_id)
		DECLARE @site_id int = (Select SiteID from tblProject where ID = @project_id)
		
		IF @include_notes <> 0
			BEGIN
				set @last_note = (Select TaskNote from tblTaskNotes WHERE ID = (Select Max(ID) from tblTaskNotes where TaskID = @task_id))
				set @last_note = IsNull(@last_note, '');
			END
		set @email_message = Replace(@email_message, '[SiteName]',@site_name);
		set @email_message = Replace(@email_message, '[SenderName]', @sender_name)
		set @email_message = Replace(@email_message, '[TicketURL]', @ticket_url)
		set @email_message = Replace(@email_message, '[TaskURL]', @task_url)

		set @email_message = Replace(@email_message, '[Assigner]', @user_name)
		set @email_message = Replace(@email_message, '[Employee]', @user_name)
		set @email_message = Replace(@email_message, '[TaskUpdateRequest]', @user_message_text)
		set @email_message = Replace(@email_message, '[NoteText]', @user_message_text)
		if @user_message_text <> ''
			BEGIN
				set @email_message = Replace(@email_message, '[CompletionNotes]', 'Completion Note: <b>' +  @user_message_text + '</b>')
				set @email_message = Replace(@email_message, '[WaitingNotes]', 'Waiting Note: <b>' +  @user_message_text + '</b>')
			END
		ELSE
			BEGIN
				set @email_message = Replace(@email_message, '[CompletionNotes]', '')
				set @email_message = Replace(@email_message, '[WaitingNotes]', '')
			END
		
		set @email_message = Replace(@email_message, '[TaskName]', @task_name)
		set @email_message = Replace(@email_message, '[ProjectName]', @project_name)
		set @email_message = Replace(@email_message, '[Department]', @department_name)
		set @email_message = Replace(@email_message, '[Status]', @status_name)
		set @email_message = Replace(@email_message, '[TaskType]', @task_type_name)
		set @email_message = Replace(@email_message, '[TicketNumber]', @ticket_number)
		set @email_message = Replace(@email_message, '[DueDate]', @due_date)
		set @email_message = Replace(@email_message, '[ScheduledDueDate]', @scheduled_due_date)
		set @email_message = Replace(@email_message, '[TotalHours]', CAST(@total_hours as varchar))
		set @email_message = Replace(@email_message, '[ProjectDescription]', @project_description)
		Select @email_message
		RETURN
	END
GO
