USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spEMAIL_GetNewProgrammingTicketEmailMessage]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spEMAIL_GetNewProgrammingTicketEmailMessage]
GO
/****** Object:  StoredProcedure [spEMAIL_GetNewProgrammingTicketEmailMessage]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spEMAIL_GetNewProgrammingTicketEmailMessage]
	@project_id						int,
	@email_message			VARCHAR(MAX) OUTPUT
	
AS
	
	BEGIN
		SET NOCOUNT ON;
		DECLARE @email_message_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'NEW_PROGRAMMING_TICKET')
		DECLARE @email_row_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'NEW_PROGRAMMING_TICKET_ROW');
		
		if (@email_message_template = '') 
			BEGIN
				set @email_message = ''
				RETURN 
			END

		if (@email_row_template = '') 
			BEGIN
				set @email_message = ''
				RETURN 
			END

		if (@project_id IS Null) 
			BEGIN
				set @email_message = ''
				RETURN 
			END
			
		If (@project_id NOT IN (Select ID from tblProject))
			BEGIN
				set @email_message = ''
				RETURN 
			END


		SET @email_message = @email_message_template
		DECLARE @ticket_name varchar(255) = (Select ProjectName from tblProject where ID = @project_id);
		DECLARE @ticket_number varchar(50) = (select ProjectName from tblProject where ID = @project_id);
		DECLARE @ticket_initiator varchar(255) = (SELECT tblUser.FullName FROM tblUser INNER JOIN tblProject ON tblUser.ID = tblProject.InitiatorEmployeeID WHERE tblProject.ID = @project_id );
		DECLARE @ticket_description varchar(max) = (Select IsNull(ProjectDescription, '') from tblProject where ID = @project_id);
		DECLARE @department_name varchar(255) = dbo.fnGetDepartmentNameByProjectID(@project_id);
		DECLARE @quality_engineer varchar(255) = dbo.fnGetQENameByProjectID(@project_id);
		DECLARE @manufacturing_engineer varchar(255) = IsNull(dbo.fnGetMENameByProjectID(@project_id), '');
		DECLARE @task_rows varchar(max) = '';
		DECLARE @task_row varchar(max);

		DECLARE @task_name varchar(255);
		DECLARE @task_type varchar(255);
		DECLARE @due_date varchar(255);
		DECLARE @task_id INT;
		DECLARE @site_name varchar(255) = dbo.fnGetSiteNameByProjectID(@project_id)
		DECLARE @site_id int = (Select SiteID from tblProject where ID = @project_id)

		set @email_message = Replace(@email_message, '[SiteName]',@site_name);

		set @email_message = Replace(@email_message, '[TicketNumber]',@ticket_number);
		set @email_message = Replace(@email_message, '[InitiatorName]', @ticket_initiator);
		set @email_message = Replace(@email_message, '[TicketName]', @ticket_name);
		set @email_message = Replace(@email_message, '[TicketDetails]', @ticket_description);
		set @email_message = Replace(@email_message, '[Department]', @department_name);
		set @email_message = Replace(@email_message, '[MEName]', @manufacturing_engineer);
		set @email_message = Replace(@email_message, '[QEName]', @quality_engineer);
		set @email_message = Replace(@email_message, '[TicketID]', Cast(@project_id as varchar));
		IF @site_id = 1
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'CR');
			END
		IF @site_id = 2
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'ANK');
			END

		DECLARE db_cursor CURSOR FOR SELECT ID, TaskName, TaskType, CONVERT(varchar, DueDate, 101) FROM qryTaskList where ProjectID = @project_id;
		OPEN db_cursor;
		
		FETCH NEXT FROM db_cursor INTO @task_id, @task_name, @task_type, @due_date
		
		

		WHILE @@FETCH_STATUS = 0  
				BEGIN  
					SET @task_row = @email_row_template;
					SET @task_row = Replace(@task_row, '[TaskName]', @task_name);
					SET @task_row = Replace(@task_row, '[TaskType]', @task_type);
					SET @task_row = Replace(@task_row, '[DueDate]', @due_date);
					SET @task_rows = CONCAT(@task_rows, @task_row)
					FETCH NEXT FROM db_cursor INTO @task_id, @task_name, @task_type, @due_date;
				END;

		CLOSE db_cursor;
		DEALLOCATE db_cursor;

		set @email_message = Replace(@email_message, '[TaskRows]', @task_rows);
		Select @email_message
		RETURN

	END
GO
