USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spEMAIL_GetUpdatedServiceTicketEmailMessage]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spEMAIL_GetUpdatedServiceTicketEmailMessage]
GO
/****** Object:  StoredProcedure [spEMAIL_GetUpdatedServiceTicketEmailMessage]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [spEMAIL_GetUpdatedServiceTicketEmailMessage]
	@ticket_id						int,
	@email_message			VARCHAR(MAX) OUTPUT
	
AS
	
	BEGIN
		SET NOCOUNT ON;
		DECLARE @email_message_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'UPDATE_SERVICE_TICKET')
		DECLARE @email_row_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'NEW_SERVICE_TICKET_ROWS');
		DECLARE @email_note_template varchar(max) = (Select IsNull(EMailMessageTemplate, '') from tblEMailMessageTemplate WHERE EventName = 'UPDATE_SERVICE_NOTE');
		DECLARE @site_id int = (Select SiteID from tblServiceTicket where ID = @ticket_id)
		if (@email_message_template = '') 
			BEGIN
				Print 'no email message template'
				set @email_message = ''
				RETURN 
			END

		if (@email_row_template = '') 
			BEGIN
				Print 'no email row template'
				set @email_message = ''
				RETURN 
			END

		if (@ticket_id IS Null) 
			BEGIN
				Print 'Invalid Ticket ID'
				set @email_message = ''
				RETURN 
			END
			
		If (@ticket_id NOT IN (Select ID from tblServiceTicket))
			BEGIN
				Print 'Invalid Ticket ID'
				set @email_message = ''
				RETURN 
			END


		SET @email_message = @email_message_template
		DECLARE @site_name varchar(255) = dbo.fnGetSiteNameByServiceTicketID(@ticket_id)
		DECLARE @email_cmm_down_rows varchar(max) = @email_row_template
		DECLARE @email_note varchar(max) = @email_note_template
		DECLARE @ticket_number varchar(50);
		DECLARE @ticket_name varchar(255) ;
		DECLARE @ticket_type_id INT;
		DECLARE @ticket_initiator varchar(255);
		DECLARE @ticket_details varchar(max);
		DECLARE @department_name varchar(255);
		DECLARE @due_date varchar(255);
		DECLARE @ticket_type varchar(255);
		DECLARE @cmm_name varchar(255);
		DECLARE @part_number varchar(255);
		DECLARE @probe_name varchar(255);
		DECLARE @operator_id varchar(10);
		DECLARE @operator_name varchar(255);
		DECLARE @update_datetime varchar(255);
		DECLARE @update_by varchar(255);
		DECLARE @note_author varchar(255);
		DECLARE @note_date varchar(255);
		DECLARE @note_text varchar(max);
		DECLARE @status varchar(255);
		DECLARE @assignee varchar(255);
		DECLARE @note_count int = (Select Count(*) from tblServiceNotes where ServiceTicketID = @ticket_id)


		DECLARE db_cursor CURSOR FOR SELECT TicketNumber, TicketName, IsNull(TicketDetails, ''), InitiatorFullName, DepartmentName, 
																				CONVERT(varchar, DueDate, 101), TicketTypeID, ServiceType, IsNull(CMMName, ''), IsNull(CMMDownPartNumber, ''), 
																				IsNull(ProbeName, ''), IsNull(CMMDownOperatorID, ''), IsNull(CMMDownOperatorName, ''), CONVERT(varchar, SYSDATETIME(), 22), LastUpdatedByFullName, ServiceStatus, IsNull(AssignedToName, '')
																				FROM qryServiceTicketList
																				WHERE ID = @ticket_id
		OPEN db_cursor;
		
		FETCH NEXT FROM db_cursor INTO @ticket_number, @ticket_name, @ticket_details, @ticket_initiator, @department_name, @due_date,
		                               @ticket_type_id, @ticket_type, @cmm_name, @part_number, @probe_name, @operator_id, @operator_name, @update_datetime, @update_by, @status, @assignee
		CLOSE db_cursor;
		DEALLOCATE db_cursor;

		if @note_count > 0
			BEGIN
				DECLARE note_cursor CURSOR FOR SELECT CONVERT(varchar, CreatedTimestamp, 0), UpdateBy, TaskNote from qryLatestServiceNote WHERE ServiceTicketID = @ticket_id
				OPEN note_cursor;
				FETCH NEXT FROM note_cursor INTO @note_date, @note_author, @note_text
				CLOSE note_cursor;
				DEALLOCATE note_cursor;
			END

		set @email_message = Replace(@email_message, '[SiteName]',@site_name);
		set @email_message = Replace(@email_message, '[TicketNumber]',@ticket_number);
		set @email_message = Replace(@email_message, '[UpdateDate]', @update_datetime);
		set @email_message = Replace(@email_message, '[UpdateBy]', @update_by);
		set @email_message = Replace(@email_message, '[TicketName]', @ticket_name);
		set @email_message = Replace(@email_message, '[TicketType]', @ticket_type);
		set @email_message = Replace(@email_message, '[DueDate]', @due_date);
		set @email_message = Replace(@email_message, '[InitiatorName]', @ticket_initiator);
		set @email_message = Replace(@email_message, '[TicketDescription]', @ticket_details);
		set @email_message = Replace(@email_message, '[Department]', @department_name);
		set @email_message = Replace(@email_message, '[TicketID]', cast(@ticket_id as varchar));
		set @email_message = Replace(@email_message, '[Department]', @department_name);
		set @email_message = Replace(@email_message, '[Status]', @status);
		set @email_message = Replace(@email_message, '[Assignee]', @assignee);
		IF @site_id = 1
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'CR');
			END
		IF @site_id = 2
			BEGIN
				set @email_message = Replace(@email_message, '[SITECODE]', 'ANK');
			END


		if @ticket_type_id <> 1
			BEGIN
				set @email_message = Replace(@email_message, '[CMMDownRows]', '');
			END
		ELSE
			BEGIN
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[PartNumber]', @part_number);		
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[CMM]', @cmm_name);
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[Probe]', @probe_name);
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[OperatorID]', @operator_id);
				set @email_cmm_down_rows = Replace(@email_cmm_down_rows, '[OperatorName]', @operator_name);
				set @email_message = Replace(@email_message, '[CMMDownRows]', @email_cmm_down_rows);
			END

		if @note_count = 0
			BEGIN
				set @email_message = Replace(@email_message, '[LatestNote]', '');
			END
		ELSE
			BEGIN
				set @email_note = Replace(@email_note, '[AuthorName]', @note_author);		
				set @email_note = Replace(@email_note, '[NoteDate]', @note_date);
				set @email_note = Replace(@email_note, '[NoteText]', @note_text);
				set @email_message = Replace(@email_message, '[LatestNote]', @email_note);
			END

			



		
		Select @email_message
		RETURN

	END
GO
