USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spIMPORT_UpdateTaskFromImportTable]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spIMPORT_UpdateTaskFromImportTable]
GO
/****** Object:  StoredProcedure [spIMPORT_UpdateTaskFromImportTable]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spIMPORT_UpdateTaskFromImportTable]
	@userEmployeeNumber VarChar(10)
AS
	
	/*
	Procedure: [spIMPORT_UpdateTaskFromImportTable]
	Purpose:
	  - Synchronizes task due dates from `tblImport` into `tblTask` for all open (not complete/cancelled) and non-manual tasks.
	  - Moves a task's `ScheduledDueDate` to the imported date and sets `DueDate` to the previous working day.
	  - If the task is currently in StatusID = 7 (On Hold?), it resets the status to 1 (Open) on update.

	Parameters:
	  @userEmployeeNumber VARCHAR(10)
		- Required. EmployeeNumber of the user applying the update (written to `UpdateUserID`).

	Behavior:
	  - Iterates tasks where TaskName exists in `tblImport`, Status is not complete/cancelled (`tblStatus.IsCompleteOrCancelled = 0`), and ManualDueDate = 0.
	  - For each, computes previous working day via `dbo.fnAddWeekdays(imported_due_date, -1)`.
	  - If imported due date equals current scheduled due date AND the previous working day equals the current due date, the row is skipped (no-op).
	  - Otherwise updates `tblTask.DueDate` and `tblTask.ScheduledDueDate`; if StatusID = 7, also sets StatusID = 1.
	  - Always stamps `UpdateUserID` with @userEmployeeNumber.

	Returns:
	  - No explicit resultset; updates rows in `tblTask`.

	Permissions:
	  - SELECT on `tblStatus`, `tblTask`, `tblImport`; UPDATE on `tblTask`.

	Usage:
	  EXEC [spIMPORT_UpdateTaskFromImportTable] @userEmployeeNumber = 'E12345';

	Last updated: 2025-09-20
	*/
	DECLARE @task_name varchar(255)
	DECLARE @number_of_updated_records INT
	DECLARE @imported_due_date Date
	DECLARE @previous_working_date Date
	DECLARE @current_scheduled_due_date Date
	DECLARE @current_due_date Date
    
	DECLARE @task_status INT
	DECLARE @task_id INT

	DECLARE db_cursor CURSOR FOR	SELECT tblImport.TaskName, tblImport.DueDate AS ImportDueDate, tblTask.DueDate AS TaskDueDate, 
																		tblTask.ScheduledDueDate, tblTask.StatusID, tblTask.ID FROM tblStatus 
																	INNER JOIN (tblTask INNER JOIN tblImport ON tblTask.TaskName = tblImport.TaskName) 
																	ON tblStatus.ID = tblTask.StatusID 
																	WHERE tblStatus.IsCompleteOrCancelled=0 AND tblTask.ManualDueDate=0

	OPEN db_cursor
	FETCH NEXT FROM db_cursor INTO @task_name, @imported_due_date, @current_due_date, @current_scheduled_due_date, @task_status, @task_id;
		WHILE @@FETCH_STATUS = 0  
			BEGIN  
				SET @previous_working_date = dbo.fnAddWeekdays(@imported_due_date, -1)

				If @imported_due_date = @current_scheduled_due_date And @previous_working_date = @current_due_date CONTINUE


				if @task_status = 7
					BEGIN
						Update tblTask Set DueDate = @previous_working_date, 
						ScheduledDueDate = @imported_due_date, 
						StatusID = 1,
						UpdateUserID = @userEmployeeNumber
						WHERE ID = @task_id
					END
				ELSE
					BEGIN
						Update tblTask Set DueDate = @previous_working_date, 
						ScheduledDueDate = @imported_due_date,
						UpdateUserID = @userEmployeeNumber
						WHERE ID = @task_id
					END
				FETCH NEXT FROM db_cursor INTO @task_name, @imported_due_date, @current_due_date, @current_scheduled_due_date, @task_status, @task_id;

			END
	CLOSE db_cursor;
	DEALLOCATE db_cursor;
GO
