USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spIMPORT_UpdateTaskScheduleData]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spIMPORT_UpdateTaskScheduleData]
GO
/****** Object:  StoredProcedure [spIMPORT_UpdateTaskScheduleData]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spIMPORT_UpdateTaskScheduleData]
AS
	
	/*
	Procedure: [spIMPORT_UpdateTaskScheduleData]
	Purpose:
	  - Populates `tblTaskScheduleData` by joining distinct machine names with tasks sharing the same TaskName.
	  - Inserts a row per (TaskID, LinkedTableNameID, MachineName) combination.

	Parameters:
	  - None.

	Behavior:
	  - Iterates over `qryDistinctMachineNames` joined to `tblTask` by TaskName.
	  - Inserts corresponding schedule data into `tblTaskScheduleData`.

	Returns:
	  - Returns 0 on completion.

	Permissions:
	  - SELECT on `qryDistinctMachineNames`, `tblTask`; INSERT on `tblTaskScheduleData`.

	Usage:
	  EXEC [spIMPORT_UpdateTaskScheduleData];

	Last updated: 2025-09-20
	*/
	DECLARE @task_id INT;
	DECLARE @linked_table_name INT;
	DECLARE @machine_name VARCHAR(255);

	DECLARE db_cursor CURSOR FOR SELECT tblTask.ID, qryDistinctMachineNames.TaskName, qryDistinctMachineNames.LinkedTableNameID, qryDistinctMachineNames.MachineName 
										FROM qryDistinctMachineNames 
										INNER JOIN tblTask ON qryDistinctMachineNames.TaskName = tblTask.TaskName;
	OPEN db_cursor;

	FETCH NEXT FROM db_cursor INTO @task_id, @linked_table_name, @machine_name;
		WHILE @@FETCH_STATUS = 0  
			BEGIN  
				Insert into tblTaskScheduleData (TaskID, LinkedTableNameID, MachineName) Values (@task_id, @linked_table_name, @machine_name)
				FETCH NEXT FROM db_cursor INTO @task_id, @linked_table_name, @machine_name;
			END
	CLOSE db_cursor;
	DEALLOCATE db_cursor;
	
RETURN 0
GO
