USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spIMPORT_WriteTaskNameIfEarlier]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spIMPORT_WriteTaskNameIfEarlier]
GO
/****** Object:  StoredProcedure [spIMPORT_WriteTaskNameIfEarlier]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spIMPORT_WriteTaskNameIfEarlier]
	@task_name Varchar(255),
	@due_date Date,
	@schedule_id int
	
AS
	/*
	Procedure: [spIMPORT_WriteTaskNameIfEarlier]
	Purpose:
	  - Writes an entry into `tblImport` for a task if none exists, or updates it if a new earlier due date is supplied.
	  - Skips updates for tasks configured to ignore the given schedule.

	Parameters:
	  @task_name VARCHAR(255)
		- Required. The task name key in `tblImport`.
	  @due_date DATE
		- Required. Candidate due date that may replace the existing one if earlier.
	  @schedule_id INT
		- Required. Source schedule identifier used for ignore rules.

	Behavior:
	  - If `qryIgnoreScheduleByTask` indicates the task/schedule should be ignored, returns 0 immediately.
	  - If no row exists in `tblImport` for the task, inserts one with the given due date.
	  - Else updates the row only if the provided due date is earlier than the stored one.

	Returns:
	  - Returns 0.

	Permissions:
	  - SELECT on `qryIgnoreScheduleByTask`, `tblImport`; INSERT/UPDATE on `tblImport`.

	Usage:
	  EXEC [spIMPORT_WriteTaskNameIfEarlier]
	       @task_name = 'Calibrate Machine',
	       @due_date = '2025-09-21',
	       @schedule_id = 3;

	Last updated: 2025-09-20
	*/
	SET NOCOUNT ON;
	DECLARE @should_ignore smallint = (Select Count(*) from qryIgnoreScheduleByTask WHERE TaskName = @task_name AND ScheduleIDToIgnore = @schedule_id)

	IF @should_ignore = 1 RETURN 0 
	
	DECLARE @db_due_date Date = (Select DueDate from tblImport where TaskName = @task_name)
	If @db_due_date IS NULL
		Begin
			INSERT INTO tblImport (TaskName, DueDate) VALUES (@task_name, @due_date)
		End
	Else
		Begin
			IF @due_date < @db_due_date
				BEGIN
					UPDATE tblImport SET DueDate = @due_date WHERE TaskName = @task_name
				END
		End



RETURN 0
GO
