USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spIMPORT_UpdateTaskFromImportTableByProjectID]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spIMPORT_UpdateTaskFromImportTableByProjectID]
GO
/****** Object:  StoredProcedure [spIMPORT_UpdateTaskFromImportTableByProjectID]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spIMPORT_UpdateTaskFromImportTableByProjectID]
	@project_id INT,
	@userEmployeeNumber VarChar(10)
AS
	
	/*
	Procedure: [spIMPORT_UpdateTaskFromImportTableByProjectID]
	Purpose:
	  - Updates `tblTask` due dates for a specific project from records in `tblImport` where task names match.
	  - Sets `ScheduledDueDate` to the imported date and `DueDate` to the previous working day.
	  - If the current task status is 7, resets it to 1 when updating.

	Parameters:
	  @project_id INT
		- Required. Filters updates to tasks belonging to this project.
	  @userEmployeeNumber VARCHAR(10)
		- Required. Employee number stamped into `UpdateUserID`.

	Behavior:
	  - Considers only tasks that are not complete/cancelled (`tblStatus.IsCompleteOrCancelled = 0`) and have `ManualDueDate = 0`.
	  - Computes previous working day via `dbo.fnAddWeekdays(imported_due_date, -1)`.
	  - Always updates matching tasks (no equality short-circuit in this variant).
	  - If `StatusID = 7`, sets to 1 in the update.

	Returns:
	  - No resultset; performs updates in `tblTask`.

	Permissions:
	  - SELECT on `tblStatus`, `tblTask`, `tblImport`; UPDATE on `tblTask`.

	Usage:
	  EXEC [spIMPORT_UpdateTaskFromImportTableByProjectID]
	       @project_id = 1001,
	       @userEmployeeNumber = 'E12345';

	Last updated: 2025-09-20
	*/
	DECLARE @task_name varchar(255)
	DECLARE @number_of_updated_records INT
	DECLARE @imported_due_date Date
	DECLARE @previous_working_date Date
	DECLARE @current_scheduled_due_date Date
	DECLARE @current_due_date Date
    
	DECLARE @task_status INT
	DECLARE @task_id INT

	DECLARE db_cursor CURSOR FOR	SELECT tblImport.TaskName, tblImport.DueDate AS ImportDueDate, tblTask.DueDate AS TaskDueDate, 
																		tblTask.ScheduledDueDate, tblTask.StatusID, tblTask.ID FROM tblStatus 
																	INNER JOIN (tblTask INNER JOIN tblImport ON tblTask.TaskName = tblImport.TaskName) ON tblStatus.ID = tblTask.StatusID 
																	WHERE tblStatus.IsCompleteOrCancelled=0 AND tblTask.ManualDueDate=0 AND tblTask.ProjectID = @project_id

	OPEN db_cursor
	FETCH NEXT FROM db_cursor INTO @task_name, @imported_due_date, @current_due_date, @current_scheduled_due_date, @task_status, @task_id;
		WHILE @@FETCH_STATUS = 0  
			BEGIN  
				SET @previous_working_date = dbo.fnAddWeekdays(@imported_due_date, -1)
					
				if @task_status = 7
					BEGIN
						Update tblTask Set DueDate = @previous_working_date, 
						ScheduledDueDate = @imported_due_date, 
						StatusID = 1,
						UpdateUserID = @userEmployeeNumber
						WHERE ID = @task_id
					END
				ELSE
					BEGIN
						Update tblTask Set DueDate = @previous_working_date, 
						ScheduledDueDate = @imported_due_date,
						UpdateUserID = @userEmployeeNumber
						WHERE ID = @task_id
					END
				FETCH NEXT FROM db_cursor INTO @task_name, @imported_due_date, @current_due_date, @current_scheduled_due_date, @task_status, @task_id;

			END
	CLOSE db_cursor;
	DEALLOCATE db_cursor;
GO
