USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spPROJECT_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spPROJECT_AddNew]
GO
/****** Object:  StoredProcedure [spPROJECT_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spPROJECT_AddNew]
	@site_id	INT,
  @project_name	Varchar(255),
  @project_description varchar(max),
  @department_id INT,
  @primary_project_owner_id INT,
  @secondary_project_owner_id INT,
	@carbon_copy_email_list varchar(2000),
  @update_user_employee_id varchar(10),
	@ID int OUTPUT
AS
	BEGIN
		SET NOCOUNT ON;

		DECLARE @error_message nvarchar(max) = ''
		DECLARE @initiator_employee_id INT = (SELECT ID from tblUser where EmployeeNumber = @update_user_employee_id AND IsActive = 1)

		If @site_id IS NULL OR @site_id NOT IN (select ID from tblSite)
			BEGIN
				SET @error_message = @error_message + 'Invalid Site ID.\r\n'
			END
		
		if @project_name is null or @project_name = ''
			begin
				SET @error_message = @error_message + 'Project Name is required.\r\n'
			end

		If (@department_id Is Null) OR (@department_id not in (select ID from tblDepartment))
			begin
				SET @error_message = @error_message + 'Department ID value is invalid.\r\n\'
			end

		If (@secondary_project_owner_id not in (select ID from tblUser WHERE UserTypeID = 3 AND IsActive = 1))
			begin
				SET @error_message = @error_message + 'Secondary Project Owner value is invalid.\r\n\'
			end

		If (@department_id Is Null) OR (@department_id not in (select ID from tblDepartment))
			begin
				SET @error_message = @error_message + 'Department ID value is invalid.\r\n\'
			end


		if @primary_project_owner_id = 0
			BEGIN
				SET @primary_project_owner_id = null
			END

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end

		insert into tblProject (SiteID, ProjectName, ProjectDescription, DepartmentID, PrimaryProjectOwnerID, SecondaryProjectOwnerID, InitiatorEmployeeID, CarbonCopyEmailList, UpdateUserID)
		values (@site_id, @project_name, @project_description, @department_id, @primary_project_owner_id, @secondary_project_owner_id, @initiator_employee_id, @carbon_copy_email_list, @update_user_employee_id)

		SET @ID =  SCOPE_IDENTITY()
		SELECT @ID

	END
GO
