USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spPROJECT_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spPROJECT_Update]
GO
/****** Object:  StoredProcedure [spPROJECT_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spPROJECT_Update]
	@project_id INT,
  @project_name	Varchar(255),
  @project_description varchar(max),
  @primary_project_owner_id INT,
  @secondary_project_owner_id INT,
  @update_user_employee_id varchar(10)
AS
	BEGIN
		/*
		Procedure: [spPROJECT_Update]
		Purpose:
		  - Updates project metadata fields with validation.

		Parameters:
		  @project_id INT
			- Required. Must exist in `tblProject`.
		  @project_name VARCHAR(255)
			- Required. New project name.
		  @project_description VARCHAR(MAX)
			- Optional. New description.
		  @primary_project_owner_id INT
			- Optional. If 0, coerced to NULL; if non-null must be active user with `UserTypeID = 4`.
		  @secondary_project_owner_id INT
			- Required. Must be active user with `UserTypeID = 3`.
		  @update_user_employee_id VARCHAR(10)
			- Required. Must be an active user EmployeeNumber.

		Behavior:
		  - Aggregates validation errors and raises a single RAISERROR if any fail.
		  - Updates the project with new values and sets `UpdatedTimestamp = CURRENT_TIMESTAMP`.

		Returns:
		  - None. Returns 0 after RAISERROR when validation fails.

		Permissions:
		  - SELECT on `tblProject`, `tblUser`; UPDATE on `tblProject`.

		Usage:
		  EXEC [spPROJECT_Update]
		       @project_id = 1001,
		       @project_name = 'New Name',
		       @project_description = 'Updated description',
		       @primary_project_owner_id = NULL,
		       @secondary_project_owner_id = 123,
		       @update_user_employee_id = 'E12345';

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;

		DECLARE @error_message nvarchar(max) = ''

		if @primary_project_owner_id = 0
			BEGIN
				SET @primary_project_owner_id = null
			END

		If @project_id IS NULL OR @project_id NOT IN (select ID from tblProject)
			BEGIN
				SET @error_message = @error_message + 'Invalid Project ID.\r\n'
			END
		
		if @project_name is null or @project_name = ''
			begin
				SET @error_message = @error_message + 'Project Name is required.\r\n'
			end

		If ((@primary_project_owner_id is not null) AND (@primary_project_owner_id not in (select ID from tblUser WHERE UserTypeID = 4 and IsActive = 1)))
			begin
				SET @error_message = @error_message + 'Primary Project Owner value is invalid.\r\n\''
			end

		If (@secondary_project_owner_id not in (select ID from tblUser WHERE UserTypeID = 3 and IsActive = 1))
			begin
				SET @error_message = @error_message + 'Secondary Project Owner value is invalid.\r\n\''
			end

		if @update_user_employee_id is null or @update_user_employee_id not in (select EmployeeNumber from tblUser WHERE IsActive = 1)
			begin
				SET @error_message = @error_message + 'Invalid UserUpdateID.\r\n'
			end

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end

		UPDATE tblProject
		SET
			ProjectName = @project_name,
			ProjectDescription = @project_description,
			PrimaryProjectOwnerID = @primary_project_owner_id,
			SecondaryProjectOwnerID = @secondary_project_owner_id,
			UpdateUserID = @update_user_employee_id,
			UpdatedTimestamp = CURRENT_TIMESTAMP
		WHERE
			ID = @project_id


	END
GO
