USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spPROJECT_GetFilteredProjectList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spPROJECT_GetFilteredProjectList]
GO
/****** Object:  StoredProcedure [spPROJECT_GetFilteredProjectList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spPROJECT_GetFilteredProjectList]
	@site_id smallint = 0,
	@include_completed smallint = 0,
	@ticket_number varchar(10),
	@department_id int = 0,
	@qe_id int = 0,
	@initiator_employee_id int = 0,
	@filter_project_name varchar(255) = '',
	@filter_task_name varchar(255) = '',
	@sort_field_ordinal int = 0,
	@sort_direction int = 0,
	@page_number int = 1
	
AS
	BEGIN
		/*
		Procedure: [spPROJECT_GetFilteredProjectList]
		Purpose:
		  - Returns a filtered, sorted, and optionally paginated list of projects from `qryProjectList`.

		Parameters:
		  @site_id SMALLINT
			- Required. Site to filter by.
		  @include_completed SMALLINT
			- 1 to include completed/cancelled; 0 to include only active projects (CountOfActiveTasks > 0).
		  @ticket_number VARCHAR(10)
			- Optional. Exact ticket number filter.
		  @department_id INT
			- Optional. Restrict by Department ID.
		  @qe_id INT
			- Optional. Restrict by SecondaryProjectOwnerID.
		  @initiator_employee_id INT
			- Optional. Restrict by InitiatorEmployeeID.
		  @filter_project_name VARCHAR(255)
			- Optional. Name contains filter.
		  @filter_task_name VARCHAR(255)
			- Optional. Filters to projects having tasks whose names match.
		  @sort_field_ordinal INT
			- Determines ORDER BY field (0: ProjectName, 1: TicketNumber, 2: DepartmentName, 3: SecondaryOwnerName, 4: InitiatorName, 5: CreatedTimeStampSort).
		  @sort_direction INT
			- 0 ASC, 1 DESC.
		  @page_number INT
			- 0 means no pagination; otherwise returns 25 rows per page.

		Behavior:
		  - Constructs dynamic SQL to query `qryProjectList` constrained and sorted by parameters.
		  - When @filter_task_name provided, builds a list via STRING_AGG from `tblTask` and restricts with ID IN (...).
		  - Adds OFFSET/FETCH for paging when @page_number <> 0.

		Returns:
		  - Result set of projects matching filters.

		Permissions:
		  - SELECT on `qryProjectList`, `tblProject`, `tblDepartment`, `qryQualityEngineers`, `tblTask`.

		Usage:
		  EXEC [spPROJECT_GetFilteredProjectList]
		       @site_id = 1,
		       @include_completed = 0,
		       @filter_project_name = 'Widget',
		       @sort_field_ordinal = 1,
		       @sort_direction = 1,
		       @page_number = 2;

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;
		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
		DECLARE @sort_field varchar(255);

		if @sort_field_ordinal IS NULL
			BEGIN
				SET @sort_field_ordinal = 0
			END

		if @sort_direction IS NULL
			BEGIN
				SET @sort_direction = 0
			END


		IF @include_completed = 1
			SET @sql = 'SELECT * FROM qryProjectList WHERE SiteID = ' + cast(@site_id as varchar);
		ELSE
			BEGIN
				SET @sql = 'SELECT * FROM qryProjectList WHERE CountOfActiveTasks > 0 and SiteID = ' + cast(@site_id as varchar);
			END
    

		if @filter_project_name <> ''
			BEGIN
				SET @sql = @sql + ' AND ProjectName LIKE ''%' + @filter_project_name + '%''';
			END


		if @initiator_employee_id in (select ID from tblUser)
			BEGIN
				SET @sql = @sql + ' AND InitiatorEmployeeID = ' + cast(@initiator_employee_id as varchar);
			END


		if @ticket_number in (select TicketNumber from tblProject)
			BEGIN
					SET @sql = @sql + ' AND TicketNumber = ''' + @ticket_number + '''';
			END


    IF @filter_task_name IS NOT NULL AND @filter_task_name <> ''
			BEGIN
				SET @filter_task_name = dbo.fnSanitizeText(@filter_task_name);
				DECLARE @filter_string varchar(max) = (Select STRING_AGG(ProjectID, ', ') FROM tblTask WHERE TaskName LIKE '%' + @filter_task_name + '%')
  			SET @sql = @sql + ' AND ID IN (' +  @filter_string + ')'
			END
		
		if @department_id in (select ID from tblDepartment)
			BEGIN
					SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END

		if @qe_id in (select ID from qryQualityEngineers)
			BEGIN
					SET @sql = @sql + ' AND SecondaryProjectOwnerID = ' + cast(@qe_id as varchar);
			END
		

		
		set @sort_field = CASE 
        WHEN @sort_field_ordinal = 0 THEN ' ORDER BY ProjectName'
        WHEN @sort_field_ordinal = 1 THEN ' ORDER BY TicketNumber'
				WHEN @sort_field_ordinal = 2 THEN ' ORDER BY DepartmentName'
				WHEN @sort_field_ordinal = 3 THEN ' ORDER BY SecondaryOwnerName'
				WHEN @sort_field_ordinal = 4 THEN ' ORDER BY InitiatorName'
				WHEN @sort_field_ordinal = 5 THEN ' ORDER BY CreatedTimeStampSort'
        ELSE ' ORDER BY ProjectName'
    END

		SET @sql = @sql + @sort_field
		
		if @sort_direction = 1
			BEGIN
				SET @sql = @sql + ' DESC'
			END


		IF @page_number <> 0
			BEGIN
				SET @sql = @sql + ' OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';
			END
		
		PRINT @sql
		Exec(@sql);


	END
GO
