USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spPROJECT_SetActiveTaskCounts]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spPROJECT_SetActiveTaskCounts]
GO
/****** Object:  StoredProcedure [spPROJECT_SetActiveTaskCounts]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spPROJECT_SetActiveTaskCounts] 
	
AS
BEGIN

	/*
	Procedure: [spPROJECT_SetActiveTaskCounts]
	Purpose:
	  - Recomputes and updates `tblProject.CountOfActiveTasks` for all projects.

	Parameters:
	  - None.

	Behavior:
	  - Sets all `CountOfActiveTasks` to 0.
	  - Updates each project with the count computed by `qryCountOfActiveTasks`.

	Returns:
	  - None.

	Permissions:
	  - UPDATE on `tblProject`; SELECT on `qryCountOfActiveTasks`.

	Usage:
	  EXEC [spPROJECT_SetActiveTaskCounts];

	Last updated: 2025-09-20
	*/
	SET NOCOUNT ON;

	update tblProject set CountOfActiveTasks = 0
	Update tblProject SET tblProject.CountOfActiveTasks = qryCountOfActiveTasks.CountOfID
									FROM dbo.tblProject 
									INNER JOIN dbo.qryCountOfActiveTasks ON dbo.tblProject.ID = dbo.qryCountOfActiveTasks.ProjectID
		

END
GO
