USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spPROJECT_GetFilteredInitiatorList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spPROJECT_GetFilteredInitiatorList]
GO
/****** Object:  StoredProcedure [spPROJECT_GetFilteredInitiatorList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spPROJECT_GetFilteredInitiatorList]
	@site_id smallint = 0,
	@include_completed smallint = 0,
	@filter_project_id int = 0,
	@department_id int = 0,
	@qe_id int = 0,
	@filter_project_name varchar(255) = '',
	@filter_task_name varchar(255) = ''
	
AS
	BEGIN
		/*
		Procedure: [spPROJECT_GetFilteredInitiatorList]
		Purpose:
		  - Returns a list of distinct project initiators filtered by site and optional project/task filters.

		Parameters:
		  @site_id SMALLINT
			- Required. Site to filter by.
		  @include_completed SMALLINT
			- 1 to include completed/cancelled projects; 0 to include only projects with CountOfActiveTasks > 0.
		  @filter_project_id INT
			- Optional. Restrict to a specific project ID if valid.
		  @department_id INT
			- Optional. Restrict by department if valid.
		  @qe_id INT
			- Optional. Restrict by SecondaryProjectOwnerID (QE) if valid.
		  @filter_project_name VARCHAR(255)
			- Optional. Name contains filter.
		  @filter_task_name VARCHAR(255)
			- Optional. Filters to projects containing tasks with names matching the pattern.

		Behavior:
		  - Builds dynamic SQL against `qryProjectList` based on provided filters.
		  - When @include_completed = 0, requires CountOfActiveTasks > 0.
		  - If @filter_task_name provided, uses STRING_AGG of ProjectID from `tblTask` to restrict results.
		  - Orders by InitiatorLastName, InitiatorName, InitiatorEmployeeNumber.

		Returns:
		  - Result set with InitiatorEmployeeNumber, InitiatorName (and InitiatorLastName when not including completed).

		Permissions:
		  - SELECT on `qryProjectList`, `tblProject`, `tblDepartment`, `qryQualityEngineers`, `tblTask`.

		Usage:
		  EXEC [spPROJECT_GetFilteredInitiatorList]
		       @site_id = 1,
		       @include_completed = 0,
		       @filter_project_name = 'Widget';

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;
		
		DECLARE @sql varchar(max) = '';

		IF @include_completed = 1
			SET @sql = 'SELECT DISTINCT InitiatorEmployeeNumber, InitiatorName FROM qryProjectList WHERE SiteID = ' + cast(@site_id as varchar);
		ELSE
			BEGIN
				SET @sql = 'SELECT DISTINCT InitiatorEmployeeNumber, InitiatorName, InitiatorLastName FROM qryProjectList WHERE CountOfActiveTasks > 0 and SiteID = ' + cast(@site_id as varchar);
			END
    
		if @filter_project_name <> ''
			BEGIN
				SET @sql = @sql + ' AND ProjectName LIKE ''%' + @filter_project_name + '%''';
			END


		if @filter_project_id in (select ID from tblProject)
			BEGIN
					SET @sql = @sql + ' AND ProjectID = ' + cast(@filter_project_id as varchar);
			END


    IF @filter_task_name IS NOT NULL AND @filter_task_name <> ''
			BEGIN
				SET @filter_task_name = dbo.fnSanitizeText(@filter_task_name);
				DECLARE @filter_string varchar(max) = (Select STRING_AGG(ProjectID, ', ') FROM tblTask WHERE TaskName LIKE '%' + @filter_task_name + '%')
  			SET @sql = @sql + ' AND ID IN (' +  @filter_string + ')'
			END
		
		if @department_id in (select ID from tblDepartment)
			BEGIN
					SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END

		if @qe_id in (select ID from qryQualityEngineers)
			BEGIN
					SET @sql = @sql + ' AND SecondaryProjectOwnerID = ' + cast(@qe_id as varchar);
			END
		


		SET @sql = @sql + ' AND InitiatorEmployeeNumber IS NOT NULL ORDER BY InitiatorLastName, InitiatorName, InitiatorEmployeeNumber';
		

		
		PRINT @sql
		Exec(@sql);


	END
GO
