USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spPROJECT_GetTaskList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spPROJECT_GetTaskList]
GO
/****** Object:  StoredProcedure [spPROJECT_GetTaskList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spPROJECT_GetTaskList]
	@project_id int = 0,
	@include_completed smallint = 0,
	@task_name varchar(255) = '',
	@assignee_id int = 0,
	@tasktype_id int = 0,
	@status_id int = 0,
	@sort_field_ordinal int = 0,
	@sort_direction int = 0
AS
	BEGIN
		SET NOCOUNT ON;
		DECLARE @sql varchar(max) = '';
		DECLARE @sort_field varchar(255);
		DECLARE @site_id INT = (Select SiteID from tblProject where id = @project_id)

		if @sort_field_ordinal IS NULL
			BEGIN
				SET @sort_field_ordinal = 0
			END

		if @sort_direction IS NULL
			BEGIN
				SET @sort_direction = 0
			END


		IF @include_completed = 1
			SET @sql = 'SELECT * FROM qryTaskList WHERE ProjectID = ' + cast(@project_id as varchar);
		ELSE
			BEGIN
				SET @sql = 'SELECT * FROM qryTaskList WHERE IsCompleteOrCancelled = 0 AND ProjectID = ' + cast(@project_id as varchar);
			END


		if @task_name <> ''
			BEGIN
				SET @sql = @sql + ' AND TaskName LIKE ''%' + @task_name + '%''';
			END

		if @assignee_id = -1
			BEGIN
				SET @sql = @sql + ' AND AssignedToID IS NULL'
			END
		ELSE
			BEGIN
				if @assignee_id in (select ID from tblUser where IsActive = 1)
					BEGIN
							SET @sql = @sql + ' AND AssignedToID = ' + cast(@assignee_id as varchar);
					END
			END

		if @tasktype_id in (select ID from tblTaskType)
			BEGIN
					SET @sql = @sql + ' AND TaskTypeID = ' + cast(@tasktype_id as varchar);
			END


		if @status_id in (select ID from tblStatus)
			BEGIN
					SET @sql = @sql + ' AND StatusID = ' + cast(@status_id as varchar);
			END



		set @sort_field = CASE 
        WHEN @sort_field_ordinal = 0 THEN ' ORDER BY TaskName'
        WHEN @sort_field_ordinal = 1 THEN ' ORDER BY TaskType'
				WHEN @sort_field_ordinal = 2 THEN ' ORDER BY AssignedToName'
				WHEN @sort_field_ordinal = 3 THEN ' ORDER BY Status'
				WHEN @sort_field_ordinal = 4 THEN ' ORDER BY DueDate'
				WHEN @sort_field_ordinal = 5 THEN ' ORDER BY ScheduledDueDate'
				WHEN @sort_field_ordinal = 6 THEN ' ORDER BY SumOfHours'
				WHEN @sort_field_ordinal = 7 THEN ' ORDER BY DateCompleted'
        ELSE ' ORDER BY ProjectName'
    END

		SET @sql = @sql + @sort_field
		
		if @sort_direction = 1
			BEGIN
				SET @sql = @sql + ' DESC'
			END


	
		PRINT @sql
		Exec(@sql);


	END
GO
