USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSCHEDULE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSCHEDULE_AddNew]
GO
/****** Object:  StoredProcedure [spSCHEDULE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spSCHEDULE_AddNew]
	@site_id int,
	@schedule_name varchar(255),
	@file_path varchar(1000),
	@sheet_name varchar(255),
	@part_number_cell_name varchar(255),
	@completion_dateoffset int,
	@machinename_offset_left int,
	@machinename_offset_up int,
	@task_name_delimiter varchar(255),
	@completion_date_delimiter varchar(255),
	@do_partname_trimming smallint,
	@department_id int,
	@schedule_owner_id int,
	@ID int OUTPUT

AS
	BEGIN
		INSERT INTO tblLinkedTableNames
						 (SiteID
						 ,IsActive
						 ,ImportName
						 ,FilePath
						 ,SheetName
						 ,PartNumberCellName
						 ,CompletionDateOffset
						 ,MachineNameOffsetLeft
						 ,MachineNameOffsetUp
						 ,TaskNameDelimiter
						 ,CompletionDateDelimeter
						 ,DoPartNameTrimming
						 ,DepartmentID
						 ,ScheduleOwnerID)
			 VALUES
						 (@site_id
						 ,1
						 ,@schedule_name
						 ,@file_path
						 ,@sheet_name
						 ,@part_number_cell_name
						 ,@completion_dateoffset
						 ,@machinename_offset_left
						 ,@machinename_offset_up
						 ,@task_name_delimiter
						 ,@completion_date_delimiter
						 ,@do_partname_trimming
						 ,@department_id
						 ,@schedule_owner_id)

		Set @ID = SCOPE_IDENTITY()
		select @ID as ID
	END
GO
