USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSCHEDULE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSCHEDULE_Update]
GO
/****** Object:  StoredProcedure [spSCHEDULE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spSCHEDULE_Update]
	@schedule_id int,
	@is_active smallint,
	@schedule_name varchar(255),
	@file_path varchar(1000),
	@sheet_name varchar(255),
	@part_number_cell_name varchar(255),
	@completion_dateoffset int,
	@machinename_offset_left int,
	@machinename_offset_up int,
	@task_name_delimiter varchar(255),
	@completion_date_delimiter varchar(255),
	@do_partname_trimming smallint,
	@schedule_owner_id int
AS
	BEGIN
		UPDATE [tblLinkedTableNames]
			 SET [IsActive] = @is_active
					,[ImportName] = @schedule_name
					,[FilePath] = @file_path
					,[SheetName] = @sheet_name
					,[PartNumberCellName] = @part_number_cell_name
					,[CompletionDateOffset] = @completion_dateoffset
					,[MachineNameOffsetLeft] = @machinename_offset_left
					,[MachineNameOffsetUp] = @machinename_offset_up
					,[TaskNameDelimiter] = @task_name_delimiter
					,[CompletionDateDelimeter] = @completion_date_delimiter
					,[DoPartNameTrimming] = @do_partname_trimming
					,[ScheduleOwnerID] = @schedule_owner_id
		 WHERE ID = @schedule_id

	END
GO
