USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSCHEDULERUN_GetRunList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSCHEDULERUN_GetRunList]
GO
/****** Object:  StoredProcedure [spSCHEDULERUN_GetRunList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE   PROCEDURE [spSCHEDULERUN_GetRunList]
	@site_id smallint = 0,
	@page_number int = 1

AS
	BEGIN
		/*
		Procedure: [spSCHEDULERUN_GetRunList]
		Purpose:
		  - Returns a paginated list of schedule runs for a site from `qryScheduleUpdateRuns` ordered by latest first.

		Parameters:
		  @site_id SMALLINT
			- Required. Site to filter by.
		  @page_number INT
			- 1-based page index. Each page returns 25 rows.

		Behavior:
		  - Constructs dynamic SQL to select from `qryScheduleUpdateRuns` for the site.
		  - ORDER BY ID DESC and OFFSET/FETCH for paging.

		Returns:
		  - Result set of schedule runs.

		Permissions:
		  - SELECT on `qryScheduleUpdateRuns`.

		Usage:
		  EXEC [spSCHEDULERUN_GetRunList]
		       @site_id = 1,
		       @page_number = 3;

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
					

		set @sql = 'SELECT * from qryScheduleUpdateRuns WHERE SiteID = ' + cast(@site_id as varchar);

		SET @sql = @sql + 'ORDER BY ID DESC OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';

		print @sql
		Exec(@sql);


	END
GO
