USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSCHEDULERUN_AddNewLocalRun]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSCHEDULERUN_AddNewLocalRun]
GO
/****** Object:  StoredProcedure [spSCHEDULERUN_AddNewLocalRun]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spSCHEDULERUN_AddNewLocalRun]
	@site_id int,
	@request_employee_number varchar(10)


AS
	BEGIN
		/*
		Procedure: [spSCHEDULERUN_AddNewLocalRun]
		Purpose:
		  - Adds a new schedule run entry for a locally triggered (non-automated) run.

		Parameters:
		  @site_id INT
			- Required. Site identifier stored on the run entry.
		  @request_employee_number VARCHAR(10)
			- Required. Employee number of the user requesting the run.

		Behavior:
		  - Inserts a row into `tblScheduleRunEntry` with current timestamp and IsAutomated = 0.

		Returns:
		  - None.

		Permissions:
		  - INSERT on `tblScheduleRunEntry`.

		Usage:
		  EXEC [spSCHEDULERUN_AddNewLocalRun]
		       @site_id = 1,
		       @request_employee_number = 'E12345';

		Last updated: 2025-09-20
		*/
		INSERT INTO tblScheduleRunEntry (SiteID, RunDateTime, IsAutomated, RequestUserEmployeeNumber)
		VALUES (@site_id, CURRENT_TIMESTAMP, 0, @request_employee_number)

	END
GO
