USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_AddStatusNote]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_AddStatusNote]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_AddStatusNote]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spSERVICETICKET_AddStatusNote]
	@ticket_id int,
	@task_note varchar(max),
	@update_employee_number varchar(10)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @error_message nvarchar(max) = ''
	DECLARE @status_id int = (Select StatusID from tblServiceTicket where ID = @ticket_id)
	DECLARE @status_text varchar(max)

	If (@ticket_id Is Null) OR (@ticket_id not in (select ID from tblServiceTicket))
		BEGIN
			print 'Bad Ticket ID'
			RETURN
		END

	If (@task_note Is Null) OR (LEN(TRIM(@task_note)) = 0)
		BEGIN
			print 'No Note'
			RETURN
		END

	if @update_employee_number Not In (Select tblUser.EmployeeNumber from tblUser where tblUser.IsActive = 1)
	  BEGIN
			print 'Bad Employee Number'
			RETURN
		END

	if @status_id not in (3,5,6)
		BEGIN
			print 'Bad Status'
			RETURN
		END


	if @status_id = 3
		BEGIN
			SET @status_text =  'Ticket Status marked as Waiting. Waiting On: ''' + @task_note + ''''
			print @status_text
		END
	
	if @status_id = 5
		BEGIN
			SET @status_text =  'Ticket Status marked as Closed. Completion Note: ''' + @task_note + ''''
			print @status_text
		END
		
	if @status_id = 6
		BEGIN
			SET @status_text =  'Ticket cancelled. Cancellation reason given: ''' + @task_note + ''''
			print @status_text
		END

	INSERT INTO tblServiceNotes(ServiceTicketID, TaskNote, UpdateUserID) Values (@ticket_id, @status_text, @update_employee_number)
	SELECT SCOPE_IDENTITY()
END
GO
