USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_CMM_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_CMM_Update]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_CMM_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spSERVICETICKET_CMM_Update]
	 @cmm_id	INT
	,@CMMName varchar(500)
	,@is_active smallint
	,@is_bns smallint
AS
	
	BEGIN
		/*
		Procedure: [spSERVICETICKET_CMM_Update]
		Purpose:
		  - Updates fields for an existing CMM machine row.

		Parameters:
		  @cmm_id INT
			- Required. Existing machine ID.
		  @CMMName VARCHAR(500)
			- Required. New display name.
		  @is_active SMALLINT
			- Required. Active flag.
		  @is_bns SMALLINT
			- Required. BnS flag.

		Behavior:
		  - Performs UPDATE on `tblCMMMachines`.

		Returns:
		  - None.

		Permissions:
		  - UPDATE on `tblCMMMachines`.

		Usage:
		  EXEC [spSERVICETICKET_CMM_Update]
		       @cmm_id = 10,
		       @CMMName = 'CMM-01',
		       @is_active = 1,
		       @is_bns = 0;

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;


UPDATE [tblCMMMachines]
   SET [CMMName] = @CMMName
      ,[ISActive] = @is_active
      ,[IsBnS] = @is_bns
			 WHERE ID = @cmm_id

	END
GO
