USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_Update]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spSERVICETICKET_Update]
	 @TicketID int
	,@TicketName varchar(500)
	,@TicketDetails varchar(2000)
	,@AssigneeID int
	,@StatusID int
	,@DueDate date
	,@UpdatedBy varchar(10)
AS
	/*
	Stored Procedure: spSERVICETICKET_Update
	Purpose: Update an existing service ticket's fields and audit info.
	Parameters:
	 - @TicketID int: Target ticket ID (required).
	 - @TicketName varchar(500): Ticket name (required).
	 - @TicketDetails varchar(2000): Ticket description/details.
	 - @AssigneeID int: Assigned user ID; 0 is treated as NULL.
	 - @StatusID int: Service ticket status (active value required).
	 - @DueDate date: Due date (required, valid date).
	 - @UpdatedBy varchar(10): Employee number performing the update.
	Returns: None. Raises an error on validation failure.
	Side effects: Updates tblServiceTicket row; sets UpdateTimestamp and UpdatedBy.
	*/
	BEGIN


		SET NOCOUNT ON;
		DECLARE @error_message nvarchar(max) = ''
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);

		if @AssigneeID = 0
			BEGIN
				SET @AssigneeID = NULL
			END


		If @TicketID IS NULL OR @TicketID NOT IN (select ID from tblServiceTicket)
			BEGIN
				SET @error_message = @error_message + 'Invalid Ticket ID ID.\r\n'
			END
		
		if @TicketName is null or @TicketName = ''
			BEGIN
				SET @error_message = @error_message + 'Project Name is required.\r\n'
			END

		If (@AssigneeID Is NOT Null) AND (@AssigneeID not in (select ID from tblUser where IsActive=1 and UserTypeID in (1,2)))
			BEGIN
				SET @error_message = @error_message + 'Assignee ID value is invalid.\r\n\'
			END
	  
		If (@StatusID Is Null) OR (@StatusID not in (select ID from tblServiceStatus where IsActive=1 ))
			BEGIN
				SET @error_message = @error_message + 'Status ID value is invalid.\r\n\'
			END

		if @DueDate is null	
			BEGIN
				SET @error_message = @error_message + 'Due Date is required.'+ @CRLF
			END

		IF TRY_CAST(@DueDate AS DATE) IS NULL
			BEGIN
				SET @error_message = @error_message + 'Invalid Due Date.'+ @CRLF
			END


		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end


			UPDATE [tblServiceTicket]
			 SET [TicketName] = @TicketName
					,[TicketDetails] = @TicketDetails
					,[AssignedToID] = @AssigneeID
					,[StatusID] = @StatusID
					,[DueDate] = @DueDate
					,[UpdateTimestamp] = CURRENT_TIMESTAMP
					,[UpdatedBy] = @UpdatedBy
		 WHERE ID = @TicketID

	END
GO
