USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_GetFilteredList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_GetFilteredList]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_GetFilteredList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spSERVICETICKET_GetFilteredList]
	@site_id smallint = 0,
	@ticket_number varchar(50),
	@ticket_name varchar(255) = '',
	@include_completed smallint = 0,
	@ticket_type_id int = 0,
	@department_id int = 0,
	@initiator_id int = 0,
	@sort_field_ordinal int = 0,
	@sort_direction int = 0,
	@page_number int = 1

AS
	BEGIN
		/*
		Procedure: [spSERVICETICKET_GetFilteredList]
		Purpose:
		  - Returns a filtered, sorted, and paginated list of service tickets for a site.

		Parameters:
		  @site_id SMALLINT
			- Required. Site ID to filter on.
		  @ticket_number VARCHAR(50)
			- Optional. Exact ticket number filter.
		  @ticket_name VARCHAR(255)
			- Optional. Contains filter for ticket name.
		  @include_completed SMALLINT
			- 1 to include completed/cancelled; default 0 excludes statuses 5 and 6.
		  @ticket_type_id INT
			- Optional. Filter by service type.
		  @department_id INT
			- Optional. Filter by department (validated to site).
		  @initiator_id INT
			- Optional. Filter by initiator user ID.
		  @sort_field_ordinal INT
			- 0 TicketNumber, 1 TicketName, 2 InitiatorFullName, 3 ServiceType, 4 DepartmentName, 5 AssignedToName, 6 ServiceStatus, 7 DueDateSort, 8 UpdateTimestampSort, 9 CreateTimeStampSort.
		  @sort_direction INT
			- 0 ASC, 1 DESC.
		  @page_number INT
			- 1-based page index. Always paginates 25 rows per page.

		Behavior:
		  - Builds dynamic SQL selecting from `qryServiceTicketList` with filters and ORDER BY.
		  - Applies OFFSET/FETCH paging.

		Returns:
		  - Result set of tickets matching filters.

		Permissions:
		  - SELECT on `qryServiceTicketList`, `tblServiceType`, `tblDepartment`, `tblUser`.

		Usage:
		  EXEC [spSERVICETICKET_GetFilteredList]
		       @site_id = 1,
		       @ticket_name = 'CMM',
		       @sort_field_ordinal = 9,
		       @sort_direction = 1,
		       @page_number = 2;

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
		DECLARE @sort_field varchar(255);

		if @sort_field_ordinal IS NULL
			BEGIN
				SET @sort_field_ordinal = 0
			END

		if @sort_direction IS NULL
			BEGIN
				SET @sort_direction = 0
			END

		set @sql = 'SELECT * from qryServiceTicketList WHERE SiteID = ' + cast(@site_id as varchar);

		if @ticket_number <> ''
			BEGIN
				SET @sql = @sql + ' AND TicketNumber = ''' + @ticket_number + '''';
			END

		if @ticket_name <> ''
			BEGIN
				SET @sql = @sql + ' AND TicketName LIKE ''%' + @ticket_name + '%''';
			END

		If @include_completed is null or @include_completed = 0
			BEGIN
				SET @sql = @sql + ' AND StatusID <> 5 AND StatusID <> 6';
			END					
		
		if @ticket_type_id in (select ID from tblServiceType)
			BEGIN
					SET @sql = @sql + ' AND TicketTypeID = ' + cast(@ticket_type_id as varchar);
			END

		if @department_id in (select ID from tblDepartment where SiteID = @site_id)
			BEGIN
					SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END

		if @initiator_id in (select ID from tblUser)
			BEGIN
					SET @sql = @sql + ' AND InitiatorID = ' + cast(@initiator_id as varchar);
			END
		
set @sort_field = CASE 
        WHEN @sort_field_ordinal = 0 THEN ' ORDER BY TicketNumber'
        WHEN @sort_field_ordinal = 1 THEN ' ORDER BY TicketName'
				WHEN @sort_field_ordinal = 2 THEN ' ORDER BY InitiatorFullName'
				WHEN @sort_field_ordinal = 3 THEN ' ORDER BY ServiceType'
				WHEN @sort_field_ordinal = 4 THEN ' ORDER BY DepartmentName'
				WHEN @sort_field_ordinal = 5 THEN ' ORDER BY AssignedToName'
				WHEN @sort_field_ordinal = 6 THEN ' ORDER BY ServiceStatus'
				WHEN @sort_field_ordinal = 7 THEN ' ORDER BY DueDateSort'
				WHEN @sort_field_ordinal = 8 THEN ' ORDER BY UpdateTimestampSort'
				WHEN @sort_field_ordinal = 9 THEN ' ORDER BY CreateTimeStampSort'
        ELSE ' ORDER BY TicketNumber'
    END

		SET @sql = @sql + @sort_field
		
		if @sort_direction = 1
			BEGIN
				SET @sql = @sql + ' DESC'
			END

		SET @sql = @sql + ' OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';


		print @sql
		Exec(@sql);


	END
GO
