USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKETTYPE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKETTYPE_Update]
GO
/****** Object:  StoredProcedure [spSERVICETICKETTYPE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spSERVICETICKETTYPE_Update]
  @ticket_type_id int,
	@is_active smallint,
	@ticket_type varchar(255)

AS
BEGIN

	/*
	Procedure: [spSERVICETICKETTYPE_Update]
	Purpose:
	  - Updates a service ticket type's name and active flag.

	Parameters:
	  @ticket_type_id INT
		- Required. Existing service type ID.
	  @is_active SMALLINT
		- Required. 0/1 active flag.
	  @ticket_type VARCHAR(255)
		- Required. New service type name.

	Behavior:
	  - Performs a single UPDATE against `tblServiceType`.

	Returns:
	  - None.

	Permissions:
	  - UPDATE on `tblServiceType`.

	Usage:
	  EXEC [spSERVICETICKETTYPE_Update]
	       @ticket_type_id = 5,
	       @is_active = 1,
	       @ticket_type = 'Hardware';

	Last updated: 2025-09-20
	*/
	SET NOCOUNT ON;
		UPDATE [tblServiceType]
			 SET [ServiceType] = @ticket_type
					,[IsActive] = @is_active
	 WHERE id = @ticket_type_id
END
GO
