USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_PROBE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_PROBE_AddNew]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_PROBE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [spSERVICETICKET_PROBE_AddNew]
	 @site_id	INT
	,@probe_name varchar(500)
	,@is_bns smallint
	,@current_quantity int
	,@reorder_quantity int
AS
	
	BEGIN
		/*
		Procedure: [spSERVICETICKET_PROBE_AddNew]
		Purpose:
		  - Adds a new probe definition and synchronizes the quantities across probes with the same name in the same site.

		Parameters:
		  @site_id INT
			- Required. Must exist in `tblSite`.
		  @probe_name VARCHAR(500)
			- Required. Logical probe name.
		  @is_bns SMALLINT
			- Required. BnS flag.
		  @current_quantity INT, @reorder_quantity INT
			- Required. Quantities to set for all same-name probes in the site.

		Behavior:
		  - Validates site.
		  - Inserts a new row into `tblCMMProbes` (IsActive = 1).
		  - Updates `CurrentQuantity` and `ReorderQuantity` of other probes with same name and site to match the provided values.

		Returns:
		  - None.

		Permissions:
		  - SELECT on `tblSite`, `tblCMMProbes`; INSERT/UPDATE on `tblCMMProbes`.

		Usage:
		  EXEC [spSERVICETICKET_PROBE_AddNew]
		       @site_id = 1,
		       @probe_name = 'Renishaw TP20',
		       @is_bns = 0,
		       @current_quantity = 10,
		       @reorder_quantity = 2;

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;
		DECLARE @error_message nvarchar(max) = ''
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);
		DECLARE @id INT
		DECLARE @otherProbeID INT

		If @site_id IS NULL OR @site_id NOT IN (select ID from tblSite)
			BEGIN
				SET @error_message = @error_message + 'Invalid Site ID.' + @CRLF
			END

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end


		INSERT INTO [tblCMMProbes]
           ([SiteID]
           ,ProbeName
           ,[ISActive]
           ,[IsBnS])
     VALUES
           (@site_id
           ,@probe_name
           ,1
           ,@is_bns)

		set @id = @@IDENTITY
		DECLARE db_cursor CURSOR FOR select ID from tblCMMProbes where SiteID = @site_id and Upper(ProbeName) = Upper(@probe_name) and ID <> @id
		OPEN db_cursor;
		
		FETCH NEXT FROM db_cursor INTO @otherProbeID

		WHILE @@FETCH_STATUS = 0  
				BEGIN 
					UPDATE [tblCMMProbes]
					SET CurrentQuantity = @current_quantity
					,ReorderQuantity = @reorder_quantity
					WHERE ID = @otherProbeID

					FETCH NEXT FROM db_cursor INTO @otherProbeID
				END

	END
GO
