USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_PROBE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_PROBE_Update]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_PROBE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [spSERVICETICKET_PROBE_Update]
	 @probe_id	INT
	,@probe_name varchar(500)
	,@is_active smallint
	,@is_bns smallint
	,@current_quantity int
	,@reorder_quantity int
AS
	/*
	Stored Procedure: spSERVICETICKET_PROBE_Update
	Purpose: Update a probe's properties and synchronize quantities for other probes with the same name in the site.
	Parameters:
	 - @probe_id INT: Probe ID to update.
	 - @probe_name varchar(500): New probe name.
	 - @is_active smallint: Active flag.
	 - @is_bns smallint: BnS flag.
	 - @current_quantity int: Current quantity.
	 - @reorder_quantity int: Reorder quantity.
	Returns: None.
	Side effects: Updates tblCMMProbes; updates sibling probes' quantities within same site; uses a cursor.
	*/
	BEGIN
		SET NOCOUNT ON;

		DECLARE @siteID INT = (Select SiteID from tblCMMProbes where ID = @probe_id)
		DECLARE @otherProbeID INT

		UPDATE [tblCMMProbes]
			 SET ProbeName = @probe_name
					,[ISActive] = @is_active
					,[IsBnS] = @is_bns
					,CurrentQuantity = @current_quantity
					,ReorderQuantity = @reorder_quantity
			 WHERE ID = @probe_id

		DECLARE db_cursor CURSOR FOR select ID from tblCMMProbes where SiteID = @siteID and Upper(ProbeName) = Upper(@probe_name) and ID <> @probe_id
		OPEN db_cursor;
		
		FETCH NEXT FROM db_cursor INTO @otherProbeID

		WHILE @@FETCH_STATUS = 0  
				BEGIN 
					UPDATE [tblCMMProbes]
					SET CurrentQuantity = @current_quantity
					,ReorderQuantity = @reorder_quantity
					WHERE ID = @otherProbeID

					FETCH NEXT FROM db_cursor INTO @otherProbeID
				END


	END
GO
