USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_AddNote]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_AddNote]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_AddNote]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spSERVICETICKET_AddNote]
	@ticket_id int,
	@task_note varchar(max),
	@update_employee_number varchar(10)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @error_message nvarchar(max) = ''

	If (@ticket_id Is Null) OR (@ticket_id not in (select ID from tblServiceTicket))
		SET @error_message = @error_message + 'Ticket ID value is invalid.\r\n\'

	If (@task_note Is Null) OR (LEN(@task_note) = 0)
		SET @error_message = @error_message + 'Task Note value is required.\r\n\'

	if @update_employee_number Not In (Select tblUser.EmployeeNumber from tblUser where tblUser.IsActive = 1 and tblUser.UserTypeID = 1)
		SET @error_message = @error_message + 'Invalid User.\r\n\'

	if @error_message <> ''
		begin
			RAISERROR(@error_message, 16, 1)
			RETURN -1
		end

	INSERT INTO tblServiceNotes(ServiceTicketID, TaskNote, UpdateUserID) Values (@ticket_id, @task_note, @update_employee_number)
	SELECT SCOPE_IDENTITY()
END
GO
