USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_CMM_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_CMM_AddNew]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_CMM_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [spSERVICETICKET_CMM_AddNew]
	 @site_id	INT
	,@CMMName varchar(500)
	,@is_bns smallint
AS
	
	BEGIN
		/*
		Procedure: [spSERVICETICKET_CMM_AddNew]
		Purpose:
		  - Adds a new CMM machine entry for a site.

		Parameters:
		  @site_id INT
			- Required. Must exist in `tblSite`.
		  @CMMName VARCHAR(500)
			- Required. Display name.
		  @is_bns SMALLINT
			- Required. Flag indicating BnS status.

		Behavior:
		  - Validates site and inserts a row into `tblCMMMachines` with IsActive = 1.

		Returns:
		  - None.

		Permissions:
		  - SELECT on `tblSite`; INSERT on `tblCMMMachines`.

		Usage:
		  EXEC [spSERVICETICKET_CMM_AddNew]
		       @site_id = 1,
		       @CMMName = 'CMM-01',
		       @is_bns = 0;

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;
		DECLARE @error_message nvarchar(max) = ''
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);

		If @site_id IS NULL OR @site_id NOT IN (select ID from tblSite)
			BEGIN
				SET @error_message = @error_message + 'Invalid Site ID.' + @CRLF
			END

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end


		INSERT INTO [tblCMMMachines]
           ([SiteID]
           ,[CMMName]
           ,[ISActive]
           ,[IsBnS])
     VALUES
           (@site_id
           ,@CMMName
           ,1
           ,@is_bns)


		

	END
GO
