USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKETTYPE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKETTYPE_AddNew]
GO
/****** Object:  StoredProcedure [spSERVICETICKETTYPE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spSERVICETICKETTYPE_AddNew]
	@ticket_type varchar(255)
AS
BEGIN

	/*
	Procedure: [spSERVICETICKETTYPE_AddNew]
	Purpose:
	  - Inserts a new service ticket type as active and returns its identity.

	Parameters:
	  @ticket_type VARCHAR(255)
		- Required. The service type name.

	Behavior:
	  - Inserts into `tblServiceType` with IsActive = 1 and returns SCOPE_IDENTITY().

	Returns:
	  - New ID via SELECT.

	Permissions:
	  - INSERT on `tblServiceType`.

	Usage:
	  EXEC [spSERVICETICKETTYPE_AddNew] @ticket_type = 'Hardware';

	Last updated: 2025-09-20
	*/
	SET NOCOUNT ON;
INSERT INTO [tblServiceType]
           ([ServiceType], [IsActive])
     VALUES
           (@ticket_type, 1)

	 SELECT SCOPE_IDENTITY()
END
GO
