USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_PROBE_Decrement_Current_Quantity]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_PROBE_Decrement_Current_Quantity]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_PROBE_Decrement_Current_Quantity]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [spSERVICETICKET_PROBE_Decrement_Current_Quantity]
	 @probe_id	INT
	,@decrement_quantity int

AS
	
	BEGIN
		/*
		Procedure: [spSERVICETICKET_PROBE_Decrement_Current_Quantity]
		Purpose:
		  - Decrements the current quantity for a probe and synchronizes that quantity across same-named probes within the site.

		Parameters:
		  @probe_id INT
			- Required. Probe ID in `tblCMMProbes`.
		  @decrement_quantity INT
			- Required. Amount to subtract from `CurrentQuantity` (floors at 0).

		Behavior:
		  - Loads the probe name, current quantity, and site.
		  - Computes new quantity as `current - decrement`, floored at 0.
		  - Updates the target probe and any other probes at the same site with the same name.

		Returns:
		  - None.

		Permissions:
		  - SELECT/UPDATE on `tblCMMProbes`.

		Usage:
		  EXEC [spSERVICETICKET_PROBE_Decrement_Current_Quantity]
		       @probe_id = 12,
		       @decrement_quantity = 1;

		Last updated: 2025-09-20
		*/
		SET NOCOUNT ON;
		DECLARE @probe_name varchar(500) = (Select ProbeName from tblCMMProbes where ID = @probe_id)
		DECLARE @current_quantity INT = (Select CurrentQuantity from tblCMMProbes where ID = @probe_id)
		DECLARE @new_quantity INT = @current_quantity - @decrement_quantity
		if @new_quantity < 0 SET @new_quantity = 0

		DECLARE @siteID INT = (Select SiteID from tblCMMProbes where ID = @probe_id)
		DECLARE @otherProbeID INT

		UPDATE [tblCMMProbes]
			 SET CurrentQuantity = @new_quantity
				 WHERE ID = @probe_id

		DECLARE db_cursor CURSOR FOR select ID from tblCMMProbes where SiteID = @siteID and Upper(ProbeName) = Upper(@probe_name) and ID <> @probe_id
		OPEN db_cursor;
		
		FETCH NEXT FROM db_cursor INTO @otherProbeID

		WHILE @@FETCH_STATUS = 0  
				BEGIN 
					UPDATE [tblCMMProbes]
					SET CurrentQuantity = @new_quantity
					WHERE ID = @otherProbeID

					FETCH NEXT FROM db_cursor INTO @otherProbeID
				END


	END
GO
