USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSERVICETICKET_AddNew]
GO
/****** Object:  StoredProcedure [spSERVICETICKET_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spSERVICETICKET_AddNew]
	 @SiteID int
	,@TicketName varchar(500)
	,@TicketDetails varchar(2000)
	,@InitiatorID int
	,@DepartmentID int
	,@TicketTypeID int
	,@CMMDownID int
	,@CMMDownPartNumber varchar(255)
	,@CMMDownOperatorID varchar(10)
	,@CMMDownOperatorName varchar(255)
	,@CMMDownBrokeProbeID INT
	,@DueDate date
	,@UpdatedBy varchar(10)
	,@CarbonCopyEmailList varchar(2000)
	,@ID int OUTPUT
AS
	
	BEGIN
		SET NOCOUNT ON;
		DECLARE @error_message nvarchar(max) = ''
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);

		IF @CMMDownID = 0
			BEGIN
				SET @CMMDownID = NULL
			END

		IF @CMMDownOperatorID = 0
			BEGIN
				SET @CMMDownOperatorID = NULL
			END

		IF @CMMDownBrokeProbeID = 0
			BEGIN
				SET @CMMDownBrokeProbeID = NULL
			END

		If @SiteID IS NULL OR @SiteID NOT IN (select ID from tblSite)
			BEGIN
				SET @error_message = @error_message + 'Invalid Site ID.\r\n'
			END
		
		if @TicketName is null or @TicketName = ''
			BEGIN
				SET @error_message = @error_message + 'Project Name is required.\r\n'
			END

		If (@DepartmentID Is Null) OR (@DepartmentID not in (select ID from tblDepartment))
			BEGIN
				SET @error_message = @error_message + 'Department ID value is invalid.\r\n\'
			END

		If (@InitiatorID not in (select ID from tblUser WHERE IsActive = 1))
			BEGIN
				SET @error_message = @error_message + 'Initiator value is required.\r\n\'
			END

		if @DueDate is null	
			BEGIN
				SET @error_message = @error_message + 'Due Date is required.'+ @CRLF
			END

		IF TRY_CAST(@DueDate AS DATE) IS NULL
			BEGIN
				SET @error_message = @error_message + 'Invalid Due Date.'+ @CRLF
			END
	
		IF @UpdatedBy is null or @UpdatedBy not in (select EmployeeNumber from tblUser WHERE IsActive = 1)
			BEGIN
				SET @error_message = @error_message + 'Invalid UserUpdateID.\r\n'
			END

		If (@TicketTypeID not in (select ID from tblServiceType WHERE IsActive = 1))
			BEGIN
				SET @error_message = @error_message + 'Ticket Type ID value is required.\r\n\'
			END

		If ((@TicketTypeID =1) AND (@CMMDownID not in (Select ID from tblCMMMachines  WHERE IsActive = 1)))
			BEGIN
				SET @error_message = @error_message + 'CMM Down ID value is required.\r\n\'
			END
			
		If ((@TicketTypeID =1) AND (@CMMDownOperatorID is null))
			BEGIN
				SET @error_message = @error_message + 'CMM Operator ID value is required.\r\n\'
			END

		If ((@TicketTypeID =1) AND (@CMMDownOperatorName is null))
			BEGIN
				SET @error_message = @error_message + 'CMM Operator Name value is required.\r\n\'
			END

		If ((@TicketTypeID =1) AND (@CMMDownPartNumber is null))
			BEGIN
				SET @error_message = @error_message + 'Part Number value is required.\r\n\'
			END

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end


		INSERT INTO [tblServiceTicket]
           ([SiteID]
					 ,[StatusID]
           ,[TicketName]
           ,[TicketDetails]
           ,[InitiatorID]
           ,[DepartmentID]
           ,[TicketTypeID]
           ,[CMMDownID]
					 ,[CMMDownPartNumber]
					 ,[CMMDownOperatorID]
					 ,[CMMDownOperatorName]
					 ,[CMMDownBrokenProbeID]
           ,[DueDate]
           ,[UpdatedBy]
					 ,CarbonCopyEmailList)
     VALUES
           (@SiteID
					 ,1
           ,@TicketName
           ,@TicketDetails
           ,@InitiatorID
           ,@DepartmentID
           ,@TicketTypeID
           ,@CMMDownID
					 ,@CMMDownPartNumber
					 ,@CMMDownOperatorID
	         ,@CMMDownOperatorName 
	         ,@CMMDownBrokeProbeID
           ,@DueDate
           ,@UpdatedBy
					 ,@CarbonCopyEmailList)

		Set @ID = SCOPE_IDENTITY()
		select @ID as ID

	END
GO
