USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSITE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSITE_AddNew]
GO
/****** Object:  StoredProcedure [spSITE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spSITE_AddNew]
	@site_name varchar(255),
	@email_address_cclist varchar(1000),
	@metrology_email_address varchar(320)
AS

	/*
	Stored Procedure: spSITE_AddNew
	Purpose: Insert a new site record.
	Parameters:
	 - @site_name varchar(255): Site name.
	 - @email_address_cclist varchar(1000): Default CC list for notifications.
	 - @metrology_email_address varchar(320): Metrology contact email.
	Returns: New site identity (SCOPE_IDENTITY()).
	Side effects: Inserts into tblSite.
	*/

BEGIN

	SET NOCOUNT ON;

	INSERT INTO [tblSite]
          ([SiteName]
          ,[EmailAddressCCList]
          ,[MetrologyEmailAddress])
    VALUES
          (@site_name
          ,@email_address_cclist
          ,@metrology_email_address)
	
	select SCOPE_IDENTITY()

END
GO
