USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spSITE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spSITE_Update]
GO
/****** Object:  StoredProcedure [spSITE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spSITE_Update]
	@site_id int,
	@site_name varchar(255),
	@email_address_cclist varchar(1000),
	@metrology_email_address varchar(320)
AS
	/*
	Stored Procedure: spSITE_Update
	Purpose: Update an existing site record.
	Parameters:
	 - @site_id int: Site ID to update.
	 - @site_name varchar(255): Site name.
	 - @email_address_cclist varchar(1000): CC list for notifications.
	 - @metrology_email_address varchar(320): Metrology contact email.
	Returns: None.
	Side effects: Updates tblSite fields by ID.
	*/

BEGIN

	SET NOCOUNT ON;

	UPDATE [tblSite]
   SET [SiteName] = @site_name
      ,[EmailAddressCCList] = @email_address_cclist
      ,[MetrologyEmailAddress] = @metrology_email_address
	WHERE ID = @site_id

END
GO
