USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASKNOTE_PesterQualityEngineer]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASKNOTE_PesterQualityEngineer]
GO
/****** Object:  StoredProcedure [spTASKNOTE_PesterQualityEngineer]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spTASKNOTE_PesterQualityEngineer]
	@task_id int,
	@email_message nvarchar(max),
	@sender_employee_number varchar(10)
AS
	/*
	Stored Procedure: spTASKNOTE_PesterQualityEngineer
	Purpose: Persist a standardized note when a status update request is emailed to the QE.
	Parameters:
	 - @task_id int: Task ID.
	 - @email_message nvarchar(max): Email body.
	 - @sender_employee_number varchar(10): Sender employee number.
	Returns: New task note identity (SCOPE_IDENTITY()) or error on validation failure.
	Side effects: Inserts automated task note to tblTaskNotes.
	*/
BEGIN
	SET NOCOUNT ON;
	DECLARE @error_message nvarchar(max) = ''
	DECLARE @task_note varchar(max) = ''
	DECLARE @qualityEngineer int
	DECLARE @qeName varchar(255)
	Declare @senderName varchar(255)

	
	If (@task_id Is Null) OR (@task_id not in (select ID from tblTask))
		SET @error_message = @error_message + 'Task ID value is invalid.\r\n\'

	If (@email_message Is Null) OR (LEN(@email_message) = 0)
		SET @error_message = @error_message + 'Email Message value is required.\r\n\'

	if @sender_employee_number Not In (Select tblUser.EmployeeNumber from tblUser where tblUser.IsActive = 1 and tblUser.UserTypeID = 1)
		SET @error_message = @error_message + 'Invalid Sender.\r\n\'

	Set @qualityEngineer = (Select ISNULL(qryTaskList.SecondaryProjectOwnerID, 0) from qryTaskList where id = @task_id)
	if @qualityEngineer = 0
		SET @error_message = @error_message + 'No QE.\r\n\'

	Set @qeName = (Select qryActiveUsers.EmployeeName from qryActiveUsers where ID= @qualityEngineer)
	set @senderName = (Select qryActiveUsers.EmployeeName from qryActiveUsers where EmployeeNumber= @sender_employee_number)
	if @error_message <> ''
		begin
			RAISERROR(@error_message, 16, 1)
			RETURN 0
		end

	set @task_note = 'Request for Task Status Update was sent to the Quality Engineer ' + @qeName 
  set @task_note = @task_note + ' from ' + @senderName + ' on ' + Cast(GetDate() as varchar(30)) + '.\r\n\r\n'
  set @task_note = @task_note + 'The following was the text of the email:\r\n' 
 set @task_note = @task_note + @email_message

	INSERT INTO tblTaskNotes(TaskID, TaskNote, IsNoteAutomated, UpdateUserID)
	VALUES (@task_id, @task_note, 1, @sender_employee_number)

	SELECT SCOPE_IDENTITY()
END
GO
