USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_GetFilteredInitiatorList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_GetFilteredInitiatorList]
GO
/****** Object:  StoredProcedure [spTASK_GetFilteredInitiatorList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [spTASK_GetFilteredInitiatorList]
	@site_id smallint = 0,
	@task_name varchar(255) = '',
	@project_name varchar(255) = '',
	@include_completed smallint = 0,
	@include_not_scheduled smallint = 0 ,
	@exclude_waiting_on_part smallint = 0,
	@assignee_id int = 0,
	@tasktype_id int = 0,
	@status_id int = 0,
	@department_id int = 0,
	@qe_id int = 0,
	@page_id int = 0

AS
	/*
	Stored Procedure: spTASK_GetFilteredInitiatorList
	Purpose: Return distinct initiators filtered by various task attributes, using dynamic SQL against qryTaskList.
	Parameters:
		- @site_id smallint = 0: Required site filter.
		- @task_name varchar(255) = '': Optional LIKE search filter.
		- @project_name varchar(255) = '': Optional LIKE search filter.
		- @include_completed smallint = 0: If 0/NULL, exclude completed/cancelled.
		- @include_not_scheduled smallint = 0: If 0/NULL, exclude status 7.
		- @exclude_waiting_on_part smallint = 0: If 1, exclude status 3.
		- @assignee_id int = 0: Filter by AssignedToID when valid active user.
		- @tasktype_id int = 0: Filter by TaskTypeID when valid.
		- @status_id int = 0: Filter by StatusID when valid.
		- @department_id int = 0: Filter by DepartmentID when valid for the site.
		- @qe_id int = 0: Filter by SecondaryProjectOwnerID when user is QE (UserTypeID=3).
		- @page_id int = 0: Unused; reserved for future.
	Returns: Result set of InitiatorEmployeeID, InitiatorName ordered by InitiatorName.
	Side effects: None. Note: dynamic SQL is built via concatenation; inputs are sanitized via whitelist checks, but LIKE terms are raw.
	*/
	BEGIN
		SET NOCOUNT ON;

		
		DECLARE @sql varchar(max) = '';

		set @sql = 'SELECT Distinct InitiatorEmployeeID, InitiatorName from qryTaskList WHERE InitiatorEmployeeID Is Not Null AND SiteID = ' + cast(@site_id as varchar);

		if @task_name <> ''
			BEGIN
				SET @sql = @sql + ' AND TaskName LIKE ''%' + @task_name + '%''';
			END

		if @project_name <> ''
			BEGIN
				SET @sql = @sql + ' AND ProjectName LIKE ''%' + @project_name + '%''';
			END

		If @include_completed is null or @include_completed = 0
			BEGIN
				SET @sql = @sql + ' AND IsCompleteOrCancelled = 0';
			END					

		If @include_not_scheduled is null or @include_not_scheduled = 0
			BEGIN
					SET @sql = @sql + ' AND StatusID <> 7';
			END

		If @exclude_waiting_on_part = 1
			BEGIN
				SET @sql = @sql + ' AND StatusID <> 3';
			END
		
		if @assignee_id in (select ID from tblUser where IsActive = 1)
			BEGIN
					SET @sql = @sql + ' AND AssignedToID = ' + cast(@assignee_id as varchar);
			END

		if @tasktype_id in (select ID from tblTaskType)
			BEGIN
					SET @sql = @sql + ' AND TaskTypeID = ' + cast(@tasktype_id as varchar);
			END

		if @status_id in (select ID from tblStatus)
			BEGIN
					SET @sql = @sql + ' AND StatusID = ' + cast(@status_id as varchar);
			END

		if @department_id in (select ID from tblDepartment where SiteID = @site_id)
			BEGIN
					SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END

	if @qe_id in (select ID from tblUser where UserTypeID = 3)
		BEGIN
				SET @sql = @sql + ' AND SecondaryProjectOwnerID = ' + cast(@qe_id as varchar);
		END

		Set @sql = @sql + ' ORDER BY InitiatorName ASC';

		print @sql
		Exec(@sql);


	END
GO
