USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_Update_SetTaskName]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_Update_SetTaskName]
GO
/****** Object:  StoredProcedure [spTASK_Update_SetTaskName]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spTASK_Update_SetTaskName]
	@task_id						INT,
	@task_name 						VARCHAR(255),
	@employee_number			VARCHAR(10)
AS
	BEGIN
		SET NOCOUNT ON;
		/*
		Name: spTASK_Update_SetTaskName
		Purpose: Update a task's TaskName if it is unique within the project and task type.
		Parameters:
		- @task_id INT: Required; must exist in tblTask.
		- @task_name varchar(255): Required non-empty name to set; compared case-insensitively and trimmed.
		- @employee_number varchar(10): Required non-empty; stamped to UpdateUserID.
		Behavior:
		- Validates inputs; returns early if invalid.
		- Checks for duplicate TaskName within the same ProjectID and TaskTypeID, excluding the task itself.
		- If unique, updates TaskName (upper trimmed) and UpdateUserID.
		Result set: None.
		Returns: Implicit 0; no explicit status codes.
		Errors: No RAISERROR; silently no-ops when duplicate exists or validation fails.
		Side effects: Writes to tblTask.
		Security: Requires UPDATE on tblTask; SELECT on tblTask for validations.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/
		If (@task_id Is Null) OR (@task_id not in (select ID from tblTask)) RETURN
		If (@task_name Is Null) or (@task_name = '') RETURN
		If (@employee_number Is Null) or (@employee_number = '') RETURN
	
		Declare @project_id INT = (select ProjectID from tblTask where id = @task_id)
		Declare @task_type_id INT = (Select TaskTypeID from tblTask where id = @task_id)
		Declare @count_of_task_name INT = (Select Count(*) from tblTask 
															WHERE ProjectID = @project_id 
																AND Upper(Trim(TaskName)) = upper(trim(@task_name))
																AND TaskTypeID = @task_type_id
																AND ID <> @task_id)
		IF @count_of_task_name = 0
			Update tblTask 
			SET TaskName = upper(trim(@task_name)),
				UpdateUserID = @employee_number
			WHERE ID = @task_id
 END


GO
