USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_CloneTask]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_CloneTask]
GO
/****** Object:  StoredProcedure [spTASK_CloneTask]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spTASK_CloneTask] 
	@task_id						INT,
	@new_task_name					VARCHAR(255),
	@new_task_type_id				INT,
	@operation							varchar(15),
	@employee_number				VARCHAR(10)
AS
	/*
	Stored Procedure: spTASK_CloneTask
	Purpose: Clone an existing task to a new task with a new name/type/operation under the same project, with validation.
	Parameters:
	 - @task_id INT: Existing task to clone.
	 - @new_task_name VARCHAR(255): New task name.
	 - @new_task_type_id INT: New task type.
	 - @operation varchar(15): Operation code for the clone.
	 - @employee_number VARCHAR(10): Employee number performing the clone.
	Returns: New task ID on success; raises error on validation failure.
	Side effects:	Inserts into tblTask; calls spPROJECT_SetActiveTaskCountByTaskID and spJOBNUMBER_AddNew.
					It won't clone the task if a task with the same name/type/operation already exists for the project.
	*/
BEGIN

	SET NOCOUNT ON;
	Declare @project_id INT = dbo.fnGetProjectIDByTaskID(@task_id)
	
	DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);
	DECLARE @error_message nvarchar(max) = ''
	DECLARE @new_task_id int



	If (@task_id not in (select ID from tblTask))
		SET @error_message = @error_message + 'Task ID value is invalid.'+ @CRLF
	
	If (@project_id IS Null) 
	  SET @error_message = @error_message + 'Project ID value is invalid.'+ @CRLF
	

	IF (@new_task_name Is Null) Or (@new_task_name = '') 
	  SET @error_message = @error_message + 'Task Name value is invalid.'+ @CRLF
	
	If @new_task_type_id NOT IN (Select ID from tblTaskType)  
	  SET @error_message = @error_message + 'Task Type value is invalid.'+ @CRLF
  
	If (@employee_number not in (select EmployeeNumber from tblUser))
		SET @error_message = @error_message + 'Employee Number value is invalid.'+ @CRLF
	
	
	Declare @count_of_task_name INT = (Select Count(*) from tblTask WHERE TaskTypeID = @new_task_type_id 
																			AND Upper(trim(TaskName)) = upper(trim(@new_task_name)) 
																			AND ProjectID = @project_id
																			AND Operation = @operation)
	
	if @count_of_task_name > 0 
	 SET @error_message = @error_message + 'There is already a task of this name, type and op for this project.'+ @CRLF

	if @error_message <> ''
		begin
			RAISERROR(@error_message, 16, 1)
			RETURN 0
		end


	INSERT INTO tblTask (ProjectID, StatusID, TaskName, DrawingNumber, DueDate, ScheduledDueDate, TaskTypeID, ManufacturingRev, Operation)
	SELECT	ProjectID, 1, @new_task_name, DrawingNumber, DueDate, ScheduledDueDate,	@new_task_type_id, ManufacturingRev, @operation
	FROM tblTask
	WHERE ID = @task_id

	SET @new_task_id = SCOPE_IDENTITY()

	EXEC spPROJECT_SetActiveTaskCountByTaskID @task_id
	EXEC spJOBNUMBER_AddNew @project_id, @new_task_name, @new_task_type_id

	Select @new_task_id
END
GO
