USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_AddNew]
GO
/****** Object:  StoredProcedure [spTASK_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE   PROCEDURE [spTASK_AddNew]
	@project_id 						int,
  @task_name							varchar(255),
  @drawing_number					varchar(255),
	@due_date								varchar(12),
	@scheduled_due_date			varchar(12),
  @task_type_id						int,
	@manufacturing_rev			varchar(15),
	@operation							varchar(15),
  @update_user_id					varchar(10)
AS
	/*
	Stored Procedure: spTASK_AddNew
	Purpose: Validate and create a new task under a project; sets defaults and enforces required fields.
	Parameters:
	 - @project_id int: Existing project ID.
	 - @task_name varchar(255): Task name.
	 - @drawing_number varchar(255): Drawing number (optional).
	 - @due_date varchar(12): Due date (parsable to DATE).
	 - @scheduled_due_date varchar(12): Scheduled due date (parsable to DATE).
	 - @task_type_id int: Task type ID.
	 - @manufacturing_rev varchar(15): Manufacturing revision.
	 - @operation varchar(15): Operation code.
	 - @update_user_id varchar(10): Updating employee number.
	Returns: New task ID (identity) on success; raises error and returns 0 on validation failure.
	Side effects: Inserts into tblTask; calls spJOBNUMBER_AddNew and spPROJECT_SetActiveTaskCountByTaskID.
	*/
	BEGIN
		SET NOCOUNT ON;
		DECLARE @error_message nvarchar(max) = ''
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);
		DECLARE @returnValue int = 0;

		if @project_id is null or @project_id not in (select ID from tblProject)
			begin
				SET @error_message = @error_message + 'Project ID is required.'+ @CRLF
			end

		if @task_name is null or @task_name = ''
			begin
				SET @error_message = @error_message + 'Task Name is required.'+ @CRLF
			end


				
		If (@operation Is Null) or (@operation = '') 
			SET @error_message = @error_message + 'Operation Is Empty.'+ @CRLF

		If (@manufacturing_rev Is Null) or (@manufacturing_rev = '') 
			SET @error_message = @error_message + 'Manufacturing Rev Is Empty.'+ @CRLF


		if @due_date is null	
			begin
				SET @error_message = @error_message + 'Due Date is required.'+ @CRLF
			end

		IF TRY_CAST(@due_date AS DATE) IS NULL
			SET @error_message = @error_message + 'Invalid Due Date.'+ @CRLF

		if @scheduled_due_date is null
			begin
				SET @error_message = @error_message + 'Scheduled Due Date is required.'+ @CRLF
			end
		
		IF TRY_CAST(@scheduled_due_date AS DATE) IS NULL
			SET @error_message = @error_message + 'Invalid Scheduled Due Date.'+ @CRLF

		if @task_type_id is null or @task_type_id not in (select ID from tblTaskType)
			begin
				SET @error_message = @error_message + 'Task Type ID is required.'+ @CRLF
			end
			
		if @update_user_id is null or @update_user_id not in (select EmployeeNumber from tblUser WHERE IsActive = 1)
			begin
				SET @error_message = @error_message + 'Invalid UserUpdateID.'+ @CRLF
			end

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end

		INSERT INTO [dbo].[tblTask]
							 ([ProjectID]
							 ,[StatusID]
							 ,[TaskName]
							 ,[DrawingNumber]
							 ,[DueDate]
							 ,[ScheduledDueDate]
							 ,[TaskTypeID]
							 ,ManufacturingRev
							 ,Operation
							 ,[UpdateUserID])
				 VALUES
							 (@project_id,
								1,
								@task_name,
								@drawing_number,
								@due_date,
								@scheduled_due_date,
								@task_type_id,
								Upper(@manufacturing_rev),
								Upper(@operation),
								@update_user_id)

		set @returnValue = SCOPE_IDENTITY()

		EXECUTE dbo.spJOBNUMBER_AddNew @project_id, @task_name, @task_type_id
		EXECUTE dbo.spPROJECT_SetActiveTaskCountByTaskID @returnValue


		SELECT @returnValue

	END
GO
