USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_GroupUpdate]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_GroupUpdate]
GO
/****** Object:  StoredProcedure [spTASK_GroupUpdate]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spTASK_GroupUpdate]
  @site_id								INT,
	@task_id								INT,
	@op_number							varchar(15),
	@task_type_id						INT,
	@status_id 							INT,
	@due_date								varchar(12),
	@scheduled_due_date			varchar(12),
	@assigned_to_id					INT = NULL,
	@manual_due_date				smallint = 0,
	@remove_rev_letter			smallint = 0,
	@employee_number				VARCHAR(10)
AS
	BEGIN
		SET NOCOUNT ON;
		/*
		Name: spTASK_GroupUpdate
		Purpose: Perform a group of updates on a single task based on provided parameters.
		Parameters: Site, Task ID, optional op number, task type, status, due dates, assignee, manual_due_date flag,
		remove_rev_letter flag, and updating employee number.
		Behavior:
		- Validates IDs and employee authorization.
		- Builds dynamic SQL to update only provided fields on tblTask.
		- Applies post-update adjustments: DateCompleted when closing; DateStarted when moving to In Progress.
		- Calls spProject_SetActiveTaskCountByTaskID to refresh project task counters.
		Result set: Returns the task ID as a single-row, single-column result.
		Returns: -1 on validation error (after RAISERROR). Otherwise implicit 0.
		Errors: Aggregates validation issues and raises severity 16 before exiting.
		Side effects: Updates tblTask and may change project aggregates.
		Security: Requires UPDATE on tblTask and EXECUTE on spProject_SetActiveTaskCountByTaskID.
		Notes: Dynamic SQL is used; avoid passing untrusted input to free-text parameters.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/
		DECLARE @error_message nvarchar(max) = ''
		DECLARE @CRLF NVARCHAR(2) = CHAR(13) + CHAR(10);
		Declare @date_started date
		Declare @current_date_string as varchar(255) = (SELECT convert(varchar(25), getdate(), 120))
		DECLARE @sql varchar(max) = '';

		if (@assigned_to_id = 0)
			BEGIN
				SET @assigned_to_id = NULL
			END
		if (@task_type_id = 0)
			BEGIN
				SET @task_type_id = NULL
			END
		if (@status_id = 0)
			BEGIN
				SET @status_id = NULL
			END
		if (@remove_rev_letter = 0)
			BEGIN
				SET @remove_rev_letter = NULL
			END


		If (@task_id Is Null) OR (@task_id not in (select ID from tblTask))
		  BEGIN
				SET @error_message = @error_message + 'Task ID value is invalid.\r\n\'
			END
		
		If (@status_id Is NOT Null) AND (@status_id not in (select ID from tblStatus)) 
			BEGIN
				SET @error_message = @error_message + 'Status ID value is invalid.\r\n\'
			END




		If ((@assigned_to_id IS NOT NULL) AND (@assigned_to_id NOT IN (Select ID from tblUser where IsActive = 1 and UserTypeID = 1))) 
			BEGIN
				SET @error_message = @error_message + 'Invalid Assignee.\r\n\'
			END
		
		If (@employee_number Is Null) or (@employee_number NOT IN (Select EmployeeNumber from tblUser where IsActive = 1 and UserTypeID = 1)) 
			BEGIN
				SET @error_message = @error_message + 'Invalid Employee Number.\r\n\'
			END

		if @error_message <> ''
				begin
					RAISERROR(@error_message, 16, 1)
					RETURN -1
				end

		set @sql = 'Update tblTask SET UpdatedTimestamp = ''' + @current_date_string + ''''


		if (@status_id Is NOT Null) AND (@status_id in (select ID from tblStatus))
			BEGIN
				set @sql = @sql + ', StatusID = ' + cast(@status_id as varchar)
			END


		if (@task_type_id Is NOT Null) AND (@task_type_id in (select ID from tblTaskType))
			BEGIN
				set @sql = @sql + ', TaskTypeID = ' + cast(@task_type_id as varchar)
			END


		if ((@op_number Is NOT Null) AND (@op_number <> ''))
			BEGIN
				set @sql = @sql + ', Operation = Upper(trim(''' + @op_number + '''))'
			END


		If (@due_date Is Not Null) AND (@due_date <> '') 
			BEGIN
				set @sql = @sql + ', DueDate = ''' + @due_date + ''''
			END


		If (@scheduled_due_date Is Not Null) AND (@scheduled_due_date <> '') 
			BEGIN
				set @sql = @sql + ', ScheduledDueDate = ''' + @scheduled_due_date + ''''
			END


		if ((@assigned_to_id Is NOT Null) AND (@assigned_to_id in (Select ID from tblUser where IsActive = 1 and UserTypeID = 1)))
			BEGIN
				set @sql = @sql + ', AssignedToID = ' + cast(@assigned_to_id as varchar)
			END


		if (@manual_due_date Is NOT Null)
			BEGIN
				set @sql = @sql + ', ManualDueDate = ' + cast(@manual_due_date as varchar)
			END

	if (@remove_rev_letter Is NOT Null)
			BEGIN
				set @sql = @sql + ', TaskName = LEFT(TaskName, CHARINDEX('' '', TaskName + '' '') - 1)'
			END

    



		
		set @sql = @sql + ', UpdateUserID = ''' + @employee_number + ''''
		set @sql = @sql + ' WHERE ID = ' + cast(@task_id as varchar)

		print @sql
		Exec(@sql);

		IF (@status_id in (4,5)) 
			BEGIN
				Update tblTask Set DateCompleted = GetDate(), UpdatedTimestamp = CURRENT_TIMESTAMP Where ID = @task_id
			END
		
		Set @date_started = (Select DateStarted from tblTask Where ID = @task_id)
		if (@status_id = 2 and @date_started is null)
			BEGIN
				Update tblTask Set DateStarted = GetDate(), UpdatedTimestamp = CURRENT_TIMESTAMP Where ID = @task_id
			END


		EXEC spProject_SetActiveTaskCountByTaskID @task_id
		Select @task_id
	END
GO
