USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_SearchSchedulesByTaskName]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_SearchSchedulesByTaskName]
GO
/****** Object:  StoredProcedure [spTASK_SearchSchedulesByTaskName]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE   PROCEDURE [spTASK_SearchSchedulesByTaskName]
	@site_id smallint = 0,
	@task_name varchar(255) = '',
	@page_number int = 1

AS
	BEGIN
		SET NOCOUNT ON;

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
		
		set @task_name = ISNull(@task_name, '')

		if @task_name = ''
			RETURN

		set @sql = 'SELECT * from qryTaskMachineName WHERE SiteID = ' + cast(@site_id as varchar);

				if @task_name <> ''
			BEGIN
				SET @sql = @sql + ' AND TaskName LIKE ''%' + @task_name + '%''';
			END



		SET @sql = @sql + 'ORDER BY TaskName, MachineName DESC OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';

		print @sql
		Exec(@sql);


	END
GO
