USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASKTYPE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASKTYPE_AddNew]
GO
/****** Object:  StoredProcedure [spTASKTYPE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spTASKTYPE_AddNew]
	@task_type varchar(255),
	@task_type_group_id int,
	@requires_job_number smallint,
	@update_employee_number varchar(10)

AS
    /*
    Stored Procedure: spTASKTYPE_AddNew
    Purpose: Insert a new task type with default AverageCompletionHours=1 and IsActive=1.
    Parameters:
     - @task_type varchar(255): Name of the task type.
     - @task_type_group_id int: Group/category ID.
     - @requires_job_number smallint: Flag (0/1).
     - @update_employee_number varchar(10): Updating employee number.
    Returns: New task type identity (SCOPE_IDENTITY()).
    Side effects: Inserts into tblTaskType.
    */

BEGIN

	SET NOCOUNT ON;
	INSERT INTO [tblTaskType]
           ([IsActive]
           ,[TaskType]
           ,[TaskTypeGroupID]
           ,[AverageCompletionHours]
           ,[RequiresJobNumber]
           ,[UpdateUserID])
     VALUES
           (1
           ,@task_type
           ,@task_type_group_id
           ,1
           ,@requires_job_number
           ,@update_employee_number)

	 SELECT SCOPE_IDENTITY()
END
GO
