USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_GetFilteredProjectList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_GetFilteredProjectList]
GO
/****** Object:  StoredProcedure [spTASK_GetFilteredProjectList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spTASK_GetFilteredProjectList]
	@site_id smallint = 0,
	@task_name varchar(255) = '',
	@project_name varchar(255) = '',
	@include_completed smallint = 0,
	@include_not_scheduled smallint = 0 ,
	@exclude_waiting_on_part smallint = 0,
	@assignee_id int = 0,
	@tasktype_id int = 0,
	@status_id int = 0,
	@department_id int = 0,
	@initiator_id int = 0,
	@qe_id int = 0,
	@page_id int = 0

AS
	BEGIN
		SET NOCOUNT ON;

		/*
		Name: spTASK_GetFilteredProjectList
		Purpose: Return distinct projects that have tasks matching the provided filters for a given site.
		Parameters:
		- @site_id smallint: Required. Site identifier to scope the query.
		- @task_name varchar(255): Optional substring filter for TaskName.
		- @project_name varchar(255): Optional substring filter for ProjectName.
		- @include_completed smallint: If 1, include completed/cancelled tasks; otherwise exclude them.
		- @include_not_scheduled smallint: If 1, include tasks with StatusID = 7; otherwise exclude them.
		- @exclude_waiting_on_part smallint: If 1, exclude tasks with StatusID = 3.
		- @assignee_id int: Optional filter for AssignedToID (only if a valid active user).
		- @tasktype_id int: Optional filter for TaskTypeID.
		- @status_id int: Optional filter for StatusID.
		- @department_id int: Optional filter for DepartmentID within the site.
		- @initiator_id int: Optional filter for InitiatorEmployeeID.
		- @qe_id int: Optional filter for SecondaryProjectOwnerID (UserTypeID = 3).
		- @page_id int: Reserved/unused.
		Behavior:
		- Composes dynamic SQL against view qryTaskList using the supplied filters and executes it.
		- Orders the result by ProjectName ascending.
		Result set: Distinct (ProjectID, ProjectTicketNumber, ProjectName).
		Returns: None. Prints the generated SQL for diagnostics.
		Errors: No RAISERROR; invalid filter values are ignored by conditional checks.
		Side effects: None.
		Security: Requires SELECT on qryTaskList and underlying tables.
		Notes: Dynamic SQL is built via string concatenation. Avoid passing untrusted input to text parameters to mitigate SQL injection risk.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/

		DECLARE @sql varchar(max) = '';

		set @sql = 'SELECT Distinct ProjectID, ProjectTicketNumber, ProjectName from qryTaskList WHERE ProjectID is not null AND SiteID = ' + cast(@site_id as varchar);

		if @task_name <> ''
			BEGIN
				SET @sql = @sql + ' AND TaskName LIKE ''%' + @task_name + '%''';
			END

		if @project_name <> ''
			BEGIN
				SET @sql = @sql + ' AND ProjectName LIKE ''%' + @project_name + '%''';
			END

		If @include_completed is null or @include_completed = 0
			BEGIN
				SET @sql = @sql + ' AND IsCompleteOrCancelled = 0';
			END					

		If @include_not_scheduled is null or @include_not_scheduled = 0
			BEGIN
					SET @sql = @sql + ' AND StatusID <> 7';
			END

		If @exclude_waiting_on_part = 1
			BEGIN
				SET @sql = @sql + ' AND StatusID <> 3';
			END
		
		if @assignee_id in (select ID from tblUser where IsActive = 1)
			BEGIN
					SET @sql = @sql + ' AND AssignedToID = ' + cast(@assignee_id as varchar);
			END

		if @tasktype_id in (select ID from tblTaskType)
			BEGIN
					SET @sql = @sql + ' AND TaskTypeID = ' + cast(@tasktype_id as varchar);
			END

		if @status_id in (select ID from tblStatus)
			BEGIN
					SET @sql = @sql + ' AND StatusID = ' + cast(@status_id as varchar);
			END

		if @department_id in (select ID from tblDepartment where SiteID = @site_id)
			BEGIN
					SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END

		if @initiator_id in (select ID from tblUser)
		BEGIN
				SET @sql = @sql + ' AND InitiatorEmployeeID = ' + cast(@initiator_id as varchar);
		END

	if @qe_id in (select ID from tblUser where UserTypeID = 3)
		BEGIN
				SET @sql = @sql + ' AND SecondaryProjectOwnerID = ' + cast(@qe_id as varchar);
		END

		Set @sql = @sql + ' ORDER BY ProjectName ASC';

		print @sql
		Exec(@sql);


	END
GO
