USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_GetProjectActiveTaskList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_GetProjectActiveTaskList]
GO
/****** Object:  StoredProcedure [spTASK_GetProjectActiveTaskList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spTASK_GetProjectActiveTaskList]
	@ticket_id smallint = 0,
	@task_name varchar(255) = '',
	@assignee_id int = 0,
	@tasktype_id int = 0

AS
	BEGIN
		SET NOCOUNT ON;

		/*
		Name: spTASK_GetProjectActiveTaskList
		Purpose: Return active (non-complete/non-cancelled) tasks for a specified project with optional filters.
		Parameters:
		- @ticket_id smallint: Required. Project ID.
		- @task_name varchar(255): Optional substring to match TaskName.
		- @assignee_id int: Optional filter for AssignedToID (active users only).
		- @tasktype_id int: Optional filter for TaskTypeID.
		Behavior:
		- Builds dynamic SQL against qryTaskList to fetch tasks with ProjectID = @ticket_id and IsCompleteOrCancelled = 0.
		- Applies additional filters if parameters are present and valid.
		- Orders by DueDate, ScheduledDueDate, TaskName.
		Result set: Rows from qryTaskList.
		Returns: None; prints dynamic SQL for diagnostics.
		Errors: No RAISERROR; invalid filters are ignored by conditional checks.
		Side effects: None.
		Security: Requires SELECT permissions on qryTaskList.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/

		DECLARE @sql varchar(max) = '';
		DECLARE @site_id INT = (Select SiteID from tblProject where ID = @ticket_id)

		set @sql = 'SELECT * from qryTaskList WHERE IsCompleteOrCancelled = 0 AND ProjectID = ' + cast(@ticket_id as varchar);

		if @task_name <> '' and @task_name IS NOT NULL
			BEGIN
				SET @sql = @sql + ' AND TaskName LIKE ''%' + @task_name + '%''';
			END
		
		if @assignee_id in (select ID from tblUser where IsActive = 1)
			BEGIN
					SET @sql = @sql + ' AND AssignedToID = ' + cast(@assignee_id as varchar);
			END

		if @tasktype_id in (select ID from tblTaskType)
			BEGIN
					SET @sql = @sql + ' AND TaskTypeID = ' + cast(@tasktype_id as varchar);
			END

				
		Set @sql = @sql + ' ORDER BY DueDate, ScheduledDueDate, TaskName' 

		print @sql
		Exec(@sql);


	END
GO
