USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_GetFilteredTaskList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_GetFilteredTaskList]
GO
/****** Object:  StoredProcedure [spTASK_GetFilteredTaskList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [spTASK_GetFilteredTaskList]
	@site_id smallint = 0,
	@task_name varchar(255) = '',
	@project_name varchar(255) = '',
	@include_completed smallint = 0,
	@include_not_scheduled smallint = 0 ,
	@exclude_waiting_on_part smallint = 0,
	@exclude_same_date smallint = 0,
	@assignee_id int = 0,
	@tasktype_id int = 0,
	@status_id int = 0,
	@department_id int = 0,
	@ticket_number varchar(10),
	@initiator_id int = 0,
	@qe_id int = 0,
	@sort_field_ordinal int = 0,
	@sort_direction int = 0,
	@page_number int = 1

AS
	BEGIN
		SET NOCOUNT ON;

		/*
		Name: spTASK_GetFilteredTaskList
		Purpose: Return a paginated list of tasks filtered by multiple optional criteria.
		Parameters: Site, name filters, flags to include/exclude statuses, assignee, type, status, department, ticket number,
		initiator, QE, sort field ordinal/direction, page number (25 rows per page).
		Behavior:
		- Builds and executes dynamic SQL against view qryTaskList.
		- Applies conditional filters when parameter values are valid/present.
		- Supports sorting by different fields via ordinal and optional descending.
		- Paginates using OFFSET/FETCH based on page size 25.
		Result set: Rows from qryTaskList with all columns.
		Returns: None. Prints the generated SQL for diagnostics.
		Errors: No RAISERROR; invalid values are ignored by conditional checks.
		Side effects: None.
		Security: Requires SELECT on qryTaskList and underlying tables.
		Notes: Dynamic SQL built by string concatenation; avoid untrusted input.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
				DECLARE @sort_field varchar(255);

		if @sort_field_ordinal IS NULL
			BEGIN
				SET @sort_field_ordinal = 0
			END

		if @sort_direction IS NULL
			BEGIN
				SET @sort_direction = 0
			END

		set @sql = 'SELECT * from qryTaskList WHERE SiteID = ' + cast(@site_id as varchar);

		if @task_name <> ''
			BEGIN
				SET @sql = @sql + ' AND TaskNameSearch LIKE ''%' + @task_name + '%''';
			END

		if @project_name <> ''
			BEGIN
				SET @sql = @sql + ' AND ProjectNameSearch LIKE ''%' + @project_name + '%''';
			END

		If @include_completed is null or @include_completed = 0
			BEGIN
				SET @sql = @sql + ' AND IsCompleteOrCancelled = 0';
			END					


		If @include_not_scheduled is null or @include_not_scheduled = 0
			BEGIN
					SET @sql = @sql + ' AND StatusID <> 7';
			END

		If @exclude_waiting_on_part = 1
			BEGIN
				SET @sql = @sql + ' AND StatusID <> 3';
			END

		
		If @exclude_same_date = 1
			BEGIN
				SET @sql = @sql + ' AND DueDate <> ScheduledDueDate';
			END
		

		if @assignee_id = -1
			BEGIN
				SET @sql = @sql + ' AND AssignedToID IS NULL'
			END
		ELSE
			BEGIN
				if @assignee_id in (select ID from tblUser where IsActive = 1)
					BEGIN
							SET @sql = @sql + ' AND AssignedToID = ' + cast(@assignee_id as varchar);
					END
			END

		if @tasktype_id in (select ID from tblTaskType)
			BEGIN
					SET @sql = @sql + ' AND TaskTypeID = ' + cast(@tasktype_id as varchar);
			END

		if @department_id in (select ID from tblDepartment where SiteID = @site_id)
			BEGIN
					SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END

		if @status_id in (select ID from tblStatus)
			BEGIN
					SET @sql = @sql + ' AND StatusID = ' + cast(@status_id as varchar);
			END

		if @ticket_number in (select TicketNumber from tblProject)
			BEGIN
					SET @sql = @sql + ' AND ProjectTicketNumber LIKE ''%' + @ticket_number + '%''';
			END

		if @initiator_id in (select ID from tblUser)
			BEGIN
					SET @sql = @sql + ' AND InitiatorEmployeeID = ' + cast(@initiator_id as varchar);
			END

		if @qe_id in (select ID from tblUser where UserTypeID = 3)
			BEGIN
					SET @sql = @sql + ' AND SecondaryProjectOwnerID = ' + cast(@qe_id as varchar);
			END
		

		set @sort_field = CASE 
        WHEN @sort_field_ordinal = 0 AND @sort_direction = 0 THEN ' ORDER BY CurrentlyRunning DESC, DueDateSort'
				WHEN @sort_field_ordinal = 0 AND @sort_direction = 1 THEN ' ORDER BY DueDateSort'
        WHEN @sort_field_ordinal = 1 THEN ' ORDER BY ProjectTicketNumber'
				WHEN @sort_field_ordinal = 2 THEN ' ORDER BY ProjectName'
				WHEN @sort_field_ordinal = 3 THEN ' ORDER BY TaskName'
				WHEN @sort_field_ordinal = 4 THEN ' ORDER BY Status'
				WHEN @sort_field_ordinal = 5 THEN ' ORDER BY TaskType'
				WHEN @sort_field_ordinal = 6 THEN ' ORDER BY AssignedToName'
				WHEN @sort_field_ordinal = 7 THEN ' ORDER BY DepartmentName'
				WHEN @sort_field_ordinal = 8 THEN ' ORDER BY InitiatorName'
				WHEN @sort_field_ordinal = 9 THEN ' ORDER BY CreatedTimestampSort'
        ELSE ' ORDER BY DueDateSort'
    END

		SET @sql = @sql + @sort_field
		
		if @sort_direction = 1
			BEGIN
				SET @sql = @sql + ' DESC'
			END

		SET @sql = @sql + ' OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';

		print @sql
		Exec(@sql);


	END
GO
