USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASK_Update_SetDueDate]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASK_Update_SetDueDate]
GO
/****** Object:  StoredProcedure [spTASK_Update_SetDueDate]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spTASK_Update_SetDueDate]
	@task_id								INT,
	@due_date 							varchar(15),
	@employee_number				VARCHAR(10)
AS
	BEGIN

		SET NOCOUNT ON;
		/*
		Name: spTASK_Update_SetDueDate
		Purpose: Update the DueDate for a task and record the updating employee.
		Parameters:
		- @task_id INT: Required. The task ID to update (must exist in tblTask).
		- @due_date varchar(15): Required. Date string to set as the DueDate.
		- @employee_number varchar(10): Required. Employee number of the user making the change.
		Behavior:
		- Validates basic inputs and exits early if invalid.
		- Updates tblTask.DueDate and UpdateUserID for the specified task.
		Result set: None.
		Returns: 0 on completion (implicit), early RETURN in validation branches.
		Errors: No RAISERROR; simply returns when validation fails.
		Side effects: Writes to tblTask; updates UpdatedTimestamp only if trigger exists (not here).
		Security: Requires UPDATE permission on tblTask.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/
		If (@task_id Is Null) OR (@task_id not in (select ID from tblTask)) RETURN
		If (@due_date Is Null) RETURN
		If (@employee_number Is Null) or (@employee_number = '') RETURN
	

			Update tblTask 
			SET DueDate = @due_date,
				UpdateUserID = @employee_number
			WHERE ID = @task_id
	END


RETURN 0
GO
