USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASKNOTE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASKNOTE_AddNew]
GO
/****** Object:  StoredProcedure [spTASKNOTE_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spTASKNOTE_AddNew]
	@task_id int,
	@task_note varchar(max),
	@is_note_automated smallint,
	@update_employee_number varchar(10)
	
AS
/*
Stored Procedure: spTASKNOTE_AddNew
Purpose: Create a task note with automation flag and audit info.
Parameters:
 - @task_id int: Target task ID (required).
 - @task_note varchar(max): Note text (required).
 - @is_note_automated smallint: 0/1 flag.
 - @update_employee_number varchar(10): Employee number performing the insert.
Returns: New task note identity (SCOPE_IDENTITY()) or raises error on validation failure.
Side effects: Inserts into tblTaskNotes.
*/
BEGIN
	SET NOCOUNT ON;
	DECLARE @error_message nvarchar(max) = ''

	If (@task_id Is Null) OR (@task_id not in (select ID from tblTask))
		SET @error_message = @error_message + 'Note ID value is invalid.\r\n\'

	If (@task_note Is Null) OR (LEN(@task_note) = 0)
		SET @error_message = @error_message + 'Task Note value is required.\r\n\'

	if (@is_note_automated is null) OR (@is_note_automated not in (0, 1))
		SET @error_message = @error_message + 'IsNoteAutomated value is invalid.\r\n\'

	if @update_employee_number Not In (Select tblUser.EmployeeNumber from tblUser where tblUser.IsActive = 1 and tblUser.UserTypeID = 1)
		SET @error_message = @error_message + 'Invalid User.\r\n\'

	if @error_message <> ''
		begin
			RAISERROR(@error_message, 16, 1)
			RETURN -1
		end

	INSERT INTO tblTaskNotes(TaskID, TaskNote, IsNoteAutomated, UpdateUserID) Values (@task_id, @task_note, @is_note_automated, @update_employee_number)
	SELECT SCOPE_IDENTITY()
END
GO
