USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTASKTYPE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTASKTYPE_Update]
GO
/****** Object:  StoredProcedure [spTASKTYPE_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spTASKTYPE_Update]
  @task_type_id int,
	@is_active smallint,
	@task_type varchar(255),
	@task_type_group_id int,
	@requires_job_number smallint,
	@update_employee_number varchar(10)

AS
BEGIN

	SET NOCOUNT ON;
	UPDATE [tblTaskType]
		 SET [IsActive] = @is_active
				,[TaskType] = @task_type
				,[TaskTypeGroupID] = @task_type_group_id
				,[RequiresJobNumber] = @requires_job_number
				,[UpdatedTimestamp] = Current_timestamp
				,[UpdateUserID] = @update_employee_number
	 WHERE id = @task_type_id
END
GO
