USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTIPANGLE_PROBES_GetList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTIPANGLE_PROBES_GetList]
GO
/****** Object:  StoredProcedure [spTIPANGLE_PROBES_GetList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [spTIPANGLE_PROBES_GetList]
	@department_id int = 0

AS
	BEGIN
		SET NOCOUNT ON;

		/*
		Name: spTIPANGLE_PROBES_GetList
		Purpose: Get distinct ProbeName values for a department.
		Parameters:
		- @department_id int: Required; department to filter by.
		Behavior: Builds and executes dynamic SQL to select distinct ProbeName from tblTipAngles for the department.
		Result set: Single-column list of ProbeName sorted ascending.
		Returns: None.
		Errors: None; assumes @department_id valid.
		Side effects: None.
		Security: Requires SELECT on tblTipAngles.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/

		DECLARE @sql varchar(max) = '';
		
		set @sql = 'SELECT DISTINCT ProbeName from tblTipAngles WHERE DepartmentID = ' + cast(@department_id as varchar);

		SET @sql = @sql + ' ORDER BY ProbeName';
		

		print @sql
		Exec(@sql);


	END
GO
