USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTIPANGLE_TIPANGLES_GetList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTIPANGLE_TIPANGLES_GetList]
GO
/****** Object:  StoredProcedure [spTIPANGLE_TIPANGLES_GetList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [spTIPANGLE_TIPANGLES_GetList]
	@department_id int = 0,
	@selected_probes varchar(max)

AS
	BEGIN
		SET NOCOUNT ON;
		
		/*
		Name: spTIPANGLE_TIPANGLES_GetList
		Purpose: Get distinct TipName values for selected probes within a department.
		Parameters:
		- @department_id int: Required; department filter.
		- @selected_probes varchar(max): Comma-separated list of probes to include.
		Behavior: Formats CSV probes into quoted list and filters tblTipAngles accordingly.
		Result set: Single-column list of TipName sorted ascending.
		Returns: None.
		Errors: None.
		Side effects: None.
		Security: Requires SELECT on tblTipAngles.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/
		DECLARE @sql varchar(max) = '';
		DECLARE @formatted_probes varchar(max)
		SET @selected_probes = ISNULL(@selected_probes, '')
		SET @formatted_probes = '''' + REPLACE(@selected_probes, ',', ''',''') + ''''


		
		set @sql = 'SELECT DISTINCT TipName from tblTipAngles WHERE DepartmentID = ' + cast(@department_id as varchar);

		SET @sql = @sql + ' AND ProbeName IN (' + @formatted_probes + ') ORDER BY TipName'
		Print(@sql)
		Exec(@sql)
	END