USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spTIPANGLE_PROGRAMS_GetList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spTIPANGLE_PROGRAMS_GetList]
GO
/****** Object:  StoredProcedure [spTIPANGLE_PROGRAMS_GetList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spTIPANGLE_PROGRAMS_GetList]
	@department_id int = 0,
	@selected_probes varchar(max),
	@selected_angles varchar(max)

AS
	BEGIN
		SET NOCOUNT ON;

		DECLARE @sql varchar(max) = '';
		DECLARE @formatted_probes varchar(max);
		DECLARE @formatted_angles varchar(max);

		SET @formatted_probes = '''' + REPLACE(@selected_probes, ',', ''',''') + ''''
		SET @formatted_angles = '''' + REPLACE(@selected_angles, ',', ''',''') + ''''
		
		set @sql = 'SELECT DISTINCT ProgramName, ProbeName, TipName from tblTipAngles WHERE DepartmentID = ' + cast(@department_id as varchar);
		SET @sql = @sql + ' AND ProbeName IN (' + @formatted_probes + ')';
		SET @sql = @sql + ' AND TipName IN (' + @formatted_angles + ') ORDER BY ProgramName';

		print @sql
		Exec(@sql);


	END
GO
