USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spUSER_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spUSER_AddNew]
GO
/****** Object:  StoredProcedure [spUSER_AddNew]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [spUSER_AddNew]
	@site_id INT,
	@first_name NVARCHAR(255),
	@last_name NVARCHAR(255),
	@user_type_id int,
	@department_id INT,
	@employee_number NVARCHAR(10),
	@email NVARCHAR(255),
	@network_username NVARCHAR(255),
	@is_admin SMALLINT,
	@update_user_employee_number varchar(10)
AS
	BEGIN
		SET NOCOUNT ON;
		/*
		Name: spUSER_AddNew
		Purpose: Create a new user record and return the new identity value.
		Parameters: Site ID, First/Last Name, User Type, Department, Employee Number, Email, Network Username, IsAdmin flag,
		and the updating user's employee number.
		Behavior:
		- Validates required fields and foreign keys; validates email format via dbo.fnIsEmailValid.
		- Inserts a new row into tblUser with uppercase NetworkUserName and IsActive=1.
		- Returns the new identity value via SCOPE_IDENTITY().
		Result set: Single scalar identity value.
		Returns: 0 on validation error (after RAISERROR); implicit 0 on success.
		Errors: Aggregates messages and raises severity 16.
		Side effects: Inserts into tblUser.
		Security: Requires INSERT on tblUser and SELECT on related FK tables.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/

		DECLARE @error_message nvarchar(max) = ''
	
		if @site_id is null or @site_id not in (select ID from tblSite)
			begin
				SET @error_message = @error_message + 'Site ID is required.\r\n'
			end

		if @department_id is null or @department_id not in (select ID from tblDepartment)
			begin
				SET @error_message = @error_message + 'Department ID is required.\r\n'
			end

		if @user_type_id is null or @user_type_id not in (select ID from tblUserType)
			begin
				SET @error_message = @error_message + 'User Type ID is required.\r\n'
			end

		IF @first_name is null or @first_name = ''
			begin
				SET @error_message = @error_message + 'First Name is required.\r\n'
			end

		IF @last_name is null or @last_name = ''
			begin
				SET @error_message = @error_message + 'Last Name is required.\r\n'
			end

		IF @employee_number is null or @employee_number = ''
			begin
				SET @error_message = @error_message + 'Employee Number is required.\r\n'
			end
		
		if dbo.fnIsEmailValid(@email) = 0
			begin
				SET @error_message = @error_message + 'Invalid Email Address.\r\n'
			end

		IF @network_username is null or @network_username = ''
			begin
				SET @error_message = @error_message + 'Network Username is required.\r\n'
			end



		SET @is_admin = ISNULL(@is_admin, 0)
		IF @is_admin not in (0, 1)
			begin
				SET @error_message = @error_message + 'Invalid IsAdmin value.\r\n'
			end

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end

		INSERT INTO [dbo].[tblUser]
           ([SiteID]
           ,[IsActive]
           ,[FName]
           ,[LName]
					 ,[UserTypeID]
					 ,[DepartmentID]
           ,[EmployeeNumber]
           ,[EMailAddress]
           ,[NetworkUserName]
           ,[IsAdmin]
           ,[UpdateUserID]
					 )
     VALUES
           (@site_id,
						1,
						@first_name,
						@last_name,
						@user_type_id,
						@department_id,
						@employee_number,
						@email,
						upper(@network_username),
						@is_admin,
						@update_user_employee_number)

		SELECT SCOPE_IDENTITY()
	END
GO
