USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spUSER_GetFilteredUserList]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spUSER_GetFilteredUserList]
GO
/****** Object:  StoredProcedure [spUSER_GetFilteredUserList]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [spUSER_GetFilteredUserList]
	@site_id smallint = 0,
	@include_inactive smallint = 0,
	@usertype_id int = 0,
	@department_id int = 0,
	@sort_field_ordinal int = 0,
	@sort_direction int = 0,
	@page_number int = 1

AS
	BEGIN
		SET NOCOUNT ON;

		/*
		Name: spUSER_GetFilteredUserList
		Purpose: Return a paginated list of users filtered by site, active status, user type, and department.
		Parameters: Site ID, include_inactive flag, usertype_id, department_id, sort field ordinal and direction, page number.
		Behavior:
		- Builds dynamic SQL against view qryAllUsers applying optional filters.
		- Sorts by selected column via ordinal and optional descending.
		- Paginates with OFFSET/FETCH (25 rows per page).
		Result set: Rows from qryAllUsers.
		Returns: None. Prints generated SQL for diagnostics.
		Errors: None; invalid filters are ignored by conditional checks.
		Side effects: None.
		Security: Requires SELECT on qryAllUsers and underlying tables.
		Change history:
		- 2025-09-12: Added internal documentation block.
		*/

		Declare @skip_rows int = (@page_number - 1) * 25;
		DECLARE @sql varchar(max) = '';
				DECLARE @sort_field varchar(255);

		if @sort_field_ordinal IS NULL
			BEGIN
				SET @sort_field_ordinal = 0
			END

		if @sort_direction IS NULL
			BEGIN
				SET @sort_direction = 0
			END

		set @sql = 'SELECT * from qryAllUsers WHERE SiteID = ' + cast(@site_id as varchar);



		If @include_inactive is null or @include_inactive = 0
			BEGIN
				SET @sql = @sql + ' AND IsActive = 1';
			END					

		if @usertype_id in (select ID from tblUserType)
			BEGIN
					SET @sql = @sql + ' AND UserType = ' + cast(@usertype_id as varchar);
			END

		if @department_id in (select ID from tblDepartment where SiteID = @site_id)
			BEGIN
					SET @sql = @sql + ' AND DepartmentID = ' + cast(@department_id as varchar);
			END


		

		set @sort_field = CASE 
        WHEN @sort_field_ordinal = 0 THEN ' ORDER BY EmployeeDisplayName'
        WHEN @sort_field_ordinal = 1 THEN ' ORDER BY UserTypeName'
				WHEN @sort_field_ordinal = 2 THEN ' ORDER BY DepartmentName'
        ELSE ' ORDER BY EmployeeName'
    END

		SET @sql = @sql + @sort_field
		
		if @sort_direction = 1
			BEGIN
				SET @sql = @sql + ' DESC'
			END

		SET @sql = @sql + ' OFFSET ' + cast(@skip_rows as varchar) + ' ROWS FETCH NEXT 25 ROWS ONLY';

		print @sql
		Exec(@sql);


	END
GO
