USE [LF_RMS_COMMS_MPM]
GO
/****** Object:  StoredProcedure [spUSER_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
DROP PROCEDURE [spUSER_Update]
GO
/****** Object:  StoredProcedure [spUSER_Update]    Script Date: 9/12/2025 9:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [spUSER_Update]
	@user_id INT,
	@is_active SMALLINT,
	@first_name VARCHAR(255),
	@last_name VARCHAR(255),
	@employee_number VARCHAR(10),
	@email VARCHAR(255),
	@network_username VARCHAR(255),
	@is_admin SMALLINT,
	@update_user_employee_number varchar(10)
AS
	BEGIN
		SET NOCOUNT ON;
		DECLARE @error_message nvarchar(max) = ''
	
		if @user_id is null or @user_id not in (select ID from tblUser)
			begin
				SET @error_message = @error_message + 'Invalid user id.\r\n'
			end

		SET @is_active = ISNULL(@is_active, 0)
		IF @is_active not in (0, 1)
			begin
				SET @error_message = @error_message + 'Invalid IsActive value.\r\n'
			end

		IF @first_name is null or @first_name = ''
			begin
				SET @error_message = @error_message + 'First Name is required.\r\n'
			end

		IF @last_name is null or @last_name = ''
			begin
				SET @error_message = @error_message + 'Last Name is required.\r\n'
			end

		IF @employee_number is null or @employee_number = ''
			begin
				SET @error_message = @error_message + 'Employee Number is required.\r\n'
			end
		IF @network_username is null or @network_username = ''
			begin
				SET @error_message = @error_message + 'Network Username is required.\r\n'
			end

		SET @is_admin = ISNULL(@is_admin, 0)
		IF @is_admin not in (0, 1)
			begin
				SET @error_message = @error_message + 'Invalid IsAdmin value.\r\n'
			end

		if @error_message <> ''
			begin
				RAISERROR(@error_message, 16, 1)
				RETURN 0
			end

			if @is_active = 1
				BEGIN
					UPDATE [dbo].[tblUser]
					 SET [IsActive] = @is_active
							,[FName] = @first_name
							,[LName] = @last_name
							,[EmployeeNumber] = @employee_number
							,[EMailAddress] = @email
							,[NetworkUserName] = upper(@network_username)
							,[IsAdmin] = @is_admin
							,[UpdateUserID] = @update_user_employee_number
						WHERE ID = @user_id
				END
			ELSE
				BEGIN
						UPDATE [dbo].[tblUser]
					 SET [IsActive] = @is_active
							,[FName] = @first_name
							,[LName] = @last_name
							,[EmployeeNumber] = NULL
							,[EMailAddress] = @email
							,[NetworkUserName] = NULL
							,[UpdateUserID] = @update_user_employee_number
						WHERE ID = @user_id
				END
	END
	
GO
