USE [GageCheckout]
GO
/****** Object:  Table [tlkpTicketType]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpTicketType]') AND type in (N'U'))
DROP TABLE [tlkpTicketType]
GO
/****** Object:  Table [tlkpTicketType]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpTicketType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketType] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tlkpTicketType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tlkpTicketType] ON 

INSERT [tlkpTicketType] ([ID], [TicketType]) VALUES (1, N'Pin/Bin')
INSERT [tlkpTicketType] ([ID], [TicketType]) VALUES (2, N'Thread Gage')
SET IDENTITY_INSERT [tlkpTicketType] OFF
GO
