USE [GageCheckout]
GO
/****** Object:  Table [tlkpThreadCalibrationResult]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpThreadCalibrationResult]') AND type in (N'U'))
DROP TABLE [tlkpThreadCalibrationResult]
GO
/****** Object:  Table [tlkpThreadCalibrationResult]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpThreadCalibrationResult](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CalibrationResult] [varchar](50) NULL,
 CONSTRAINT [PK_tlkpThreadCalibrationResult] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tlkpThreadCalibrationResult] ON 

INSERT [tlkpThreadCalibrationResult] ([ID], [CalibrationResult]) VALUES (1, N'Replace, Send SOT')
INSERT [tlkpThreadCalibrationResult] ([ID], [CalibrationResult]) VALUES (2, N'Pass')
INSERT [tlkpThreadCalibrationResult] ([ID], [CalibrationResult]) VALUES (3, N'Replace, No SOT')
SET IDENTITY_INSERT [tlkpThreadCalibrationResult] OFF
GO
