USE [GageCheckout]
GO
/****** Object:  Table [tlkpGageStatus]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpGageStatus]') AND type in (N'U'))
DROP TABLE [tlkpGageStatus]
GO
/****** Object:  Table [tlkpGageStatus]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpGageStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GageStatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tlkpGageStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tlkpGageStatus] ON 

INSERT [tlkpGageStatus] ([ID], [GageStatus]) VALUES (1, N'Active')
INSERT [tlkpGageStatus] ([ID], [GageStatus]) VALUES (2, N'Missing')
INSERT [tlkpGageStatus] ([ID], [GageStatus]) VALUES (3, N'Returned')
SET IDENTITY_INSERT [tlkpGageStatus] OFF
GO
