USE [GageCheckout]
GO
ALTER TABLE [tblTicketHistory] DROP CONSTRAINT [DF_tblTicketHistory_CreatedTimestamp]
GO
/****** Object:  Table [tblTicketHistory]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTicketHistory]') AND type in (N'U'))
DROP TABLE [tblTicketHistory]
GO
/****** Object:  Table [tblTicketHistory]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTicketHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[RecordEventTypeID] [int] NOT NULL,
	[TicketNumber] [varchar](20) NULL,
	[TicketTypeID] [int] NOT NULL,
	[MachineName] [varchar](500) NOT NULL,
	[MachineGroupID] [int] NULL,
	[DepartmentID] [int] NOT NULL,
	[OperatorEmployeeNumber] [varchar](10) NULL,
	[OperatorName] [varchar](150) NULL,
	[TicketStatusID] [int] NOT NULL,
	[CellLeaderID] [int] NULL,
	[JobLotNumber] [varchar](50) NULL,
	[PartNumber] [varchar](50) NOT NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblTicketHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tblTicketHistory] ADD  CONSTRAINT [DF_tblTicketHistory_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
