USE [GageCheckout]
GO
/****** Object:  Table [tlkpPinType]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpPinType]') AND type in (N'U'))
DROP TABLE [tlkpPinType]
GO
/****** Object:  Table [tlkpPinType]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpPinType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PinType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tlkpPinType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tlkpPinType] ON 

INSERT [tlkpPinType] ([ID], [PinType]) VALUES (1, N'Go')
INSERT [tlkpPinType] ([ID], [PinType]) VALUES (2, N'NoGo')
INSERT [tlkpPinType] ([ID], [PinType]) VALUES (3, N'Misc')
SET IDENTITY_INSERT [tlkpPinType] OFF
GO
