USE [GageCheckout]
GO
/****** Object:  Table [tlkpPinCalibrationResult]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpPinCalibrationResult]') AND type in (N'U'))
DROP TABLE [tlkpPinCalibrationResult]
GO
/****** Object:  Table [tlkpPinCalibrationResult]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpPinCalibrationResult](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PinCalibrationResult] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tlkpPinCalibrationResult] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tlkpPinCalibrationResult] ON 

INSERT [tlkpPinCalibrationResult] ([ID], [PinCalibrationResult]) VALUES (1, N'Pass')
INSERT [tlkpPinCalibrationResult] ([ID], [PinCalibrationResult]) VALUES (2, N'Missing')
INSERT [tlkpPinCalibrationResult] ([ID], [PinCalibrationResult]) VALUES (3, N'Returned')
SET IDENTITY_INSERT [tlkpPinCalibrationResult] OFF
GO
