USE [GageCheckout]
GO
ALTER TABLE [tlkpBins] DROP CONSTRAINT [DF_tlkpBins_IsActive]
GO
/****** Object:  Index [UniqueBinName]    Script Date: 9/22/2025 7:21:22 AM ******/
DROP INDEX [UniqueBinName] ON [tlkpBins]
GO
/****** Object:  Table [tlkpBins]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpBins]') AND type in (N'U'))
DROP TABLE [tlkpBins]
GO
/****** Object:  Table [tlkpBins]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpBins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[BinName] [varchar](50) NOT NULL,
	[IsActive] [smallint] NOT NULL,
	[PartNumbers] [varchar](500) NOT NULL,
	[Notes] [varchar](2000) NULL,
 CONSTRAINT [PK_Bins_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UniqueBinName]    Script Date: 9/22/2025 7:21:22 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UniqueBinName] ON [tlkpBins]
(
	[BinName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [tlkpBins] ADD  CONSTRAINT [DF_tlkpBins_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
