USE [GageCheckout]
GO
/****** Object:  Trigger [tblTicket_AfterUpdate]    Script Date: 9/22/2025 7:21:22 AM ******/
DROP TRIGGER [tblTicket_AfterUpdate]
GO
/****** Object:  Trigger [tblTicket_AfterInsert]    Script Date: 9/22/2025 7:21:22 AM ******/
DROP TRIGGER [tblTicket_AfterInsert]
GO
ALTER TABLE [tblTicket] DROP CONSTRAINT [DF_tblTicket_UpdatedTimestamp]
GO
ALTER TABLE [tblTicket] DROP CONSTRAINT [DF_tblTicket_CreatedTimestamp]
GO
/****** Object:  Table [tblTicket]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblTicket]') AND type in (N'U'))
DROP TABLE [tblTicket]
GO
/****** Object:  Table [tblTicket]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblTicket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketGUID] [varchar](255) NULL,
	[SiteID] [int] NULL,
	[TicketNumber] [varchar](20) NULL,
	[TicketTypeID] [int] NOT NULL,
	[MachineName] [varchar](500) NOT NULL,
	[MachineGroupID] [int] NULL,
	[DepartmentID] [int] NOT NULL,
	[OperatorEmployeeNumber] [varchar](10) NULL,
	[OperatorName] [varchar](150) NULL,
	[TicketStatusID] [int] NOT NULL,
	[CellLeaderID] [int] NULL,
	[JobLotNumber] [varchar](50) NULL,
	[PartNumber] [varchar](50) NOT NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblTicket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tblTicket] ADD  CONSTRAINT [DF_tblTicket_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblTicket] ADD  CONSTRAINT [DF_tblTicket_UpdatedTimestamp]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
/****** Object:  Trigger [tblTicket_AfterInsert]    Script Date: 9/22/2025 7:21:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [tblTicket_AfterInsert]
   ON  [tblTicket]
   AFTER INSERT
AS 
BEGIN


	SET NOCOUNT ON;

	Declare @ticket_number varchar(50)
	Declare @id int = (select ID from Inserted)
	Declare @display_id int
	Declare @ttid int = (select TicketTypeID from Inserted)

	Set @display_id = @id + 10000
	if @ttid = 1
		Begin
		 SET @ticket_number = 'P-' + Cast(@display_id as varchar)
		END
	else if  @ttid = 2
		BEGIN
			SET @ticket_number = 'T-' + Cast(@display_id as varchar)
		END

		Update tblTicket Set TicketNumber = @ticket_number WHERE ID = @id


    INSERT INTO tblTicketHistory
           ([TicketID]
           ,[TicketNumber]
           ,[TicketTypeID]
		   ,RecordEventTypeID
           ,[MachineName]
           ,[MachineGroupID]
           ,[DepartmentID]
           ,[OperatorEmployeeNumber]
           ,[OperatorName]
           ,[TicketStatusID]
           ,[CellLeaderID]
           ,[JobLotNumber]
           ,[PartNumber]
           ,[UpdateUserID])
     SELECT [ID]
      ,@ticket_number
      ,[TicketTypeID]
	  , 1
      ,[MachineName]
      ,[MachineGroupID]
      ,[DepartmentID]
      ,[OperatorEmployeeNumber]
      ,[OperatorName]
      ,[TicketStatusID]
      ,[CellLeaderID]
      ,[JobLotNumber]
      ,[PartNumber]
      ,[UpdateUserID] 
	 From INSERTED


END

GO
ALTER TABLE [dbo].[tblTicket] ENABLE TRIGGER [tblTicket_AfterInsert]
GO
/****** Object:  Trigger [tblTicket_AfterUpdate]    Script Date: 9/22/2025 7:21:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [tblTicket_AfterUpdate]
   ON  [tblTicket]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;
	if (NOT UPDATE(TicketNumber)) 
	 BEGIN
				INSERT INTO tblTicketHistory
							 ([TicketID]
							 ,[TicketNumber]
							 ,[TicketTypeID]
					 ,RecordEventTypeID
							 ,[MachineName]
							 ,[MachineGroupID]
							 ,[DepartmentID]
							 ,[OperatorEmployeeNumber]
							 ,[OperatorName]
							 ,[TicketStatusID]
							 ,[CellLeaderID]
							 ,[JobLotNumber]
							 ,[PartNumber]
							 ,[UpdateUserID])
				 SELECT [ID]
					,[TicketNumber]
					,[TicketTypeID]
				, 2
					,[MachineName]
					,[MachineGroupID]
					,[DepartmentID]
					,[OperatorEmployeeNumber]
					,[OperatorName]
					,[TicketStatusID]
					,[CellLeaderID]
					,[JobLotNumber]
					,[PartNumber]
					,[UpdateUserID] 
		
			 From INSERTED
	 END
END


GO
ALTER TABLE [dbo].[tblTicket] ENABLE TRIGGER [tblTicket_AfterUpdate]
GO
