USE [GageCheckout]
GO
ALTER TABLE [tblPinCheckoutHistory] DROP CONSTRAINT [DF_tblPinCheckoutHistory_CreatedTimestamp]
GO
/****** Object:  Table [tblPinCheckoutHistory]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblPinCheckoutHistory]') AND type in (N'U'))
DROP TABLE [tblPinCheckoutHistory]
GO
/****** Object:  Table [tblPinCheckoutHistory]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblPinCheckoutHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PinCheckoutDetailID] [int] NOT NULL,
	[RecordEventTypeID] [int] NOT NULL,
	[PinCalibrationID] [int] NULL,
	[GageStatusID] [int] NOT NULL,
	[LastCalibratedBy] [varchar](10) NULL,
	[LastCalibrationDate] [datetime] NULL,
	[CalibrationDueDate] [datetime] NULL,
	[CreatedTimestamp] [datetime] NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblPinCheckoutHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tblPinCheckoutHistory] ADD  CONSTRAINT [DF_tblPinCheckoutHistory_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
