USE [GageCheckout]
GO
/****** Object:  Table [tlkpRecordEventType]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpRecordEventType]') AND type in (N'U'))
DROP TABLE [tlkpRecordEventType]
GO
/****** Object:  Table [tlkpRecordEventType]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpRecordEventType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RecordEventType] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tlkpRecordEventType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tlkpRecordEventType] ON 

INSERT [tlkpRecordEventType] ([ID], [RecordEventType]) VALUES (1, N'Created')
INSERT [tlkpRecordEventType] ([ID], [RecordEventType]) VALUES (2, N'Updated')
INSERT [tlkpRecordEventType] ([ID], [RecordEventType]) VALUES (3, N'Calibrated')
SET IDENTITY_INSERT [tlkpRecordEventType] OFF
GO
