USE [GageCheckout]
GO
/****** Object:  Trigger [tblPinCalibration_AfterInsert]    Script Date: 9/22/2025 7:21:22 AM ******/
DROP TRIGGER [tblPinCalibration_AfterInsert]
GO
ALTER TABLE [tblPinCalibration] DROP CONSTRAINT [DF_tblPinCalibration_UpdatedTimestamp]
GO
/****** Object:  Table [tblPinCalibration]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblPinCalibration]') AND type in (N'U'))
DROP TABLE [tblPinCalibration]
GO
/****** Object:  Table [tblPinCalibration]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblPinCalibration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PinCheckoutDetailID] [int] NOT NULL,
	[PinCalibrationResultID] [int] NOT NULL,
	[CalibrationNotes] [varchar](2000) NULL,
	[UpdatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblPinCalibration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tblPinCalibration] ADD  CONSTRAINT [DF_tblPinCalibration_UpdatedTimestamp]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
/****** Object:  Trigger [tblPinCalibration_AfterInsert]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create TRIGGER [tblPinCalibration_AfterInsert] 
   ON  [tblPinCalibration]
   AFTER INSERT
AS 
BEGIN

	SET NOCOUNT ON;

    INSERT INTO tblPinCheckoutHistory ( 
			  PinCheckoutDetailID
			, GageStatusID
			, RecordEventTypeID
			, PinCalibrationID
			, LastCalibratedBy
			, LastCalibrationDate
			, UpdateUserID )
	SELECT	inserted.PinCheckoutDetailID, 
			tblPinCheckoutDetail.GageStatusID, 
			3 AS RecordEventTypeID, 
			inserted.ID, 
			inserted.UpdateUserID,
			CURRENT_TIMESTAMP,
			inserted.UpdateUserID
	FROM tblPinCheckoutDetail 
	INNER JOIN inserted 
	ON tblPinCheckoutDetail.ID = inserted.PinCheckoutDetailID
end

GO
ALTER TABLE [dbo].[tblPinCalibration] ENABLE TRIGGER [tblPinCalibration_AfterInsert]
GO
