USE [GageCheckout]
GO
/****** Object:  Trigger [tblPinCheckoutDetail_AfterUpdate]    Script Date: 9/22/2025 7:21:22 AM ******/
DROP TRIGGER [tblPinCheckoutDetail_AfterUpdate]
GO
/****** Object:  Trigger [tblPinCheckoutDetail_AfterInsert]    Script Date: 9/22/2025 7:21:22 AM ******/
DROP TRIGGER [tblPinCheckoutDetail_AfterInsert]
GO
ALTER TABLE [tblPinCheckoutDetail] DROP CONSTRAINT [DF_tblPinCheckoutDetail_UpdatedTimestamp]
GO
ALTER TABLE [tblPinCheckoutDetail] DROP CONSTRAINT [DF_tblPinCheckoutDetail_CreatedTimestamp]
GO
/****** Object:  Table [tblPinCheckoutDetail]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblPinCheckoutDetail]') AND type in (N'U'))
DROP TABLE [tblPinCheckoutDetail]
GO
/****** Object:  Table [tblPinCheckoutDetail]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblPinCheckoutDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[GageStatusID] [int] NOT NULL,
	[PinDiameter] [decimal](6, 4) NOT NULL,
	[PinTypeID] [int] NOT NULL,
	[BinID] [int] NULL,
	[LastCalibratedBy] [varchar](10) NULL,
	[LastCalibrationDate] [datetime] NULL,
	[CalibrationDueDate] [datetime] NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [tblPinCheckoutDetail] ADD  CONSTRAINT [DF_tblPinCheckoutDetail_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [tblPinCheckoutDetail] ADD  CONSTRAINT [DF_tblPinCheckoutDetail_UpdatedTimestamp]  DEFAULT (getdate()) FOR [UpdatedTimestamp]
GO
/****** Object:  Trigger [tblPinCheckoutDetail_AfterInsert]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [tblPinCheckoutDetail_AfterInsert]
   ON  [tblPinCheckoutDetail]
   AFTER INSERT
AS 
BEGIN

	SET NOCOUNT ON;
	DECLARE @pin_checkout_detail_id as INT = (Select ID from INSERTED)
	DECLARE @ticket_id INT = (Select TicketID from INSERTED)
	DECLARE @ticket_status_id INT = (Select TicketStatusID from tblTicket where ID = @ticket_id)
	DECLARE @calibration_due_date as DATE 

	IF @ticket_status_id = 2
		/*Ticket Is Active*/
		BEGIN
			EXEC spGetPinCalibrationDueDate @pin_checkout_detail_id, @calibration_due_date OUTPUT
			INSERT INTO [dbo].[tblPinCheckoutHistory]
							([PinCheckoutDetailID]
							,[GageStatusID]
							,[RecordEventTypeID]
							,CalibrationDueDate
							,[UpdateUserID])
				Select ID, GageStatusID, 1, @calibration_due_date, UpdateUserID From INSERTED

			 Update tblPinCheckoutDetail SET CalibrationDueDate = @calibration_due_date
			 WHERE ID = @pin_checkout_detail_id
		END
		ELSE
			/*Ticket Is Staged*/
			BEGIN
				INSERT INTO [dbo].[tblPinCheckoutHistory]
							([PinCheckoutDetailID]
							,[GageStatusID]
							,[RecordEventTypeID]
							,[UpdateUserID])
				Select ID, GageStatusID, 1, UpdateUserID From INSERTED
			END
END

GO
ALTER TABLE [dbo].[tblPinCheckoutDetail] ENABLE TRIGGER [tblPinCheckoutDetail_AfterInsert]
GO
/****** Object:  Trigger [tblPinCheckoutDetail_AfterUpdate]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE TRIGGER [tblPinCheckoutDetail_AfterUpdate]
   ON  [tblPinCheckoutDetail]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;
	if (NOT UPDATE(LastCalibrationDate))
		BEGIN
			INSERT INTO [dbo].[tblPinCheckoutHistory]
				   ([PinCheckoutDetailID]
				   ,[GageStatusID]
				   ,[RecordEventTypeID]
				   ,LastCalibratedBy
				   ,LastCalibrationDate
				   ,CalibrationDueDate
				   ,[UpdateUserID])
			 Select ID, GageStatusID, 2, LastCalibratedBy, LastCalibrationDate, CalibrationDueDate, UpdateUserID From INSERTED
		END
END

GO
ALTER TABLE [dbo].[tblPinCheckoutDetail] ENABLE TRIGGER [tblPinCheckoutDetail_AfterUpdate]
GO
