USE [GageCheckout]
GO
ALTER TABLE [tlkpThreadGages] DROP CONSTRAINT [DF_tlkpThreadGages_IsActive]
GO
/****** Object:  Index [IX_tlkpThreadGageUniqueName]    Script Date: 9/22/2025 7:21:22 AM ******/
DROP INDEX [IX_tlkpThreadGageUniqueName] ON [tlkpThreadGages]
GO
/****** Object:  Table [tlkpThreadGages]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpThreadGages]') AND type in (N'U'))
DROP TABLE [tlkpThreadGages]
GO
/****** Object:  Table [tlkpThreadGages]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpThreadGages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[ThreadGageTypeID] [int] NOT NULL,
	[ThreadGageName] [varchar](50) NOT NULL,
	[IsActive] [smallint] NOT NULL,
	[GoPitchDiameter] [decimal](9, 5) NULL,
	[NoGoPitchDiameter] [decimal](9, 5) NULL,
	[MajorDiameter] [decimal](9, 5) NULL,
	[ThreadDescription] [varchar](50) NOT NULL,
	[ThreadUnitOfMeasure] [varchar](50) NULL,
 CONSTRAINT [PK_tlkpThreadGages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tlkpThreadGageUniqueName]    Script Date: 9/22/2025 7:21:22 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tlkpThreadGageUniqueName] ON [tlkpThreadGages]
(
	[ThreadGageName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [tlkpThreadGages] ADD  CONSTRAINT [DF_tlkpThreadGages_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
