USE [GageCheckout]
GO
/****** Object:  Table [tblSite]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblSite]') AND type in (N'U'))
DROP TABLE [tblSite]
GO
/****** Object:  Table [tblSite]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblSite](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [varchar](50) NOT NULL,
	[SiteOwnerEmail] [varchar](320) NULL,
 CONSTRAINT [PK_tblSite] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tblSite] ON 

INSERT [tblSite] ([ID], [SiteName], [SiteOwnerEmail]) VALUES (1, N'Coon Rapids', N'calibrationtechs@cretex.com;')
INSERT [tblSite] ([ID], [SiteName], [SiteOwnerEmail]) VALUES (2, N'Anoka', N'jdnylander@machine.com;rferickson@machine.com;')
SET IDENTITY_INSERT [tblSite] OFF
GO
