USE [GageCheckout]
GO
/****** Object:  Trigger [tblThreadCalibration_AfterInsert]    Script Date: 9/22/2025 7:21:22 AM ******/
DROP TRIGGER [tblThreadCalibration_AfterInsert]
GO
ALTER TABLE [tblThreadCalibration] DROP CONSTRAINT [DF_tblThreadCalibration_CreatedTimestamp]
GO
/****** Object:  Table [tblThreadCalibration]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblThreadCalibration]') AND type in (N'U'))
DROP TABLE [tblThreadCalibration]
GO
/****** Object:  Table [tblThreadCalibration]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblThreadCalibration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThreadGageCheckoutDetailID] [int] NOT NULL,
	[CalibrationResultID] [int] NOT NULL,
	[RecordedGoThreadDiameter] [decimal](9, 5) NOT NULL,
	[RecordedNoGoThreadDiameter] [decimal](9, 5) NOT NULL,
	[RecordedMajorDiameter] [decimal](9, 5) NOT NULL,
	[CalibrationNotes] [varchar](2000) NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblThreadCalibration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tblThreadCalibration] ADD  CONSTRAINT [DF_tblThreadCalibration_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
/****** Object:  Trigger [tblThreadCalibration_AfterInsert]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE TRIGGER [tblThreadCalibration_AfterInsert] 
   ON  [tblThreadCalibration]
   AFTER INSERT
AS 
BEGIN

	SET NOCOUNT ON;
	INSERT INTO tblThreadCheckoutHistory ( 
			ThreadGageCheckoutDetailID, 
			GageStatusID, 
			RecordEventTypeID, 
			ThreadCalibrationID, 
			LastCalibratedBy, 
			LastCalibrationDate, 
			UpdateUserID )
	SELECT	inserted.ThreadGageCheckoutDetailID, 
			tblThreadCheckoutDetail.GageStatusID, 
			3 AS RecordEventTypeID, 
			inserted.ID,
			Inserted.UpdateUserID,
			CURRENT_TIMESTAMP,
			inserted.UpdateUserID
	FROM tblThreadCheckoutDetail 
	INNER JOIN inserted 
	ON tblThreadCheckoutDetail.ID = inserted.ThreadGageCheckoutDetailID

	


END
GO
ALTER TABLE [dbo].[tblThreadCalibration] ENABLE TRIGGER [tblThreadCalibration_AfterInsert]
GO
