USE [GageCheckout]
GO
ALTER TABLE [tblThreadCheckoutHistory] DROP CONSTRAINT [DF_tblThreadCheckoutHistory_CreatedTimestamp]
GO
/****** Object:  Table [tblThreadCheckoutHistory]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tblThreadCheckoutHistory]') AND type in (N'U'))
DROP TABLE [tblThreadCheckoutHistory]
GO
/****** Object:  Table [tblThreadCheckoutHistory]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblThreadCheckoutHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RecordEventTypeID] [int] NOT NULL,
	[ThreadGageCheckoutDetailID] [int] NOT NULL,
	[GageStatusID] [int] NOT NULL,
	[ThreadCalibrationID] [int] NULL,
	[LastCalibratedBy] [varchar](10) NULL,
	[LastCalibrationDate] [datetime] NULL,
	[CalibrationDueDate] [datetime] NULL,
	[CreatedTimestamp] [datetime] NOT NULL,
	[UpdateUserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblThreadCheckoutHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [tblThreadCheckoutHistory] ADD  CONSTRAINT [DF_tblThreadCheckoutHistory_CreatedTimestamp]  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
