USE [GageCheckout]
GO
/****** Object:  Table [tlkpDepartment]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpDepartment]') AND type in (N'U'))
DROP TABLE [tlkpDepartment]
GO
/****** Object:  Table [tlkpDepartment]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpDepartment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NOT NULL,
	[IsActive] [smallint] NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[DepartmentEmailAddress] [varchar](320) NULL,
	[CalibrationMonthOddEven] [int] NOT NULL,
	[CalibrationWeekOddEven] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
