USE [GageCheckout]
GO
/****** Object:  Table [tlkpThreadType]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpThreadType]') AND type in (N'U'))
DROP TABLE [tlkpThreadType]
GO
/****** Object:  Table [tlkpThreadType]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpThreadType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThreadType] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tlkpThreadType] ON 

INSERT [tlkpThreadType] ([ID], [ThreadType]) VALUES (1, N'THREAD')
INSERT [tlkpThreadType] ([ID], [ThreadType]) VALUES (2, N'RING')
SET IDENTITY_INSERT [tlkpThreadType] OFF
GO
