USE [GageCheckout]
GO
/****** Object:  Table [tlkpTicketStatus]    Script Date: 9/22/2025 7:21:22 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tlkpTicketStatus]') AND type in (N'U'))
DROP TABLE [tlkpTicketStatus]
GO
/****** Object:  Table [tlkpTicketStatus]    Script Date: 9/22/2025 7:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tlkpTicketStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketStatus] [varchar](20) NULL,
 CONSTRAINT [PK_tlkpTicketStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [tlkpTicketStatus] ON 

INSERT [tlkpTicketStatus] ([ID], [TicketStatus]) VALUES (1, N'Staged')
INSERT [tlkpTicketStatus] ([ID], [TicketStatus]) VALUES (2, N'Checked Out')
INSERT [tlkpTicketStatus] ([ID], [TicketStatus]) VALUES (3, N'Returned')
SET IDENTITY_INSERT [tlkpTicketStatus] OFF
GO
