#cf-formtitle {
  display: none;
}

.cf-formwrap {
  margin-top: 0px;
  margin-left: 0px;
  border: 0px;
}

.form-focused {
  background-color: #FFFFFF;
}

.cf-form {
  padding: 0px !important;
  width: 600px !important;
}

#preview-notice {
  display: none;
}
