/*****     		  Globals            *****/

.cf-formwrap {
  margin-top: 0px;
  margin-left: 0px;
}

#preview-notice {
  display: none;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.cf-form {
  padding-top: 0px;
}

.cf-section-header {
  padding-top: 0px;
}

.form-focused {
  background-color: transparent !important;
}

.ui-dialog-content {
  overflow: hidden;
}

.cf-table .cf-field {
  padding: 0px !important;
  font-size: 11px !important;
  width: 100%;
}

;

.hidden-text {
  display: none;
}

.cf-formwrap {
  margin-top: 0px;
  width: 1200px !important;
  max-width: 1600px !important;
}




.task-table table {
  width: 1000px;
  padding: 0px !important;
}

.task-table th {
  font-size: 11px;
  border: 1px solid !important;
}

  .task-table th input {
    height: 20px !important;
    width: 100% !important;
    font-size: 11px !important;
  }

  .task-table th select {
    height: 20px !important;
    width: 100% !important;
    font-size: 11px !important;
  }


.task-table td {
  font-size: 11px;
  padding: 0px !important;
  height: 20px !important;
  border: 1px solid !important;
}

  .task-table td input[type="text"] {
    font-size: 11px !important;
    width: 100% !important;
    padding: 0px !important;
    height: 20px !important;
    border: 0px !important;
  }


#q10 {
  width: 150px;
}

#q11 {
  width: 150px;
}

#q14 {
  width: 150px;
}

#q15 {
  width: 550px;
}
