.cf-form {
  padding-top: 0px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  clear: both;
}


.cf-formwrap {
  margin: 0 !important;
  border-width: 0;
}

#preview-notice {
  display: none;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity = 35);
  background-image: none;
  pointer-events: none;
}

.cf-table .cf-field {
  padding: 0px !important;
  font-size: 11px !important;
  width: 100%;
}

;

.form-focused {
  background-color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

.form-focused {
  background-color: transparent !important;
}
/*Notes Section*/
.notes-table table {
  width: 800px;
  padding: 0px !important;
}

  .notes-table table thead th {
    font-size: 11px;
    border: 1px solid !important;
  }

    .notes-table table thead th input {
      height: 20px !important;
      width: 100% !important;
      font-size: 11px !important;
    }

  .notes-table table td {
    font-size: 11px;
    padding: 0px !important;
    height: 20px !important;
    border: 1px solid !important;
  }

    .notes-table table td input[type="text"] {
      font-size: 11px !important;
      width: 100% !important;
      padding: 0px !important;
      height: 20px !important;
      border: 0px !important;
      pointer-events: none;
    }

    .notes-table table td textarea {
      font-size: 11px !important;
      width: 100% !important;
      padding: 0px !important;
      border: 0px !important;
      pointer-events: none;
    }

/* Column Widths */
#q8 {
  /*Note Text*/
  width: 400px;
}
